[2016-03-15 05:13] tresf opened #1 "Client-Side Signing"
Provide a code example for client-side signing:

Our guide offers many server-side signing examples:
 * https://github.com/qzind/qz-print/wiki/Signing-Messages

But no client-side examples.  The only method I'm aware of is through JavaScript which has the security risk of exposing the private key to all the users.

Our [Node.js example `sign-message.js`](https://github.com/qzind/qz-print/blob/1.9/

[2016-03-15 05:14] tresf commented on #1
Migrated from https://github.com/qzind/qz-print/issues/99

***

@augugiacoEnta wrote:
Hi everyone,

If you need sign messages on the client-side, you can take this approach:

`var publicKey = "your public key";`

[code]

[code]

I used an external library called **jsrsasign**
Take a look here: http://kjur.github.io/jsrsasign/

It worked fine for me and my app is more fast that before.

I thought t

[2016-03-15 05:15] tresf opened #2 "PDF Rasterize Option"
@bberenz the PDF crash bug is causing clients to use DPI work-arounds.

Although this works great, they don't always know the DPI of the printer they're printing to.

I think we need a new param `rasterize: true` for Pixel printing which -- in the case of a PDF -- will auto-sense the DPI of the printer and use that when the `rasterize: true` parameter is provided.  Setting a dpi would naturally fo

[2016-03-15 05:17] tresf opened #3 "Automated Testing"
This bug has been migrated to here: https://github.com/qzind/tray/issues/3

***

Automated testing enhancement via `Node.js`

Related https://github.com/qzind/qz-print/issues/184

![image](https://cloud.githubusercontent.com/assets/6345473/13694981/7cc722f2-e728-11e5-9f19-2f212a6b2706.png)

Here's the first working self-signed example:
 * Creates a self-signed certificate
 * Creates an `allowed.da

[2016-03-15 05:18] tresf commented on #3
This bug has been migrated to here: https://github.com/qzind/tray/issues/3

[2016-03-15 05:19] tresf opened #4 "Autostart by Default"
A placeholder to make QZ Tray auto-start by default, configurable at install time.
- [x] Windows ~~(done via https://github.com/tresf/tray/commit/e7bbf05d70cceed2ca0536fda45571afa2c60591)~~
  - [x] Determine permanent home for autostart (registry, etc)
  - [x] ~~Add option to NSIS~~
  - [x] Provide mechanism for disabling via GUI
- [x] Linux (done via tresf@9d75d13)
  - [x] Determine permanent hom

[2016-03-15 05:25] tresf opened #5 "Uninstaller for Linux"
Placeholder to add a QZ Tray uninstaller for Linux.  Here's Apple's, as an example:

https://github.com/qzind/tray/blob/2.0/ant/apple/apple-uninstall.sh.in

Migrated from https://github.com/qzind/qz-print/issues/140

[2016-03-15 05:26] tresf opened #6 "Fix loopback connections in IE11"
Currently, we use a brute-force method in IE to allow WebSocket communication by telling the computer to stop `Automatically detect intranet network`

![image](https://cloud.githubusercontent.com/assets/6345473/9043559/5c28cd30-39e4-11e5-9121-eeb1e19adc47.png)

This is a stop-gap which has adverse side-effects on a corporate LAN as it prompts for login credentials when accessing web resources.

Mi

[2016-03-15 05:28] tresf opened #7 "Reverse Landscape on Mac"
@klabarge wrote:

Tested using Mac OS X El Capitan and is reproducible on all major browsers.

Setting the page to `orientation: 'reverse-landscape'` does not work.  The image is set to `landscape`, but it is not shown on the opposite side of the page.

This can be reproduced using the `sample.html` page and either using "Print HTML" or "Print Image"

Migrated from https://github.com/qzind/qz-prin

[2016-03-15 05:29] tresf opened #8 "Margins ignored HTML, Images"
@klabarge wrote:
These printing results are identical between all browsers and platforms.

I got these images using the `sample.html` and leaving all of the default printing options except for adding 2 inches to the margins.

1. Two inch margins around HTML:
  ![image](https://cloud.githubusercontent.com/assets/12505463/13656196/d6518e94-e632-11e5-80c4-7518afe0096d.png)

2. Two inch margins around

[2016-03-15 05:31] tresf opened #9 "Add documentation for pre-signing"
Explanation of the signing concern...

This is available in 2.0 now.  Here's an explanation of how the feature works works...

[code]

Migrated from https://github.com/qzind/qz-print/issues/162

[2016-03-15 05:32] tresf opened #10 "Better ESCPOS Image Support"
Better image support for the following ESCP printers:
- Epson TMU220
- Star (model unknown, see below)

**Epson TMU220**

We use appendEpsonSlices via [`ImageWrapper.java#L467`](https://github.com/qzindustries/qz-print/blob/1.8/qz-print/src/qz/ImageWrapper.java#L467) but pass in an `m` value of `33`, but the TMU220 only supports values of `m=1, m=2` via: (screenshot attached)

![image](https://clo

[2016-03-15 05:33] tresf commented on #10
Update, @lite1979's obtained the legacy Star printer hardware, awaiting advisement with raw commands so that we can patch the raw image logic.

[2016-03-15 05:36] tresf opened #11 "Silent install fails on Mac"
When running the silent installer on Mac, it occasionally fails with the following message:

Per https://qz.io/wiki/Deployment#mac

[code]

Related:  http://stackoverflow.com/questions/10739850/osx-installer-fails-when-run-from-command-line

Migrated from https://github.com/qzind/qz-print/issues/188

[2016-03-15 05:38] tresf commented on #11
* Tested on OS X 10.11 in VM and had issues the first two times the command was run.  Now it works every time.
 * Tested on physical OS X 10.11 without issues
 * Tested on OS X 10.7 in VM without issues

@klabarge tested on OSX 10.11 VM without issues.

I'm closing this out as we can't predictably reproduce the issue.  Please reopen if we can determine the steps to reproduce.

[2016-03-15 05:38] #11 closed

[2016-03-15 05:43] tresf opened #12 "PDFBox Assumes Orientation"
Quoting @bberenz:

We manage to skirt around this issue with image printing by using the `MediaPrintableArea` class, but as we have no control over the pdf printing logic I'm not sure there is anything we can do here.
The XPS printer is a bit .. loose anyways. Have you seen any of the results when using an actual label printer with PDFs?

Quoting @tresf

 * Echo a warning and ignore this
 * Try to

[2016-03-15 05:44] tresf opened #13 "Publish to npm/bower"
Per https://github.com/qzind/qz-print/issues/126#issuecomment-167620965

More resources:
https://gist.github.com/coolaj86/1318304

...

@tresf For automating releases, one idea is to create a gulp file:
https://github.com/gulpjs/gulp/blob/master/docs/recipes/automate-release-workflow.md

Also look at:
https://github.com/stevemao/conventional-github-releaser

The gulp file can also have a task to p

[2016-03-15 13:51] tresf opened #14 "Tray closed mid-print doesn't throw reject"
Per client:

[2016-03-16 16:30] bberenz commented on #14
Likely fix:
Run through all promises stored in `_qz.websocket.pendingCalls` and call the `reject` method for each when a disconnect is detected. Otherwise they sit there waiting for a response from the tray software.

[2016-03-16 16:34] tresf commented on #14
@bberenz I'm on it, thanks.

[2016-03-16 18:11] tresf commented on #14
@bberenz no luck with this one.  I've tried placing the following in various locations including `disconnect`, `sendData`, `callClose`.  I'll defer to you on this one.

[code]

[2016-03-18 20:16] tresf commented on #1
@augugiacoEnta, I'm trying out your example with one of our generated keys...

[code]

So I changed our portal to generate a 512-bit key and then I get:
[code]

If I remove the `-----BEGIN PRIVATE KEY...` in the PEM I get:
[code]

I've tried loading the private key using your mechanism as well as
[code]

Did you have to do anything special with your private key to get it to work with `jsrsasign`?

[2016-03-18 20:41] augugiacoEnta commented on #1
Tres,

Yes,my apologies for this mistake.

I have to convert my private key in the new format to the old format with open-ssl for this works ok with jsrsasing.

Try this please:

`openssl rsa -in youPrivateKey.key -out yourPrivateKeyOldFormat.key`

Regards.

[2016-03-18 21:27] tresf commented on #1
@augugiacoEnta

Much thanks!

Here's a minimalist working example:

[code]

[code]

[2016-03-19 01:45] tresf commented on #1
Added to examples here:
https://github.com/qzind/tray/blob/2.0/assets/signing/sign-message.js

Closed via aa4207a

[2016-03-19 01:45] #1 closed

[2016-03-21 17:36] bberenz commented on #2
Completed via a133715cd3019a663de54568bbe34780cc45f9e1

[2016-03-21 17:36] #2 closed

[2016-03-21 17:36] bberenz commented on #14
I should have mentioned here that it's used as a dictionary, not an array.
Taken care of via 99dffe530fecf1b4e5c72095ae0ec20f46ef3e0b

[2016-03-21 17:36] #14 closed

[2016-03-21 20:18] tresf commented on #2
Supplemental documentation for this feature is available here: https://github.com/qzind/tray/wiki/2.0-Pixel-Printing#rasterize

[2016-03-22 13:12] tresf commented on #2
Hmm... `PrintService.getDefaultAttributeValue(PrinterResolution.class)` returns null on Mac... might need to write a hack for this one.... :confused: Investigating...

[2016-03-22 13:59] tresf commented on #2
Ok... found an ugly hack... Yuck...

[code]

[2016-03-22 18:37] tresf commented on #2
@bberenz ok, I've edited the above post with some native commands that can retrieve the default DPI.

The code clearly needs to be cleaned up, but it works.

I'm not sure if we should:
 * Run a task which sets the default DPI attribute directly on the print services
 * Run this series of bash commands on every print
 * Cache the values on startup and try to retrieve them later

There's a project c

[2016-03-22 18:57] bberenz commented on #2
If this is CUPS related, is Linux also being affected?

I think we should try to set the DPI directly on the print services, as that should make it possible to use the `getDefaultAttributeValue` call for the next print, right? Failing that, we could store the results on the first run for a printer in a map, and use that for future use with the respective printer.

[2016-03-22 19:15] tresf commented on #2
We haven't tested yet, I'll do so now.

That was my thought as well.  The only downside is that if attributes are changed or printers are added after the application is started, they won't be reflected unless we have some worker thread refreshing these things periodically.

[2016-03-22 19:20] tresf commented on #2
I can confirm that Linux throws the same `NullPointerException`.

[2016-03-22 19:22] tresf commented on #2
I can also confirm an identical technique should work in regards to parsing the console output:

![image](https://cloud.githubusercontent.com/assets/6345473/13964777/d267f066-f041-11e5-803f-8703abadefed.png)

[2016-03-22 19:25] tresf commented on #2
Ok, one exception... Linux renames the PPD file when its renamed in control panel, so it doesn't require the reverse-lookup `name/description` hack that Mac needs.

[2016-03-22 22:26] aarmora opened #16 "Sigma symbol from sha256 getting stripped/interpreted wrong, causing illegal token"
When I run the demo file it works fine.  When I run it on any other page, including a fresh HTML page with only the javascript files included it throws this error.

This symbol "Σ" is what trips it.

This section of the sha-256.min.js, `var T=y+Sha256.Σ1(d)`, for example.

Am I missing a required file?

`Unexpected token ILLEGAL`

	<script type="text/javascript" src="/WhsePalmIPad/JS/qz-print/rsvp

[2016-03-23 00:47] tresf commented on #16
@aarmora this is usually a sign the page isn not UTF-8 encoded.  There are several ways to set encoding, but what seems to work best for is plain old:

[code]

[2016-03-23 12:14] aarmora commented on #16
@tresf Man, you nailed it!  Thanks so much for the help, this was really not your issue.

[2016-03-23 12:14] #16 closed

[2016-03-23 20:15] bberenz commented on #8
I have a fix for margins at 8c1a1148449f1561bb310caa9daf9935c1390bd7
However, there appears to be an issue with PDFBox when rasterizing + scaling + applying margins. Namely that the resulting image has the same cut off as a rasterized + unscaled + applied margins print, just scaled down to what should have fit the entire image. This same issue does not affect an unrasterized pdf.
Kind of hit a wal

[2016-03-28 13:29] tresf opened #18 "Ubuntu tray icon regression"
We have logic to make the tray icon blend on the Ubuntu desktop, but since 2a4a858, ~~they don't scale and~~ they don't draw the background color.

![image](https://cloud.githubusercontent.com/assets/6345473/14078928/b3f51b10-f4c7-11e5-8cf2-daf57c02914c.png)

**Edit:** Started via b30641d8b24bb3e8e41f45e4a1adede548976f97

[2016-03-28 13:33] tresf commented on #7
May be an upstream bug with CUPS/Java...

https://bugs.openjdk.java.net/browse/JDK-4994646

[2016-03-28 14:00] tresf commented on #8
At a glance, I don't see anything that stands out as incorrect, but my test results are failing pretty badly...  2" margins seem to be doing some sort of doubling on the right and the bottom.

**0" margins with PDF:**
![image](https://cloud.githubusercontent.com/assets/6345473/14079339/daa4a980-f4ca-11e5-9e5b-3cd7419d8642.png)

**2" margins with PDF:**
![image](https://cloud.githubusercontent.com/

[2016-03-28 14:14] bberenz commented on #8
It's not that the margins are doubling; compare it to the unscaled version, it has the same visible portion of the document. From what I can tell, this is because it seems to rasterize and resize the document _after_ it gets cut off by the margins at actual size:

![Unscaled document](https://cloud.githubusercontent.com/assets/5912715/14079669/74c9be40-f4cd-11e5-9a63-55a8136c7b10.png)

[2016-03-28 14:40] tresf commented on #8
@bberenz I see what you are describing, but your results are completely different.  Notice your text is chopped of whereas mine is not.

[2016-03-28 14:42] tresf commented on #8
Actually mine is chopped off... but the results are way different.

[2016-03-28 14:44] bberenz commented on #8
Are they different because you used `scaleContent:true` and I used `scaleContent:false`, or am I missing something else? Because I do get your 2" margin results when scaling is turned on.

[2016-03-28 15:10] tresf commented on #8
Oh, that makes more sense that our results are so different.

I had thought perhaps the job attributes (margins, etc) were making it to PDFBOX and being processed twice, so I bumped `PrintRequestAttributeSet attributes = applyDefaultSettings(pxlOpts, page, true);` until after `bookappend(... )` but it yielded the exact same results.... :confused:

[2016-03-28 15:46] tresf commented on #8
It's ugly, but try this out... stills seems to scale incorrectly, but see how this fixes the margins?

![image](https://cloud.githubusercontent.com/assets/6345473/14081812/7cf9d796-f4da-11e5-8d6e-0a65ae10909a.png)

[code]

[2016-03-28 16:04] bberenz commented on #8
Two things to keep in mind here: (1) your sample pdf has its own white space, skewing the observed margins, and (2) this problem only shows up on rasterized print jobs, not all pdf print jobs will have this issue
I don't believe pdfbox is doubling the margins, take a look at the comparisons between raster and vector prints:

![sideside](https://cloud.githubusercontent.com/assets/5912715/14082206/b

[2016-03-28 17:14] tresf commented on #8
Hmm, yeah the scale as well as the top and left margins are working as expected.

Well, something is cutting it off... :smile: I don't know how to proceed.  I guess we could provide a snippet for the PDFBOX dev group which reproduced this, but I don't feel comfortable writing that code.

[2016-03-28 18:25] tresf opened #19 "Rasterize HTML, PDFs to Raw"
After supporting the 2.0 branch for a couple months, we've noticed an increasing amount of people trying to use Pixel printing against their raw devices for some specific cases, such as a packing slip (something that FedEx or UPS may not provide in raw format) or printing continuous feed image data (HTML) to a receipt printer.

Today, they're trying to print using the 2d printing (HTML, etc), but

[2016-03-28 18:41] tresf commented on #8
I've reached out to the pdfbox dev team to see if they have any advice.  They may ask for a minimal snippet to reproduce.

[2016-03-28 20:40] bberenz commented on #8
@tresf Let me know if they need one, and I'll put it together.

[2016-03-30 12:54] tresf commented on #8
2 days without a reply (but several replies to other topics).  Yes, let's please get a small example together and I'll send it to them.

[2016-03-30 14:46] bberenz commented on #8
[code]

[2016-03-31 04:22] macarenomarco opened #20 "Alternative Printing: Spaces in printer name cause failure"
I'm currently running
- OS X 10.10.5
- CUPS 2.0.0
- QZ Tray 2.0.0
- `java -version` output:
[code]
- Zebra ZTC_GX420t

When attempting to print (using `altPrint: true`) I ran into:
`Alternate printing returned a non-zero value(1).`

After some directly logging the command being used if found out it was using the following:
`/usr/bin/lp -d "Zebra Technologies ZTC GX420t" -o raw "/var/folders/vw/t8c

[2016-03-31 04:31] tresf commented on #20
Good find and thanks for the research.

Here's a more thorough explanation, scroll to the **Exceptions** section. https://github.com/qzind/tray/pull/17

We'll leverage the new [`getCupsPrinters()`](https://github.com/qzind/tray/pull/17/files#diff-a3769499f474da162b4d0ad0089105e4R169) shell utility, once merged and patch the alternate printing method as well.

[2016-03-31 04:43] macarenomarco commented on #20
All right, thanks c:

[2016-03-31 19:19] tresf opened #21 "USB device not released properly"
Quoted from an email, needs confirmation.

***

[code]

That's where the first error shows up.  I see that it allowed localhost to release the USB device in the log but it also throws an error.

Then if I try to reclaim the device I get
[code]

which looks like it allows the claim to go through, but in the browser it throws the error message of

[code]

[2016-04-01 13:19] tresf commented on #8
I've emailed the list and received no response.

I'm pretty sure this is an upstream bug and I'm also not sure if there's anything that can be done on our end until its resolved. Furthermore, it's unrelated to Images and HTML, so I'll review the PR and move the PDF bug to a dedicated topic location. :+1:

[2016-04-01 15:39] tresf commented on #21
Closed via 0d1e275

[2016-04-01 15:39] #21 closed

[2016-04-01 15:41] tresf commented on #8
With the latest build of the `dpi` branch, I get the following hard JVM crash when trying to print HTML...

[code]

[2016-04-01 20:32] tresf commented on #8
I believe this crash is occurring while the `WebView` is being created (not exactly sure where exactly).

Since it's a hard crash, IntelliJ doesn't really offer a way to debug.  I stepped through the code and the last line that was executed before the crash was here https://github.com/qzind/tray/blob/2.0/src/qz/printer/action/WebApp.java#L147.

On that note:
 * Reverting 8ecf556 doesn't seem to he

[2016-04-01 23:00] klabarge commented on #8
I compiled the latest build from the dpi branch and I do *not* experience a crash when HTML printing.

OS X 10.11.3
JRE 8u73

[2016-04-04 13:46] tresf commented on #8
@klabarge thanks for the testing.

So we'll have to remember this hard-crash as we get support submissions, but we should be ok moving forward.

I'll squash the commits from the `dpi` branch and merge.

[2016-04-04 13:56] tresf commented on #8
Upstream bug report for PDFBOX submitted here: https://issues.apache.org/jira/browse/PDFBOX-3306

[2016-04-04 15:39] #8 closed

[2016-04-04 15:39] #20 closed

[2016-04-04 15:41] tresf commented on #8
Fixed via 3680d9f.  This will be addressed in the next release (either RC4 or 2.0.0 official)

[2016-04-04 15:41] tresf commented on #20
Fixed via 3680d9f.  This will be available in the next release (either RC4 or 2.0.0 official)

[2016-04-05 23:57] klabarge opened #22 "Setting page size in HTML/PDF/Image"
QZ Tray 2.0-RC4
Windows 10

I have only tested this in Windows so far, I will report back with Mac/Linux results.

* In RC3, setting the page size for HTML, PDF, and Image printing worked great.
* In RC4, the page size seems unaffected in HTML and Image printing. The page size for PDF's seems to work, but the PDF is cut off.

*This was tested using the `sample.html` page.  The only options that ar

[2016-04-06 03:55] tresf opened #23 "Serial port returning null about 50% of the time"
Setting | Value
----------|--------
Baud | `9600`
Data Bits | `7`
Stop Bits | `1`
Parity | `EVEN`
Flow Control | `NONE`
Command | `W\n`
STX | `0x02`
ETX | `0x0D`

**Hardware:**  MT P90 Scale with USB-to-Serial adapter.

**1.9 Attempts:**
 * 000.000
 * 000.000
 * 000.000
 * 000.000
 * 000.000
 * 000.000
 * 000.000
 * 000.000
 * 000.000
 * 000.000

**2.0 attempts:**
 * null
 * 000.000
 * null
 * nul

[2016-04-06 14:21] bberenz commented on #22
I had stopped explicitly setting the paper size after moving to a different way to set drawable area. Forgetting that printers like these actually change to it. Added it back in 9f97ad47213793c66251f76b90d6ae9dc917faec.

[2016-04-06 14:26] bberenz commented on #22
This is related to changes in how the html view sizes content, rather than the change in paper size. So you should still see this difference.

[2016-04-07 02:53] klabarge opened #26 "Image becomes pixelated when rotating"
Tested on Windows 10 using the `sample.html` page

When I give an image a rotation of 15 degrees, the image becomes pixelated.

### Original Image

![image](https://cloud.githubusercontent.com/assets/12505463/14339111/15150bc4-fc4a-11e5-9943-782bbe5098d0.png)

### Rotated Image

![image](https://cloud.githubusercontent.com/assets/12505463/14339123/319b8e12-fc4a-11e5-8b5f-35c15aa6606e.png)

[2016-04-07 04:08] klabarge opened #27 "Java runs out of memory when printing"
Tested on Windows 10

This seems to primarily happen when printing PDF's, but I have witnessed this issue with HTML printing as well.

Steps to reproduce:

1. Launch QZ Tray with 1GB of RAM:

[code]

1. View QZ Tray in the task manager.

  ![image](https://cloud.githubusercontent.com/assets/12505463/14340138/6bf4843a-fc52-11e5-88e3-f5d39678a917.png)

1. Print a PDF and observe the memory usage inc

[2016-04-07 23:04] klabarge commented on #22
PDF's seem to still be getting chopped off.  This is happening in both Windows and Mac.

Setting (inches)  `size: {width: 8, height: 9};` with no other options results in the bottom of the PDF to be chopped.  Testing in earlier versions using smaller dimensions worked.

### Windows

*This size has been scaled to 75%*
 ![image](https://cloud.githubusercontent.com/assets/12505463/14369307/f85681b8-f

[2016-04-08 01:02] klabarge commented on #22
I may have used an unreliable printer... Using PDF Architect as my virtual printer I get different results, however the bottom is still slightly cut off.

![image](https://cloud.githubusercontent.com/assets/12505463/14371254/dab1aca2-fd03-11e5-9123-fabd27014cae.png)

[2016-04-08 01:39] tresf commented on #22
Is `8inx9in` a valid page size?  Perhaps testing with `Letter` and `A4` is a better test case.

With RC4, we rasterize by default, so keep that in mind when comparing.  I can't remember if RC3 did or did not rasterize by default, but assuming it does not, the results would be more accurate by unchecking the new `rasterize` option when comparing the odd page dimensions.

[2016-04-08 01:47] klabarge commented on #22
The results are the same with and without `rasterize`

Using A4 (8.3 x 11.7) does print properly.  I thought custom page sizes were fully supported.  If QZ Tray is just "accepting" of custom page sizes, this issue is void and can be closed.

[2016-04-08 01:57] bberenz commented on #22
At best QZ is just accepting of custom sizes.  Especially for pdfbox, which internally uses the MediaSize class for layouts, and thus is restricted to the page sizes internal to the java print libraries.

[2016-04-08 02:08] tresf opened #28 "HTML + MM = Unreadable"
RC4-patch1:  Simply changing units to `mm`  will do this, but you may also specify `width: 210, height: 297` if you'd like.

The below test results are from Apple, but Kyle was able to reproduce on Windows as well with near-identical results.

![screen shot 2016-04-07 at 10 06 38 pm](https://cloud.githubusercontent.com/assets/6345473/14372304/3b583aae-fd0d-11e5-93e7-2989e1e79c52.png)

[2016-04-08 02:41] tresf commented on #18
Closed via #24

[2016-04-08 02:41] #18 closed

[2016-04-08 13:18] tresf commented on #18
FYI, for some reason, the 24x20 issue seems to be sporatic... I'm not sure how this is possible, but it's not happening on my computer currently.  Perhaps the tray area does this as a space saving measure when it gets crowded.  :confused:

![image](https://cloud.githubusercontent.com/assets/6345473/14384755/b3dfbe68-fd6a-11e5-9180-68b4343bc52e.png)

[2016-04-08 13:47] #28 closed

[2016-04-08 13:55] bberenz commented on #26
The the image rendering on rotation now responds to the `interpolation` field. So pixelated is still possible if desired.

[2016-04-08 17:39] tresf commented on #26
:+1:

Great, as we may need this for barcodes, etc.  Much obliged.

[2016-04-08 18:54] tresf commented on #27
Some observations... (Java 8 update 45)
 1. The bug report claims this is most prominent with PDFs, but it uses a stacktrace from HTML printing.  We should be careful to debug one print component at a time.
 2.  I tried to reproduce this with PDFs alone but was unable to.  My machine has the default JVM settings, 8GB of ram available and although it would climb to `1,404MB`, it would settle back d

[2016-04-08 19:54] bberenz commented on #27
This looks like an issue with multiple concurrent print jobs running. Seems to be a limit around 512mb per job for all the resources required. (Sending 10 print jobs at once is a great way to reproduce).

Forcing `synchronized` on the print request calls would fix this problem as it creates a choke point on the resources. But this also limits how quickly systems with enough memory can process.
I'v

[2016-04-08 20:44] bberenz commented on #23
Can you provide logs? And how are you running these attempts?

[2016-04-08 23:57] klabarge commented on #27
I am unable to print on my Windows 10 machine with this.  The stack trace below is from an HTML print, but the results are the same for PDF, Image, and I also tested some raw printing.

Notice the last line says "Allowing 0 simultaneous processors based on memory available"

[code]

[2016-04-09 01:13] bberenz commented on #27
Should avoid that scenario now (79fa6f433197a45fc284d4ef79bb1364d58ae22a)
Out of curiosity, are you still running with `-Xmx1024m`? As that should have given you 2 print processors.

[2016-04-09 01:17] klabarge commented on #27
For testing I launched it normally. I will test with both and report back.
On Apr 8, 2016 9:13 PM, "bberenz" <notifications@github.com> wrote:

[2016-04-09 02:48] tresf commented on #23
Sure, but they'll just show the response being null half of the time.

Directly through sample.html, so nothing out of the standard MT Scale testing.

[2016-04-09 02:59] tresf commented on #23
[code]

[2016-04-09 16:38] tresf commented on #27
So Mac has an interesting way of reporting and handling the memory...

In my case, the physical machine had 16GB available to it...
 * Printing the `pdf_sample.pdf` 65 times causes QZ Tray to request over `2GB` of ram
 * Mac OSX seems to have a memory compression algorithm with makes the memory pressure cap at 28MB!
 * The memory consumption does eventually fall when the garbage collector kicks in

[2016-04-09 16:57] tresf opened #29 "Firefox cert install fails Firefox + XP"
Firefox cert install seems to be broken, at least on Windows XP.

Backtrace points to [`windows-keygen.js.in#L331`](https://github.com/qzind/tray/blob/2.0/ant/windows/windows-keygen.js.in#L331), I'm guessing Windows XP can't handle the `"C:\\Program Files\\Mozilla Firefox\\firefox.exe" + "\\..\\defaults\\pref"` relative path syntax...

[code]

[2016-04-09 17:06] tresf commented on #29
It seems to be a bit more complicated than that... `\\..\\defaults\\pref` simply doesn't exist when upgrading from an older version (34 upgraded to 43).

Clean install fixes it.  Marking as wont fix for now.  We can reinvestigate if more people complain. :+1:

![screen shot 2016-04-09 at 1 06 23 pm](https://cloud.githubusercontent.com/assets/6345473/14405064/e01d870a-fe53-11e5-9f5a-51f19711e6c4.pn

[2016-04-09 17:06] #29 closed

[2016-04-09 18:19] tresf commented on #27
Windows XP test results (Firefox 43, `2 GB` ram, Java 1.8 u77)

**Print PDF**
 * `java.lang.OutOfMemoryError` on first press of Print PDF button
 * Memory consumption around `200 MB`
 * Uncheck rasterize, restart QZ Tray and it does not run out of memory.
 * Reproducible on both Java 7 and Java 8.
 * Launching via `cmd` with `-Xms512m -Xmx1024m` seems to circumvent the issue
 * We may want to set

[2016-04-09 18:50] lite1979 commented on #27
Using Ubuntu Linux 14.04 LTS x64 (24GB RAM on machine) no launch parameters

Inital startup/install: 216MB
Find Printer: 220MB
First PDF Print job: 624MB, then settles down to 620MB
Second PDF Print job: 647MB, settles down to 640MB
Third PDF Print job: 642MB
Clicking PDF the 4th-12th time in rapid succession: 866MB
After waiting 5 minutes and just idling: 571MB
Sending another print job shortly a

[2016-04-09 21:18] lite1979 commented on #27
Using Ubuntu Linux 14.04 LTS x64 (24GB RAM on machine) no launch parameters

Initial startup: 216MB
First HTML print job: 1.4GB
Second HTML print job: 2.4GB
Third HTML print job: 3.4GB
Fourth HTML print job: 4.4GB
5th-25th print jobs: holding steady at 4.6GB
Still 4.6GB after forty-five minutes with no activity.

[2016-04-10 00:43] lite1979 commented on #27
Linux Mint x64 17.3 with 6GB RAM,4-core intel i5, no launch parameters

Initial startup:  178MB
First HTML print job: 280MB
Second HTML print job: 280MB
Third-15th HTML print job: 280MB
Fifteen minutes later, only at 282MB

[2016-04-10 22:40] klabarge commented on #26
Below is the result when using the default `interpolation`. It seems to come out partially pixelated (but different than `nearest-neighbor`)

![image](https://cloud.githubusercontent.com/assets/12505463/14413522/a7224a9c-ff4a-11e5-8055-9e7e14cbef47.png)

Specifying `nearest-neighbor` does work, though.

![image](https://cloud.githubusercontent.com/assets/12505463/14413529/f28e5480-ff4a-11e5-8598-8

[2016-04-10 23:30] klabarge commented on #27
When launching with `-Xmx1024m`, the console shows: `Allowing 2 simultaneous processors based on memory available` :+1:

I get similar results on my Windows 10 (16GB RAM) laptop as Tres did on XP.

1. Without launching QZ Tray with a custom memory, the first PDF I try to print (all defaults) results in `java.lang.OutOfMemoryError`
1. Launching with `512MB`, I was able to print 4 times.  On the 5th

[2016-04-11 02:27] tresf commented on #26
The behavior is very close.  Probably a small setting we're missing.  At a glance, the only thing i can see happening incorrectly is the blending on the outer pixels seems to be aliasing whereas the rest of the inner pixels are what we'd expect.

Here's a comparison of Gimp vs. QZ:

![image](https://cloud.githubusercontent.com/assets/6345473/14415272/23dabd42-ff6b-11e5-8e34-8ec3cce5358f.png)

[2016-04-11 02:54] tresf commented on #26
After reading a bit more on this, it appears that rotation inherently requires something called "extrapolation", where the `VALUE_INTERPOLATION_BILINEAR` must make an assumption about what the pixels beyond the edge of the image are.

In the event of QZ, I have the feeling that the rotation assumes the pixels beyond the edge are the same color as the edge pixels (black) whereas GIMP assumes they'r

[2016-04-11 14:38] #26 closed

[2016-04-11 14:40] bberenz commented on #26
I couldn't find anything to this effect, but I did happen upon a work-around from stackoverflow, using the image as a rectangle texture.

[2016-04-11 16:51] tresf opened #30 "Signing breaks when using 1.4960600000000001 for height, width, or marigns"
Probably an assumption of rounding, but seems like something we may be able to tackle client-side.

This number is a result of `38 mm` * `0.039370` to convert to inches (about 1.5 inches)

Since 1.5 inch labels are fairly common among Dymo printers, this is worth investigating and possibly documenting.

[2016-04-11 17:50] bberenz commented on #27
@klabarge Can you re-run without the VM args and post the updated logs from (182cce1241d5da196410eb23c7c0cba64dca91ce). I want to know what java is reporting as the default use memory on your system.

[2016-04-11 20:16] tresf commented on #22
We'll close this out for now then.  I don't like this at all... it seems like a pretty big gap for PDF printing but can be tracked separately.

[2016-04-11 20:16] #22 closed

[2016-04-11 22:18] klabarge commented on #26
Tested on all platforms:+1:

[2016-04-11 23:54] klabarge opened #31 "Scrollbar in HTML when using rasterize"
There's a scrollbar that appears on the right side of prints when using HTML and `rasterize` and effects Windows, OS X, and Linux.

* This screenshot is from Windows, but it is very similar (if not the same) to OS X and *some* of Ubuntu's results:

 ![image](https://cloud.githubusercontent.com/assets/12505463/14445758/d1f4aaac-001d-11e6-9380-843b90fdf76e.png)

**Ubuntu has different results:**

*

[2016-04-12 06:06] klabarge opened #32 "Inconsistent HTML printing"
I sent 10 identical print jobs to a PDF printer on Ubuntu 14.04.  I used complete defaults from https://demo.qz.io/ except I changed the job name for each print.

I don't see any difference in the console between the three different outcomes, but I have provided the stacktraces anyway.  I have not provided logs for `rasterize : false` but can be provided if needed.

Here are the results:
- (2) sen

[2016-04-12 06:37] klabarge commented on #31
Per issue [#32](https://github.com/qzind/tray/issues/32) this also happens (sometimes) when `rasterize: false` on Ubuntu.

[2016-04-12 17:14] bberenz commented on #31
Per ddbcd0e115230bff9641085d6eed46d58ce82e5c, web captures force the removal of scrollbars from the document. Instead clipping any portion of the page that falls outside the capture.

Since there is already code to try and resize the page to the scroll height, it shouldn't affect captures greatly. This seemed to really just affect the prints that tried to zoom in on the capture, and in most cases

[2016-04-12 18:43] tresf commented on #32
May be a duplicate of https://bugs.openjdk.java.net/browse/JDK-8073710 (unresolved).

One work-around is to set the look and feel to `Metal`, which can be forced here:

https://github.com/qzind/tray/blob/2.0/src/qz/utils/SystemUtilities.java#L178

[code]

@klabarge can you see if the problem disappears when you force the Metal look and feel?  If so, we may want to shim a L&F workaround for this HT

[2016-04-12 21:03] bberenz commented on #30
I'm actually not able to reproduce this with our certificate. Can you post the config you are using and the message qz is receiving? And also, what language are you using to sign the message?

[2016-04-13 00:21] tresf opened #33 "HTML doesn't handle oversize pages gracefully"
* Create an html sample page
 * Accidentally set the `options: { pageWidth: 400 }` to 400 inches (e.g. incorrectly assuming it's pixels)
 * Software crashes with an `UnsupportedOperationException`

It appears since https://github.com/qzind/tray/commit/9fc9277f4d87005418eab547d29819e7989b3298, the oversize page handling is a bit non-ideal.  Perhaps this is intended, but after this occurs, Pixel pri

[2016-04-13 02:23] #27 closed

[2016-04-13 02:35] klabarge commented on #27
I accidentally closed this... :disappointed: although testing so far has proven to be successful since 64f291dd00b95265e741ffe6afc6f443df338f75

I will leave closed unless we run into another issue.

I was just going to note that launching QZ Tray from the console requires an extra argument from now on:

[code]

[2016-04-13 02:36] tresf commented on #27
Closed via https://github.com/qzind/tray/commit/64f291dd00b95265e741ffe6afc6f443df338f75

[2016-04-13 07:35] cruzzan commented on #30
Browser: I have tried it on IE, Edge, Chrome, Firefox and it sees to affect IE and Edge
OS: I have only tried it on Windows 7 and Windows 10
Version of QZ: I have tried RC3 (With that i get the approval dialog, that i need to manually approve the request), RC4 (Here the request just gets rejected), 2.0 alpha 6 (Same result as RC3), RC5 patch 2 (Same result as RC3).
Language: We are using PHP to si

[2016-04-13 20:33] bberenz commented on #33
At that size it tries using a base width of 38400 pixels. Even at the default resolution of x1 that's going to be too large for JavaFX to handle. So you should see it fail to capture twice in the logs (once at zoom and again at default).

You mention that no other printing works after this. I'm not able to reproduce that. Are you getting any logs when attempting other prints after the failed html?

[2016-04-13 20:35] bberenz commented on #23
When I rewrote the serial classes I wasn't aware messages could be split over multiple receives.
315a17c8b88e96f5d47fe4bdf1bd09885b17314a fixes that with a byte buffer that will return complete messages as it receives them.

[2016-04-13 20:59] bberenz commented on #12
After discussing with @tresf, it looks like the root cause of this problem was PDF printing did not respect orientation, rather than it changing any page sizes. a27a5c63f4f3b93ddef309e5eb5ae8208b7a03a1 forces pdfs to obey the orientation at the data level (rotating the actual document).

[2016-04-13 21:19] bberenz commented on #30
@cruzzan Thanks for the details, looks like this is an issue with how IE handles floating point numbers rather than anything with signing.

@tresf As far as I can tell, the best way to fix this internally is to force any dimensions as strings before signing it, or forcing numbers through `toFixed` to round tailing values like this. Though this could complicate any pre-signing methods in place. Tho

[2016-04-13 22:29] klabarge commented on #33
Yes, I see two image capture failures.

Immediately after this crash I am able to do things like search for a printer, or list the network information.  However, if I try to print the logs freeze at `Found Resolution: 60000x60000 dphi`

[code]

[2016-04-14 00:26] klabarge commented on #31
Tested on Windows, OS X, and Ubuntu - no scroll bars :+1:

[2016-04-14 00:26] #31 closed

[2016-04-14 01:09] klabarge commented on #12
Works on Windows, OS X, and Ubuntu :+1:

[2016-04-14 01:09] #12 closed

[2016-04-14 02:43] tresf commented on #23
Tested, works.

[2016-04-14 02:43] #23 closed

[2016-04-14 03:08] tresf commented on #30
We won't be fixing this as it's a browser compat problem.  If you need to use `1.4960600000000002`, either send it as a string or use `toFixed(...)` and it will validate just fine.

By the time we get this in IE, it's too late (it's already been changed).  QZ changes it too, but consistently with Firefox, Chrome, Safari so it's benign on those browsers.

If we see `1.4960600000000002` in the logs,

[2016-04-14 03:08] #30 closed

[2016-04-14 04:44] tresf commented on #32
- UIManager.setLookAndFeel(UIManager.getSystemLookAndFeelClassName());
+ UIManager.setLookAndFeel(UIManager.getCrossPlatformLookAndFeelClassName());
[code]

[2016-04-14 14:05] bberenz commented on #32
You state this and I'm reminded of setting layouts in swing. So it shouldn't hurt to set both pref and min (and we probably should), especially if it fixes problems with linux.

[2016-04-14 14:23] bberenz commented on #33
Turns out after a print fails from an exception, the processor was never returned to the pool.
Fixed via f19d54af85b3ffdb388cd24ebbb92da77c369e65

[2016-04-14 14:23] #33 closed

[2016-04-14 22:12] tresf commented on #32
![screen shot 2016-04-14 at 6 08 47 pm](https://cloud.githubusercontent.com/assets/6345473/14545352/538bacaa-026c-11e6-84dd-491740a9e603.png)

:+1: 51 successful prints, closing as resolved.

[2016-04-15 00:33] tresf commented on #7
Turns out OS X has an option in the native printer dialog... "Reverse page orientation" which when combined with `LANDSCAPE` can be used for achieving `REVERSE_LANDSCAPE` (theoretically).  This has been available since OS X 10.5 (Current version is 10.11)

Assuming Java + CUPS doesn't support this, this would be an upstream limitation between OS X and Java.

![screen shot 2016-04-14 at 8 25 51 pm]

[2016-04-15 00:33] #7 closed

[2016-04-15 02:12] tresf opened #34 "Data block only supports one image"
When using `type: 'image'`, the data block only allows a single image to be printed.

The expected behavior is to allow multiple jobs per data block.

Code snippet to reproduce:

[code]

[2016-04-15 05:39] tresf commented on #6
This issues seems to have vanished in recent testing (perhaps an IE11 update patches this?)

 * Tested on Windows 10 x64 and it seems to work regardless of these settings.
 * Tested on Windows 7 x32 and it seems to work regardless of these settings.

[2016-04-15 18:58] rmosolgo opened #35 "Random hard-crashes on OS X"
Hey there,

One of our Macs just reported this crash:

![image](https://cloud.githubusercontent.com/assets/2231765/14571975/2dfb97da-031a-11e6-9393-17b20fe9772e.png)

Unfortunately, I didn't get a full stack trace (it was on one of the product managers' computers).

He said he had a two open tabs in Chrome which would have been connected to qz-tray.

Does it ring any bells? Any clue there as to wh

[2016-04-15 19:00] rmosolgo commented on #35
Hmmm, maybe related: https://bugs.openjdk.java.net/browse/JDK-8057830

[2016-04-15 20:00] rmosolgo commented on #35
Oh, I was able to reproduce the issue by open 4 tabs in Chrome (all of which connect to QZ tray) and leaving them alone for about 1 hour.

Here's my error details:

[code]

[2016-04-15 20:01] rmosolgo commented on #35
Wow, that's intense, here's the trace for the thread that crashed:

[code]

[2016-04-15 20:15] tresf commented on #35
If so, updating to the latest Java should fix it as it was marked as fixed in `8u40` (`8u77` is current at the time of writing this).

[2016-04-15 22:07] rmosolgo commented on #35
Here's my current version:

[code]

I'll give it another try next week - I saw there were some OS updates too

[2016-04-16 02:08] tresf commented on #35
From OpenJDK's bug tracker:

http://bugs.java.com/bugdatabase/view_bug.do?bug_id=8014326

Unfortunately the OpenJDK bug tracker is a closed system and every related bug was also closed meaning the team believes this to be fixed.

From what I'm reading there's a good chance it's triggered by an OpenGL event.  The timing of it makes me wonder if it's related to power management.

I have the 4 Chrome

[2016-04-16 14:53] tresf commented on #35
No overnight crash here... This bug seems to be somewhat hardware limited (or perhaps OS version limited).

For good measure, I clicked `disconnect` and `connect` and the software is working without a crash.

![screen shot 2016-04-16 at 10 49 38 am](https://cloud.githubusercontent.com/assets/6345473/14581708/4f612870-03c1-11e6-8695-ff48a86333e3.png)

[2016-04-19 17:56] bberenz commented on #34
Is it? Currently it will be one print job with two pages.
ex: [twopages.pdf](https://github.com/qzind/tray/files/226514/twopages.pdf)

[2016-04-19 18:08] tresf commented on #34
The expected behavior is to allow multiple jobs per data block.

That's actually what was requested by the bug submitter, so that's fine too. :+1:

[2016-04-19 18:15] tresf commented on #34
Opened in error.  Works as expected. :+1:

[2016-04-19 18:15] #34 closed

[2016-04-19 18:16] tresf commented on #34
![image](https://cloud.githubusercontent.com/assets/6345473/14650306/3a1e3c80-0639-11e6-8a51-3b2988a50e60.png)

[2016-04-20 03:06] tresf commented on #6
Internet Options, Security, Local intranet, Sites button, `Automatically detect intranet network`
 * Unchecked by default on a new user profile in Windows 7
 * https:/demo.qz.io blocked by default on a new user profile in Windows 7
 * Unchecking `Include all local (intranet) sites not listed in other zones` fixes https://demo.qz.io

However...
* Checking  `Automatically detect intranet network` al

[2016-04-20 19:55] rmosolgo commented on #35
Hmm, maybe I should "upgrade" to El Capitan :P

For posterity, got another one:

[code]

[2016-04-20 20:05] tresf commented on #35
@rmosolgo if that helps, sure.  :confused: Many of our major issues with 2.0 have been Apple-upstream related.
 - PDFBOX hard crash when printing vector-quality graphics
  - Workaround: Don't use vector-quality graphics
 - Java can't read density from CUPS
  - Workaround: Shim a command line hack to get it manually at run time
 - LIBUSB can't talk to HID devices
  - Workaround: Stage a new HID lib

[2016-04-21 00:27] ronster37 opened #36 "Angularjs UI-Router Issue"
The stringify tools method is causing issues with angularjs's ui-router as it is forcing the toJSON index on the prototype.

As a workaround I have added this code to the stringify function:

[code]

[2016-04-21 02:09] tresf commented on #36
Changed to `diff` format for better readability.  Brett, we should have done this to begin with I think, if not, as @ronster37 states, frameworks may inadvertently go against the prototype.

[2016-04-21 04:04] tresf commented on #6
Although a77a351 fixes connections for `WORKGROUP` computers, it does little to help with the domain environments due to the [default `Intranet Zone` behavior](https://blogs.msdn.microsoft.com/ieinternals/2012/06/05/the-intranet-zone/) on domain/corporate networks.

This puts IE and Edge in a bad state as the environments which tend to need IE support the most (controlled, domain style environment

[2016-04-21 15:54] bberenz commented on #36
I've no problem making this change, but I want to understand it further first in case there are other problems around this function. As in my understanding, if `Array.prototype.toJSON` is `undefined`, setting it to `undefined` shouldn't have an effect on the prototype.

@ronster37 I've not used ui-router before to have a thorough understanding of the problem created here, and my basic setup with i

[2016-04-21 18:51] tresf commented on #36
@bberenz I think the scenario is namespace.  You're assuming `Array.prototype.toJSON` is equal to `null` an we're leaving it alone, but in reality we're assigning it, adding it as a namespace and that can have a different effect on a library that searches for it over it not existing at all.

[2016-04-21 18:56] bberenz commented on #36
Not sure I'm following. I know assigning `undefined` is different from the value not existing. But accessing either comes back with the same result, so if something searches for it, it will look the same.

[2016-04-21 19:56] tresf commented on #36
@bberenz here you are...

[code]

[2016-04-21 20:12] bberenz commented on #36
Right, like I said:

But yet again, my question is how is this affecting ui-router? As this particular condition only affects if they are looping on keys _without_ the `hasOwnProperty` check, which explicitly looks for - and excludes - values that came from parents (such as the prototype). `toJSON` won't show up as an ownProperty on any array with this check in place, meaning something might've be

[2016-04-21 20:35] tresf commented on #36
Well, if you can't reproduce, they've probably fixed it.  @ronster37's version of ui-router may be relevant here as well.

I tried comparing [`legacy`](https://github.com/angular-ui/ui-router/tree/legacy) ui-router versus [`master`](https://github.com/angular-ui/ui-router/tree/master), but the API was a bit hard to follow through the web browser.  They use a function called `toJson` internally, bu

[2016-04-21 23:26] ronster37 commented on #36
Hey guys just wanted to update that they fixed it on version 0.2.16, I was on 0.2.15 of ui-router. But in any case not sure if this would be a problem with other frameworks, this fix could just be for insurance.

Thanks for the help guys I appreciate it :)

[2016-04-22 00:30] tresf commented on #36
Terrific.  That will be our recommendation if it surfaces again.  Marking as `wontfix` for now, can revisit if it starts affecting more people. 👍

[2016-04-22 00:30] #36 closed

[2016-04-22 02:35] #6 closed

[2016-04-22 02:47] tresf commented on #6
Added documented via https://github.com/qzind/tray/wiki/FAQ#web-browsers

[2016-04-22 17:26] tresf opened #37 "NumberFormatException printing to HP on Mac"
Upon investigation, `lpoptions -p laserjet -l` it appears that the resolution is two-part, breaking on our parsing logic.

[code]

Backtrace logs:

[code]

Proposed fix/test scenario:

[code]

[2016-04-22 17:44] #37 closed

[2016-04-22 20:13] tresf commented on #37
A few extra changes had to be made...

 * Per recommendation and via 9438606, the fallback if the density can't be parsed should be a null `PrinterResolution` to prevent a `java.lang.IllegalArgumentException: crossFeedResolution is < 1`
 * Although `Resolution` was sufficient in testing, the HP drivers have an attribute called `Smoothing/Resolution Enhancement:`, so we had to be a bit more specifi

[2016-04-22 22:38] klabarge opened #38 "Interpolation on OSX"
Interpolation on OSX seems to only work when using `rotation`

* This is the result of `nearest-neighbor` and `rotation`:

![image](https://cloud.githubusercontent.com/assets/12505463/14756620/dc3078a4-08b8-11e6-9a77-339ab8174302.png)

***

* This is the result of just `nearest-neighbor`

![image](https://cloud.githubusercontent.com/assets/12505463/14756656/305d3bf6-08b9-11e6-826d-3d3143a9f5fa.png

[2016-04-23 01:22] tresf opened #39 "Better binary image support"
HTML thermal printing has some contrast issues when printing smaller fonts, some of which print fine naively when using the vendor's raw commands.

I believe this occurs because the printer drivers are doing a bit of their own binary color threshold calculations.

In the case of Dymo, setting `grayscale` in the configuration options fixes this, but for thermal receipt printers, this is not the cas

[2016-04-23 02:47] klabarge commented on #32
This issue resurfaces when using a custom page `size`

I am using A4 size (8.3in x 11.7in) and sometimes my results are 35.5kb, 16.5kb, or 135.5kb.

[2016-04-23 18:10] tresf commented on #39
@bberenz, I found this one interesting, as it pertains to some HTML interpolation:
https://bugs.openjdk.java.net/browse/JDK-8091877

[2016-04-23 18:19] tresf commented on #38
Due to the amount of bug reports surrounding image interpolation, I have a feeling this is an upstream OSX-only bug.

Here are a few I found in my searching.  I don't think they're related, but `JDK-8017247` specifically mentions some slow/double rendering of bicubic on Darwin/OS X which makes me wonder if there are some other issues.

https://bugs.openjdk.java.net/browse/JDK-8017247
https://bugs.

[2016-04-23 19:34] tresf commented on #38
So the rotation "still working" comment actually is a bit inaccurate....

Here's the results of rotating the image `1°`.

Although the rotation correctly uses interpolation, the scaling still does not.  @bberenz can you think of any creative hack to fix this for Mac?  This bug means https://github.com/qzind/qz-print/issues/149 won't work on Mac.

![screen shot 2016-04-23 at 3 31 57 pm](https://clo

[2016-04-25 03:50] tresf commented on #38
@bberenz I'm having difficulty proving an upstream bug here...

Test scenario: https://gist.github.com/tresf/34dd6e5b95c36f62ffe8b685bb736957 (click image to toggle).

I'm unable to reproduce the anti-aliasing on Mac with code very close to our own.

These test results suggest something else is happening which is triggering this.  Any ideas?

Below are test results, all pass.

**Original:**

**Sca

[2016-04-25 14:16] bberenz commented on #38
@tresf How does your test image show up when printed through QZ? It's possible this is only an issue with the print libraries on OSX, rather than just how the interpolation is interpreted.

Also, does this issue still show up when using different printers?

[2016-04-25 19:15] tresf commented on #38
![image](https://cloud.githubusercontent.com/assets/6345473/14795825/40173e70-0af8-11e6-956d-883c46ba8b8c.png)

Valid question.  I'll defer to @klabarge.  Neither of us have anything except the Lisanet PDFWriter driver on our Macs in regards to "Pixel" style printers.

Am I wrong in assuming this is all Java image i/o?  It seems like the print processor would be too late.  @klabarge can you go bac

[2016-04-25 22:30] klabarge commented on #38
I used [VipRiser](https://onflapp.wordpress.com/vipriser/) which is suppose to use a different driver than CUPS-PDF.  The results were identical.

I went as far back as [alpha-6](https://github.com/tresf/qz-print/releases/tag/v2.0.0-alpha6) when `NEAREST_NEIGHBOR` was introduced and this exact behavior was happening then (both `NEAREST_NEIGHBOR` and the rotation issue).

[2016-04-26 01:46] tresf commented on #38
@klabarge thanks, confirmed.

@bberenz I think it is related to the printing, but I'm still a bit unsure how (and if that is the case, we should be able to circumvent it by drawing to a fresh graphics object (right?)

Well, I was able to find some debug commands for the 2d rendering, perhaps it has something in the log  that helps...

https://gist.github.com/tresf/621c8380155bd131b657f4eab4126ef1

[2016-04-26 02:30] tresf commented on #38
Here's a very old (but mostly relevant) writeup about graphics2d and hardware acceleration.  Not sure if any of it helps, but I'd be happy to try some of the techniques.

http://www.oracle.com/technetwork/java/javase/java2d-142140.html#gcghe

PDF backup, incase the link dies...
[Troubleshooting Java 2D - Troubleshooting Guide for Java SE 6 Desktop Technologies.pdf](https://github.com/qzind/tray/fi

[2016-04-27 00:31] tresf commented on #32
@klabarge actually I believe it was never fixed.

 * Ubuntu 12.04 x64 + Oracle Java 1.8 u92, if re-using the same settings, it seems to be fine after the first print.
  * However, each dimension change seems to break it.

First print:

![image](https://cloud.githubusercontent.com/assets/6345473/14838266/a946c8fc-0bed-11e6-9aae-9cb0375b150e.png)

Second print (same default settings):

![image](http

[2016-04-27 01:36] tresf commented on #32
There's definitely something hairy going on and it's relatively consistent...

@bberenz any thoughts here?  You should be able to reproduce this in VM.
 * Seems to be reproducible in Ubuntu 12.04 and 14.04.
 * We use [CUPS-PDF](https://apps.ubuntu.com/cat/applications/lucid/cups-pdf/) for a printer driver
 * We use Oracle JDK8 from [webupd8team helper script](http://www.webupd8.org/2012/09/install

[2016-04-27 03:05] tresf commented on #32
Hmm... I commented out the `webView.setMinSize(100,100);` entirely and still receive the same results as [this](https://cloud.githubusercontent.com/assets/6345473/14839118/38bd66aa-0bf6-11e6-970f-1982efdb16c6.png). :cry:

@bberenz new question... why aren't we doing this...

[code]

[2016-04-27 03:20] bberenz commented on #32
Because we don't know what values we can use at that point in the capture.
The width [might not zoom](https://github.com/qzind/tray/blob/2.0/src/qz/printer/action/WebApp.java#L79) after loading, in which case we change the zoom to 1. Now, we might be able to move the zoom logic, though I'm not sure if it needs the `webView` to be in a `Worker.State.SUCCEEDED`, so that would need tested first.
We d

[2016-04-27 03:28] tresf commented on #32
Well, FWIW, the above logic seems to fixe it on Linux.  Without it, the heigh is shortened the first go-round.

[2016-04-27 20:23] bberenz commented on #32
Unless I'm doing something wrong, I could not reproduce this on a VM running ubuntu 15.10, 14.04, or 12.04. (running without your alteration, just what currently sits in the repo)

Are you supplying the `pageHeight` option? Otherwise it's suprising that this fixes it since it would be set to a height of 0 there. Which raises the question, is it fixed if the calls are changed to `set..Size(0,0);`?

[2016-04-27 20:37] bberenz commented on #38
Can you try altering some of the other rendering hints?
I think setting `RenderingHints.KEY_ANTIALIASING` to `RenderingHints.VALUE_ANTIALIAS_OFF` has the best chance to work with nearest neighbor.
The others seem to be just setting render process to slow/quality, but possibly worth adjusting to see if they improve the outcome.

[2016-04-27 21:16] tresf commented on #38
@bberenz I tried this as well as many other settings from the rendering hints block to no avail (note, they work as-is when used with a JFrame)

[2016-04-27 21:46] tresf commented on #32
Hmm...

I just fired up a different 12.04 x64 VM...

 * ✅  First Attempt - Success
 * ⛔  Second Attempt - Cut off

![screen shot 2016-04-27 at 5 42 18 pm](https://cloud.githubusercontent.com/assets/6345473/14869126/80c5a490-0c9f-11e6-844c-9dbbffc635f9.png)

Some things Kyle and I may have in common:

 * Everything is virtualized using VirtualBox 5.x.  Kyle and I both use VirtualBox and we generall

[2016-04-27 22:14] tresf commented on #32
Ok....

 * Ran updates, rebooted, printed 12 times cannot reproduce...

@klabarge, can you confirm this?

[2016-04-28 00:19] klabarge commented on #32
After running updates and rebooting I am still able to reproduce this issue.

I used the Software Updater and also ran a `sudo apt-get upgrade`
![image](https://cloud.githubusercontent.com/assets/12505463/14871924/066f92d0-0cb5-11e6-9e8e-9a07f6356d24.png)

I sent 20 print jobs: 10 without setting a page size and 10 with setting a page size.
 * Names `1-10` are with page size
 * Names `177no-size_x

[2016-04-28 03:52] lite1979 commented on #32
Testing on hardware on 2 Unbutu-based computers:

Ubuntu 14.04 LTS - AMD FX 8320 - 24GB RAM - 12 tests - no flaws,  no partial prints

Linux Mint 17.3 - Intel i5 - 6GB RAM - 10 tests - no flaws, no partial prints

[2016-04-28 05:09] lite1979 commented on #32
Recreated Kyle's symptoms in 16.04 LTS in Virtual Box using Oracle Java 8 from the webupd8team.

Note: VM was struggling to keep up, and I had to wait several seconds for each print job.

VM specs: 8GB virtual hard drive, 768MB RAM, 1 processor

[2016-04-28 05:36] tresf opened #40 "Switch to EV cert"
We use a Root CA, trusted, standard code signing cert today for Authenticode signing, but we're getting increasing numbers of reports that Windows 8+ and IE are displaying warning messages:

![screen shot 2016-05-07 at 12 51 35 pm](https://cloud.githubusercontent.com/assets/6345473/15093325/78005f34-1452-11e6-8842-697244a8bf5d.png)
![screen shot 2016-05-07 at 12 52 21 pm](https://cloud.githubuserc

[2016-04-28 05:40] lite1979 commented on #32
Bumping up Video memory to 128MB and RAM to 2048MB produces zero errors and no partial prints in above VM. (recommended video memory was 4MB)

Brought video memory back down to 4MB, still produced zero errors.

Brought RAM back down to 1024MB, zero errors.

Brought RAM down to 512MB and got this: (expected)
![screenshot from 2016-04-28 01 37 06](https://cloud.githubusercontent.com/assets/3408749/1

[2016-04-28 14:46] tresf commented on #38
@bberenz Can we consider a wrapper which when invoked on Apple devices out-sources the transforms to swing and then copies back `graphics` object back over for printing?

I have a strong feeling this is directly related to `JDK-8017247` which states swing isn't impacted by the bug.  The bug doesn't specifically mention the bicubic-despite-nearest-neighbor behavior exactly, but it say the revisitin

[2016-04-28 15:16] robertcasto commented on #38
Detecting the platform is fairly easy.

On Thu, Apr 28, 2016 at 10:46 AM, Tres Finocchiaro <notifications@github.com

--

Robert Casto
p: 1-513-847-4942
c: 1-513-886-1550
e: casto.robert@gmail.com

[2016-04-28 17:08] bberenz commented on #38
I'm not sure this would fix the issue. Can you add
[code]
just before `return PAGE_EXISTS` in the PrintImage class. This will create a file with the same image data as the `graphics2D.drawImage` call above it is writing for the printer.
If this new file doesn't have any rendering issues, then the issue is inside the print libraries, and likely anything we do to the graphics object won't matter. If

[2016-04-28 17:41] tresf opened #41 "System-wide allowed.dat"
Currently `allowed.dat` is user-scope only.

The proposal is to first look for a system-wide allow list (e.g. C:\Program Files\QZ Tray\allowed.dat) first and combine what is found with the user settings.

This logic should work for both `allowed.dat` as well as `blocked.dat`

Marking for 2.0 scope as this should be relatively benign change.

[2016-04-28 17:56] tresf opened #42 "Printer status"
Request to report back the printer status to the user
- :white_check_mark: Ready
- :warning: Busy
- :warning: Out of paper
- :no_entry: Error
- :no_entry:  Disconnected

This'll be tricky one to implement.  CUPS has some command line utilities for fetching this info and some printers (LPT, COM) may not support bi-directional communication to the spooler, so we'll need a way to soft-fail when the i

[2016-04-28 21:41] tresf commented on #38
It looks like the file is ok... what does that mean?

![image](https://cloud.githubusercontent.com/assets/6345473/14902332/5bddf58c-0d68-11e6-9c37-4492f1f6f8d1.png)

[2016-04-29 01:49] tresf opened #43 "Graceful handling of cert renewals"
Currently our "Allow" dialog is displayed if a particular signer/host has been trusted by whitelisting the certificate using a certificate fingerprint.

At renewal time, a new certificate is issued to the client, but the client is given the option to use their own CSR or alternatively the public key (saved from 1, 2 or 3 year prior) which allows the private key used for signing to be re-used. (in

[2016-04-29 02:35] tresf commented on #38
Out of curiosity I added `graphics.drawImage(bi, 0, 0, null);` at the end of your codeblock and this is what I get.... (Note the PDF file size jumps from 10KB to 20KB)

![image](https://cloud.githubusercontent.com/assets/6345473/14907065/7eb8ffa6-0d91-11e6-8019-d73f5a9f5f40.png)

[2016-04-29 02:43] tresf commented on #38
And the checkmark using the same logic...

![image](https://cloud.githubusercontent.com/assets/6345473/14907134/8e8a49ac-0d92-11e6-866a-8fc4a3c48d02.png)

[2016-04-29 02:43] tresf commented on #38
*corrected

![screen shot 2016-04-28 at 10 42 43 pm](https://cloud.githubusercontent.com/assets/6345473/14907141/97e03110-0d92-11e6-9642-6b8debbf180a.png)

[2016-04-29 02:44] bberenz commented on #38
So, to be clear, you are drawing this new BufferedImage object to the graphics object supplied by the print function, and it comes out cleanly? And are you using the `graphics` object directly from the parameters or the casted `graphics2d` of the same object?

[2016-04-29 02:44] tresf commented on #38
I had a problem using the casted g2d, so I used the print function `graphics` object directly.

[2016-04-29 14:12] bberenz commented on #38
Hmm, it could be the lack of rendering hints on the buffered image, or a really unexpected fix.
Can you remove the `withRenderingHints` call on the [cast to Graphics2D](https://github.com/qzind/tray/blob/2.0/src/qz/printer/action/PrintImage.java#L139) and print without any of this buffered image rewriting.
If that produces the expected results we''ll know the problem is actually with the hints. If

[2016-04-29 15:44] tresf commented on #38
I spent several days troubleshooting this with many combinations of rendering hints -- as well as removing them completely -- to no avail.  The built-in graphics object must be broken.  I read somewhere that not all `graphics` are created equally.  `JDK-8017247` illustrates this because one portion of the code behaves differently than the other, so `BufferedImage` must be successfully side-steppin

[2016-04-29 16:04] bberenz commented on #38
I have the next step to try, just wanted to know where the efforts needed to lie.
Make these changes to PrintImage:
[code]
[code]
This will use the buffered image (with rendering hints as to still get the custom interpolation values) and should reduce the large jump in file size you saw with the edited buffer test.
And if this works we won't need any OS testing logic here.

[2016-04-29 17:08] tresf commented on #38
I won't be able to test until a bit later.  I'll post my results.

[2016-04-29 17:19] tresf opened #44 "MSI Installer"
Placeholder to track the progress of an MSI-based installer.

 * Currently our installer uses NSIS and is bundled as an EXE
 * NSIS has a silent install process, but doesn't conform to the MSI standard
 * Discuss bundling Java
  * Java often isn't pre-installed on systems providing a non-ideal deployment scenario for many workstations
 * Incorporating the MSI into our codebase (WiX, etc)

[2016-04-29 21:18] tresf commented on #38
Well, I'm not sure how that could be true, it appears to be the same logic I was using (minus my lack of `g2d.dispose()`).

Anyway... tests fail...

 * With **default interpolation**: `205 KB` !!!! (previously 10 KB w/ master branch).
 * With **nearest neighbor**: `31 KB` (previously 31 KB w/ [this code](https://github.com/qzind/tray/issues/38#issuecomment-215613905))
  * :no_entry: Test fails, bl

[2016-04-30 02:22] tresf commented on #38
A bit confused how the mistake was made, but I repeated my test results... and it's working.

Here's nearest-neighbor and default (bicubic) side-by-side: (code from https://github.com/qzind/tray/issues/38#issuecomment-215780733 is good! :+1: )

![image](https://cloud.githubusercontent.com/assets/6345473/14933194/a394d3d6-0e54-11e6-85ea-259b79022a2b.png)

[2016-04-30 02:28] klabarge commented on #32
I have an Ubuntu 14.04 laptop that I've done some testing on - unable to reproduce this on physical hardware.

I think it's worth mentioning that I used Oracle Java 8 from the webupd8team

30 prints and all are the same size... :confused:

[2016-04-30 02:35] #38 closed

[2016-04-30 03:02] tresf commented on #32
@klabarge thanks.  That's an overwhelming amount of "it an't broke", so we'll close this one out and monitor it from support perspective.

P.S. Thanks for getting that UEFI/Chromebook working today.  The test results are much appreciated.   Thanks to the rest as well.  This is a very sporadic bug and I have a feeling it will rear its head again, and we can reopen it then. :+1:

[2016-04-30 17:39] klabarge opened #45 "Low quality HTML printing with rasterize"
Tested on Windows and OS X

![image](https://cloud.githubusercontent.com/assets/12505463/14937499/19009cc2-0ed7-11e6-9d23-665757332bdd.png)

Notice "Version" and "Visit" are unreadable...

Changing `rasterize: false` results in a good quality print

[2016-04-30 17:43] tresf commented on #45
@klabarge RC8?  I assume you're on Java 8 on both platforms?

[2016-04-30 17:48] klabarge commented on #45
Yes

Yes
* Windows: 1.8_60
* Mac: 1.8_73

[2016-04-30 17:48] tresf commented on #45
Confirmed, Java 8, RC8.

[2016-05-01 00:25] tresf commented on #45
We set the default density here:
https://github.com/qzind/tray/blob/2.0/src/qz/printer/PrintOptions.java#L192

And we use it here to set the zoom:
https://github.com/qzind/tray/blob/2.0/src/qz/printer/action/PrintHTML.java#L51

@bberenz is there an order of operations issue going on?

[2016-05-01 00:31] tresf commented on #45
Actually.... @bberenz perhaps we're incorrectly assuming the printer resolution is listed as supported here?

https://github.com/qzind/tray/blob/2.0/src/qz/printer/action/PrintPixel.java#L101

Although if that were the case, it would only affect CUPS, right? 😕

[2016-05-01 00:38] tresf commented on #45
I don't agree with this statement...  On Mac, this should yield 300dpi print.  Are you getting that with `rasterize` checked?  I'm not.  This is probably 72dpi:

![screen shot 2016-04-30 at 8 37 38 pm](https://cloud.githubusercontent.com/assets/6345473/14939417/7d73cdfa-0f13-11e6-9df1-fa76b48fe6ce.png)

![screen shot 2016-04-30 at 8 37 38 pm](https://cloud.githubusercontent.com/assets/6345473/1493

[2016-05-01 00:44] tresf commented on #45
Unchecking `Scale content` yields a zoomed-in much higher quality print (test still fails, but may help investigation).

![screen shot 2016-04-30 at 8 44 07 pm](https://cloud.githubusercontent.com/assets/6345473/14939429/60a213ac-0f14-11e6-9fe4-fa35b7af7977.png)

[2016-05-01 00:45] bberenz commented on #45
No, we [build the options](https://github.com/qzind/tray/blob/2.0/src/qz/ws/PrintSocketClient.java#L442) object before calling the `parseData` method.

[2016-05-01 01:00] tresf commented on #45
@bberenz this goes away when I revert to RC7, so it was introduced with one of our recent commits.  I suspect https://github.com/qzind/tray/commit/4a7ce106a3194da23c0863063a6f4e6cc4e7bdd2 although I'm failing to understand why or how.  Ideas?

RC7 test results (PASS):
![screen shot 2016-04-30 at 9 00 05 pm](https://cloud.githubusercontent.com/assets/6345473/14939472/86f011ec-0f16-11e6-87d4-01c0faa

[2016-05-01 01:14] tresf opened #46 "Failed to execute 'send' on 'WebSocket': Still in CONNECTING state.(…)"
Steps to reproduce:

1. Close QZ Tray if open
1. Open `sample.html` with a web browser
1. Launch QZ Tray
1. Quickly click "Connect" over and over until the page gets stuck
1. If you can't reproduce, try again until it happens.  About 1 out of 5 will do it for me if I click-jack enough.

Note, this is not addressed by https://github.com/qzind/tray/commit/e01235d9ee2e6ae14808b344a992e25049450142

[c

[2016-05-01 21:44] klabarge commented on #45
You're right... it looks like it is 72dpi.  Perhaps this is a `density` issue?

#### Forcing `density` of 72dpi:

![image](https://cloud.githubusercontent.com/assets/12505463/14944525/f020e800-0fc3-11e6-823c-f424f5f75579.png)

#### Forcing `density` of 300dpi:

![image](https://cloud.githubusercontent.com/assets/12505463/14944532/186adb40-0fc4-11e6-86fc-c7d6750a9cd0.png)

These results are identic

[2016-05-02 14:08] bberenz commented on #45
Confirmed. Looks like the buffered image might have issues down-scaling our images.
Can you make sure the follow code change to PrintImage doesn't break #38 before I commit?
[code]

[2016-05-02 19:34] bberenz commented on #46
I wouldn't expect it to be, since this is all browser side
Handled now by 9e8ab20ca99098d8aa40e527c2fdcf8ae6fa477a

Side note, in Firefox this error shows up as:
`An attempt was made to use an object that is not, or is no longer, usable`

[2016-05-02 19:34] #46 closed

[2016-05-02 19:40] bberenz commented on #46
Let's include 714283bc3aa567ac272778e0cbbfcfe7f0088881 on that fix too..

[2016-05-03 00:09] tresf opened #47 "Printer driver filter"
We need to provide the ability to filter listed printers available for listing and printing based on a driver-filter.

I think it's better to just allow the user to black-list a particular driver(s) rather than hard-coding a bunch of stuff that may change.
- [x] Windows
  - Possibly use JNA approach for win32: http://stackoverflow.com/questions/15476914/how-can-i-get-a-printers-make-and-model-in-j

[2016-05-03 01:39] tresf commented on #45
Confirmed, it breaks #38

Here is the result of `Nearest neighbor` on Mac with the above patch (as I'd expect, the `graphics` object is bugged)

![image](https://cloud.githubusercontent.com/assets/6345473/14972818/42127d0a-10ae-11e6-90b4-1b70fc028a57.png)

[2016-05-03 16:56] bberenz commented on #45
Just compared a wide set of down-scaling options, and it's not looking good for OSX, the best we might get is degraded text quality on that platform and smooth prints on windows / linux.

![options](https://cloud.githubusercontent.com/assets/5912715/14991133/e4fced00-112d-11e6-9ae1-fea0e6d2719c.png)
(these all use the default settings on print)

[2016-05-05 01:06] tresf commented on #45
Some scale-up results.  Summary, both `nearest-neighbor` as well as `bicubic` quality is better with the addition of 0449418.  Details below.

---

QZ Tray vs. Original Image

**Scale up density** (0449418, dpi branch):
 * Interpolation: `nearest-neighbor`
 * Size: `29KB`

![screen shot 2016-05-04 at 8 15 00 pm](https://cloud.githubusercontent.com/assets/6345473/15033581/236ef3be-123a-11e6-8088-f6

[2016-05-05 01:31] tresf commented on #45
HTML test results, I could find a different in file size or quality between RC7 and RC9.

Here's a star wars release: https://github.com/tresf/tray/releases/tag/v2.0.0-RC9

(May the 4th be with you!)

[2016-05-05 02:00] tresf commented on #45
Windows (PASS):

 * No visual differences between RC7 and RC9.
 * File size differences:
  * `bicubic`: `84.7KB`, `85.1KB`, respectively
  * `nearest-neighbor`: `46.5KB`, `45.9KB`, respectively

[2016-05-05 02:04] tresf commented on #45
Windows Print HTML (PASS):

 * No visual differences between RC7 and RC9.
 * No file size differences.

[2016-05-05 02:07] #45 closed

[2016-05-07 16:37] tresf commented on #40
Update:  This cert request has been approved by DigiCert.  Once dual-factor is setup, we'll have access to the port and we'll update our build processes accordingly.

@Lukas-W FYI, this would also replace any code signing certs used in our portal, or slave build processes such as the `1.9.x` custom applet build button, our our future white-labeling (at an increased premium) service.

[2016-05-07 17:03] klabarge opened #49 "Image printing when using MM"
Reproducible on Mac and Windows (Linux untested)

When using `mm` image printing quality is :neutral_face:

However, both `in` and `cm` are fine

![image](https://cloud.githubusercontent.com/assets/12505463/15093352/91e94b44-1453-11e6-84d2-263a1220ebd9.png)

[2016-05-07 17:05] tresf commented on #49
Likely introduced with fd535b6. @bberenz any idea?

[2016-05-07 17:19] tresf opened #50 "Raspberry Pi Support"
We've had an increasing amount of requests to support a [headless, print-server environment](https://github.com/qzind/tray/issues/51) and one repeating question is whether or not we support the Raspberry Pi platform for printing.

![screen shot 2016-05-07 at 1 25 48 pm](https://cloud.githubusercontent.com/assets/6345473/15093468/3e626484-1457-11e6-8aa9-22008c665477.png)

Although Raspberry Pi is a

[2016-05-07 17:22] tresf opened #51 "Headless Support"
The Linux community is showing an increasing amount of interest in a headless QZ Tray mode.
* [ ] Everything done via GUI must be well documented (@klabarge)
* [x] Command-line alternative for whitelisting a certificate (done via https://github.com/qzind/tray/commit/ac32c8f00f3319492f78775fc568f63815e68eb0)
* [x] Code must be written in a way to allow soft failure when GUI is not present (done via

[2016-05-07 17:53] bberenz commented on #49
If you change [PrintImage#82](https://github.com/qzind/tray/blob/2.0/src/qz/printer/action/PrintImage.java#L82) to `dpiScale = (options.getPixelOptions().getDensity() * options.getPixelOptions().getUnits().as1Inch()) / 72.0;` does it fix this issue? (I'm not able to test at the moment)

[2016-05-07 18:04] tresf commented on #49
@bberenz building/uploading now.

https://github.com/tresf/tray/releases/tag/v2.0.0-RC11

[2016-05-07 18:08] tresf commented on #49
Yes, appears to fix it... Will send patch.

![screen shot 2016-05-07 at 2 07 44 pm](https://cloud.githubusercontent.com/assets/6345473/15093692/1a3b6226-145d-11e6-959a-28eca275f21d.png)

[2016-05-07 18:09] #49 closed

[2016-05-08 01:09] robertcasto commented on #50
Do you need us to do some testing?

I have a Model B 1GB Raspebbery Pi 2. It would take us a bit to get it
setup, but we could look into it. What printing device would you want it to
be able to communicate with?

Robert

On Sat, May 7, 2016 at 1:19 PM, Tres Finocchiaro <notifications@github.com>
wrote:

--

Robert Casto
p: 1-513-847-4942
c: 1-513-886-1550
e: casto.robert@gmail.com

[2016-05-08 01:48] tresf commented on #50
@robertcasto no need at this point.  @lite1979 and @klabarge are quite advanced with the Linux platform.  We'll ping you if need be.

[2016-05-08 05:52] kilbot opened #52 "Hung on launch "java.lang.NoSuchFieldError""
I have previously had success with version 1.9, but when trying to install 2.0.0-rc3 the tray manager won't start. It seems perhaps there is a auth problem with java:

[code]

Do you think I need to import a key or check a setting somewhere? I've had a look through the Java settings and tried disabling verification but it doesn't seem to make a difference. Has anyone else had this problem?

[2016-05-08 12:56] tresf commented on #52
@kilbot it seems the certificate generation is having issues, specifically the `CN=` portion, which we've never seen before.

Can you try with RC7 and let us know if it still occurs? (I assume it still will)

https://github.com/tresf/tray/releases/tag/v2.0.0-RC7

If so, we may need to do some investigation to find out the cause.  We use [some trickery](https://github.com/qzind/tray/blob/2.0/ant/ap

[2016-05-08 14:26] tresf commented on #52
That would make sense.  We don't support Java 1.6 on the desktop, so the installer is failing.

I must have missed the min-ver check (we do this for our Win/Lin installers).

We also should honor `JAVA_HOME` override (we do on Windows).

So the permanent fix is probably to provide a better install-time error when a dated Java version is detected but a temporary workaround is to switch your system

[2016-05-09 01:28] tresf commented on #52
@kilbot is this a standard install or are you attempting to perform a `CN=` override at install time?

Reason I ask is I can't find anything specifically that would break in Java 1.8 unless perhaps you've changed some code or properties along the way.

We support the changing of these things, but some of our search/replace techniques make some assumptions that aren't documented in our code so perh

[2016-05-09 03:12] klabarge opened #53 "View logs + HTML crashes software on Ubuntu"
Ubuntu 14.04
1. Open "View Logs"
2. Print HTML
3. Witness QZ Tray crash
   - Printing never happens
   - Cannot close out of View Logs
   - QZ Tray stays on the Launcher (usually goes away quickly when HTML printing)

![image](https://cloud.githubusercontent.com/assets/12505463/15102633/bb567174-156f-11e6-8f3c-66e8d07a7536.png)

The "Untitled window" is the HTML image that gets displayed to the sc

[2016-05-09 03:26] klabarge opened #54 "HTML + margins on Ubuntu 14.04"
Ubuntu 12.02: :white_check_mark:
Ubuntu 14.04: :no_entry_sign:

On Ubuntu 14.04, when applying margins (1" for example) the result is a `0 byte` file.
Note that I am using CUPS-PDF virtual printer.

This is a possible CUPS bug, @tresf reproduced a posted a [log here](https://gist.github.com/tresf/ddaf628c8c31ed80cbc93b8593322fac).  Notice the line:
 `[08/May/2016:23:14:38 -0400] [Job 70] Segmentat

[2016-05-09 13:55] tresf commented on #52
@kilbot please email `support` at `qz.io` and we'll setup a webinar.

[2016-05-10 01:57] klabarge commented on #53
In case this is of any help,  here is the output where it crashes (I can't copy and paste the log because it's crashed).

![image](https://cloud.githubusercontent.com/assets/12505463/15133462/e57599f0-1630-11e6-9f57-38c0b872313a.png)

[2016-05-10 02:00] tresf commented on #53
Yeah, we use some [`interrupting cow`](http://uncyclopedia.wikia.com/wiki/Interrupting_cow) modal dialogs and I have a feeling JafaFX on Linux isn't very happy with this...

[2016-05-10 04:53] tresf opened #55 "@media print CSS"
Migrated from https://github.com/qzind/qz-print/issues/190.

---

@vt09 wrote:

Currently, html content under @media print style still appear in rendered file.

For example, we have setting as below.

[code]

... or

From the mailing list:

[code]

[code]

Do our printHTML support this style?

[2016-05-11 01:01] tresf commented on #32
Just reproduced this on Mac, reopening.

![screen shot 2016-05-10 at 8 59 53 pm](https://cloud.githubusercontent.com/assets/6345473/15166974/4a3989ac-16f2-11e6-9c0b-f611b89ff7b2.png)

[2016-05-11 01:10] tresf commented on #39
Another item worth investigating is the effect of [`WebView.setFontSmoothingType(FontSmoothingType.GRAY);`](https://docs.oracle.com/javase/8/javafx/api/javafx/scene/web/WebView.html#setFontSmoothingType-javafx.scene.text.FontSmoothingType-)

[2016-05-11 02:10] tresf opened #57 "HTML to honor nearest-neighbor"
HTML rendering currently blurs all images as they are scaled up.  This seems to be an effect of the default scaling that JavaFX `WebView` uses.

A current work-around is to use a library such as `ImageMagic` or `gd` to scale the image up prior to embedding it into the HTML document.

Here's an example of `sample.html`'s printHTML() code, modified to use an up-scaled version of the `assets/img/imag

[2016-05-12 03:44] tresf commented on #52
What we tried:

 1. Removed `jenv` using `brew remove jenv`
 2. Removed Java 6 using `sudo rm -rf /Library/Java/JavaVirtualMachines/1.6.0*.jdk`
 3. Reinstalled `jdk 1.8 u91` (you had u92 installed)

But despite this, we couldn't get `ant` to fire a build.  We kept getting the error `javac: invalid target release: 1.7`.

[2016-05-12 05:15] tresf commented on #52
Two other areas we didn't try:

 * Make sure `JAVA_HOME` isn't set in `.bash_profile` per http://www.mkyong.com/java/how-to-set-java_home-environment-variable-on-mac-os-x/
 * Check for a symlink to `Java/Home per http://stackoverflow.com/a/25102764/3196753

And some steps from a Minecraft blog which talk about a several staged approach at removing old Java versions... Jump to the section "Step 1 –

[2016-05-13 06:28] tresf commented on #40
So this involves dual-factor.  The USB key MUST be plugged into the build machine.... Ugg...

SafeNet driver Windows:
https://www.digicert.com/StaticFiles/SafeNetAuthenticationClient-x32-x64.exe

https://www.digicert.com/StaticFiles/SafeNetAuthenticationClient-SAC_9_0_43_Linux.zip
https://www.digicert.com/StaticFiles/SafeNetAuthenticationClient-SAC_9_1_Linux.zip

SafeNet driver Mac:
http://www.dig

[2016-05-13 17:43] tresf commented on #57
A stop-gap for better HTML barcodes is a library such as `JsBarcode`.

https://github.com/lindell/JsBarcode

![image](https://cloud.githubusercontent.com/assets/6345473/15256669/99b03bf0-1910-11e6-9ff4-daf3b67d042d.png)

![image](https://cloud.githubusercontent.com/assets/6345473/15256644/73758e22-1910-11e6-8306-d93e93d08180.png)

[2016-05-17 01:06] tresf commented on #54
Closing as wont-fix since this is an upstream CUPS bug.

If more people complain, we can reopen and file a bug report with Canonical.

[2016-05-17 01:06] #54 closed

[2016-05-17 01:44] tresf commented on #53
Turning off modal dialogs didn't fix this.  @bberenz any ideas?  If not perhaps a shim to hide the log dialog on Linux when printing HTML to circumvent the issue?

[2016-05-17 02:09] bberenz commented on #53
This isn't a memory issue, is it?

[2016-05-17 02:12] tresf commented on #53
@bberenz maybe....   How would we know?

[2016-05-17 02:30] bberenz commented on #53
Increase the starting memory, say `-Xms1g` and see if the problem goes away

[2016-05-17 02:54] tresf commented on #53
No dice. It actually deadlocks the entire JVM.

If you CTRL+C, you get an interesting stracktrace...

[code]

In case you're interested in the 1,000-line full crash...

https://gist.github.com/tresf/3b4d428e719793eb981f0d7d9c1e45e2

[2016-05-17 03:21] tresf commented on #53
@bberenz not sure if it's related, but similar at least in description...
http://stackoverflow.com/questions/27826874/swing-jframe-causes-javafx-application-to-crash-on-os-x

[2016-05-18 03:24] tresf commented on #40
Hmmm...
 * `ant` [doesn't support `providerClass` argument](https://ant.apache.org/manual/Tasks/signjar.html), which is [required for eToken signing](https://www.digicert.com/code-signing/java-ev-code-signing-certificate.htm).
 * `jsign` doesn't support `providerClass` yet, but there's an [open pull-request](https://github.com/ebourg/jsign/pull/3/commits/f894665bb4e0bf071774428ca78fa1f32446d425) t

[2016-05-19 03:44] lite1979 commented on #10
I'm thinking the way to work with this will involve changing the commands that get sent to match various printer models, as the syntax has remained the same, but the actual commands that get passed have changed. i.e.: https://github.com/qzind/tray/blob/280152b58049abf07ef4a987772e8bd5dbc21d21/src/qz/printer/ImageWrapper.java#L461

Looks like this pull request has a lot of the logic figured out (py

[2016-05-19 09:07] jstans opened #58 "Image printing autosize incorrect"
I've just got around to updating my API for 2.0 and firstly I am loving the new promise based API!

After testing a label though the first thing I noticed is that the images on the label are coming out at the wrong size and position. Also that the labels took significantly longer to come out of the printer than when using 1.9.x. The image is using about 60% of the label size and appears to pad the

[2016-05-19 14:03] tresf commented on #58
@jstans thanks for the feedback.

Later revisions of 1.9 used a technique we call `JAPANESE_POSTCARD` to force the correct 4x6 label size.  https://github.com/qzind/qz-print/blob/1.9/src/qz/PrintPostScript.java#L138:L142

2.0 had to drop this logic to support custom paper sizes as not all paper sizes conveniently fall into a Java pre-defined dimension.  For example, [`2.25 x 1.25` is a common Dymo

[2016-05-20 02:58] tresf commented on #40
So switching to a command line Jar signing isn't all that bad.

This successfully signs using our existing portable key and can be adapted to use custom providers.

Unfortunately, this does not address the authenticode gap (`jsign` doesn't yet support hardware tokens).

If `jsign` isn't up for the task, perhaps we can use a similar technique with [`osslsigncode`](http://brewformulas.org/Osslsignco

[2016-05-24 10:23] vkosachev opened #60 "Ubuntu 14.04 could not start, a null pointer exception"
Hi guys, experiencing this issue on launch. And so I cannot connect to qz from JS.
What did I miss ?

PS. : By default I have Java 8 installed, but in the example below I tried to use JDK to launch.

[code]

[2016-05-24 12:46] lite1979 commented on #60
This looks a lot like something that happened to me in Linux Mint with a custom taskbar loaded in X. What graphical environment are you using?

[2016-05-25 06:14] vkosachev commented on #60
Gnome, and the DE is gala (elementaryOS)

[2016-05-25 14:51] tresf commented on #60
Gala/Pantheon isn't supported yet and the outlook is a bit grim until we add headless support (See #51)

The issue is best documented in this StackOverflow articles:
http://elementaryos.stackexchange.com/questions/4226/how-can-i-get-applications-to-display-a-system-tray-icon
http://elementaryos.stackexchange.com/questions/1706/system-tray-icons-for-java-and-nodewebkit-applications

Although there

[2016-05-26 05:42] vkosachev commented on #60
Great, will try with the JAppIndicator, but looking forward to updates. Thanks @tresf

[2016-05-26 12:00] tresf commented on #60
@vkosachev FYI, the JAppIndicator will require Java code changes.  You're welcome to try this, but if you're not comfortable with writing Java code, we'll happily tackle the integration effort. :+1:

[2016-05-27 22:19] tresf opened #61 "Printer Tray Support"
Support for querying and select printer tray on a LaserJet style printer.

[2016-05-31 23:52] corbinu opened #62 "Suggestion: Breakup projects"
Hello,

I am interested in your project however it seem like there are really 5 projects in this repo

- QZ Tray lib
- QZ Server
- JavaFX UI
- Installer builder
- JavaScript client

I was wondering if you would be interested (and I would be happy to help just wanted to make sure there was an interest before I started doing work) in breaking it up into a set of repos. It seems like this would be re

[2016-06-01 01:55] tresf commented on #62
If HTTPS is required, I don't believe this will work.  You'll need a platform-specific installer to shim the certs for the OS/Firefox.  Please enlighten me if I'm incorrect here.

You mean Swing code?  We don't have much Java FX code so I'm confused by this statement.

Using what exactly, git submodules?  Not a fan personally, they add unnecessary steps to the build process in my opinion, especial

[2016-06-01 02:08] tresf commented on #58
Note, we will close out this bug as invalid if we cannot get steps to reproduce (including hardware, drivers, etc).

[2016-06-01 02:13] tresf commented on #52
Closing as an isolated incident and invalid to the project source tree.  Please reopen or post your success if the underlying issue can be identified.

[2016-06-01 02:18] tresf commented on #35
I'm labeling this as an upstream bug and leaving it open.  We'll be able to escalate this to Oracle Support in the coming months which once finalized will extend to our premium customer's development PCs.

[2016-06-01 02:19] tresf commented on #32
Marking as upstream bug.  If we can get a Short, Self Contained, Correct Example of this it will make it much easier to escalate to Oracle.

[2016-06-01 02:28] corbinu commented on #62
If HTTPS is required, I don't believe this will work. You'll need a platform-specific installer to shim the certs for the OS/Firefox. Please enlighten me if I'm incorrect here.
My understanding is the scripts should be able to be injected for example the Ant script from Oracle that generates the Windows installer is WiX and supports all the customizations therein (I believe the same is true for OS

[2016-06-01 03:16] tresf opened #63 "Plugin API"
Placeholder

http://stackoverflow.com/a/10913898/3196753

[2016-06-01 06:13] tresf commented on #62
This statement makes me think you're confusing where the bloat comes from.  The project source is quite small from a compiled-byte standpoint, but the size gets inflated with the various 3rd party libraries we use.  For example, the Jetty WebSocket libraries weight in over 3MB.  JFXRT (not needed for install, but used for fixing compilation on OpenJDK) is a whomping 14.7MB.  Add in PDF, USB and Se

[2016-06-01 06:17] tresf commented on #62
Also worth mentioning, we use `makeself` for our installers, so you can easily avoid installation by using the `--extract` option with the Linux desktop installer and blowing away anything you consider to be non-critical (such as the demo folder).

[2016-06-01 06:41] corbinu commented on #62
@tresf No worries about sounding dismissive it is your project I will just say my concerns were much more centered around ease of introduction for more contributors not from the perspective of the install being to large. Striping it down for my own use is fairly simple (just fork ... strip out everything not needed and then simply PR any enhancements I make to those files and pull any updates from

[2016-06-01 06:41] #62 closed

[2016-06-01 06:58] tresf commented on #62
Hmm... interesting.  We've had very little contributions out of good will, probably because we're tailored so specifically for revenue generating outfits (shipping, POS) that many clients would rather just pay for support and ask us to fix it.

For those that do get involved in the code, maintaining a single JS file has been OK.  We get quite a few requests to be on NPM, but that's not really rela

[2016-06-01 07:31] tresf commented on #62
Yes, the desktop software world tends to suffer the "everything" problem and we're definitely susceptible to that problem, but it's not necessarily a bad thing but I don't think you're talking about features here really, right? (if that's the case, 1.9 versus 2.0 did what you're describing).  Instead I feel you're talking about submodules.  We have components and they all rely on a centralized cor

[2016-06-01 07:44] corbinu commented on #62
No for sure it was pretty easy for me to figure out what features I need and the code is well structured. Maybe I underestimate the average coder to know what to do when they old need part of a repo and then how to contribute back.

Ya if there is an "easy way" for some reason I am one who always has to do it "my way" I defiantly can set up an ant task that just builds a Java API lib. And you defi

[2016-06-01 09:06] jstans commented on #58
Sorry for the delay.

I have run more tests (and printed way too many labels!) but I have some extra information.

I was using a TSC DA200 last time but this time I have been testing on a Citizen CL-S521Z. Interestingly the positioning on the label is different (not 2 labels, same size but offset all the way to the edge) but the problem is still present.

I created a simple image of a black rectan

[2016-06-01 13:09] rmosolgo commented on #35
Sounds good, we just released Zebra a couple of weeks ago, I'll report back here if I hear anything else!

[2016-06-02 02:59] klabarge commented on #50
**Hardware:**  Raspberry Pi 3 (Model B), 1GB Ram, 32GB
**OS:** Raspbian Jessie

The tray icon is not ideal

  ![image](https://cloud.githubusercontent.com/assets/12505463/15236643/bd84533a-1894-11e6-8d56-70831eca3b2b.png)

Installing QZ Tray on the Raspberry Pi is very similar to Ubuntu:

#### Basic Steps
1. Install Java: `sudo apt-get install oracle-java8-jdk`
1. Download QZ Tray
1. Install QZ Tr

[2016-06-07 02:15] klabarge opened #65 "Fallback to default system printer"
* When querying for a printer, if it is not found, 2.0 throws an exception and does not print.

[code]

**Stacktrace**
[code]

* If the printer name is hard coded in the `config`, it errors out and does not print anything.
[code]

**Stacktrace**
[code]

In both scenarios, should QZ Tray fallback on the default printer on the system and print?

[2016-06-07 03:59] tresf commented on #65
In neither scenario should it fallback to the default printer, instead it should `reject` the Promise.  @bberenz thoughts?

[2016-06-07 04:04] bberenz commented on #65
I agree that it should just fail the promise.
Which it looks like it's already doing.

[2016-06-07 04:07] tresf commented on #65
Ok.  Once @klabarge confirms, we should be able to close this out.

[2016-06-07 04:19] klabarge commented on #65
It does fail the promise in both scenarios.

[2016-06-07 04:19] #65 closed

[2016-06-08 13:58] tresf opened #67 "Ionic/AngularJS Array.prototype"
From the mailing list...

---

with this line of code active

[code]

each time this is used
[code]
the for-loop will output some additional undefined value, but if i comment those lines it will output the correct index value of the array which are 1,2,3,4

i use ionic-framework on chrome.

[2016-06-13 13:50] tresf opened #68 "Density *Normal OS X"
Some LaserJet printers report `*Normal` instead of `*600dpi`.  We need a way of falling back on a default density when `*Normal` is detected.

Without this, density defaults to `0` for these printers on OS X, causing a hard-crash of QZ Tray.

[2016-06-13 17:54] tresf commented on #39
Not a great help, but one item which may slightly help.....

[code]

![image](https://cloud.githubusercontent.com/assets/6345473/16017328/53fda334-316d-11e6-9ca5-4c2f11d8b665.png)

[code]

![image](https://cloud.githubusercontent.com/assets/6345473/16017334/5d1b1924-316d-11e6-8a1b-ef02dd4c9e83.png)

@lite1979 can you do a before and after w/ printHTML and post the progress with the TM88IV?

[2016-06-13 19:43] bberenz commented on #68
Code under fe38f7ca02799f8ccdc1431378e7ee4534f4a40f, I don't have an environment that can test this properly though.

[2016-06-13 21:17] tresf commented on #39
@bberenz one recommendation from a [stackoverflow article](http://stackoverflow.com/questions/37797351/how-to-disable-anti-aliasing-in-javafx-fonts?noredirect=1#comment63064304_37797351) is to [print the WebView directly](https://docs.oracle.com/javase/8/javafx/embedded-browser-tutorial/printing.htm).  Is this something we can try?

[2016-06-14 03:14] tresf commented on #68
Testing is underway by a 3rd party.  Will report back with results.

[2016-06-14 14:22] bberenz commented on #47
From an API perspective, how would this be implemented?
Javascript can be modified, so would we need an alternative method of restricting it, or is that not a worry for this level of implementation?

On that note, what's to prevent them from forcing multiple copies to a physical printer? Even the basic driver print dialog allows that on most printers.

[2016-06-14 15:04] tresf commented on #47
In this case, it would be assumed that the end user wouldn't have the ability (or expertise) to modify the JavaScript code.  I understand that assumption is quite.... well.... assuming... but it's the best we can do and the sponsor understands this.

Since we don't show the printer dialog and the implementation will leverage something like base64 under the covers to obscure the data that will be t

[2016-06-14 15:10] bberenz commented on #47
Alight then, so where would this information be passed?
In the listing of the printers? In the config? In the print options? Elsewhere?

[2016-06-14 15:13] tresf commented on #47
Perhaps something like `qz.printers.blackList({"FILE:", "PORTPROMPT:", "PrimoPort:"});` or whatever technique can be used to filter a particular port or driver (I would expect something more technical than a printer name, just don't have the info at this moment).

I would also say we should provide a checkbox on our `sample.html` "Prevent printing to virtual printers" which would have a laundry li

[2016-06-14 15:20] tresf commented on #47
Configs seems like the best place however it's becoming quite inflated with so many items.  What are your thoughts?

[2016-06-14 18:15] bberenz commented on #39
It prints a smooth vector sheet, but there is no Java 7 support. And while I'm not sure the extent of it yet, it looks like we'd lose a couple print options.

[2016-06-14 19:57] tresf commented on #39
Worth looking into then I suppose as HTML's 72-dpi is mostly worthless on JDK7 anyway.  How complicated would it be to use reflection for the print code?  Also I fear we may encounter the same issues on Mac that we had with nearest-neighbor...

[2016-06-14 20:00] bberenz commented on #39
Very. Completely different capture/processor design using the javafx print methods.

[2016-06-22 05:26] tresf opened #70 "Base64 raw images interpreted as URLs"
From the mailing list...

[2016-06-27 15:50] tresf commented on #68
Testing passes.  :+1: Closed via fe38f7c.

[2016-06-27 15:50] #68 closed

[2016-06-29 05:12] tresf commented on #40
The Windows 2.0.0 build as well as QZ's internal procedures have been updated to use the EV cert.

https://qz.io/download/

Note, this is is currently a manual process and cannot be scripted due to the PKCS11/Hardware token requirement.  Furthermore, Linux/Mac cannot easily be shimmed to use PKCS11 until a utility such as [`osslsigncode` is updated with PKCS11 support](https://sourceforge.net/p/os

[2016-06-29 05:12] #40 closed

[2016-06-29 16:26] tresf commented on #42
@bberenz Can we do some testing with `PrinterIsAcceptingJobs`?

[2016-06-29 17:31] tresf opened #71 "Raw Printer Detection"
**Edit:** This feature will require the addition of the `sift` library, found here: https://github.com/qzind/sift

---

A placeholder for ideas about raw printer detection.

This may be driven by the driver information we're able to get back in #47.  One recommendation was to provide a hosted web service API to lookup a printer's capabilities.  In the event this is available, we may need to invent

[2016-07-07 15:38] bberenz commented on #47
So I've gone the route of adding a new api call (`qz.printers.details`) that will return details about each printer, including the driver name, 281ff50941c3bb6ef0aa50e7d19fc47d00ff34ac. This way, as each config needs a printer name set, the site can get full control of what printers they'd even want available for selection.

[2016-07-08 02:06] tresf opened #72 "Hard crash printing large images"
This affects 2.0.0-stable.

When using the image printing feature, the image is scaled to `8.3x` zoom regardless of it's original size.

Sample `1700 x 2387 px` image [here](https://cloud.githubusercontent.com/assets/6345473/16675414/b328ef10-448e-11e6-827a-09d193488bbd.png).  When this image is printed, it attempts to scale to `8.3x`, which yields `14,110 x 19,812 px` image which crashes the JVM.

[2016-07-08 15:36] tresf commented on #47
@bberenz I think we have an issue when printers contain backslashes in their name....

The printer name is: `\\servername\Printer Name 4`.

The logs show this:

[code]

[code]

[2016-07-08 15:41] bberenz commented on #47
I can assure you that is not the cause of this issue (I have one named `\\diskstation\usbprinter`).

What output do you get from running `reg query HKLM\SYSTEM\CurrentControlSet\Control\Print\Printers\,,servername,Printer Name 4 /v Printer Driver` directly in your command line?
And is this a printer that is presently available, or just listed as installed?

[2016-07-08 15:47] tresf commented on #47
You're right, this is a different problem.  The registry key does not exist at all there, it's a HKCU key.  All domain-pushed printers don't show up in HKLM.

I see a mapping here: `HKCU\Printers\Connections\,,server,Printer Name 4` but it doesn't have the information we're looking for.

[2016-07-08 15:58] tresf commented on #47
Hmm...

By looking it up in `HKCU\Printers\Connections\,,server,Printer Name 4`, you can get the GUID.

e.g. `{FFFFFFFF-FFFF-FFFF-FFFF-FFFFFFFFFFFF}`

Then, under the following location (note "servername" from `,,servername,`)

[code]
..  you can see the printer driver name as "HP LaserJet FOO BAR" as well as `Action, Attributes, ChangeID, CreatorSid, Datatype,Description,Port, Print Processor`, e

[2016-07-08 16:02] tresf commented on #47
Upon investigation, these above key may be added by Remote Desktop services.   I've no idea where the pushed mappings go to.

[2016-07-08 16:05] bberenz commented on #47
Anything useful under `HKLM\SYSTEM\CurrentControlSet\Control\Print\Providers`?

[2016-07-08 16:09] tresf commented on #47
Unfortunately no.  These printers are mapped in user space at login time.  They're life-cycle and settings are most likely maintained in `HKCU`.

[2016-07-08 16:14] tresf commented on #47
So I'm fairly confident that the

`HKCU\Printers\Connections\,,server,Printer Name 4\Guid` is required to fetch it per e.g. `{FFFFFFFF-FFFF-FFFF-FFFF-FFFFFFFFFFFF}`.

Although `Client Side Rendering Print Provider` does contain the RDP mapped printers, it doesn't seem to be exclusive.

I'll export the keys and email you.

[2016-07-10 21:22] dsanders11 opened #73 "Easier Let's Encrypt Support"
Now that [Let's Encrypt](https://letsencrypt.org/) is out of beta and is easy to use, it's possible to get a legitimate SSL certificate for free quite easily. I'd love to see it be made easier for QZ Tray to take external certificates rather than generating self-signed ones always.

First, here's a bit more background on the use case I have and why I think free SSL certificates from Let's Encrypt

[2016-07-11 03:00] tresf commented on #73
I agree whole heartedly.  This is actually quite commonly requested.

The Java keystore format works great for jetty and jsign, but is often an afterthought for Root CAs.

The only major downside of this technique is any time a Trusted Certificate is available for free to the masses, the repercussions if key leakage become less obvious and encouraging clients to use this technique could quickly st

[2016-07-11 12:04] chadwalt opened #75 "Request Blocked."
This is the  error am getting if I press any of the buttons. Error: Request blocked

[2016-07-11 12:15] tresf commented on #75
This is usually a sign that "block" was selected when the security dialog was displayed.

Another cause is accidentally clicking "block anonymous" requests through the advanced menu.

What is listed under "block" in the Certificate Manager"?

[2016-07-11 12:22] chadwalt commented on #75
where do I find that?

[2016-07-11 12:23] tresf commented on #75
From the menu located in the system tray.

[2016-07-11 12:23] chadwalt commented on #75
How do I put it right?

[2016-07-11 12:26] chadwalt commented on #75
Where do I find that?

[2016-07-11 13:36] bberenz commented on #47
Should be fixed with 79a2e225e2425c1b78b93b5777ffc9caf48ab1dd, but as I don't have a network printer configured like this, you'll need to verify it works.

[2016-07-11 13:55] bberenz commented on #72
How do you best want to handle this?
The point of the current code is so that any image will be printed at the appropriate DPI for the printer (dpi/72=scale-factor). We scale it up, then draw it at the original size for printing so it retains quality.
Should we cut it off at an arbitrary size or if it is over the page size? If the latter, should there be a difference in how it acts if the 'scale t

[2016-07-11 15:21] lite1979 commented on #10
Yes. Mike42 gave me replied to me on his python-pos project. I'll be testing some variations of the code today. :)

[2016-07-11 16:27] klabarge commented on #75
You can find this in the system tray by going to QZ Tray > Advanced > Site Manager

![image](https://cloud.githubusercontent.com/assets/12505463/16738186/a76c75b2-4762-11e6-85fa-33d763b703a6.png)

Go to the "Blocked" tab and make sure you did not accidentally block the certificate (delete any entries).

![image](https://cloud.githubusercontent.com/assets/12505463/16738213/c4d8f666-4762-11e6-9c58-d

[2016-07-11 18:45] bberenz commented on #61
Implemented with 6246771eb3ffeb466ae6b64ff7d0eef2e35f5543

[2016-07-12 01:14] lite1979 opened #76 "QR code image print result is distorted"
QR code images should have equal height and width to be scan-able, but the printout here appears to have double width to singular height:

![wp_20160711_002](https://cloud.githubusercontent.com/assets/3408749/16752015/ed8ee928-47ab-11e6-8a24-dd2f4e7afc31.jpg)

Changing print density does not help. This occurs on a Posifiles PP-6900 thermal receipt printer.

Relevant code block:

https://github.com

[2016-07-12 07:32] dsanders11 commented on #73
True, all the information to leak the private key is available in the QZ Tray properties and the key store. Personally I'm OK with this because I trust the security of the print server computer, and the benefits outweigh the small risk.

Personally I think the 'best implementation' is built into the installer. I'm not familiar with that code (haven't had a need to dig deep into it), but since a no

[2016-07-12 13:38] bberenz commented on #76
Can you provide logs of the print?
And is this using the raw printing or pixel printing? As image printing should keep any aspect ratio, and the text appears fine.

[2016-07-12 13:40] tresf commented on #76
This is raw, and likely printer specific.

[2016-07-12 14:19] bberenz commented on #19
Do we need to subset these new formats? As pdf, html, and image each have their own formats when used independantly. And this has even led to some confusion already, causing #70.

[2016-07-12 14:45] lite1979 commented on #76
Confirmed on a TM-T88V. The density parameter _used_ to adjust the width of the image, but it no longer does this. Single and Double density print jobs look the same for both the user's .png file and our sample .png file:

![img_20160712_104121857](https://cloud.githubusercontent.com/assets/3408749/16771206/a10f5cb4-481d-11e6-8051-9c902c4ae7bb.jpg)

[2016-07-12 15:45] lite1979 commented on #76
Log of both prints (with stock .png file) here:

https://gist.github.com/lite1979/2dd3e4b8c846122c895a889cc9c819ca

Perhaps printing to file will give us more insight.

[2016-07-12 16:16] bberenz commented on #76
Double checked if the dot density was being set correctly after your previous post. Turns out the class has been trying the wrong parameter name the entire time..
Can you verify if ec63645d1a5f86e74fbfe234647222b3c712f883 fixes this issue?

[2016-07-13 15:18] chadwalt commented on #75
Thanks

[2016-07-14 01:57] tresf commented on #61
Great however since 6246771 doesn't yet offer the ability to return a list of printer trays, I'm reopening this until we have the detail API finished.

[2016-07-14 03:10] tresf commented on #19
From our discussion, this will be an expansion of the API.

[code]

[2016-07-14 03:10] tresf commented on #70
We'll have to hack in the old `data:` URL for now as the proper fix requires this: https://github.com/qzind/tray/issues/19#issuecomment-232545658

[2016-07-14 10:36] chadwalt opened #77 "Action Required."
How can I get rid of this Action Required pop up, cause whenever I check the "Remember decision" checkbox the allow button is disabled.
![qzpopup](https://cloud.githubusercontent.com/assets/11385771/16836805/3770d146-49c8-11e6-9fac-f452ee670f9b.GIF)

[2016-07-14 14:11] tresf commented on #77
https://qz.io/wiki/2.0-signing-messages

[2016-07-14 14:11] #77 closed

[2016-07-14 20:56] bberenz commented on #72
Code has been adjusted (0f897c5bc955a70bf26acd22b9a14a2a367faf4c) so that for images larger than the page it will assume it is partially scaled to the required dpi and only scale the minimum amount from that point to the printer's dpi.

For instance, with the sample image on a standard letter page, it assumes the image is already at ~200dpi, and will scale by ~x3 to achieve a 600dpi print.

[2016-07-14 22:47] klabarge commented on #72
This prints much faster now (about 30 seconds) after that commit.

It looks like the image is getting scaled up twice, does that look right @bberenz ?

[code]

[2016-07-15 03:12] #75 closed

[2016-07-15 09:49] dsanders11 opened #78 "USB Whitelist/Blacklist"
While the USB functionality in 2.0 is awesome (plan to integrate a digital scale this weekend), it does bring up some security concerns for me. Being able to access any USB device on the system via QZ Tray is worrying if QZ Tray access was to be compromised. Previously the worst that could happen was an attacker could print things, which was not too concerning.

I think a good way to improve the s

[2016-07-15 13:43] bberenz commented on #72
Not quite. I had to move the logic into the actual print call since it has to be aware of the page size. And each page in a print can get called multiple times depending on the print service used (You can see the line `Requested page _ for printing` everytime this occurs). So there are two separate instances where it draws the page and had to perform the scaling from its original size.

[2016-07-15 14:28] tresf commented on #78
Seems completely reasonable to provide a method of blacklisting all USB devices if a manual whitelist in place.  We can do whitelisting on a device level or on a vendor level, or both.

The GUI logic will actually be more work than the whitelist file, so we may decide to just offer it to sysadmins for starters.

[2016-07-19 09:32] Majstr commented on #76
Tested on Posifiles PP-6900. Now QR code is printed correctly.

[2016-07-19 14:38] dsanders11 opened #81 "USB Read Data Frozen Values"
**OS**: Windows 7
**QZ Tray Version**: 2.0.0
**USB Device**: Dymo M10 Digital Postal Scale
* * *
I'm finding that I'm getting the same value returned every time I try to read USB data from the scale, if I read the values individually. It appears to freeze to the value the first time it is read on a new QZ Tray instance. The value stays frozen no matter what the weight on the scale is, and persists

[2016-07-19 15:16] tresf commented on #81
Yeah, we're well aware.  It appears to be a problem with the way the library reads data.  We've recommended streaming the data instead (which isn't as convenient with a user-driven poll request, but it's the best we can offer at this time).

We're open to ideas though but we put quite a bit of research into it and were unable to get a "live" read of the scale without streaming.

[2016-07-19 15:18] tresf commented on #81
Also, somewhat related, the USB library won't work on Mac, so we've added a new HID tab.  I believe it still suffers the same bug though.

[2016-07-19 15:49] tresf commented on #76
:+1:   Fixed via ec63645.

[2016-07-19 15:49] #76 closed

[2016-07-20 01:42] tresf commented on #72
Kyle and I were testing with a proprietary image which was rendered at 200dpi.  It appears Java isn't handling the 200dpi very well and from research, it's just less fuss to have the clients use 72dpi images.

In my testing with a 200dpi image, printing took 20 seconds.  At 72dpi, printing took 6 seconds.

I also forced nearest neighbor which should be slightly faster rendering and better barcode

[2016-07-20 01:57] tresf commented on #72
@bberenz what is the ended behavior of this new logic when `scaleContent` is set to `false`?

[2016-07-20 04:04] tresf commented on #47
Tested and patched via 163a6fd.

Issues:
 * Network printers aren't listing the printer trays.

Cosmetic issues:
 * Due to the amount of information available on this screen, a static dialog would be preferred
 * I think we need to bullet out the features a bit better.  @klabarge can do this, but I think we can do something like:
  * Microsoft XPS Document Writer
    * **Driver:** Microsoft XPS Do

[2016-07-20 04:48] dsanders11 commented on #81
I've opened [a bug report with libusb](https://github.com/libusb/libusb/issues/196) as a result of my digging into the issue. I was able to reproduce the issue with libusb1, a thin Python wrapper around libusb which makes me pretty confident that is where the issue is. It seems to start buffering the moment a device handle is created for the USB device, even before an interface is claimed.

Unfort

[2016-07-20 14:22] bberenz commented on #47
What output do you get from the following code for printer `<NAME>`?

[code]

[2016-07-20 14:39] crossdsection opened #82 "How to print HTML data as raw data using Dot matrix printer?"
I want to print HTML data using Dot Matrix, but want the printer to use the Dot Matrix font it have already. Instead of rendering the HTML content.

I have tried this using the documentation.

`var printData = function(){
		var config = getUpdatedConfig();
		var data = document.documentElement.innerHTML;
        var printData = [{
			type: 'html',
			format: 'plain', // or 'plain' if the data is r

[2016-07-20 15:49] tresf commented on #82
Yes.

Unlikely, you'd have to try.  From testing, some support it some do not.  I do not believe the virtual print drivers do (PrimoPDF, PDFCreator, CutePDF, Microsoft XPS Document Writer) but some LaserJets I've tested with (HP mostly) do print plain text so you'd have to test with a few devices to know for sure.

[2016-07-20 15:50] tresf commented on #82
Furthermore, you may have success with both formats if you switch to a [markdown language](https://en.wikipedia.org/wiki/Markdown) and then render the HTML for the browser only.  Just a thought. :+1:

[2016-07-20 18:11] tresf commented on #47
Here's what I get:

[code]

[2016-07-20 20:11] bberenz commented on #47
I'm going to assume you didn't alter the output, which means occasionally the Media class decides to add extra whitespace around it's names..

Now you've reopened #61 on this, and in your styling suggestion here you list the tray number and supported format, but as you can see in your own output, we don't get that level of detail. And currently we just return the highest number returned from the g

[2016-07-20 20:25] tresf commented on #47
Correct, I didn't change formatting.  Curious... are you sure `toString()` is the best way to parse this object?

Then that will have to suffice for now. :+1:

I think it depends on how detailed we can get the tray information.  I'm not sure what use a laundry list is in this case, so any insight is welcome.  For starters, if we can do something like `Tray 1 (Manual Feed in Tray 1)` that would be

[2016-07-20 20:42] tresf commented on #47
In regards to driver filter on Mac:

Test results pass after applying 130cf5a. The patch was to sanitize the blank `ShellUtilities.execute(...)` return values, since there's conveniently a disabled printer on this VM. :+1: I took the liberty to apply the same logic to Windows.

 I'm operating under the assumption that the `-1` dpi is normal.

![image](https://cloud.githubusercontent.com/assets/634

[2016-07-20 20:45] bberenz commented on #47
..it's the only way actually.. The constructor takes a single int to follow `EnumSyntax` class, `getCategory` only returns `Media.class`, and `getName` returns the literal string "media" ..

In regards to the listing we can return an array of what's reported in media (ie `["Manual Feed in Tray 1", "Tray 1", "Tray 2", ...]` and then accept either that exact string or a number and default to "Tray X

[2016-07-20 21:12] tresf commented on #47
@bberenz I've marked Windows and CUPS as completed.  Let's take this conversation over to #61, since the driver feature is almost completed.

[2016-07-20 21:16] tresf commented on #61
@bberenz Perhaps I still don't get it.  Can we get the printer tray names using this technique?

http://stackoverflow.com/a/9396884/3196753

---

**Copied from** https://github.com/qzind/tray/issues/47#issuecomment-233833011, "Network printers aren't listing the printer trays."

public static void main(String[] args) {
    PrintService ps = PrintServiceMatcher.matchService("<NAME>");
    for(Media

[2016-07-21 05:34] crossdsection commented on #82
Thanks, will check that..

[2016-07-21 12:39] tresf commented on #72
@bberenz any feedback on this?

[2016-07-21 13:38] bberenz commented on #72
It scales it the same amount as if it was going to draw scaled to the page.
So the same image used in the posted logs would still scale by `x2.9182352941176477` even if it was still being drawn at its original size.

[2016-07-21 13:42] bberenz commented on #61
We are using this technique. The tray names are literally the `toString` output of the Media class:
[code]

[2016-07-21 17:36] tresf commented on #73
@dsanders11 can you hold my hand a bit in how this certificate process works?  It appears there are some Unix command line utilities that seem to be intended to do the entire SSL setup automagically, but I can't find instructions on their site for simply gaining an SSL certificate.  What am I missing?  Did you lie and just use `certbot` and then grab the files from Apache?  What were your prelimin

[2016-07-21 18:00] tresf commented on #72
Should this be the behavior?

[2016-07-21 18:03] bberenz commented on #72
That's really up to you. Unless you have another alternative, the options are: no scaling at all, scale up to the dpi, or this custom upscaling.

[2016-07-21 18:07] tresf commented on #72
Well, the DPI allows a scaling option to be disabled, so sensibly, I believe "no scaling at all" would be the preferred behavior if `scaleContent` is set to false.

[2016-07-21 18:21] bberenz commented on #72
fff8e5f5bb59b61e9da9ac68a4b0c3e0954b33a4

[2016-07-21 18:52] dsanders11 commented on #73
You can tell `certbot` to be 'certonly' and avoid the install step, at which point it is web server agnostic and just needs to be pointed to a webroot so that it can place the file (temporarily) it needs to verify domain ownership.

So here are the steps I did:

1. Point target domain at web server (let DNS propagate)
2. Run `certbot` as such: `certbot certonly --webroot /usr/qz/webroot -d target.

[2016-07-21 19:56] tresf commented on #72
Thanks.  @klabarge can you test this functionality please?  If it's all good and working we can close this out.

[2016-07-21 23:20] klabarge commented on #72
Setting `scaleContent` to `false` actually makes the image much smaller than the original size.

Scaling should only make the image smaller, not larger, correct?

#### `scaleContent: true`

![image](https://cloud.githubusercontent.com/assets/12505463/17041952/df73e4c8-4f77-11e6-9db1-fdfe4083567b.png)

#### `scaleContent: false`

![image](https://cloud.githubusercontent.com/assets/12505463/17041980

[2016-07-22 00:07] tresf commented on #72
Scaling will generally make it smaller at 600dpi, but it can have either effect.

If the image, with printer's DPI considered is still larger than the print area, scaling it will shrink.  Otherwise it'll  be bigger when scaling is enabled.

[2016-07-22 01:13] klabarge commented on #72
Then I'd say we can close this out  :+1:

[2016-07-22 01:13] #72 closed

[2016-07-22 02:45] tresf commented on #61
Great, so how do we go about mapping the tray name to our existing interface?

[2016-07-22 02:50] bberenz commented on #61
Currently all we do right now is take a number. Then we map that to the matching `Tray N` media class, and apply that to the printer attribute list.
We don't take strings, unless you want us to. Which is what I asked if you wanted earlier. And if we do take a string, it would have to be a match of what is returned from the media iteration.

[2016-07-22 02:53] tresf commented on #61
Knowing now that the trays are arbitrarily numbered, the number of the tray won't help so I'll have to recant treat them like printer names.

[2016-07-22 03:10] tresf commented on #58
Yes, thanks for the very detailed write-up.

We have two Zebra printers (similar models) and we'll do some similar testing.  @lite1979 can you do some further experiments with 4x6 versus 6x4, portrait vs. landscape using image printing to the LP2844-Z and report back your findings?

Note, the LP2844 and LP2844-Z printers printing the paper in portrait orientation naturally so I feel we should expe

[2016-07-22 04:07] klabarge opened #83 "autoSize not scaling properly"
The image is not scaling to the paper size unless `size` is specified .  I have tested this on both Ubuntu (Cups PDF) and Windows (PDFwriter, XPS).

The first image is the result from grabbing the default printer page size of A6.
The second image is from specifying an A6 page size in the config.

1. Set the default printer size to A6
1. Print image with no size specified (scaled to 50%)

  ![image

[2016-07-22 08:11] vkosachev opened #84 "Combining html and raw"
HI guys,
I am trying to combine HTML and raw printing on Epson.
With html I am sending the content I want to print, and with raw I am trying to send the cut directive to printer. The problem is that it is not working then. The question is how to combine that correctly ?
Example:
[code]

[2016-07-22 15:06] lite1979 commented on #84
@vkosachev

The problem is usually that mixed format sent to the same printer will require two different queues (even though they both point to the same printer). This can result in a race condition once the print jobs are sent, since the HTML usually requires a bit of processing before being sent to the printer, allowing the ESCP to arrive to the printer first.

The way around this is to use our

[2016-07-22 15:48] vkosachev commented on #84
@lite1979 hey, thanks for your feedback. Actually as you could notice I am doing just the same thing.
But this leads to some problems when I print lots of tickets in quick succession.
In this case I get printed out 2-3 html tickets and the my TM-L90 bloats out some blank paper and only then cuts it

[2016-07-22 16:06] lite1979 commented on #84
You are doing something similar, but not exactly the same. I have used a separate function for each print job, and .then promises to send them in that order.

I don't know if you're testing on Windows or Linux or Mac, but {altPrinting:true} will be necessary for both Linux and Mac clients, as CUPS normally uses separate queues for raw and html print jobs. altPrinting:true allows raw print jobs to

[2016-07-22 17:19] tresf commented on #84
Can you please share your looping logic for us to see?  Chaining promises in a loop is a special edge-case.

https://qz.io/wiki/2.0-Raw-Printing#promise-loop

[2016-07-22 19:55] bberenz commented on #39
I've rewritten the html print processor using javafx8's printing logic (6828ea4ad9299eccd7be8aef2c53713ce1e19fa5), and there's a marked improvement in quality.

Though there were quite a few gotchas in the code, so I'll need someone to verify there isn't some configuration I missed (blank pages and unexpected resizing being the most common).

[2016-07-22 20:01] tresf commented on #39
@bberenz thanks.

@lite1979 can you please test the 2.1 branch on both Epson as well as Zebra printers and post some preliminary test results?

@klabarge can you please perform some basic tests on some virtual printers?

[2016-07-22 20:31] lite1979 commented on #39
:+1:

[2016-07-25 07:21] vkosachev commented on #84
Sure, the most of the code I pasted upper.
[code]

[2016-07-25 15:53] bberenz commented on #61
I don't think it's exactly arbitrary, as the media numbering matches with the physical numbering on the printer I have to test with.
Regardless, I've adjusted the code so it also takes the full tray name as returned from the Media class (8ac41f2f640e1bbfb975bd619ef469ef38a3fe8d), allowing for any tray option to be selected.

[2016-07-25 17:19] tresf commented on #61
I meant more in regards to `Tray 1` versus media class slot `0`.  e.g. the `Manual Feed` wouldn't have been selectable through an intuitive manner previously.

:+1:

[2016-07-25 17:23] tresf commented on #39
@lite1979 any status update on this?  We'd like to know how well it works on the Epson and Zebra when compared to the 2.0 version.

[2016-07-25 17:24] tresf commented on #82
Closing this as a support question.  Please feel free to continue using this thread if needed.

[2016-07-25 17:24] #82 closed

[2016-07-25 17:28] tresf commented on #84
@vkosachev are you calling `sendHTMLToQz()` over and over in succession?  If so, that won't work, you'll instead need to use a [promise loop](https://qz.io/wiki/2.0-Raw-Printing#promise-loop).

@vkosachev if you cannot resolve the race conditions, it is likely you'll need to wait for #19 to be completed prior to this working.

#19 will allow HTML to ESCP image translation which would avoid the red

[2016-07-25 19:50] bberenz commented on #42
It would appear as though the _only_ state in which `PrinterIsAcceptingJobs` returns a negative value is when the printer is pending deletion, [source](https://bugs.openjdk.java.net/browse/JDK-8046007).

While the arguments for it make sense, I'm not sure how useful that would be to any clients. Thoughts?

And it turns out, through looking into the source for the windows print service implementati

[2016-07-25 23:29] klabarge commented on #39
I tested these prints against the XPS printer and PDFwriter.

1. I did about 20 print jobs, and two of them resulted in blank pages
1. There are issues setting the `size`

I attempted to scale the `size` to A6 (4.1x5.8in).  The actual HTML image scaled down slightly (still not the correct size), but the paper width did not.

![image](https://cloud.githubusercontent.com/assets/12505463/17120838/fb4

[2016-07-26 06:22] lite1979 commented on #39
My HTML tests don't fill the page when specifying size, either. Could this be the unexpected resizing you mentioned, @bberenz ?

Agreed that quality is much better.

Zebra LP 2844-Z:

![img_20160726_021357783](https://cloud.githubusercontent.com/assets/3408749/17128006/a85f316e-52d7-11e6-9f91-0a5ace6e4dab.jpg)

Epson TM-T88V:

![img_20160726_020543583](https://cloud.githubusercontent.com/assets/34

[2016-07-26 08:00] vkosachev commented on #84
@tresf yeah, it can be said that yes. I have just ajax calls that launch `sendHtmlToQZ()` so it depends on the final user with what speed he clicks. I have tried to implement the promise loop that you show, but the result is different. guess it is all because of ajax calls.

@tresf Can you give some schedule when this feature can be expected? Thx in advance.

[2016-07-26 14:08] tresf commented on #84
If you are going to allow the user to click, you'll need to queue the clicks and allow the interface to process them.

Are you saying if you print 5 labels using a promise loop technique it's not working 100% of the time?

January.

I think we're stating the same thing.  You'll need to creating a print stack and pop items onto that stack.  Our "[Job](https://qz.io/wiki/2.0-Raw-Printing#promise-loo

[2016-07-26 14:10] tresf commented on #84
I really don't think #19 will fix your issue specifically.  It sounds like a race condition and I believe your fix will exist in a queuing mechanism.

[2016-07-26 14:20] bberenz commented on #39
This one's a bit pervasive, so how'd you go about printing these 20? All in a single run of qz or a fresh start between? Multiple pages per job or just one? Any option changes between prints?

Not exactly, that occurred on successive prints.
Looks like this size (and margin) issue stems from the validatePageLayout call. As that call already fails on smaller page sizes I've just removed it in favor

[2016-07-26 14:41] vkosachev commented on #84
@tresf  I don't know why, but I did not achive the desired result with the "Job" example. heres my implementation of it, maybe you can show what can be improved.

[code]

[2016-07-26 14:53] klabarge commented on #39
Most of jobs were in a single instance of QZ, but I restarted after the first blank page.  These were single page jobs.  The two blank pages were of different configs, but I could not reproduce.

It was very sporadic, when a blank page did occur, the next print would be fine using the same config and without a restart of QZ Tray.  I'll attempt to reproduce more reliably and provide logs/details.

[2016-07-26 18:23] bberenz commented on #83
This was an interesting oversight. Apparently we were just starting with a generic paper instead of getting the printer's default.
Fixed with 7a50742467a045f0606f86ba683b90162278d4ee

[2016-07-26 18:23] #83 closed

[2016-07-27 19:23] tresf opened #85 "Support non-UTF8 Serial Encoding"
Serial communication currently assumes the returned data is in UTF-8 form per https://github.com/qzind/tray/blob/2.0/src/qz/communication/SerialIO.java#L119.

We should consider adding a configuration option to the serial API to allow specifying the encoding format.

[2016-07-28 02:07] klabarge commented on #39
After 60 + prints I was unable to reproduce this behavior... I'm not sure what caused this before.

In trying to reproduce this I found that the `copies` option is not working properly for HTML printing.  Only 1 copy is ever printed.

You can see the number of `copies` being set in the config and then further down the trace "Copies = 1"

[code]

[2016-07-28 02:54] klabarge commented on #83
Works :+1:

[2016-07-28 13:36] tresf opened #86 "Add "Since 2.x.x" support to JSDoc"
Our API, qz.io/api now has the new HID feature, but it's only since 2.0.1.   This is a placeholder to add `Since 2.0.1` to the JSDoc as to explicitly state when the feature became (or in this case, will become) available.

[2016-07-28 15:17] bberenz commented on #39
Looks like javafx lies about the number of copies supported on a printer.
I've adjusted it to check using the original print service, 7d3e1d3b9732cdf7143f2f8d6f603ef86eab5144

[2016-07-29 04:44] tresf commented on #42
That's a bummer.  What about `printJobRequiresAttention` ?

[2016-07-29 05:12] tresf opened #87 "Cannot read property 'toUpperCase' of undefined(…)"
If a object inside an object is supplied as print data, a rather obscure message will display:

[code]

This can be reproduced by supplying:

[code]

I believe the exception is being thrown in [`qz-tray.js:840`](https://github.com/qzind/tray/blob/2.0/js/qz-tray.js#L840) when some assumptions are made about the data type.

[2016-07-29 14:38] bberenz commented on #42
Two issues.
First, that is under the PrntJobListener, which only starts after the document has been called to print.
Second, this only applies to `DocPrintJob`s, we use `PrinterJob`s for pixel printing.

[2016-07-29 19:18] tresf commented on #42
So if these are a bust, shall we start looking at the win32 API's and JNI?

[2016-07-29 19:43] tresf commented on #84
Calling `print()` recursively like you have is a creative approach but it is not one we've tested.  Was there an issue with the [`chain.reduce` logic](https://qz.io/wiki/2.0-Raw-Printing#promise-loop) from our example?  That has been tested against Promises successfully.

[2016-07-30 13:10] vkosachev commented on #84
@tresf well yes. that is why i have reworked the example in solution that I have provided.  My problem is that when I have more than 3 quick ajax calls  I  get different resuts all the time : if there were 3 calls, I get first ticket printed and cut, then I get html for 2 tickets and 2 blank cuts. With 5+ calls I get all the html first and then the cutting.

[2016-07-30 16:23] tresf commented on #84
If you're using AJAX somewhere, it's not in the example.

AJAX is mostly promise compatible and you should include that somewhere in your promise chain if each AJAX request is followed by a subsequent print.

[code]

[2016-08-01 12:55] tresf commented on #39
@klabarge can you confirm the copies is now working as expected?

[2016-08-01 23:32] #86 closed

[2016-08-03 07:38] tresf commented on #73
Initial support added in the `2.0-letsencrypt` branch via https://github.com/qzind/tray/commit/2a6f740a658524cb1a35ce09fa88cac237781ba7.  Testing appreciated.

Once OK'd, we'll merge in for the 2.0.1 release.

Usage:

**Windows**

 1. Install QZ Tray
 2. Run this command

[code]

**Mac**
 1. Install QZ Tray
 2. Run this command

[code]

**Linux**
 1. Parameters must be passed directly to the insta

[2016-08-03 21:22] bberenz commented on #19
Feature added in 9c39650b9b126400d03f10a140da8c753cc24b53
Everything looks right when printing to a file, but you'll need to verify for me on a physical device.

[2016-08-04 01:02] #73 closed

[2016-08-04 02:49] tresf commented on #87
@bberenz, opinions on this fix?

[code]

[2016-08-04 02:51] tresf commented on #84
Closing this out as a support request.  Please continue to use it for question/answer as needed, but the bug will remain in closed status.

[2016-08-04 02:51] #84 closed

[2016-08-04 05:04] tresf commented on #81
@dsanders11 turns out HID circumvents this problem and returns the actual scale value, not one from 5 seconds ago.  I feel it should be a suitable replacement until `libusb` provides a patch.

HID support was fast tracked for 2.0.1 because of the issues with HID scale devices on Mac, but it looks like it's going to be a better overall solution for scales in general.

Closing out as `not our bug` a

[2016-08-04 05:04] #81 closed

[2016-08-04 05:35] tresf commented on #19
Looks pretty good.  In the case of the PDF, it only takes up about 2/3s of the height and width of the paper.  How do you suggest we specify PDF size?

HTML I had a bit more control over due to the `pageWidth` parameter.

[2016-08-04 13:34] bberenz commented on #87
Well the error comes up because type is not specified, so it would probably be better to use
[code]

However, the other problem is the java side isn't equipped to handle incorrectly formatted data. Such that if it fails to pull the `data` attribute, it treats it as a string (valid syntax). Since the array is doubled up, the inner array won't have that attribute, and instead pull the entire inner a

[2016-08-04 14:14] tresf commented on #87
That's fine.  That's what happens with the aforementioned logic as well, I had tested both.

Since `typeof({}) == 'object'` and `typeof([]) == 'object'`, we're looking for an object without a proper type check.  Checking to see if it is an ACTUAL object seems cleaner, no?

[2016-08-04 14:27] bberenz commented on #87
Yes, but we also run the risk of getting a real object without the type property.
If you feel better about it, there's no problem applying both solutions.

[2016-08-04 14:41] #87 closed

[2016-08-04 14:54] tresf opened #90 "Better 3rd party Signing CA Cert Support"
Quoted from #64 (closed):

[2016-08-04 19:59] bberenz commented on #19
Do you want to extend the `pageWidth` and `pageHeight` options to include pdf as well?

32ed9f1b0035eb68c229c4b59608d92cf9c29b2f

[2016-08-04 21:09] tresf commented on #19
Sounds like a good plan.

[2016-08-04 22:30] klabarge commented on #39
I just tested on both XPS and PDF. You can see that copies does correctly match what was in the config, but still only one copy as printed for me.

[code]

[2016-08-04 22:53] klabarge opened #91 "2.1 PDF Printing"
When I try Print PDF from the `sample.html` page I get the below error.

Note that I tested the sample from both a webserver and the file system.

[code]

**Stack trace:**
[code]

Per the documentation, the `format` and `flavor` should default to the proper values.  When I change the `options` to:

[code]
I receive a `Error: NullPointerException` but an identical stack trace.

[2016-08-05 03:21] tresf commented on #47
Here's the list so far.  This will eventually live over at `qzind/sift` once completed.

[code]

[2016-08-05 13:31] bberenz commented on #91
Looks like my changes to qz-tray.js went missing after one of the rebases and I didn't catch it.
Should all be fixed in dc97eccec6d258b6742a78f8d1792595bd3f4b73

[2016-08-05 13:31] #91 closed

[2016-08-05 13:45] bberenz commented on #39
Turns out PDFCreator lies to everyone about the copies it supports (1-9999). Even image and pdf printing don't get copies with it.. Not sure how this should be handled, as other printers with this attribute use it properly.

As for XPS, I was getting the copies, but they all came through as a single, paged document. This is because of how fx handles the print job. Any chance yours came out the sam

[2016-08-05 16:10] tresf commented on #39
Let's not worry about it unless the symptom starts surfacing in more drivers.  Kyle will just have to adjust his testing procedures to use an alternate driver.

[2016-08-05 16:36] robertcasto commented on #39
Could it be a simple bug in PDFCreator?

On Fri, Aug 5, 2016 at 12:10 PM, Tres Finocchiaro <notifications@github.com>
wrote:

--

Robert Casto
1-513-813-6279 (google voice)
e: casto.robert@gmail.com

[2016-08-05 17:30] tresf commented on #39
Yes it I believe so.

http://forums.pdfforge.org/t/print-multiple-copies-of-a-document-to-a-single-pdf-file/5486

[2016-08-05 19:30] robertcasto commented on #39
That conversation is 3 years old and they said that is not something they
are interested in. I completely understand why you would want it. They
don't think multiple copies matters, but I do think it is useful. You need
to be able to send that document to someone else and have them just print
it. There could be multiple pages inside for some reason. Perhaps
contribute code to them so they don't ha

[2016-08-05 19:51] tresf commented on #39
Good idea.  Couldn't find it on quick glance, but it should be hidden in here somewhere. https://github.com/pdfforge/PDFCreator

it. There could be multiple pages inside for some reason.

FYI, we're talking about multiple copies, not multiple pages and we're talking about the 3rd party Windows Virtual Print Driver "PDFCreator".  Kyle can test with other Virtual Print Drivers or a physical printer

[2016-08-05 22:18] klabarge commented on #91
Tested and works :+1:

[2016-08-06 15:48] dsanders11 commented on #81
@tresf, sounds good to me, I think HID should work well. I believe [pywin](https://pypi.python.org/pypi/pywinusb/) that I tested with is using HID and I got stable results with that, which makes me believe HID will work well. Looking forward to 2.0.1.

[2016-08-08 15:27] bberenz commented on #19
Adjusted with 5e7afd02e8ab30cd57877dd0f1984a9121ebcd88

[2016-08-08 22:27] lite1979 opened #92 "Using "Scale Content" in 2.0.1 breaks density logic"
Using either Ubuntu 14.04 or Linux Mint 17.3

In comparison with 2.0.0, pixel printing is mostly broken for thermal receipt (continuous paper) printers when using 'scale content'. Not using 'scale content' results in undesirable images being printed.

Using a zebra label printer, however, results are identical to the previous code.

Stack trace showed "no usable DPI" for my star printer, which mak

[2016-08-08 23:01] klabarge opened #93 "HTML printing w/ margins"
When I try to print HTML with margins set to my PDF printer on Ubuntu 14.04, the result is a `0kb` file.

I applied a 1" margin and this is the stacktrace:

[code]

[2016-08-08 23:11] klabarge commented on #93
Apparently there's a Virtualbox + 64-bit Linux guest + 3d graphics [bug with OpenGL](https://www.virtualbox.org/ticket/12746).  Here is a stacktrace on Ubuntu running on hardware.  Still results in a `0kb` file.

[code]

[2016-08-09 02:08] tresf commented on #92
The logs suggest the DPI couldn't be retrieved from the Epson and the Star printer.   The output of `lpoptions -p [PRINTER_NAME] -l` should explain a bit more why the DPIs can't be detected.

For most printers, something like this is returned: `Resolution/Output Resolution: 150dpi *300dpi 600dpi 1200dpi 2400dpi`, with `*300dpi` being the default resolution.  This is working for the Zebra driver as

[2016-08-09 08:16] vinhlh commented on #57
same problem with jquery barcode

[2016-08-10 01:12] lite1979 commented on #92
'PDFLabelZ' is the queue for 2d/pixel-based jobs sent to my Zebra LP2844-Z:

lite@lite-desktop:~$ lpoptions -p PDFLabelZ -l
PageSize/Media Size: w90h18 w90h162 w108h18 w108h36 w108h72 w108h144 w144h26 w144h36 w144h72 w144h90 w144h288 w144h396 w162h36 w162h90 w162h288 w162h396 w171h396 w180h72 w180h144 w198h90 w216h72 w216h90 w216h144 w216h216 w216h360 w234h144 w234h360 w234h396 w234h419 w234h563 w

[2016-08-10 01:21] tresf commented on #92
Ok.  Your original log file shows invalid density for `TSP650-Cutter,` ,`EPSON-XP-620-Series`.

Rather than providing a log with several tests that may not apply to the bug, let's make one single log that does.  In the mean time, I'll try to reproduce from a VM.

[2016-08-10 03:56] tresf commented on #92
Install and configure driver:

1. Downloaded and installed the TM/BA Series printer from [here](https://download.epson-biz.com/modules/pos/index.php?page=single_soft&cid=5012&pcat=3&pid=36).
2. Manually added printer as network HP/JetDirect and chose Epson TM BA driver when prompted.
3. Rebooted (only way to get printer to list in Java)
4.  Loaded up QZ Tray

Testing:

1. Printed using default set

[2016-08-10 05:48] tresf commented on #92
I did a bunch of tests but no matter what I kept getting a message `Stopped.  Filter failed.` and it was not consistent.

Sometimes the jobs would sit out there for 1 minute and eventually print, sometimes 3 minutes and
never print.

After opening up the jobs page, I noticed QZ Tray 2.0.0's jobs were more than twice the size (4MB) as compared to QZ Tray 2.0.1 (2.8MB, 1.5MB).

This seems to be caus

[2016-08-10 08:33] vinhlh commented on #57
+1

[2016-08-10 08:45] vinhlh commented on #57
do you have any estimation of how long this ticket will be resolved @tresf?

[2016-08-10 14:22] tresf commented on #6
Per popular demand, we've added `localhost.qz.io` as a public address which will route back to `127.0.0.1`.

This means `qz.websocket.connect(...)` can be modified to use the "Internet Zone" address to circumvent this issue, however it will require a batch file be run on each workstation.

This has been documented here: https://github.com/qzind/tray/issues/6#issue-140877895

[2016-08-10 14:43] tresf commented on #57
@vinhlh this is currently being tested on the `2.1` branch with success, but requires Java 1.8 as we've redesigned the way we do HTML printing in our `2.1` branch.

Compilation/packaging is dead-easy on Linux and Mac (Windows requires a few extra steps): https://qz.io/wiki/compiling

If you have some time to test the `2.1` branch, that will help us towards a RC release.

If you do not have an envi

[2016-08-11 04:11] tresf commented on #92
I tracked this down to a GhostScript bug with `GhostScript 9.10`.  Updating to GhostScript 9.15 fixes this issue.

Unfortunately, the latest version of GhostScript available for Ubuntu 14.04 is 9.10, so obtaining 9.15 requires [manual installation](http://askubuntu.com/a/675710/412004).

The technique I used was:

[code]

I can confirm that the PDF prints with all of the various options with Ghost

[2016-08-11 04:11] #92 closed

[2016-08-11 04:21] tresf commented on #93
Not able to reproduce (Java 8u77), although still suffering from #32.

![image](https://cloud.githubusercontent.com/assets/6345473/17578623/4f8ab534-5f59-11e6-98bc-10a91b370935.png)

I tried with the Epson, and it printed exactly as expected (scaling, natural size and margins).

Closing as invalid, since this does not appear to have changed behavior since 2.0.0.

[2016-08-11 04:21] #93 closed

[2016-08-11 04:56] tresf commented on #71
This is partially implemented in 2.1, which adds the ability to crawl CUPS and the Windows registry for some driver information.

The puzzle piece to complete this is the following:

Which will be implemented as as stand-alone JavaScript helper library called `sift` which will contain the listing of raw printer drivers as well as the listing of well-known virtual printer drivers.  This will be ava

[2016-08-11 08:15] vinhlh commented on #57
Yep, I had the same problem with you on Mac OS environment on `2.1` branch build.

[2016-08-11 11:17] tresf commented on #57
I had forgotten to mention, you'll have to turn rasterize off.

[2016-08-11 11:32] vinhlh commented on #57
@tresf

I tried with rasterize = false, but the result is still the same
I added some debug code to validate the image's quality. Tt's good, but on paper, texts and barcodes are bad
![](http://i.imgur.com/mi2ZehO.jpg)

this is direct print version
![](http://i.imgur.com/AFO2aX5.jpg)
[code]

[2016-08-12 03:26] tresf commented on #57
@vinhlh, albeit mostly unrelated to this bug report I'm fairly certain the Mac print libraries are incapable of proper thermal printing due to an upstream bug.

Here's where we tested against this bug quite extensively: https://github.com/qzind/tray/issues/38#issuecomment-215884556

Our workaround for Mac is done here https://github.com/qzind/tray/commit/7b8d27c7eae7a1a7315065f7bd4b8b4b644c9216 bu

[2016-08-12 04:11] tresf commented on #57
Ok, update.... If I use jquery_barcode, the barcode looks really good.  Attached is 2.1 printing to a Zebra LP2844 on OS X 10.11 El Capitan.  Sample code here: [jquery_barcode.zip](https://github.com/qzind/tray/files/414610/jquery_barcode.zip)

![screen shot 2016-08-12 at 12 10 38 am](https://cloud.githubusercontent.com/assets/6345473/17612549/41af61a8-6021-11e6-9044-bc2b0023d6e2.png)

[2016-08-12 04:34] vinhlh commented on #57
@tresf
it seems your printing version is quite different with the original version.
![](http://i.imgur.com/ZjhUlTx.png)

[2016-08-12 04:50] tresf commented on #57
@vinhlh yes, there is.  This was only meant to illustrate the print quality, not layout accuracy of the JavaFX engine.

[2016-08-12 05:01] tresf commented on #57
@vinhlh here's a better example.  Apparently JavaFX was zoomed out too much causing some strange rendering with the divs.  This one does't need the special 4x6 dimensions.

[jquery-barcode2.zip](https://github.com/qzind/tray/files/414648/jquery-barcode2.zip)

![screen shot 2016-08-12 at 1 00 57 am](https://cloud.githubusercontent.com/assets/6345473/17613166/41d23e7e-6028-11e6-9585-7f786908085a.png

[2016-08-12 05:20] tresf commented on #19
For the new sample page, let's specify the following:
[code]

ESCP is the one I'm not too sure about.  I know we use `ESC *` technique which is clearly defined in the ESCP2 manual, but I can't find much reference to ESCP1 anywhere, perhaps @lite1979 can dig up more information.

Also, no need to show `Image X` and `Image Y` for anything except EPL2 (or CPCL, if it gets added eventually).

[2016-08-12 05:31] tresf opened #94 "Find All Printers IndexOutOfBoundsException"
Happening with 2.1.  Haven't tested with 2.0 yet.

I believe this is happening because `Description` is blank.

Backtrace:
[code]

[code]

[2016-08-12 05:45] tresf commented on #19
Some testing:
 * For our 8.5 x 11 `pdf_sample.pdf` sent via EPL2 render width of `812` to the Epson printer, this feature works great
 * When testing the `fourbysix.pdf`, render width of `812` it prints very small in upper right corner.

Any idea why the smaller PDF is printed so small?

[code]

[2016-08-12 15:35] klabarge commented on #93
Upgrading GhostScript to version 9.15 resolved this for me.

Steps from bug report [#92](https://github.com/qzind/tray/issues/92):

[code]

[2016-08-12 15:35] bberenz commented on #19
Looks like I never had the pdf scale when the size was set..
1d4e577444484eb77b09aebffdf94139519ab7e4 should fix your issue.

[2016-08-12 21:49] tresf commented on #57
Closed via https://github.com/qzind/tray/commit/9f47456a02f4a49b22db71c99c2098c16e5140e9 (2.1 branch)

[2016-08-12 21:49] #57 closed

[2016-08-12 21:53] tresf commented on #19
@bberenz is there a good reason why the pageWidth and pageHeight are in pixels rather than units?

[2016-08-12 22:22] bberenz commented on #19
Because we don't take in a `units` option for raw printing.

[2016-08-12 22:33] tresf commented on #19
So, I've tested this.

 * Against 203 dpi Zebra printer, pageWidth of `812` and results are pretty good.  Here's a side-by-side of desired and actual.
   ![image](https://cloud.githubusercontent.com/assets/6345473/17638790/94bf8e56-60ba-11e6-8512-41a25dffc72a.png)

The printable area seems to be slightly under 812 (203 * 4), so adjusting this to 800 seems to fix this in the right direction.

 * Ag

[2016-08-12 22:33] #19 closed

[2016-08-12 22:42] tresf commented on #67
After a conversation with @bberenz, the Ionic/Angular library being mentioned must have an issue where it does not check for `hasOwnProperty`.  Closing as won't fix for now.  Please reopen if this was closed in error.

[2016-08-12 22:42] #67 closed

[2016-08-13 03:26] #94 closed

[2016-08-15 02:00] tresf commented on #35
We have official Oracle support now, ,this issue can be escalated.  Can you please tell us if the crash still occurs?  Are you still on the same OS?  Does the crash produce a `hs_err_pid` file?   Oracle requires teh crash files `hs_err_pid`  as part of the bug reports.

[2016-08-15 22:01] rmosolgo commented on #35
I've a had a couple of crashes in last month or so, but i didn't look into it since i knew we were just waiting (and as far as I can tell, no customer has reported it so ... no news is good news :P). But when it happens again, I'll look for that file!

[2016-08-15 22:11] tresf commented on #35
@rmosolgo thanks.  I should be getting a Macbook Air in a couple of weeks and I'll have the equipment to reproduce.  Since this is upstream, I'm closing it out on our tracker, but we can continue to provide status updates here.

[2016-08-15 22:11] #35 closed

[2016-08-16 03:06] tresf commented on #39
This was tested and working.  There's something wrong on Mac, it prints blank 50% of the time.  We'll need to file a separate bug report for that as it doesn't seem to occur on Windows.  Closing out as resolved.

[2016-08-16 03:06] #39 closed

[2016-08-18 03:14] tresf commented on #90
Closed via https://github.com/qzind/tray/commit/593d63222ae6ecff2100a89e30e7e9337d07984b

 * ANT documentation:  https://qz.io/wiki/Compiling#advanced
 * `qz-tray.properties` documentation:  https://qz.io/wiki/Compiling#advanced

This feature will be available with the future 2.0.2 release.

@dsanders11 @onurguzel, FYI + testing appreciated.

[2016-08-18 03:14] #90 closed

[2016-08-18 08:34] vinhlh commented on #57
@tresf  using scaling WebView (instead of setZoom with 1.0) solves my barcode accuracy's problem.

[2016-08-18 14:01] tresf opened #95 "Append multiple PDFs"
Appending multiple PDFs in a row seems to be broken.

The expected behavior is 3 PDFs are printed, but the actual behavior is only one is printed.

[code]

[2016-08-18 15:02] tresf commented on #95
Patched via https://github.com/qzind/tray/commit/a4171b07353ada2291fa74a0e8db7a3b1f383c2d.  Awaiting test results.

[2016-08-19 04:33] tresf commented on #95
a4171b0 passes partly, but the resulting document is always in A4 size regardless of the source document size.   @bberenz any ideas?

[2016-08-19 04:35] tresf commented on #95
**Edit:** on Mac the resulting document is always in A4

[2016-08-19 04:44] bberenz commented on #95
Is this seen only on mac? It might be the way we merge, but I'd think that could be indicative of a pdfbox bug if the others are fine.

[2016-08-19 06:46] tresf commented on #95
I don't know, but `PDPage()` default constructor [seems to be US Letter](https://pdfbox.apache.org/docs/2.0.2/javadocs/org/apache/pdfbox/pdmodel/PDPage.html#PDPage()), which contradicts the A4 size I'm observing if it's a PDFBOX problem.

If this is another Mac-only bug, we may have to send each page as a separate job.  This will require more testing.

[2016-08-19 07:15] tresf commented on #95
My mistake.  PDF's don't select matching paper yet.  Once I specified 4x6, they all printed to the specified size.  Linux testing exposed this as everything was 8.5x11 until I manually specified 4x6.  I think we're just fine here.  Closing as resolved.

[2016-08-19 07:15] #95 closed

[2016-08-22 19:36] tresf commented on #57
2.0 or 2.1?  Can you elaborate a bit more?

[2016-08-23 02:36] vinhlh commented on #57
2.1, when using jquery barcode with width = 1px, just make sure that don't use setZoom < 1.0. this will create the barcode accuracy's problem.
instead, can use this function `webView.getTransforms().add(new Scale(0.75, 0.75));` to scale the webview.

[2016-08-24 14:52] tresf commented on #57
@vinhlh opening a new issue for this, thanks.

[2016-08-24 14:53] tresf opened #96 "HTML zoom problems"
instead, can use this function `webView.getTransforms().add(new Scale(0.75, 0.75));` to scale the webview.

@bberenz if @vinhlh's advice is correct, should we patch the [72/96 logic](https://github.com/qzind/tray/blob/2.1/src/qz/printer/action/WebApp.java#L84) to use a transform instead?

[2016-08-24 16:04] tresf opened #97 "Transparency is printed as black"
For some PNG images, image transparency is interpreted as black.

1. Print the attachment [transparent_rgb.png](https://cloud.githubusercontent.com/assets/6345473/17938052/6c54e830-69f2-11e6-98f7-d4817a3038be.png).  Notice the transparent pixels are printed as white.

   ![image](https://cloud.githubusercontent.com/assets/6345473/17938162/d0be1314-69f2-11e6-8b76-139fe780e63d.png)

2.  Print the at

[2016-08-24 16:41] #97 closed

[2016-08-24 22:00] bberenz commented on #41
Implemented via b297efcc4538575c6b6b4163eeab7f796d5a2949

Folder "shared" will be created in the install location for global scope lists. This will subsequently require elevated privileges to write to (either adding or deleting).
Any items in the shared lists will take priority over the user lists.
A new checkbox is shown in the gateway dialog to extend persistence to all users.
Any items added to

[2016-08-25 15:18] bberenz commented on #96
I can't replicate the issue with barcodes as he's describing. But using scale seems to keep the page layout better than zoom does, so it would make sense to change it over:
dd1451f4cbfc0d1ae4e037a80ff806a8cdc9baee

[2016-08-25 15:18] #96 closed

[2016-08-26 01:48] tresf commented on #60
FYI, @Tusantes is currently looking into the feasibility of JAppIndicator.

[2016-08-26 15:40] tresf opened #98 "USB isClaimed"
#Currently if a USB device is already claimed (either through USB or HID api) there's no way to find out without throwing an exception.

A new feature `qz.usb.isClaimed`, `qz.hid.isClaimed` would prevent the need to catch an exception.

[2016-08-26 16:33] bberenz commented on #41
Writing removed with 4e72ec968708c4ac075e575e567e8966f7a0e4fb

[2016-08-26 17:09] tresf commented on #57
@vinhlh FYI, implemented your suggestion on 2.1 branch per https://github.com/qzind/tray/commit/dd1451f4cbfc0d1ae4e037a80ff806a8cdc9baee.

[2016-08-26 17:44] tresf commented on #41
Tested, works. :+1:

[2016-08-26 17:44] #41 closed

[2016-08-26 19:09] bberenz commented on #98
Implemented via 5de034c4fcac4f9f300b57b94cc419675148b702

[2016-08-26 19:09] #98 closed

[2016-08-31 06:59] ztlyde opened #99 "key is too short for SigAlg: keylen=99,sha1"
My private key generated by the JDK tools keytool, when using this jsrsasign.js signature appear this error 'Uncaught key is too short for SigAlg: keylen=99,sha1'

But I don't have any problems in Java.

[2016-08-31 07:02] #99 closed

[2016-08-31 13:01] tresf commented on #99
As a followup, per https://github.com/qzind/tray/blob/2.0/assets/signing/sign-message.js#L29:L40

Duplicate of https://github.com/qzind/tray/issues/1.

[2016-09-02 18:00] tresf commented on #71
Fixed via: https://github.com/qzind/tray/commit/838320b2996d3826c37bfa6d25f689e6d65a2d14.  Next steps:

 * Test out the sift library
 * Document the feature for the 2.1 branch.

[2016-09-06 12:55] tresf opened #100 "HTTPS support broken on Firefox"
**Edit:** This only affected a build uploaded to https://github.com/tresf/tray/releases/tag/v2.0.1-pngfix.  It appears this was a packaging problem.

Duplicate of 32d613f.

---

Lastest master branch, `wss://` is broken on Firefox.  This does not impact 2.0.1.

[2016-09-06 13:42] tresf commented on #100
Duplicate of 32d613f.  Falsely reported due to a packaging issue on our end.  Fixed with a clean build.

[2016-09-06 13:42] #100 closed

[2016-09-08 04:25] tresf opened #101 "Use Node.js sha256 automatically"
Currently we recommend the below shim if using `qz-tray.js` with Node.js, however since `crypto` is already part of Node.js base install we should be able to calculate this and skip the additional step.  Related #13

@bberenz can you please help locate a place for this in the library?

[code]

[2016-09-08 04:46] #13 closed

[2016-09-08 05:19] tresf commented on #13
Published to `npm` here: https://www.npmjs.com/package/qz-tray

`npm install qz-tray`

To update the npm documentation:

 1. Edit `js/README.md`
 2. Edit `js/package.json`
 3. `npm publish`

[2016-09-08 17:44] tresf opened #102 "Serial n-th byte contains packet length"
When a serial configuration is first created, it can be configured to use:
1. Fixed packet length
2. Dynamic packet length based on `STX` and `ETX`

We have a request to allow serial to use the `n-th` byte to determine packet size.

[2016-09-08 17:56] tresf commented on #101
@bberenz

how about:

[code]

[2016-09-08 18:03] bberenz commented on #101
That adds a lot of extra checks every hash call, it might just be easier to set it up once on export:

[code]

[2016-09-08 20:08] tresf commented on #101
Gross, but I think we'll have to do this...

[code]

[2016-09-08 21:00] #101 closed

[2016-09-09 13:43] tresf opened #103 "getNetworkInfo: Force Non-Blank MACs"
Some customers use the MAC Address returned from [`getNetworkInfo`](https://qz.io/api/qz.websocket#.getNetworkInfo) as a way to assist with their own internal product licensing.

Unfortunately, some VPN products return [blank MAC addresses](https://kc.mcafee.com/corporate/index?page=content&id=KB78880) confusing the licensing software.

This is a placeholder to allow [`getNetworkInfo`](https://qz.

[2016-09-14 04:49] tresf commented on #4
Windows is implemented on my own copy of the 2.1 branch via https://github.com/tresf/tray/commit/e7bbf05d70cceed2ca0536fda45571afa2c60591.

[2016-09-14 09:31] jstans opened #104 "setPromiseType bluebird"
I am using: qz.api.setPromiseType([Promise.fromCallback](http://bluebirdjs.com/docs/api/promise.fromcallback.html)) at the start of my code with the latest version of bluebird but my qz promises are rejecting rather than resolving (with the data as the argument), is Promise.fromCallback expecting arguments in the order qz sends them in?

bluebird: 3.4.6
qz: 2.0.1 current commit

[2016-09-14 12:47] atvvarna opened #105 "authcert.override in properties is not working"
Hello,
I tried to add in qz-tray.properties
authcert.override=C:\\Program Files\\QZ Tray\\auth\\override.crt
or
authcert.override=override.crt
(override.crt is in both locations) but it seems it skip my settings.

Command java -Xms512M -DtrustedRootCert=override.crt -jar qz-tray.jar  works fine.

Regards,
Alex

[2016-09-14 13:12] tresf opened #106 "ReferenceError: navigator is not defined"
When using `qz-tray` from npm, with Node v6.5.0 `qz.websocket.disconnect` throws an error.

[code]

[2016-09-14 13:23] #106 closed

[2016-09-14 14:05] tresf commented on #104
@jstans our documentation was missing a line...

[code]

I would even go as far as to recommend explicitly using a variable such as `BlueBird` as to hide the built-in global `Promise` object.

[code]

If this extra step is not taken, Node will attempt to use the built-in `Promise` type which does not have a `fromCallback` function.

We've added this into our tutorial:

https://qz.io/wiki/2.0-API-O

[2016-09-14 14:15] jstans commented on #104
Apologies, I should have been a bit more clear. I'm using bluebird in the browser, which I believe overrides window.Promise, so won't use a commonjs syntax.

[2016-09-14 14:25] tresf commented on #104
@jstans I can attempt to reproduce later..
1. What version of Bluebird?
1. Any other special things to consider (browser version, etc)?
2. What if you use the basic logic instead, does that fix it?

[code]

[2016-09-14 14:55] jstans commented on #104
Bluebird is 3.4.6 installed via bower.

The basic logic seems to work fine!

I now unfortunately have non-qz problems with a module which I suspect is extending the Promise object which is causing unintended behaviour but I've checked that it's not what caused fromCallback to not work.

[2016-09-14 15:22] tresf commented on #104
Ok, updated per via https://qz.io/wiki/2.0-API-Overrides.

Closing, but feel free to continue using this bug to report your findings as others are likely to encounter them as well.

[2016-09-14 15:23] #104 closed

[2016-09-14 17:09] tresf commented on #105
@atvvarna can you please try to escape your backslashes?

e.g.
[code]

This is what our chained NSIS technique does and this is what was tested for the `2.0.1` release.

https://qz.io/wiki/compiling#ant-command-line

[2016-09-14 17:14] atvvarna commented on #105
Ok, I will test tomorrow but I do it that way as the upper properties where in that format.
I tried with only =override.crt but same.

[2016-09-14 17:36] tresf commented on #105
@atvvarna as long as you're on 2.0.1 or higher, the `authcert.override` should be picked up automatically via https://github.com/qzind/tray/blob/2.0/src/qz/auth/Certificate.java#L86.

[2016-09-14 17:42] atvvarna commented on #105
I'm with latest version I will post some screenshots tomorrow.

[2016-09-15 02:06] tresf commented on #4
Linux is implemented via https://github.com/tresf/tray/commit/9d75d13b1343cd053c9dc3c98a436f02565c41c8

[2016-09-16 00:05] Tusantes commented on #60
@vkosachev, @tresf

Update:

Tried testing feasibility of JAppIndicator via running a test application that attempted to use a default icon. During testing icon failed to load and a "failsafe" (for lack of a better term) took the icon's place. Because of the lack of backing behind the JAppIndicator utility, @tresf  has tasked me with looking into an alternative that may fix the issue.

Currently w

[2016-09-16 05:20] tresf commented on #4
Mac done.  PR opened #107.

[2016-09-16 09:55] vkosachev commented on #60
@Tusantes thanks for your support

[2016-09-17 01:31] tresf commented on #105
@atvvarna apologies for the confusion, this feature is [only available in 2.0.2 (unreleased and higher)](https://github.com/qzind/tray/pull/64#issuecomment-237578951).  This means you will need to compile from source  to try this feature out before the official 2.0.2 release.

Please reopen this issue if the feature is broken with the latest build from the 2.0 branch.

[2016-09-17 01:31] #105 closed

[2016-09-19 02:38] tresf commented on #102
Albeit inefficient, I believe just returning 1-byte at a time will suffice these use-cases, however the following example doesn't work...

[code]

According to @bberenz

We'd need to change to split it out if the response is greater than specified length

[2016-09-19 03:37] tresf commented on #103
So it turns out that detecting virtual MACs may be a matter of algorithm.

http://serverfault.com/questions/40712/what-range-of-mac-addresses-can-i-safely-use-for-my-virtual-machines

This would be a much better approach than blindly matching against what we consider "blank".  May be a good job for [sift](https://github.com/qzind/sift) but wed' need a new option of listing ALL Mac addresses so tha

[2016-09-19 20:49] akhare22sandeep opened #108 "How to get DPI of attached printer"
Hi ,
Is there any way to get DPI information of connected printer ?
Please advice as i have to change the label depending on 300 or 600 DPI.

[2016-09-19 20:58] tresf commented on #108
Not in 2.0.

2.1 has this, but you'll need to compile from source.

https://github.com/qzind/tray/blob/2.1/sample.html#L1025

[2016-09-19 20:58] #108 closed

[2016-09-21 01:58] tresf commented on #4
Squashed and merged #107. Closing as resolved.  This feature will be available in 2.1.0.

[2016-09-21 05:08] tresf commented on #103
@bberenz here's the rough draft of the parsing logic... feedback welcome.

[code]

[2016-09-24 03:03] tresf commented on #103
@bberenz initial logic pushed to `netinfo` branch of sift library: https://github.com/qzind/sift/commit/be477f04db5a83418ddd512669780c5400ea5b5f.  Opinion on the following appreciated:
 1. Utility functions (`_isBurnedIn(...)` and family) ... where should they live?  Where's a better place?
 2. Do the properties `burnedIn: true, ...` and family look OK?  Will these be easy to pass through `keep`/`

[2016-09-24 08:12] bberenz commented on #103
Your design pattern here goes against how the Driver and Vendor objects have been set up.
Those objects hold only predetermined assigned variables, and then there is an external list that defines what those values would be for a given input. Yours tries to hold and compute all of this internally.

A better setup then, would be to have the Mac object take parameters of the macAddress, burnedInState

[2016-09-24 14:36] tresf commented on #103
I thought of this, but
 * The burned-in state isn't `true`, it's calculated.
 * Current Driver and Vendor design is harder to read when applied to MACs my opinion; especially when adding new items.  `notBurnedIn = ['00-00...']` seems easier to read over `new Mac('0000...', false, false)`.

If we were to use the Driver and Vendor design, it seems it would make more sense to do it like this:

[code]

[2016-09-26 00:49] Tusantes commented on #60
Good Evening @vkosachev , just wanted to get you an update as to our progress with this bug:

Currently, we've been able to get the SystemTray functional via proof of concept and are in the process of developing a wrapper for QZ Tray.

![screenshot from 2016-09-25 20 47 12](https://cloud.githubusercontent.com/assets/12675784/18819589/7d62a828-8361-11e6-9c39-2b1051631c30.png)

We grabbed the depend

[2016-09-26 18:15] tresf commented on #60
@Tusantes looks like `SystemTray` 3.0 may be [even better](https://github.com/dorkbox/SystemTray/issues/22#issuecomment-249650590).

On hi-resolution displays, Java distorts the tray icon, but [`@dorkbox` has managed to hack a fix](https://github.com/dorkbox/SystemTray/issues/20#issuecomment-249616695).

[...] using JNA to perform the bytecode injection.

[2016-09-28 01:39] tresf commented on #67
@bberenz some more information on this from another client...

[code]

[2016-09-29 23:15] klabarge commented on #71
### Windows Testing

* sift library with the following code:
[code]

* available printers:

 ![image](https://cloud.githubusercontent.com/assets/12505463/18975052/654911d4-8675-11e6-9645-2246ce5f8794.png)

**Test 1:** `var data2 = sift.keep( data, { type: 'raw' });`

 ✔️ returns just "Raw Print To File"

**Test 2:** `var data2 = sift.toss( data, { type: 'raw' });`

 ✔️ returns everything except "R

[2016-09-30 02:01] tresf commented on #71
@klabarge 👍 .  Shall we add this to the draft 2.1 wiki and close?

[2016-09-30 04:24] klabarge commented on #71
I tested the sift library on Windows, Mac, and Linux and it seems to work great!

 I added a code snippet to the [2.1 Raw Printing draft](https://github.com/klabarge/qz-tutorials/wiki/2.1-Raw-Printing#filter-printers), although I will need to polish it up a bit.

I will add a similar example to the Pixel Printing guide.

[2016-09-30 04:24] #71 closed

[2016-10-04 09:45] xewl opened #109 "Non-Explicit call can result in: Cannot read property 'promise' of null"
Inside qz-tray.js there's a line checking if a certain value is not undefined.
This line results into this error in Chrome:
`Uncaught TypeError: Cannot read property 'promise' of null`

Line 163 of qz-tray.js
`if (_qz.websocket.connection.promise != undefined) {`

Isn't it better to check like this?
`if (typeof _qz.websocket.connection.promise != 'undefined') {`

[2016-10-04 14:31] tresf commented on #109
Yes, I believe so.  We'll review and follow-up, thanks.

[2016-10-04 15:34] bberenz commented on #109
That error is stating that `_qz.websocket.connection` is null, so your change wouldn't fix anything.
Though I'm not sure how you'd manage that since the `onclose` method called is defined on that very connection object.. Any chance you can share the code you are calling that causes this error?

[2016-10-04 15:52] bberenz commented on #103
The filtering can do calculations, each list gets passed to its own internal filter method.
But in this case, if there will never be another non-burned-in value to run a check against, we could drop the field from the object. Use it instead as just a list of VM addresses, since those should be static. Then move the calculated field to its own call on the sift object, similar to the `parse` method.

[2016-10-04 16:07] tresf commented on #103
Yeah, that's much easier to read.  Something about LSB in the comments will help explain the burned-in status.

[2016-10-04 16:09] tresf commented on #103
Note, VM is not a he same as not-burned in.   Although one can assume VM is never burned in, the opposite can not be assumed.  Just because it's not burned-in dies not mean it belongs to a VM.

[2016-10-05 03:24] tresf opened #110 "Compat for old MacOS printer naming"
* 2.0, printers on MacOS are matched on [description](https://github.com/qzind/tray/blob/2.0/src/qz/printer/PrintServiceMatcher.java#L48). e.g. `Zebra LP2844`
 * 1.9, printers on MacOS are matched on [printer name](https://github.com/qzind/qz-print/blob/1.9/src/qz/printer/PrintServiceMatcher.java#L78). e.g. `Zebra_LP2844`

For QZ Tray upgrades, this can pose a problem.  Often websites will cache t

[2016-10-05 09:57] xewl commented on #109
I'm currently not sure in what code-setting I occurred this incidental error, I should've noted the steps yesterday when the problem was "fresh".

It didn't occur for now, while testing my workflows here.

Maybe the better check is
``if(typeof  _qz.websocket.connection.promise !== 'undefined' && _qz.websocket.connection.promise) {``

Will be `true` if the value is **not**:
null, undefined, NaN, em

[2016-10-05 15:57] bberenz commented on #109
We are using a single non-equality check (`!= undefined`) which does cover both `undefined` and `null`, as opposed to the double non-equality check (`!==`) which would only do `undefined`.
We could do the boolean entity check (`!!_qz.websocket.connection.promise`) like you have there,  but as we don't need to check for NaN or empties (it will always be null or an object) there isn't much incentive

[2016-10-06 18:53] #110 closed

[2016-10-06 19:14] tresf opened #112 "qz-tray.js - Self aware of version number"
Currently we have a way of checking out what version of `qz-tray.jar` is on the system, but no way of comparing that to the `qz-tray.js` used in the browser/website.

`qz-tray.js` should be self-aware of it's version number so that developers can do version comparisons, etc.

[2016-10-07 14:15] dariusve opened #114 "authcert.override it's bypassed on the qz-tray.properties"
I put the:
`authcert.override=C:\\Program files\\QZ Tray\\auth\\override.crt`
on the qz-tray.properties and it's not loaded, but when I run the qz-tray manually:
`java -Xms512M -DtrustedRootCert=override.crt -jar qz-tray.jar`
the digital certificate it's loaded with no problem.

[2016-10-07 15:07] tresf commented on #114
@dariusve if you're using 2.0.1, this is by design.  This feature won't be available from our downloads page until 2.0.2 is released.  Per https://github.com/qzind/tray/issues/105#issuecomment-247741364.

If you've compiled from source and still having this problem, please reopen.

[2016-10-07 15:07] #114 closed

[2016-10-10 15:02] xewl opened #115 "Raw printing (ZPL) not abiding print options"
I'm having another issue with the current version of QZ Tray (2.0.1)

HTML, Images and PDF seem to listen fine to my request with custom print-options/configs.
However, when I do a RAW print with ZPL-code, it seems to ignore at least these 2 options, entirely:
- `orientation`
- `rotation`

Whatever I change about these, end up in the exact same print-job.

- I can not verify options like `color`.

[2016-10-10 16:03] tresf commented on #115
@xewl thanks for submitting a bug on this.

Raw printing bypasses the driver settings.  This is true for all raw printing and is not specific to Zebra printers.

We haven't and have no plans to write rotation and orientation for each raw language.  Instead, reference [the programming manuals and adjust your raw commands accordingly](https://km.zebra.com/kb/index?page=content&id=SO8075).

If you fe

[2016-10-10 16:03] #115 closed

[2016-10-11 06:54] dsanders11 commented on #50
@klabarge, using those steps, does QZ Tray work perfectly on the RPi3? Can JavaFX or OpenJFX be skipped if not printing HTML?

[2016-10-11 13:30] klabarge commented on #50
@dsanders11, we haven't done a ton of bench marking with the RPi3, but our sample page/prints work well. We know of one client live with this setup. On Raspbian Jessie, the tray icon isn't the correct size.

Correct, JavaFX is only needed for HTML printing.  All other printing techniques work.

What type of printing do you plan on using?

[2016-10-12 02:36] dsanders11 commented on #50
Just some ZPL printing, possibly EPL in the future. We don't really need to use the RPi3, but we have a spare one and using it would certainly make the Zebra printer more mobile than it currently is tied to a desktop computer, so that is appealing.

[2016-10-13 00:41] klabarge commented on #50
Any raw printing should work great with this setup. The only reason this bug is still open is because:

1. The tray icon
1. JavaFX or OpenJDK
 * I need to test, provide steps (or rule it out)

If you need any testing done let me know.

[2016-10-14 03:53] tresf opened #116 "Run as a Windows Service"
Enhancement placeholder to run QZ Tray as a Windows Service, milestoned for the 2.2 release.

Note;  A prerequisite to starting this task is Headless Support (#51) which is milestoned for the 2.1 release.

Possible utilities for creating a Windows Service:

 * [`sc`](https://technet.microsoft.com/en-us/library/cc990289%28v=ws.11%29.aspx) command on Windows (may not be useful as a standalone tool)

[2016-10-14 09:43] mrwedders opened #117 "Some config options ignored on Windows"
Hi everyone,

I'm using a built-from-source version of QZ Tray (so I can use my own certs, no other changes) in production on a Windows 7 machine, and a Mac which is my dev machine, both with Zebra GK420d printers (using the ZDesigner driver on Windows).

We have a certain PDF which is A4, but for speed reasons we want to print these on our 4x6" labels. Normal portrait orientation is too small, bu

[2016-10-14 20:51] tresf commented on #117
Have you tried a 4x6 PDF with a 4x6 size specified?

4x6 PDF: [barcode.pdf](https://github.com/qzind/tray/files/426462/barcode.pdf)

We've had the best results when the PDF is the same dimensions as the paper and the paper size ia expliciy defined.

If compiling from source, you may also be happy with 2.1 which offers a new feature to raster the PDF to pure ZPL/EPL.

https://github.com/qzind/tray/

[2016-10-17 06:43] jetharamchoudhary opened #118 "Not able to have secure connection for server side printing"
HI Team,

We are using one of our machine as a host and sending request from another machine for HTML printing using Qz software.
                Everything is working fine and client devices are sending requests to host for printing over insecure http connection. We want this connection to be secure. If anyone can help us over here how to establish secure https connection as the documentation pro

[2016-10-17 07:46] jetharamchoudhary commented on #117
HI @mrwedders

How are you using you certificates for QZ Tray. We also want to use but have no idea from where to start.

Could you please help us setting up those certificate. You also mentioned that you are using MAC device. We stuck in using Qz on IPAD.

Any help would be much appreciated.

Thanks,
Jetha

[2016-10-17 13:05] mrwedders commented on #117
Hi @tresf: Changing the document paper size isn't really an option - the PDFs in question are shipping documentation we're receiving directly from the courier. I have looked in to how we could modify the paper size and/or crop the document in our server side Perl, but most methods looked complicated and bulky so I was a bit put off!
I'll take a look at the ZPL/EPL stuff in 2.1, that sounds interes

[2016-10-17 14:30] mrwedders opened #119 "Invalid memory access when trying to access HID devices"
Hi everyone,

I've been using QZ Tray (2.0.x, built from source a couple of weeks ago) for printing without any issues, but my employer recently got a bunch of Dymo USB scales which didn't have any bundled software to send the reading to any application. After going round the houses a bit with WinUSB in C I realised QZ can do this too!

My implementation is working fine, except it occasionally fai

[2016-10-17 14:49] tresf commented on #119
@mrwedders which OS?  So far we've had reports of this on Windows XP but none others.

I also assume you're on either 2.0.1 or the latest compiled from 2.0 branch.  I'll quote the client we're working on this bug with...

error path. This avoids processing of HID reports when the probe fails
which possibly leads to invalid memory access in `hid_device_probe()` as
`report_enum->report_id_hash` migh

[2016-10-17 15:17] tresf commented on #117
I'll step back a bit and address the OP's questions...

This sounds peculiar.  The way Java and the driver generally work is it will print to the best matched configuration.  This should be identical between both systems.  For example, if you are specifying a paper size of 4x6 and landscape in the configuration, the Zebra driver should honor this and print accordingly.

We actually had to write [c

[2016-10-17 16:01] mrwedders commented on #119
This is on Windows 7 x64, AMD A6-3500, 8Gb RAM, running Java 8u101. I reproduced it on another Windows 7 x64 machine with similar hardware. I've now got the error logs from the PC where the issue first appeared and the errors are identical (well, $Proxy7 rather than $Proxy6, but I'm guessing that's immaterial).

This is a compile from the 2.0 branch, 2-3 weeks old now. I'll rebuild from the latest

[2016-10-17 16:05] tresf commented on #118
Please be more specific as we consider our documentation to be [quite comprehensive](https://qz.io/wiki/print-server#remove-localhost-bindings).

You will need to [distribute your certificate to clients](https://qz.io/wiki/print-server#copy-files-to-client).  This is standard SSL and would apply to all HTTPS traffic in your organization.  The part which is not immediately obvious is:

1. Our certs

[2016-10-17 16:05] #118 closed

[2016-10-17 16:10] tresf commented on #119
I don't know the answer to this question.  The HID library is a C++ library written by another team.  We can escalate issues with community support or issue pull requests against their code if the problem is specific to the upstream library.

On that note, if you can reproduce, are there code snippets you can provide?  In the case of our other report of this same exact issue it was very intermitte

[2016-10-17 16:28] mrwedders commented on #119
I managed to reproduce it by basically repeating the process that gets the weight until it happened - it didn't take that many attempts! I'll have a better play with it tomorrow and see if I can come up with a reliable way to reproduce it.

I could also try letting one of the machines run Windows Update to see if it makes any difference, but that might take some time!

All the code is basically ad

[2016-10-17 17:21] tresf commented on #119
@mrwedders have you considered using [`startListening`](https://qz.io/api/qz.hid#.startListening) if the device isn't found rather than the looping method?

There are a few potential race conditions I see:

1. When navigating away from a page `beforeunload` you may still have a `setTimeout(self.qzFindDymoUSBScale, 1000);` lingering.  You should find a way to cancel that so a scheduled poll doesn't

[2016-10-17 21:18] akhare22sandeep opened #120 "How to check if printer support ZPL commands"
Hi Team,
Till now i was using Default printer to find and print ZPL commands. Now i need to find a way if in the list of printers is there any printer which supports ZPL commands ? please advice .

Regards
Sandeep Akhare

[2016-10-17 21:28] tresf commented on #120
ZPL?  No.
Raw, yes.

Starting with 2.1 per https://github.com/qzind/tray/issues/71#issuecomment-250618777 we have a method for fetching whether or not a printer supports raw printing.  This library is only as good as the [data we provide to it](https://github.com/qzind/sift/blob/master/sift.js#L94), so please help add driver information as it's discovered.

[2016-10-17 21:28] #120 closed

[2016-10-18 05:02] tresf commented on #103
Started support for all Mac addresses via https://github.com/qzind/tray/compare/2.1...netinfo

![image](https://cloud.githubusercontent.com/assets/6345473/19464911/281d4aa2-94ce-11e6-947c-d0564c49d875.png)

@bberenz feedback appreciated.

[2016-10-18 06:38] jetharamchoudhary commented on #118
I followed the below step1 and replaced localhost with some IP address and it works fine with 8182 port means on insecure port http.

SO what needs t be done to make this communication over https.

Thanks,
Jetha

From: Tres Finocchiaro [mailto:notifications@github.com]
Sent: Monday, October 17, 2016 9:35 PM
To: qzind/tray <tray@noreply.github.com>
Cc: Jetharam Choudhary <jechoudhary@apttus.com>; A

[2016-10-18 06:54] ScutelnicuIonel opened #121 "[BUG] in _qz.tools.stringify function"
#113 - description can be found in this pull request

[2016-10-18 13:37] tresf opened #122 "Error initializing QuantumRenderer: no suitable pipeline found"
From an email thread.

[code]
[code]

[2016-10-18 14:25] tresf commented on #118
You need to either [distribute your certificate to clients](https://qz.io/wiki/print-server#copy-files-to-client) or shim a Trusted CA certificate for your particular domain.

[2016-10-18 20:14] klabarge commented on #122
I am unable to reproduce this error in either Windows 7 or Ubuntu 14.04

* **OS:** Ubuntu 14.04 32-bit and Windows 7 32-bit
 * **Note:** Both of these were VM's configured with Oracle Virtualbox
* **Java:** 1.8.0_101
* **QZ Tray:** 2.0.1

These were the steps I had taken in attempt to reproduce the issue:

1. Installed the latest 32-bit version of Oracle Java
 * **Ubuntu:** Via [adding the webupd8

[2016-10-18 20:16] tresf commented on #122
@klabarge thanks.  We'll close as invalid then.  👍

[2016-10-18 20:16] #122 closed

[2016-10-19 02:01] tresf commented on #117
@jetharamchoudhary You're likely talking about configuring SSL for use with an iPhone/iPad.  This is a different certificate entirely.  For Trusted SSL on all browsers:
 1. Generate a [JKS/CSR from your certificate provider](https://www.digicert.com/csr-creation-java.htm)
 2. [Import the cert back into that same JKS](https://docs.oracle.com/javase/tutorial/security/toolsign/rstep2.html).
 3. Add a

[2016-10-19 03:51] lite1979 commented on #117
@mrwedders

Using an A4 PDF and forcing 4" wide by 6" tall, scaleContent: true, I was able to print to my Zebra LP 2844-Z using the ZDesigner driver and Windows 10.

It should be noted that the ZDesigner driver originally set the paper size for my printer to 3" wide by 2" tall. Without forcing the size, the printed portion only occupied the upper-left quadrant of my label.

Again, we'll be happy t

[2016-10-19 04:18] tresf commented on #32
Interesting write-up here, especially the `runLater(...)` portions at the bottom...

http://java-no-makanaikata.blogspot.com/2012/10/javafx-webview-size-trick.html

[2016-10-19 08:24] mrwedders commented on #119
I built the latest 2.0.x and 2.1 sources last night, and I've messed around with this a lot on my Mac...

I'm now closing the stream, releasing the device and disconnecting from QZ Tray as soon as I've got a valid weight, and QZ Tray is still crashing regularly when it tries to claim the device even with this completely clean exit. It's not even logging an error, the last line in the logs is "[INF

[2016-10-19 08:51] mrwedders commented on #119
I have just spent a while doing repeated measures on the Windows 7 PCs that were initially experiencing crashes with the new code posted above and haven't been able to cause a crash - possibly this is a Mac only issue?
I might set up one of the staff with the new scales later on and see if they have any problems during the day.

[2016-10-19 11:54] tresf commented on #121
Closed via e0658fd.

[2016-10-19 11:54] #121 closed

[2016-10-19 13:28] tresf commented on #119
Perhaps.  Is is the same exception thrown or something new?  https://github.com/gary-rowe/hid4java/issues/37

[2016-10-19 14:03] mrwedders commented on #119
As I said, it isn't logging an exception in the debug.log files, the last line just says it's allowed me to claim the USB device.

Here ([qz_crash_mac_19-10-16.txt](https://github.com/qzind/tray/files/539217/qz_crash_mac_19-10-16.txt)) is the output from OSX's "QZ Tray quit unexpectedly" dialog. This is with most recent Javascript given above, current 2.0.x branch, and I can cause a crash very qui

[2016-10-19 16:02] tresf commented on #119
The preferred method is to run from command line.  This varies by platform.
https://qz.io/wiki/faq#debugging-qz-tray

Generally the crash will reference a `hs_err_pid` file, which an be pasted to gist or uploaded as an attachment.  If this crash shows to be a duplicate of https://github.com/qzind/tray/pull/25#issuecomment-211726043 then we will want to track it as a separate issue and close this o

[2016-10-20 04:25] tresf commented on #103
New updates:
`@bberenz`: https://github.com/qzind/tray/commit/8f21a87f0a1f975d5adec1585cb7b090443b265e
`@tresf`: https://github.com/qzind/tray/commit/ab27762cfc73a48572c046341c515efefe7fd384

![image](https://cloud.githubusercontent.com/assets/6345473/19546199/ae3aeb1a-965b-11e6-99da-15fa7a07c433.png)

[2016-10-21 07:12] kerbymart commented on #105
This should be re-opened, I did a compile and build and it did not solved the issue.

[2016-10-21 07:14] atvvarna commented on #105
As a temporary solution you can use:
start.bat file
`cd "C:\Program Files\QZ Tray"
java -Xms512M -DtrustedRootCert=override.crt -jar qz-tray.jar`

[2016-10-21 07:20] kerbymart commented on #105
@atvvarna Even running with that option, running the web app from Webstorm (with Server Certificate setup), when launched in the browser like Chrome or Firefox, the "Allow" notification still shows up.

[2016-10-21 07:22] kerbymart commented on #114
@tresf when will the version 2.0.2 be available for build or download?

[2016-10-21 07:25] atvvarna commented on #105
override.crt should be your certificate. located in QZ Tray folder.
I'm doing the same and it works, also you should modify the demo with your cert.

[2016-10-21 07:40] kerbymart commented on #105
Here, http://imgur.com/a/0QVFW I did add the certificate text into the HTML

[2016-10-21 07:42] atvvarna commented on #105
Follow these steps: https://qz.io/wiki/2.0-signing-messages
and check your certificate.

[2016-10-21 14:15] tresf commented on #105
No, you should follow the instructions we've provided 1. On our mailing list 2. On stackoverflow. 3. On our wiki which has been linked 3 times to you now.

If you have urgency needs, contact our paid support, that's what it's for.

[2016-10-21 14:16] tresf commented on #105
@atvvarna I assume this is working for you.  Please feel free to reopen if that's not the case.

[2016-10-21 14:22] tresf commented on #114
Probably a month.  We do full regression testing on each build.  Premium clients needing expedited features like this one receive RC builds directly from support leading up to stable.

[2016-10-24 03:51] hendranata opened #123 "open cashdrawer using qzind"
helo

want to ask how to open cashdrawer using this script? any example?

and last time i use jzebra.. and it required java applet and now browser chrome is not supporting java applet..
so does qzind also using java applet?

[2016-10-24 16:00] tresf commented on #123
We have the ESC/P "pulse" cash drawer code at the bottom of our ESC/P examples.  Does this work?

https://qz.io/wiki/2.0-Raw-Printing#escp

If not, this command can vary between printers, cash drawers and cables.

[2016-10-26 01:44] tresf commented on #103
`tray/netinfo` branch merged via 5ac87bf, now it's a matter of planning out the [`sift`](https://github.com/qzind/sift/tree/netinfo) library.

Instead of `['0A-00-27-00-00-18', '08-00-27-FB-9F-88', ...]` we'll also need to support `[ Object, Object ...]`.  This suggests we should honor the input array format and pop elements appropriately.

The originally proposed `clean(...)` method is probably b

[2016-10-26 02:21] klabarge opened #125 "macOS Pixel Printing NullPointerException"
* macOS Sierra
* QZ Tray 2.0.2 (compiled from source)

When trying to use HTML and Image printing, a `NullPointerException` is thrown.

I tried with and without the new `config` options , both throwing the same error.

[code]
#### Stacktrace

[code]

[2016-10-26 02:49] #125 closed

[2016-10-29 01:46] tresf commented on #103
How about this:

[code]

And then a constructor like this:
[code]

Bitwise flags:

[code]

and them some helper functions...

[code]

.. then the logic to actually perform the sifting.

[2016-10-29 21:45] klabarge opened #126 "PDF landscape 2.0.2"
In the latest build using `orientation: landscape`, PDFs print "upside-down" instead of switching orientation.

**EDIT:** This was on Windows 10.

**2.0.2**
![image](https://cloud.githubusercontent.com/assets/12505463/19832940/44a4de62-9dff-11e6-8d5d-99c6515672e8.png)

**Latest official release (2.0.1)**
![image](https://cloud.githubusercontent.com/assets/12505463/19832869/a439b818-9dfd-11e6-805e-

[2016-11-02 00:35] klabarge commented on #126
This behavior cannot be replicated on macOS Sierra.

`landscape` works as expected.

[2016-11-02 02:53] #126 closed

[2016-11-03 20:08] tresf commented on #123
No response in 10 days; closing.  Please feel free to reply to this bug report with any further questions.

[2016-11-03 20:08] #123 closed

[2016-11-03 20:16] tresf commented on #55
It appears JavaFX does not support the `@media` tag currently per: https://bugs.openjdk.java.net/browse/JDK-8091994

Closing as wont-fix for now.  We can reopen this issue if Oracle changes this behavior down the road.

[2016-11-04 04:53] lite1979 commented on #10
While the Star printer produced similar odd character results to the TM-U220, the odd characters are part of two separate problems.

The problem for my Star TSP650II Tear Bar was that the printer was in Star Line Mode, a different markup language mode. Once I changed the dipswitch on the bottom of the printer to ESC/POS mode, the image printed fine.

Using the ImageWrapper in ESCP works for Star p

[2016-11-04 06:47] tresf commented on #53
The deadlock seems to occur [here](https://github.com/qzind/tray/blob/2.0/src/qz/printer/action/WebApp.java#L133:L139):

[code]

This may be best explained here:  http://stackoverflow.com/a/20420380/3196753 although I'm not sure the exact cause of the deadlock.

[2016-11-04 06:49] tresf commented on #32
@klabarge when I run the software with `-Dprism.order=j2d` this problem seems to go away.  Can you confirm?

Note, Java recommends replacing this command with `-Dprism.order=sw` as `j2d` is deprecated.

[2016-11-04 20:19] tresf commented on #119
@mrwedders perhaps we're discussing two separate issues here...

We have another client experiencing this on Windows XP and Windows Vista.

We've recently obtained a Dymo USB scale and the device seems to power itself off quite often.  Releasing and reclaiming the device seems to help, but this seems like a problem perpetuated by sleepy hardware.

We will continue to investigate, but any help with

[2016-11-05 08:17] Vzor- commented on #60
I'm on this one now. Updates coming soon...

[2016-11-06 03:29] dsanders11 opened #127 "Ubuntu Tray Icon"
I'm seeing some issues with the tray icon under Ubuntu with QZ Tray 2.0.1. I have Chromium set to full screen on startup for a kiosk application we're making, and when this happens the QZ Tray icon is visible over top of the full screen until you click it (hard to do with a touch screen since it is small and at the top) and then back to Chromium, which makes it disappear.

You can also see this ba

[2016-11-06 03:31] tresf commented on #127
@dsanders11 https://github.com/dorkbox/SystemTray/issues/22#issuecomment-249657232 :)

Duplicate of #60

Oh and 👍

[2016-11-06 03:31] #127 closed

[2016-11-06 03:36] tresf commented on #127
@dsanders11 also, a stop-gap may be to simply set a timer which re-sets the icon.  Right click where the icon **was** and click "Reload".  IIRC, the icon will re-draw just fine because it cycles through red, yellow, green icon.  Anyway, we're working with dorkbox on 16.10 so hopefully that will put it to rest permanently.

[2016-11-06 03:40] dsanders11 commented on #127
Awesome. Apologies for the duplicate issue, I tried searching before creating it but didn't identify #60 as being related to this issue from the title.

Thanks for the fast response!

[2016-11-06 03:57] tresf commented on #127
Fixed. 👍

![image](https://cloud.githubusercontent.com/assets/6345473/20035255/82b9c762-a3b3-11e6-8dcd-470fc578c60a.png) **tresf** changed the title of #60 from **Gala/Pantheon desktop environment support** to **Better Linux SystemTray Support (Unity/Gala/Pantheon)** just now

[2016-11-06 18:10] klabarge commented on #32
I launched the software via `java -Xms512M -Dprism.order=j2d -jar /opt/qz-tray/qz-tray.jar` and the problem did not go away.  However, I am using CUPS PDF and we have had grief with ghostcript before. I had updated ghostscript with no luck.

![image](https://cloud.githubusercontent.com/assets/12505463/20040267/09e5414e-a422-11e6-960f-29151c77517a.png)

[2016-11-07 02:45] klabarge commented on #32
I also tested with `-Dprism.order=sw1` and the issue still occurred.

Here's a snippet of what the 8.6kb PDF is, a black bar at the top right-hand corner.

![image](https://cloud.githubusercontent.com/assets/12505463/20044842/4b6759c0-a46a-11e6-8365-ccfe3cdc219c.png)

[2016-11-08 16:59] jstans commented on #58
@tresf did you manage to investigate this at all? Apologies for not getting the LP2844 samples, I don't have one available for testing at the moment as we've kind of phased them out but I will keep an eye out for any old ones kicking around.

I'm still seeing these problems in the latest commit. With an 1800x1200 image sent with scaling set to none I'm getting an image which is way too large for t

[2016-11-08 17:02] tresf commented on #58
This was tasked out.  I'll get an update for you.

[2016-11-08 18:42] tresf opened #128 "Connection closed: 1001 - null when using HID"
From our support tickets, after being left idle overnight, a user is experiencing problems getting the HID device to work.

A similar symptom was happening prior to 2bf75cb74acc436fa391251a3ff12273db18d23b when a page refresh happened mid-read however this is being tested against 2.0.2-RC2 which contains a patch to the race condition.

Possible causes:
 * USB power settings
 * Improper promise cha

[2016-11-09 00:50] lite1979 commented on #58
@jstans , how exactly are you sending your image? Is it still base64, and if so, could you provide me with a sample of your code?

I was able to successfully print both a 600 pixels wide by 400 pixels tall image and a 1800 pixels wide by 1200 pixels tall image to my Zebra LP-2844-Z using

scaleContent: true

I'm using Windows 10 and QZ-Tray 2.0.1
![3663469871666046594 account_id 1 jpg](https://clo

[2016-11-09 00:58] tresf commented on #117
@mrwedders can yous see if https://github.com/qzind/tray/commit/56f172804b3d4907b26392eb6b506cfdae076927 fixed this problem?  PDFBOX fixed their orientation problem upstream, breaking our [workaround on Windows and Linux](https://github.com/qzind/tray/commit/9ecb07b560a66d46d440726a53a84b1fe722b12f#diff-5599221006c45202322d1e707eb793d2R100).  Mac has a bug which [ignores orientation](https://githu

[2016-11-09 10:46] jstans commented on #58
@lite1979 It is base64, I have provided a sample.

[code]

Replacing scaleContent with the size like below produces the expected results:
{ colorType: "grayscale", orientation: "landscape", size: { height: 6, width: 4 }, units: "in" }

This is on a CLS-521 not a LP2844, but I have just run tests on a LP2844 on an XP machine and am seeing the same results (though placement is a bit different and si

[2016-11-09 11:15] jstans commented on #58
When setting the density through qz to 300 (which is the density of the image vs the printer which is 200/203) I'm getting the correct sizing with scaleContent: true. It seems the setting doesn't apply to scaleContent: false (though shouldn't it?).

[2016-11-09 14:51] tresf commented on #58
The image should be 72 dpi.  Java works best with 72 dpi images.

The density you supply to QZ Tray should be either **1.** Unspecified, or **2.** That of the printer.  203 is most common for Zebra label printers (they do make a 300 dpi model as well but it is less common).

[2016-11-10 14:40] tresf opened #129 "Remove autostart on uninstall"
All uninstallers should check for startup entries and remove them on uninstall.

[2016-11-10 22:24] klabarge commented on #128
I had a stream open between a Stamps.com scale and my Windows 10 computer. I enabled a power profile that would not allow sleeping, hibernating, or USB ports to go to sleep. I ran the sample.html page on a local webserver so there were no internet connectivity issues to demo.qz.io

1. After 6 hours I attempted to add/remove weight from the scale.  The value appearing on the webpage (sample.html) d

[2016-11-11 23:08] tresf commented on #128
Not yet able to reproduce...

I have an instance of `2.0.2` that has been running stable and responsive on Windows 7 32-bit for 20 hours.

![screen shot 2016-11-11 at 6 07 35 pm](https://cloud.githubusercontent.com/assets/6345473/20232928/c10e2c1c-a839-11e6-937a-28d12e53fa39.png)

[2016-11-12 03:10] tresf commented on #128
So by combining HTML, PDF and USB I was quickly able to produce an `OutOfMemory` error.  I'm not sure if this is related or a separate bug.  Backtrace here:

https://gist.github.com/tresf/da198dfcbad8c8ab28f761669e820afd

[2016-11-14 03:16] klabarge opened #130 "Initial launch after installation Ubuntu 16.04"
**OS:** Ubuntu 16.04
**Java:** Oracle Java 8u111
**QZ Tray:** 2.0.2

QZ Tray does not automatically start after installation.  The terminal shows the error `logname: no login name` (at the bottom of the below log).  I exited the operation and was able to launch QZ Tray manually.

[code]