[2018-01-10 17:51] lite1979 commented on #263
type:  'raw'
format:  'file'
Before:  268MB
After:  408MB

type:  'direct'
format:  'file'
Before:  268MB
After:  277MB

type:  'raw'
format:  'base64'
Before:  267MB
After:  464MB

type:  'direct'
format:  'base64'
Before:  267MB
After:  451MB

Re-did the Mac tests since the machine died shortly after finishing last night's tests(bad A/C outlet - running laptop on battery power) .  These results

[2018-01-16 02:10] #263 closed

[2018-01-25 05:15] tresf commented on #136
@dyorgio's solution helped understand the problem but only works if additional flags are provided at install time.  Closing as won't fix for now.  Will reopen if more information surfaces.

[2018-01-25 05:17] tresf commented on #264
Closing due to lack of response from OP.

[2018-01-25 05:17] #264 closed

[2018-01-25 05:20] tresf commented on #262
I still recommend creating a test-print using [PDFBOX on command line](https://pdfbox.apache.org/2.0/commandline.html) and submitting it to KONICA as it's a very widely used PDF library.  We don't have the resources to look into this, so I will assume this problem is driver related unless more information surfaces.  Closing as needs confirmation as I do not see any evidence of a defect with QZ Tra

[2018-01-25 05:20] #262 closed

[2018-01-25 05:24] tresf commented on #155
We offered a bounty and received a solution from a community member.  The solution is to use `ISO-8859-1` to force 8-bit unadulterated content.  UTF makes some assumptions with data over \x7F which will ultimately corrupt the data on it's way to the printer.

[code]

If both UTF8 -- and -- 8-bit raw data are needed in the same data block a secondary approach may be needed.

More information here:

[2018-01-25 05:24] #155 closed

[2018-01-25 11:04] dyorgio commented on #136
Hi @tresf! How are you? :)

My approach to run software after my installer (installer was call with sudo) is working with SystemTray lib the use GTK native Menus, not sure if works with Swing, checkout:

[code]

[2018-01-25 15:51] tresf commented on #136
@dyorgio thanks.  We're already inside Java when the theming issues occur.  Could this technique be adopted to `bash`?

[2018-01-25 15:53] dyorgio commented on #136
I don't see why not :P

[2018-01-26 14:29] tresf opened #268 "Add page numbers to HTML prints"
A request to add e.g. `Page 1 of 2` to the bottom of an HTML page when printing.

[2018-01-30 20:42] tresf opened #269 "Add support for Evolis raw images"
Evolis ribbons are in the order YMCKO.

**Bitmap Explained**

| Letter | Meaning                                                              |
|--------|------------------------------------------------------|
| Y       | 💛 Yellow, the first color in the ribbon                 |
| M      | ❤️  Magenta, the second color in the ribbon      |
| C       | 💙 Cyan, the third color in the ribbon

[2018-01-31 05:17] klabarge opened #270 "Decimal points in jobName, virtual printers macOS"
There doesn't appear to be any issue with the way QZ Tray handles decimal points (observing the printer queues, they are properly sent to the printer) but virtual printers seem to vary in the way they handle writing a decimal point to the file system.

Should decimal points in `jobName` be converted to an underscore ("_")?

**CUPS-PDF for OS X:** If there are less than 4 alphanumeric characters fo

[2018-01-31 05:21] tresf commented on #270
I can see the use-case, but this seems like an upstream bug.  The best we could do is detect one of the PDF drivers in use and hack a work-around.  2.1 has the ability to detect the underlying driver although I'm inclined to say `wontfix` and just reference this issue if anyone runs into a similar problem.

[2018-01-31 05:23] tresf commented on #270
Sorry, is this for all CUPS job names, not just PDFs?

[2018-01-31 05:48] klabarge commented on #270
This effects HTML and Images as well, if that is what you're asking.

I only tested against PDF printers, so that's where the PDF extension came from. The actual job name in the printer queue looks correct while it is being spooled.

[2018-01-31 05:50] tresf commented on #270
Thanks for clarifying.  So the bug's with the virtual driver.  Normal prints are not affected.

[2018-02-01 08:50] Flog71 opened #271 "The demo website is down"
[demo website](https://demo.qz.io/)

" No input file specified. "

[2018-02-01 12:58] sumodevelopment commented on #271
Confirmed

[2018-02-01 13:12] tresf commented on #271
Thanks.  We just upgraded the server and must have missed something.  We're on it.

[2018-02-01 15:10] Flog71 commented on #271
"403 Forbidden"
nginx/1.10.3 (Ubuntu)

In progress 👍

[2018-02-01 18:02] tresf commented on #271
Ubuntu 16.04 doesn't play well with our build scripts.  I've got it working for now, I had to remove the signing step from the `ant` task on this back-end.  Not sure why.  Anyway, thanks for the FYI, it's back up and running.

[2018-02-01 18:02] #271 closed

[2018-02-02 02:29] tresf opened #272 "Better "always allow" behavior"
Partially related to #78, QZ Tray currently assumes that "always allow" is printing, but we've since added USB support and we will soon be adding FileIO support and this changes the way an organization will feel about clicking "always allow".

Instead, we should split access as follows:

**Security categories**
1. Printing (listing, printing, listening for printer events)
2. USB/HID (listing, read

[2018-02-02 03:56] tresf commented on #270
Reproduced.  This is a "feature" of CUPS-PDF, as illustrated in `/etc/cups/cups-pdf.conf`.

[code]

Setting this to `-1` will suppress this symptom you are seeing.

[code]

Set to -1 yields:  `job_1-TEST_PRINT_foo.pdf`
Set to 3 yields:  `job_1-TEST_PRINT.pdf`

Closing as this is configurable on the client-side if needed.  Please open a bug report with CUPS-PDF if you believe this default behavior

[2018-02-02 03:56] #270 closed

[2018-02-02 04:34] #266 closed

[2018-02-02 06:10] tresf commented on #265
I tried the obvious `hservice.remove(...);` to no avail.  It doesn't error, but it also doesn't remove it.  I have no idea how to do this...

[code]

[2018-02-02 06:20] tresf opened #273 "i18n support"
Pinging @liushuyu.

Have you done any i18n for Java?  I just spotted https://github.com/chunlinyao/tray/commit/f33e2750a3f5d374967855f48bebc48d3e6a3da9 which makes me think we could benefit from this.  Any interest?

[2018-02-02 08:07] Flog71 commented on #271
Thank's a lot !! ;D

[2018-02-02 17:44] liushuyu commented on #273
Yes but that's a story from the long past. However, with some time I should be able to pick up the knowledge that's needed to accomplish the job.

[2018-02-02 17:46] liushuyu commented on #273
... and BTW, which branch I should target for? 2.0 or 2.1?

[2018-02-02 18:34] tresf commented on #273
@liushuyu let's target 2.1 for now.

[2018-02-02 21:07] lite1979 opened #274 "Support raw image to brother td 4000"
This is a placeholder for progress on the below mentioned commit:

https://github.com/qzind/tray/commit/4109761236f01aa8ae2b38192d3303d3050d6793

This adds support for the Brother TD 4000  to our current image wrapper (using BRASTER, if I'm reading correctly)

* [x] Obtain hardware
* [ ] Test commit
* [ ] Merge

[2018-02-05 17:50] dsanders11 commented on #42
@tresf, is this DOA or still on the roadmap?

[2018-02-05 17:56] tresf commented on #42
@dsanders11 still slated for 2.1.  We shelved it to work on the credit card readers (FileIO).  Sorry for the delay. :)

[2018-02-07 10:40] dsanders11 commented on #208
@tresf, I finally got a chance to loop back around to this, and that 2 day estimate turned out to be spot on. The longest bit was working with [`acme-python`](http://letsencrypt.readthedocs.io/projects/acme/en/latest/) as the documentation is a bit shallow in how to string things together to complete the full process, save the relevant in progress data, etc.

If you're interested you can find the

[2018-02-07 15:08] tresf commented on #208
Sure, please submit a PR.  This would be a welcome addition.  What's the `StatisticsHandler` used for on your end?

This sounds like something fairly sane to add but we'd have to also add the documentation to the API and wiki so this would be a bit more to setup.  We have a few clients that prefer to work this way for job queuing so we'd welcome a PR with this feature as well.

Thanks.  This is ve

[2018-02-08 07:05] tresf opened #276 "Expected a Color Instance"
[This PDF](https://github.com/qzind/tray/files/1705990/SC5361044390.pdf) will crash PDF printing in QZ Tray with `rasterize: false`.

* This bug does NOT occur if printing using pdfbox 2.0.8 command line.
* This bug does NOT occur if printing using `rasterize: true`
* This bug does NOT occur on Mac
* This bug does NOT occur on the 2.1 branch

[code]

[2018-02-09 02:01] bberenz commented on #276
Fix under 9ed2203231102418c7c2f88a6dcf106bd50521ce
Looks like the short-circuit can cause issues? We never really profiled the code to know if it reduces memory footprint, so I've just removed it to run before we added it since it can do this.

[2018-02-09 02:43] tresf commented on #276
Confirmed.  This fix will be available in 2.0.6.

[2018-02-09 02:43] #276 closed

[2018-02-09 19:03] tresf commented on #136
@dyorgio thanks for your code, it helped a lot!  I've documented the full solution here: https://stackoverflow.com/a/48712378/3196753.

In short, read the user's `UPSTART_SESSION` environmental variable from` /proc/$pid/environ`
and then `export UPSTART_SESSION` and call `initctl --user get-env GNOME_DESKTOP_SESSION_ID`.

[2018-02-21 04:12] tresf commented on #265
Turns out I was over-thinking this... Firefox on Windows and Linux doesn't register the protocol manually, but MacOS does.  Windows and Linux use the protocol information that was registered with the system through the [registry](https://github.com/qzind/tray/blob/7e69350b04a1d5327910b186f403a9428db5656d/ant/windows/windows-packager.nsi.in#L80) or [mimetype registration](https://github.com/qzind/t

[2018-02-21 04:12] #265 closed

[2018-02-22 21:23] tresf opened #277 "Legacy HTML Support"
It has been brought to our attention that some HTML content still prints better in 1.9 versus 2.1.

Add the 1.8/1.9 HTML printing support back into 2.0 branch which will help some clients finally make the switch to a supported version.

Download here: https://github.com/tresf/tray/releases/tag/v2.0.6

https://qz.io/wiki/2.0-Pixel-Printing#legacy-html

[code]

[2018-02-23 01:32] klabarge opened #278 "PDF rasterized when instructed not to"
A client is experiencing an issue with PDF's that grow very large in the printer queue (700MB) that result in very slow print speeds. Reproducing the issue exposed that that vector PDF was being rasterized despite `rasterize: false`

### Environment

**OS:** Windows 10
**QZ Tray:** 2.0.5
**Java:** 8u161 64-bit

* [Here is the offending PDF](https://github.com/qzind/tray/files/1749977/test.pdf) tha

[2018-02-23 01:46] klabarge opened #279 "PDF fonts converted to shapes"
When using `rasterize: false` for the attached PDF, the fonts are converted to shapes

### Environment
**OS:** Windows 10
**QZ Tray:** 2.0.5
**Java:** 8u161 64-bit

* [Here is the offending PDF](https://github.com/qzind/tray/files/1750080/template.pdf), which was created using Adobe Illustrator

![image](https://user-images.githubusercontent.com/12505463/36573858-db34a038-1810-11e8-8c37-fefa71dfec

[2018-02-23 01:48] klabarge commented on #278
This may be related to #279

The offending PDF in #279 is the PDF template for the PDF in this bug report.

[2018-02-23 02:17] tresf commented on #279
This is not reproducible using CUPS-PDF on MacOS.

The PDF size is curiously inflated to 10MB, but the text does not appear to distort.

![screen shot 2018-02-22 at 9 16 23 pm](https://user-images.githubusercontent.com/6345473/36574866-b1a6861e-1815-11e8-9004-611cabc89c5b.png)

[2018-02-23 02:47] tresf commented on #278
Confirmed on MacOS as well.  It appears CUPS-PDF has a very low default resolution so the issue is per

[code]

![screen shot 2018-02-22 at 9 47 28 pm](https://user-images.githubusercontent.com/6345473/36575645-09d495fc-181a-11e8-9312-4c2e79231b24.png)

[2018-02-23 03:05] tresf commented on #278
Filed upstream bug report [`PDFBOX-4123`](https://issues.apache.org/jira/browse/PDFBOX-4123).

[2018-02-24 17:09] tresf commented on #278
Explanation from [`PDFBOX-4123(comment)`](https://issues.apache.org/jira/browse/PDFBOX-4123?focusedCommentId=16375570&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-16375570):

[2018-02-24 18:35] tresf opened #280 "HTML Prints 0 pages"
Using QZ Tray 2.1, printing to an Epson TM88V printer using Pixel printing mode receive the message `Document will be printed across 0 pages`.

* The Epson is configured with a page size of 80mm x 3276mm (3.15in x 129in)
* The same issue does NOT occur if testing against XPS document writer configured at (8.5in x 11in)

**Edit:** Updated logs for correct printer.
[code]

[2018-02-24 19:17] bberenz commented on #280
Problem with the large height dimension dwarfing the document height. Causing the vertical span check to sit too close to 0.
Fix under ac4ef6ce2b57d5426d63ea731f0fd947ba15d648

[2018-02-25 17:41] tresf commented on #278
So anyone wanting to hack transparency out, there's a way to do it on a binary level... here's the reply from Tilman:

Closing, marking as `wontfix`.

[2018-02-25 17:41] #278 closed

[2018-02-27 18:21] tresf opened #281 "Support Vietnamese Codepage"
We use Java's character mapping for printing and have a use-case that requires vietnamese characters.

**Assumptions**

I believe the thermal printers use [TCVN3](https://github.com/bamarni/escpos/blob/master/charset.go#L43) encoding.  Documentation is very slim for this, the client's hardware is not Epson, but a [hardware clone](https://user-images.githubusercontent.com/6345473/36746510-7eea432e-

[2018-02-28 01:20] bberenz commented on #277
Feature ready for testing under `legacy-html` branch

[2018-02-28 04:31] klabarge commented on #277
Using `legacy: "true"`, only the file path to the HTML page is printed.

Switching off of `legacy` yields expected output.

![image](https://user-images.githubusercontent.com/12505463/36770020-e238d080-1c15-11e8-82a0-44a7c2d632f2.png)

[2018-03-01 05:39] bberenz commented on #277
Looks like I forgot to add some file support. There is a basic support under 595b250b85e44215398d954213f38c5dcf8705b3. Be aware that it appears swing cannot handle newer HTML standards, so this isn't perfect.

[2018-03-01 06:39] tresf commented on #277
@bberenz thanks that fixed it.  The only issue is that for some reason, the receipts are about 1/4 inch too far to the left.  Adjusting the margins on the printer don't seem to do anything
**Actual** &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; **Desired**
![scree

[2018-03-01 07:09] tresf commented on #277
I was able to tackle the margin problems by adjusting the style tags.  This is working well.

[2018-03-02 01:18] tresf opened #282 "Stream JSON Data"
Currently JSON Data is transferred in one large String causing large heap allocations, especially for base64 jobs.

The JSON parser we use today doesn't offer steaming capabilities, and those that have been attempted vastly change the codebase for the would seem like a marginal gain.

Strategically we may be able to mimic the JSON API used today by wrapping Java EE's JSON parser (which does have s

[2018-03-06 22:17] tresf commented on #157
Closing this as resolved.  We can open new bugs reports against 2.1 as defects arise. 👍

[2018-03-06 22:17] #157 closed

[2018-03-07 21:20] tresf opened #283 "UnsupportedOperationException: Cannot parse (PLAIN)"
With QZ Tray 2.0, if an HTML sample has a non-existent image, it fails to print with `UnsupportedOperationException`.

This can be observed with the following example code:

[code]

[2018-03-08 16:28] tresf opened #284 "Place Popup on Correct Screen"
This is a proposal to make the qz-tray.js API intelligent enough to fetch the screen coordinates of the demo page to intelligently place the Java "Allow" dialog on the correct monitor.

Test Matrix

**Mac**
* [x] Standard Definition (via 7e1bb92)
* [x] High Definition "Retina" (via afbe641)
* [x] Multi-monitor

**Windows**
* [x] Standard Definition (via fcc6555)
* [x] High Definition (>100% zoom v

[2018-03-10 04:35] bberenz commented on #284
Window screen following should be setup under fcc65556e12156c1956880e9077d95a0b3f0948b

[2018-03-10 08:09] tresf commented on #284
@bberenz this works pretty well to get it on the right screen, but there's some positioning inaccuracies.

It appears there are a few things going on...
1. Browser is a scale factor of 96.  Java is a scale factor of 120 on my machine (HiDPI display)
2. Even accounting for the DPI scaling, I still can't get the window positioned perfectly center.  I'm not sure why this is, but ran across this artic

[2018-03-12 05:21] tresf commented on #284
This is working great for Windows, even on HiDPI, but still having problem with MacOS...

For some reason MacOS reports the `Toolkit.getDefaultToolkit().getScreenResolution()` as 305 on my television.  It should be 96.  We'll keep this on a separate branch until it's been tested some more.

Current code available here:
https://github.com/qzind/tray/compare/screen

[2018-03-13 05:43] tresf commented on #284
Tested on Ubuntu 14.04 and it seems to work well.

Mac is still way off due to the `305` being reported.  Found [this article](https://stackoverflow.com/a/40399909/3196753) interesting, specifically the `scaleFactor` portion, which might help us with Retina displays.  Note, the code still reports `305`, but the `scaleFactor` may be what we need for Retina.  I'll know more when I have hardware to t

[2018-03-13 06:17] tresf commented on #284
Added above mac workaround logic via 7e1bb92.

[2018-03-13 18:57] tresf commented on #284
Tested on multi-monitor with mixed resolutions (2 @ 96dpi, 1 @ 120dpi) successfully.

IE11/Edge draws it in the upper left corner, this needs to be fixed.

![image](https://user-images.githubusercontent.com/6345473/37363652-d2ac31ac-26ce-11e8-835e-59c179265e37.png)

[2018-03-13 22:23] tresf opened #285 "Chinese ESCPOS Support"
We're [adding support for more character sets in ESCPOS](https://qz.io/wiki/Raw-Encoding#escpos) by testing -- and documenting various languages but we don't know the status of Chinese.

This is a placeholder to track the progress with printing chinese.

- [x] Chinese (中文)
   * [x] Traditional
   * [x] Simplified

Keywords: Chinese, printer, epson, programming, 中国打印机爱普生编程

---

Languages already s

[2018-03-14 15:25] tresf commented on #284
Turns out Mac uses 96 DPI regardless, so we can remove the DPI detection for that platform.  Tested at all 3 zoom levels and the dialog is always centered with 96 DPI.

![image](https://user-images.githubusercontent.com/6345473/37411940-58df6130-277a-11e8-92aa-79893a214332.png)

[2018-03-20 04:52] tresf opened #286 "HID Windows Truncates Data"
With short data streams, everything seems to be OK, but if you scan (for example) a large QR code, the data gets corrupt on Windows using PureJavaHIDAPI:

[code]

![image](https://user-images.githubusercontent.com/6345473/37636336-f60e4f3c-2bd7-11e8-811d-2239b4f1e22a.png)

[2018-03-20 20:39] tresf commented on #286
Ok... so it appears we just send the latest feature report if the data is streaming faster than the read interval...

Putting a debug on `PJHA_HidIO::onInputReport`, I get the following data from the above QR code:

[code]

Whereas QZ Tray only reports the following (only the last line):

[code]

[2018-03-22 04:30] tresf opened #288 "Can't read data from Honeywell Scanner"
**Edit:** The solution is to provide a `usagePage` parameter.  This is an API change... (2.0.6 and greater only)

[code]

**Before**
[code]

**After**
[code]

---

We found a problem while working on #286 with the way Honeywell scanners work with QZ Tray...

* Honeywell installs two USB devices with the same `VID` / `PID`.
* QZ Tray grabs the first device with may NOT be the HID device.
* QZ Tray

[2018-03-22 04:33] bberenz commented on #286
I've added a basic buffer queue to PJHA classes under 024a908581151e015ea57ba6a4857cafef9c1db6. Not sure how this impacts scales (which constantly stream their data) yet though.

[2018-03-22 05:46] tresf commented on #286
Thanks @bberenz however something's still not right.  Do you need to do a `System.arraycopy(...)` so that the underlying buffer doesn't clear itself?

[2018-03-23 03:21] tresf commented on #286
`System.arraycopy(...)` did the trick.  To simulate the auto-flushing buffer behavior of HID4Java, we'll also be adding a 32-chunk array buffer for PureJavaHIDAPI's streaming mode.

[2018-03-24 03:04] bberenz commented on #286
Array copy and buffer size implemented under c4134f49ee1f26b870568a4200da8e7c2ed83daf
JS api rewrite to allow additional selectors (#288) is included in this branch as well.

[2018-03-24 22:09] tresf commented on #288
We've decided to use `usagePage` for identifying the endpoint of the scanner, but there is a slight disparity on Mac...

* `4294967180` Incorrect USB device ⚠️
* `140` The HID device, the one we want

HID4Java appears to be returning a `Long` instead of an `Integer`.  We could add long support to the library, but this seems like it may be a bug with the way HID4Java returns the `usagePage`.

[2018-03-26 04:47] tresf commented on #288
Turns out casting 4294967180 to short will make it `-116`.  Implemented via 8eda5b5.

[2018-03-26 04:52] johann-sonntagbauer commented on #273
@liushuyu did you make any progress? I wanted to start the same maybe we can join forces :)
I have some experience with java/swing development and can layout the foundation for the resource bundles and so forth.

[2018-03-26 05:01] tresf commented on #273
@johann-sonntagbauer we have a working example ready in #290.  I've opened a PR on @liushuyu's behalf.

Note, we are exploiting the `.properties` file format by hacking in UTF-8 support.  We still need to write an ANT task to scrape all translatable strings out.  @liushuyu is still going to help with this but was delayed last we spoke.

[2018-03-26 05:14] johann-sonntagbauer commented on #273
@tresf looks great so far :) anything I can support you or @liushuyu with?

[2018-03-26 05:28] tresf commented on #273
He'll need to grant you commit access to push to that repo, but translation strings would be a good start.  There's a very basic example in `src/qz/common/resources/messages_zh_CN.properties` for starters.  If you have interest in the coding side too, an ANT task for scraping translation strings would be the next step.

[2018-03-26 05:29] tresf commented on #273
A basic UI selector would be necessary as well.

[2018-03-26 06:00] johann-sonntagbauer commented on #273
I will throw something together today in the evening.
The Ant task should not be too hard, because the heavy lifting is already done. A RegularExpression extracting the gettext() calls would be sufficient.

The UI selector is a little bit tricky. Do you plan to support dynamic locale selection? Or simply select the locale, store in properties file and restart application? Because for now there are

[2018-03-26 06:03] tresf commented on #273
Properties/restart option would be great.

[2018-03-26 06:08] liushuyu commented on #273
Hi,

I am very sorry for the late response, I am not sure if I have 100% marked all the strings with `gettext` wrapper.

And I will try to finish the translation file  today or tomorrow.

Thanks

[2018-03-26 06:10] johann-sonntagbauer commented on #273
@liushuyu no pressure. I am very thankfull for the hard work you all put into this project. I only want to give something back :)

[2018-03-26 06:15] liushuyu commented on #273
Thanks.

And there's a hint you may have already seen in the translation file: you'll need to escape some symbols when scraping the source code like whitespaces.

[2018-03-26 06:28] liushuyu commented on #285
Hi @tresf,

A quick search showed that first you might need a Chinese capable ESCPOS which contains a set of commands for Chinese only:

e.g.
Enter Hanzi (Kanji/Chinese character) mode:
`1C 26`
Exit Hanzi mode:
`1C 2E`

[2018-03-26 12:47] tresf commented on #285
@liushuyu thanks.  There's a printer on order from Alibaba.  We will try this as soon as it arrives.

[2018-03-27 03:00] klabarge commented on #277
There appears to be a margin issue with legacy HTML printing on macOS. The top and left margins are cut off. This is not reproducible on Windows or Ubuntu.

For baseline, I printed the same HTML through 1.9 on macOS. The margins in 1.9 are cutoff on the bottom right.

![image](https://user-images.githubusercontent.com/12505463/37943904-9fc50ace-3147-11e8-8bee-1cf1cda6ec1d.png)

[2018-03-27 03:51] klabarge opened #291 "macOS HID crash"
**Java:** 8u162
**OS:** macOS High Sierra 10.13.3
**HID Device:** 25lb Postal Shipping Scale (Model No. DS25)
**QZ Tray:** Tested against 2.0.5, 2.0.4-1

QZ Tray crashes after several minutes of HID usage when being unclaimed and reclaimed. Steps to reproduce below.

1. Load sample.html, go to the HID tab
1. Claim an HID device
1. Wait 45 seconds and release the HID device and reclaim it
1. Repeat

[2018-03-27 04:10] #286 closed

[2018-03-27 04:10] tresf commented on #288
Closed via #289.

[2018-03-27 04:10] #288 closed

[2018-03-27 23:40] kunnis opened #292 "HID Events not working"
I'm having a problem with HID listening for events not working.  I'm on Windows 10.

Repro:
1. Install QZ Tray 2.0.5
2. Visit https://demo.qz.io
3. Go to the HID Tab
4. Click Listen For Events
5. I tried plugging in/removing a scale & a mouse, but you never see the notification popup.

I don't believe this is a bug in the demo site, I noticed it with some other code I was working on, and I just ve

[2018-03-28 00:44] tresf commented on #292
@klabarge is correct, this isn't available.  The instability of [`hid4java`](https://github.com/gary-rowe/hid4java) on Windows forced us to use the [`purejavahidapi`](https://github.com/nyholku/purejavahidapi) wrapper instead.  Although `purejavahidapi` can catch when a device that's claimed has been removed, it doesn't yet offer support for detecting newly attached devices.

For organizations tha

[2018-03-28 02:18] kunnis commented on #292
I also had some odd behaviors when I was disconnecting a scale as well.  On windows 10, I used the demo site.  I used HID to connect a scale, and it worked as expected.  The pinned demo value updated as the weight on the scale changed.

I then unplugged the scale (to simulate a cable/connector failure).  No error events were raised to indicate that things had gone wrong.  It continued to send the

[2018-03-28 02:45] tresf commented on #292
HID is all we recommend for weight scales, it's tested with each release and has been extensively tested by some of our largest clients.

Hmm... this one sounds like https://github.com/qzind/tray/issues/286#issuecomment-375176791 which was fixed in https://github.com/qzind/tray/commit/b8de34d8ce87ee47f7270a99f213ce76ce899d9b, but won't be available until 2.0.6.

You can get a beta build by compili

[2018-03-28 03:02] klabarge opened #293 "HID on Windows no error on device failure"
Quoting @kunnis

On Windows, there is no error when there is a hardware failure while streaming is occurring (USB cable disconnect, power, etc.).

On macOS, there will be a "Failed to read from device" error when there is a hardware failure while streaming. Below is what we would expect to see in the logs.

[code]

**Steps to reproduce:**

1. Load sample.html and go to the HID tab
1. Claim your HI

[2018-03-28 03:03] klabarge commented on #292
New issue https://github.com/qzind/tray/issues/293 was created for no device failure errors

[2018-03-28 03:15] kunnis commented on #292
Is there a recommended version that's been in production longer, since this is present in 2.0.5?

I might just accept this problem as-is, and just tell the users to refresh the page if the scale stops working.

[2018-03-28 03:28] kunnis commented on #293
from @tresf

Even a partial fix so that we know when the connected device is unplugged would be useful, even if it's not a full fix for the problem.  Knowing the device dropped out will at least let me display an error to the user.

[2018-03-28 04:04] tresf commented on #293
@kunnis the "partial fix" you explain would be a regression in stability, so it comes as a trade-off.

We didn't author either HID library, so we're at the mercy of the `upstream` library maintainers.  I'm sure `purejavahidapi` would accept a pull request for these features, which may be the direction we end up going.

[2018-03-29 06:10] johann-sonntagbauer commented on #273
Short update. I am currently finalizing the locale selector. Ant task is in the making need to investigate little more how to integrate it best with qz builds. Problem for now is, that the Task is built with ant, but the built Task needs to be on the ant classpath :)

@tresf what icon set does qz use? I am finalizing the locale selection and wanted to add some icons to the menu.

[2018-03-29 12:45] tresf commented on #273
Our artwork is 100% original.  If you can provide a mock-up I can reach out to our artist.

[2018-03-30 04:14] tresf commented on #277
MacOS bug patched via 86af2ba, ready for testing. :)

[2018-03-30 17:22] klabarge commented on #277
Patch worked, and I regression tested against Ubuntu and Windows 👍

On the left is legacy-html, on the right is normal.

![image](https://user-images.githubusercontent.com/12505463/38146301-6c6e0136-341b-11e8-8e0e-bf6d30e8a715.png)

[2018-03-30 17:26] #277 closed

[2018-03-31 04:58] tresf commented on #284
HiDPI + Fedora + Wayland + Multiple Monitors

![screenshot from 2018-03-31 00-52-18](https://user-images.githubusercontent.com/6345473/38159788-f15544ba-347d-11e8-8d78-5c7c6da40445.png)

![screenshot from 2018-03-31 00-55-52](https://user-images.githubusercontent.com/6345473/38159811-859fff66-347e-11e8-83b2-04817c02fc40.png)

[2018-03-31 05:12] tresf commented on #284
Mac multi-monitor passes as well.  Merging.

[2018-03-31 05:22] #284 closed

[2018-03-31 05:28] tresf commented on #282
Turns out streaming JSON is entirely possible, but validating the signature would become impossible without stashing the contents before sending, which would negate the performance gains.  Closing as `wontfix` for now.

[2018-03-31 05:29] tresf commented on #280
Closed via ac4ef6c.

[2018-03-31 05:29] #280 closed

[2018-03-31 05:46] #52 closed

[2018-04-03 04:21] tresf opened #295 "NullPointerException finding Default printer on Mac"
A fresh install of MacOS 10.13 and Java 1.8 u161 throws a `NullPointerException` when looking for the default printer.

What's happening is the following line is returning `null`:
[code]

And subsequently, `.getName()` fails.

https://github.com/qzind/tray/blob/5ec3b3d548049dfe0dc2abac391bad8e4142d35a/src/qz/ws/PrintSocketClient.java#L272-L273

A permanent workaround is to change "Last printer use

[2018-04-03 17:55] tresf commented on #279
For now I'm chalking this up to and edgecase with fonts and PDFBOX and closing as `wont-fix`.  If this has a wider impact or if there's something we can do on the qz side, we'll reopen.

[2018-04-03 17:55] #279 closed

[2018-04-04 05:19] tresf opened #296 "Allow URL for serial data"
Currently, serial data is sent through a `String` which is ok for small payloads but does not scale well to larger payloads.

The ability to send serial data from a URL or local file path is desired for certain serial devices to allow a large data stream to be sent without too much chatter over the websocket channel.

[2018-04-04 05:42] johann-sonntagbauer commented on #273
I am done with my changes.
* UI for locale selection
* restart after locale change to proper update all static constants
* selected locale gets stored into settings properties
* mockup locale change icon
* ant task to extract text and store into properties files
* german translation

out of scope for now
* installer dialog for locale selection. (This is harder then I thought)

How to proceed from

[2018-04-04 06:15] tresf commented on #273
That's probably the best option.  @liushuyu or myself can pull your changes into the PR if you cross-link the commit(s) or the compare.

[2018-04-04 06:49] johann-sonntagbauer commented on #273
@tresf ok I will formulate a PR based on @liushuyu changes so it will be easy to merge than.

[2018-04-04 15:13] riyask opened #297 "When I try to build code, showing cannot run program"
When I try to run the source code using following command
ant nsis -Dauthcert.use="c:\cert.pem"
it is showing as

Execute failed: java.io.IOException: Cannot run program "${nsisbin}" (in directory....)

Please help me how to solve this issue

[2018-04-04 15:45] tresf commented on #297
Per dependencies https://github.com/qzind/tray/wiki/install-dependencies#windows, NSIS needs to be installed.

Ant will then look for it in the 32-bit location or the 64-bit location.

https://github.com/qzind/tray/blob/a42009cb979a12a5052ce4df83fac59e2c78d273/build.xml#L236-L244

If you're on Mac or Linux, `nsis` should be available from your package manager (and yes, it works swimmingly).

Closi

[2018-04-05 04:01] tresf opened #298 "HTML API is not backward compatible"
Valid 2.0 code:

[code]

When the above code is sent to 2.1, it prints the plain HTML code inside the document rather than rendering it.

Note, the following code works fine in 2.1:
[code]

[2018-04-05 16:17] lichtamberg opened #299 "PDF printing on Brother QL-710w ignores height on OSX"
Even when I specify the height, the label which gets printed out is always the default 29mm high (when using a 62mm wide paper roll).

This worked in 2.0.5?

[2018-04-05 19:12] giolazzareschi opened #300 "Updated to 2.0.6 and stop working"
Hi,

I've been using version 2.0.3 on my machine then I updated to 2.0.6 and Qz Tray stop working. When I access https://localhost:8181/ it just responds "Address can not be reached" and nothing can be printed.

I did just updated only. Just donwloaded the new version and did "next > next > finish". Also I tryied to create manually a new certificate (trying to find a solution) and this showed to c

[2018-04-05 19:24] tresf commented on #300
This is due to the stricter Firefox requirements for self-sogned certificates.  This observation is correct, it's the additional overhead of a two-step cert process, new to 2.0.4.

We've never seen this before.  We'd first recommend reinstalling latest Java 8 from offline and re-running the installer.  If that doesn't help, we'll have to add some debug steps to `windows-keygen.js` to find out what

[2018-04-05 19:30] giolazzareschi commented on #300
Ok! I'm going to reinstall my java and will feedback further. Thanks for the fast reply.

[2018-04-05 19:40] giolazzareschi commented on #300
Yep it worked.

I just updated my java version and back to normal.

I'll leave here for documentation purposes.

OLDER JAVA VERSION:
Picked up _JAVA_OPTIONS: -Xmx512M
java version "1.8.0_111"
Java(TM) SE Runtime Environment (build 1.8.0_111-b14)
Java HotSpot(TM) Client VM (build 25.111-b14, mixed mode)

NEW JAVA VERSION:
C:\WINDOWS\system32>java -version
Picked up _JAVA_OPTIONS: -Xmx512M
java vers

[2018-04-05 19:40] #300 closed

[2018-04-05 19:42] tresf commented on #299
This sounds strikingly familiar to https://github.com/qzind/tray/issues/174 and it's quite concerning if this is the case, we'd have to roll back this patch and provide an immediate 2.0.6-1 release for MacOS.

Can you paste your Java version?  This should have been fully tested but we did not necessarily regression-test agaisnt older Java versions.

[2018-04-05 19:45] lichtamberg commented on #299
Sure:

[code]

Tried on OSX 10.12.6 Sierra with latest Firefox + Chrome.
Please let me know if you need some more information / logs / versions..

[2018-04-05 19:56] lichtamberg opened #301 "OSX 10.12.6 Installer finishes with error screen"
I tried to install the new version 2.0.6 (with 2.0.5) installed, but it failed at the end with following error message. In the end, it looks like the correct application has been installed successfully (I can also launch the newest version afterwards), but yeah - installer fails at the end without success-message.

I tried then to downgrade again to 2.0.5 and got the same error with the old instal

[2018-04-05 20:02] tresf commented on #301
We can probably help with this but the logs are very environment-specific.

The `open -a "QZ Tray"` command is issued (rather irresponsibly) to open it.  The reason this is bad is there may be other places where QZ Tray were installed, so MacOS is going to get confused.

In your case, `lsregister` found another one and it must come earlier in the listing, so it's the one that tries to open.

We do

[2018-04-05 20:05] lichtamberg commented on #301
Since it's possible to start the correct version afterwards, it's not a big issue, just wanted to report it for completeness. Thanks for your great software btw :)

[2018-04-05 20:12] tresf commented on #301
Here's the offending code:

https://github.com/qzind/tray/blob/1ee777fbd7764f9b419b27137297c9657c12d7a5/ant/apple/apple-postinstall.sh.in#L27-L29

Can safely be changed to:

[code]

* `open -a` tells MacOS to look for a registered application. e.g. `open -a Firefox`.
* `open ` tells MacOS to open whatever is at a specific path. e.g. `open /Applications/Firefox`.

We'll get this patched for 2.0.7.

[2018-04-05 20:16] tresf commented on #299
@lichtamberg thanks, this is helpful.  At the type of writing this, we can't update to Java 1.8.0_u162 because the patch is SDK-only, the runtime is only at u161 currently.

We'll downgrade Java and see if we can reproduce.

[2018-04-05 21:28] klabarge commented on #299
Using PDFwriter on macOS, there is a difference in the page size between 2.0.5 and 2.0.6. However, the actual printed content seems to be the same

This was reproducible on Java 1.8u162 ([public download available here](http://www.oracle.com/technetwork/java/javase/downloads/jre8-downloads-2133155.html)) as well as Java 1.8u131

I used `size: {width: 4, height: 6}` for the below prints

* QZ Tray

[2018-04-05 21:44] klabarge commented on #299
I reverted https://github.com/qzind/tray/commit/28736666aa73f707e4f919e63f63b6ad74834ee7 and printing was identical to 2.0.5

[2018-04-05 21:50] tresf commented on #299
Turns out to be a version parsing bug.  `Constants.JAVA_VERSION` is returning `1.8.0` instead of `1.8.0-162`, causing this problem.  I'm on the case.

[2018-04-05 23:32] tresf commented on #174
This is still broken in Java8u162.  Reopening `SR 3-13242741891`, thus reopening this.

[2018-04-06 00:02] #299 closed

[2018-04-06 00:04] tresf commented on #299
Ok, [`jsemver`](https://github.com/zafarkhaja/jsemver) requires the format to be in `1.8.0+162` (notice the `+` instead of the `-`).  Patched via  0d91e06.  Installer available here: https://qz.io/download

@lichtamberg thanks for the bug report, greatly appreciated.

[2018-04-06 00:44] tresf commented on #301
@lichtamberg can you confirm 2bfcbe3 fixes this for us on your machine?

A temporary installer is avilable here: [`qz-tray-2.0.6-fix301.pkg`](https://github.com/tresf/tray/releases/download/v2.0.6/qz-tray-2.0.6-fix301.pkg)

[2018-04-06 01:18] tresf commented on #285
The printer arrived.  I'm updating this ticket with some emails to the printer manufacturer.

We do not yet have a successful print.  Here is the email conversation.  Some items have been paraphrased for clarity.

...

[2018-04-06 01:32] liushuyu commented on #285
It's definitely not correct Chinese. The characters were from extension area (rarely used character), and you can see the length of original text is half the length of the printed text.

[2018-04-06 01:42] liushuyu commented on #285
And please do note your test text is in Traditional Chinese, although it's also supported in `gb18030` codec.

Here's a example of a short segment of Simplified Chinese:

(This sentence is in Simplified Chinese)

[2018-04-06 02:25] tresf commented on #116
@cwg999 another client tested out your solution and shared the following with us...

[2018-04-06 02:28] tresf commented on #285
@liushuyu I had assumed the problem was improper Java decoding but I'm awaiting some more information from Lite's testing.  Thank you kindly for the research.  It's exactly what I was suspecting when I saw his printout. :)

[2018-04-06 02:35] liushuyu commented on #285
Thanks for your response, and I think that's "improper Java _encoding_" ? Since it was the printer that did the decode job :-)

[2018-04-06 02:41] liushuyu commented on #285
For the reference:

Text|Hex
------|-------
艾德蒙 AOC E2450SWH 23.6吋|`b0acb5c2c3c920414f432045323435305357482032332e3685bc`
这句话是简体中文|`d5e2bee4bbb0cac7bcf2cce5d6d0cec4`

[2018-04-06 02:51] tresf commented on #285
@liushuyu perhaps, but I don't think so.  Encoding is two-part.  1. Java, 2. Printer.

Here's my official write-up on it.  https://github.com/qzind/tray/wiki/Raw-Encoding#background

Chinese is not unique.  Java must convert UTF-8 to `gb18030` first.  Without Lite's code, it's impossible to know what was sent.  Note, QZ Tray can be tested using a [raw output file](https://qz.io/wiki/2.0-Raw-Printi

[2018-04-06 08:09] lichtamberg commented on #301
@tresf Your installer works fine 👍

I installed it successfully, tried to installed the old 2.0.6 installer - which failed, installed again your installer and it worked fine again - looks like the new version fixes the problem.

Thank you very much!

[2018-04-06 08:09] #301 closed

[2018-04-06 08:39] lite1979 commented on #285
Though using 'encoding: 'GB18030'" was not successful, I was successful using 'encoding: 'GBK''

First, I tried the Traditional Chinese sample:

[code]

And achieved correct results:
![traditionalchineseprint](https://user-images.githubusercontent.com/3408749/38402882-7a4a77fa-392d-11e8-84b6-e71ab3da2f4c.jpg)

I then tried the Simplified Chinese example provided by @liushuyu (thank you!):

[code]

[2018-04-06 17:32] liushuyu commented on #285
As you may have known, GBK is a compatible subset of GB18030 codec, or more precisely, GB18030 (a standard published in 2006) is an extension to the original GBK (only a recommendation published in 1995).

And GB18030 added partial Japanese and Korean support (Kanji Extension A area) but still backward compatible, that's why you can print out the text correctly using GBK encoding even though the p

[2018-04-06 20:13] tresf opened #302 "HTML print stuck "Waiting on capture..""
There seems to be a bug with HTML printing, if the file does not exist and an error is encountered, the HTML capture never completes.  The logs will look like this:

[code]

[2018-04-07 20:04] tresf opened #304 "Arabic ESCPOS Support"
We're [adding support for more character sets in ESCPOS](https://qz.io/wiki/Raw-Encoding#escpos) by testing -- and documenting various languages but we don't know the status of Arabic.

This is a placeholder to track the progress with printing Arabic, RTL (right-to-left) language.  Initial testing has been very poor leaving undesired spaces in between characters.  See also https://github.com/mike4

[2018-04-10 05:51] tresf opened #305 "Basic serial improvements"
While working with a 250,000 baud Arduino we noticed that the serial port settings work fine without any configuration, but once data is sent to the device, they get out of whack.

Currently, the baud properties are part of the `qz.serial.sendData(...)` method, however, data may be sending to QZ Tray before a message is sent.

[code]

~~Furthermore, the Arduino sends a CRLF (`\r\n`) after each mes

[2018-04-11 18:31] tresf commented on #168
This has been fully implemented in #306.  Ready for testing/review/merge into the 2.1 branch.

[2018-04-12 02:50] klabarge opened #307 "2.1 vs 2.0 Legacy HTML Printing"
The output from legacy HTML printing is different between 2.1 and 2.0 on macOS

**Java Version:** 8u172
**OS:** macOS 10.13.4 (17E199)

~~Below is a screenshot using the sample.html with default settings (besides `legacy: true`)~~

**Update:** It was brought to my attention that my explanation was confusing.

* (The Screenshot below is comparing 2.0 (left) vs 2.1 (right) printing with `legacy: tru

[2018-04-13 04:07] tresf commented on #174
Turns out Oracle's fix worked for QZ Tray v2.0.2, but we went and found a way to break it again in QZ Tray v2.0.3.  We're discussing this under `SR 3-13242741891` currently.  We believe the `Book` class to be the cause but we're not 100% sure on that yet.  Will post updates as we find them.

[2018-04-13 21:25] blaggacao opened #308 "[Feature Request] Official support headless Raspberry PI Deployments"
I know there is #50 and a stack overflow thread, but I think the time is right :smile:

[2018-04-13 21:26] blaggacao commented on #308
Duplicate of #50

[2018-04-13 22:25] tresf commented on #308
Agreed.  This is already supported in 2.1 branch without JavaFX support.  Closing as duplicate.

Headless support for 2.1 is documented here: https://qz.io/wiki/2.1-Headless-Deployment

[2018-04-13 22:25] #308 closed

[2018-04-16 15:14] mrloop opened #309 "Windows 10 start up"
On Windows 10 QZ tray failing to start (in this case whitelabeled version), see video https://drive.google.com/file/d/1HwXFMHf2vRDK2UHVxqbS4FqilQZOIkCG/view?usp=sharing.

Startup in Windows 7 fine. Looking in `regedit` in windows 7 I see `HKEY_CURRENT_USER > Software > Microsoft > Windows > CurrentVersion > Run` with the correct entry. In Windows 10 I see `HKEY_CURRENT_USER > SOFTWARE > Microsoft

[2018-04-16 16:50] tresf commented on #309
@mrloop, thanks for the detailed bug report.

At which point in the video do you tell QZ Tray to auto-start?  White-label is currently 2.0 branch only and auto-start is not enabled in the desktop installer.  2.1 is autostart by default per #4.

At about 2:40, I see you check for the icon, but I'm missing the part where you ask it to auto-start, which is a manual action in 2.0 branch.

[2018-04-17 02:38] klabarge opened #310 "Set communication parameters for serial before connecting"
`setParams`  needs to be able to be passed in during the initial connection. Setting the `baudRate`, `dataBits`, etc. does not get properly set after the connection is already established.

https://github.com/qzind/tray/blob/1f0b1c172c9c833fb02f2a2eb5b75556d4418263/src/qz/communication/SerialIO.java#L148-L149

[2018-04-17 05:02] Vzor- commented on #282
I'm going to take a crack at this one. I think this can be done with chunking instead of a streaming.

[2018-04-20 13:29] tresf opened #311 "2.1 API not backwards compatible with 2.0 executable"
Quoting an email from a beta user:

2.1 has modified the API a bit...  namely, 2.1 uses "type", "format" and "flavor" parameters as explained here: https://qz.io/wiki/2.1-Raw-Printing#escpos.

[2018-04-21 19:46] tresf commented on #269
Branch `evolis` is available for testing.

[code]

We tried both with and without using the Evolis `.icc` color profile but the results were only visible on the color stripes.  The photo quality was pretty spot-on with both basic CMYK conversion as well as RGB->RGB(Evolis)->CMYK.  We've requested a proper RGB-CMYK `.icc` profile from Evolis directly but have not heard back yet.  We'll merge using

[2018-04-24 03:29] tresf opened #312 "HTML fails to fall back to 1x zoom"
For HTML documents that are too large with 2.0.6, HTML fails with the error:

`java.lang.UnsupportedOperationException: Failed to capture HTML`.

Full log available here: [view full log](https://gist.githubusercontent.com/tresf/2eeb32e38538d286acb7ffe5e51eb31f/raw/73e604ab0f973ecf6be4d0ee9bd2060239fd3ed8/html_crash.log)

In 2.0.5 with the same document, the printing initially fails, but then QZ Tr

[2018-04-24 03:53] bberenz commented on #312
We apparently lost a whole exception in the stack after the refactor. Not sure how/where, but 45e40f4350415b4b98172cacdab911b36edc18e5 updates to handle both.

[2018-04-24 18:21] MelonSmasher opened #313 "ID Card printing image in top right"
Hi, I was wondering if someone could provide some guidance on an issue I'm having. I'm trying to print ID cards to a HID Fargo DTC 4500. When I do the image prints in the top right of the card as seen here:
![image](https://user-images.githubusercontent.com/6345473/39207122-27055070-47cd-11e8-9cd0-59c54e993bfd.png)
)

I have the printer set to CR-80 and I'm converting a div to a png using [domtoim

[2018-04-24 18:36] tresf commented on #313
Can you send a sample image that you're printing?  We can check a  few things and get back with some recommendations.

[2018-04-24 18:41] MelonSmasher commented on #313
Sure thing:

![card](https://user-images.githubusercontent.com/1491053/39207292-9552792c-47cd-11e8-88f5-126a2ec80934.png)

[2018-04-24 20:44] tresf commented on #312
Confirmed.  This regression will be fixed in 2.0.7 release.  Please contact support@qz.io if you require a patch prior.  Note, downgrading to 2.0.5 will correct this problem as well.

[2018-04-24 20:44] #312 closed

[2018-04-25 03:13] bberenz commented on #269
Support for overlay ribbon added under a5f939e93fc13b9dfb5f6dfad2c1d8b9771b0318.
Allowed options include:
- `boolean` to cover entire card
- `string` to pass a mask image, or
- `array<array<number>>` to pass array of rectangles (`[[x1,y1,x2,y2], ...]`).

Set under the `overlay` option in the data object. (`{ language: "EVOLIS", precision: 128, overlay: true }`)

[2018-04-26 03:07] tresf commented on #269
Tested, works.

[code]

[2018-04-26 03:52] tresf commented on #269
Documentation added via https://qz.io/wiki/2.0-Raw-Printing#evolis.  Merging.

[2018-05-01 02:53] tresf commented on #313
Closing due to lack of response.  @MelonSmasher if you get this working, please provide the steps so others can learn.  This printer is on the expensive side, so it's in our best interest to play nicely with the driver.  If you've done the above and still experience the issue we'd be happy to reopen.

[2018-05-01 02:53] #313 closed

[2018-05-01 04:20] tresf opened #316 "Allow serial baud settings to be optional"
Currently, serial baud settings will fallback to some sane defaults (e.g. 9600, 8, 1, NONE, NONE) if not provided, however some devices such as the virtual serial port installed from an Arduino will auto-negotiate working settings without any baud settings at all.

This is a nice option so that a developer does not need to make a guess at the baud settings in order for communication to function.

[2018-05-01 04:27] tresf commented on #302
Fixed via 3eed14.  Available in 2.0.6+.

[2018-05-01 04:27] #302 closed

[2018-05-01 04:30] tresf commented on #274
@lite1979 any update on testing this?

[2018-05-01 04:36] bberenz commented on #305
Serial port parameters moved to passed through `openPort` on [serial](https://github.com/qzind/tray/tree/serial) branch.

[2018-05-01 04:37] tresf commented on #249
I'm closing this as `wontfix` for now.  It's not practical or feasible at this time.

[2018-05-01 04:37] #249 closed

[2018-05-01 05:25] tresf commented on #305
Closed via 3711308

[2018-05-01 05:25] #305 closed

[2018-05-03 03:03] klabarge commented on #50
@dsanders11 I've confirmed the slowness...

TL;DR OpenJDK is slow, use oracle Java

[code]

#### Using OpenJDK 1.8.40

1. It takes almost 3 minutes for QZ Tray to launch. Using `top` you can see a 100% CPU usage on Java when QZ Tray is launched
1. Once QZ Tray is started, the CPU usage plummets
1. Connecting a client to the webpage triggers another 100% CPU spike for 20-30 seconds until the connec

[2018-05-03 17:16] tresf opened #318 "Expose stack trace to JavaScript"
For cloud providers, it is requested that we can provide a full `java.lang.Exception` backtrace from Java to JavaScript when an exception occurs to reduce the number of times the provider has to remote into the client workstation.

This is a placeholder to track the feasibility of this request.

[2018-05-03 20:38] tresf opened #319 "Fedora 24 support"
From the mailing list...

[2018-05-03 23:24] klabarge opened #320 "Install parameters ignored on Ubuntu"
Tested against Ubuntu 16.0.4 and Raspbian Jessie

One can pass in an SSL certificate during installation for trusted HTTPS certificates:

[code]

Passing in a bogus path fails the websocket certificate installation on version 2.0.4 and earlier.

2.0.5 + does not throw an error, and shows a successful certificate installation, indicating that the parameters are ignored

**2.0.5**
![image](https://u

[2018-05-04 01:59] tresf commented on #320
SSL requires a `localhost` **override**.  Passing in `''` will cause the script to treat it as a zero-length string and it will fallback into standard `localhost` mode and the other parameters should be ignored.

Tested using:

[code]

... and it works perfectly.  Closing as invalid. :)

[2018-05-04 02:07] tresf commented on #320
ah bollocks... you're right... reopening...

I re-reviewed the [Trusted SSL documentation](https://github.com/qzind/tray/pull/89#issue-169268163) and it specifically states to use `''` for the hostname, which make sense, we aren't making a cert, we don't need it.

I guess for now you can use the workaround of providing the hostname until this is patched.  Reopening....

[2018-05-04 02:12] tresf commented on #320
Ok, now I'm confused.  Just tested with the following syntax and it works...

[code]

And if I break the path for `cert.txt` or `key.txt` it properly displays an error.

[2018-05-04 02:15] tresf commented on #320
@klabarge I think the example we use in our documentation is wrong.  Can you try it without the double-quotes around "-y '' ... ..."

[2018-05-04 02:35] klabarge commented on #320
Yes, that's exactly the problem. The discrepancy between 2.0.6 and 2.0.4 was that 2.0.6 ignores the parameters when the syntax is wrong, installing the software normally, while *<2.0.4 fails the certificate installation piece

[code]

Also updated the example in https://github.com/qzind/tray/pull/89

[2018-05-04 02:35] #320 closed

[2018-05-04 05:58] zxchen89 opened #321 "Malicious found in qz-tray-2.0.6.exe"
Please take a look of the attachment.

![qz-tray-2 0 6](https://user-images.githubusercontent.com/1573526/39614532-27e37fac-4fa3-11e8-9ae1-cce1f5596496.png)

[2018-05-04 06:10] tresf commented on #321
These are false-positives.  Closing as invalid.  We use Homebrew's NSIS to package our installers on MacOS.  We've found no evidence whatsoever to these claims.

[2018-05-04 06:10] #321 closed

[2018-05-04 06:17] tresf commented on #321
We'll see to get this whitelisted, but these AV engines seem to have a habit of doing this.

[2018-05-04 10:08] zxchen89 opened #322 "Able to check if the printer is ready or offline?"
Understand it's not available in current version, but are we able to have a feature to check if the printer is ready or offline?

[2018-05-04 12:03] klabarge commented on #322
Printer status will be available in 2.1.

You can track the progress here https://github.com/qzind/tray/issues/42

[2018-05-04 12:03] #322 closed

[2018-05-05 20:16] klabarge commented on #321
Kaspersky, CAT-QuickHeal, Antiy-AVL, and ZoneAlarm* have been contacted.

*Zone Alarm uses the Kaspersky AV engine. Two 🐦's :)

[2018-05-08 03:48] #319 closed

[2018-05-08 03:54] klabarge opened #323 "Restart QZ Tray after cert override/regen"
QZ Tray must be restarted on Windows and macOS whenever the cert  scripts are used for overriding or regenerating a certificate. Linux requires the certificate regeneration/override to happen at install time, so is unaffected.

We should automatically restart QZ Tray in these scripts. It's one less step administrators will have to deal with.

* [ ] Windows: [windows-keygen.js](https://github.com/q

[2018-05-08 18:32] tresf opened #324 "Add HTTP status page"
As LetsEncrypt support is becoming more and more popular there's an increased request to have QZ Tray report back the certificate expiration of the SSL cert so that site administrators can better manage print servers.

Furthermore, QZ Tray could serve itself through a status page if we properly handled WebSocket upgrades from HTTP to WS gracefully.

Below is a proof of concept which will return a

[2018-05-08 18:33] tresf commented on #324
Sample output from the above example:

[code]

[2018-05-08 18:41] tresf opened #325 "Serial width vs boundWidth"
@bberenz is this a typo?  I think this should be `width` instead of `boundWidth`.

https://github.com/qzind/tray/blob/3711308a8f9c76cabc2fce448d9e3d8b662eb9c8/src/qz/communication/SerialProperties.java#L67-L70

[2018-05-09 02:06] bberenz commented on #325
Yeah, almost looks like it got changed in a refactor of the variable name without noticing. Fixed under 50023b1b2550703181f4934b2537da84d2a6b2f3

[2018-05-09 05:19] tresf opened #326 "Printer tray selection for PDFs"
PDF printing seems to ignore the printer tray selection in QZ Tray 2.1.

1. Install Boca Windows driver from http://www.bocasystems.com/bocaprinterdrivers.zip
2. Add a new `FILE:` printer that utilizes the `Boca FGL 26/46 200 DPI` driver.
3. Using `sample.html`, print a PDF

Now, repeat the above steps, but provide the tray name `P1 - Rotate 180` tray.

Compare the results.

If selected properly,

[2018-05-09 15:28] ryanomite commented on #325
Thank you both! Works great on our end, now.

[2018-05-09 17:07] #325 closed

[2018-05-10 00:10] lite1979 commented on #326
Behavior is the same for "Print Image" as "Print PDF" using the Boca driver and "P1 - Rotate 180"

The print job does not get rotated to the other physical limit of the printable area.

HTML, on the other hand, uses the "P1 - Rotate 180" and performs as expected - the print job gets rotated to the other physical limit of the printable area.

[2018-05-10 14:28] tresf opened #327 "Unable to start JavaFX service"
Been going back and forth with @bberenz on this one...

The error message generally looks like this:

[code]

The cause appears to be a timeout issue occurring while the JavaFX process starts up for the first time. We've made attempts to patch this but we're still getting reports of it.

Opening an official bug report to better track the progress.

At time of writing this, the attempts live in a30

[2018-05-10 14:43] tresf commented on #327
@bberenz is there a chance we're getting stuck incrementing this counter after a successful load rather than just using the instance?

https://github.com/qzind/tray/blob/2.0/src/qz/printer/action/WebApp.java#L138-L157

[2018-05-10 17:10] bberenz commented on #327
We enter the loop, but if `started` is true, we break immediately. The exception seen is only thrown if that value is still false after the loop completes.
We never reset this value either. It's only false when the class is initialized and only set true when `start()` gets called.

The logs linked also show a restart of qz, so this isn't an issue of it suddenly not seeing jfx is ready. It only occ

[2018-05-10 17:13] tresf commented on #327
👍

👍

Yes, the startup took 9 seconds on that time it failed, so I guess it was working properly.  Why it failed is a mystery though.  I expect to find some type of resource not being released.  Is there a chance we're not freeing something?  It appears from the logs that the client is doing an abrupt disconnect.

[2018-05-11 02:52] tresf commented on #327
After reviewing the logs and doing further testing, we believe this is simply a slow load situation.  Patch available under `fxload` branch, ready for testing.
 https://github.com/qzind/tray/commit/6859f88273fa2dd6118bfd2daf0bd33181a59861

[2018-05-11 20:38] tresf commented on #324
Initial support added under 14ec02c on `html` branch.

![image](https://user-images.githubusercontent.com/6345473/39945788-b1c535da-5539-11e8-866a-cdf6314cea62.png)

![image](https://user-images.githubusercontent.com/6345473/39945801-c5ff19c6-5539-11e8-8f08-53adebaa0711.png)

[2018-05-14 15:34] #327 closed

[2018-05-14 15:35] tresf commented on #327
Confirmed fixed by client.  Merged, closed.

[2018-05-15 00:47] tresf commented on #321
Quickheal has replied stating false-positive.

[2018-05-16 18:33] Fermec28 opened #329 "Error build qz-tray 2.1 using JDK 1.8"
Hello everyone, i try to build qz tray version 2.1 on raspberry pi :
java -version
[code]
also i had downloaded and added  [JavaFX Embedded SDK ](http://gluonhq.com/products/mobile/javafxports/get/) following this [steps](http://docs.gluonhq.com/javafxports/#anchor-1) (2.1.4. Embedded)

But when i try to build with sudo  ant command, it show me this currently error:
[code]
so how i can resolve thi

[2018-05-16 21:25] tresf commented on #329
Install Java FX.

[2018-05-16 21:27] tresf commented on #329
I believe JavaFX is getting harder to run on Pi, so we might need to add a compile-time flag to disable HTML support.

You could also compile on a regular desktop and copy the `.run`.  We don't do anything architecture-specific, so the `.run` for x86 should work just fine on any other architecture, such as ARM.

[2018-05-16 21:44] blaggacao commented on #329
We just did that, and are now making tests to run it on a PI.
It would be quite interesting for our use case to have reliable PDF/HTML support on Raspberry PI with headless mode.

Am I right, that PDF/HTML goes together?

[2018-05-16 22:06] tresf commented on #329
PDF should work.  It's 100% Apache PDFBOX under the covers; It should work headless as well.

HTML is the black sheep.  Not only does it use the -- somewhat buggy -- JavaFX framework but our attempts to run it headless have been unsuccessful.

As a workaround for HTML, there're some JavaScript libraries that will turn a DIV into a canvas object and export to PNG, but we've yet to find an alternati

[2018-05-16 22:54] tresf commented on #329
That's an excellent library although we haven't made any attempt to shim in Pi support yet.  Ideally, the library that we use can communicate directly with the printer.  Any intermediary formats (PNG, PDF) would cause unnecessary overhead (as HTML support already does in the 2.0 branch).

You may be able to get your hands on an older JRE build before JavaFX was removed.  I'm not sure how reliable

[2018-05-18 18:52] bkdotcom opened #330 "QZ Tray feature request - ability to save pdf data"
I would like to see the option to store/log/save the "raw" PDF data that is sent to QZ Tray
Iie a checkbox option, and select a destination folder..)

This would primarily be used to help troubleshoot print quality issues

[2018-05-19 19:13] tresf commented on #329
### OpenJDK

For the Raspberry Pi, this will install OpenJDK (Java8u111) with JavaFX support directly on the Pi.
Note, Java also provides a JDK for the Pi, but it is missing JavaFX support.  We'll attempt that in a separate post. :)

**JavaFX**
[code]

**Build Tools**
[code]

**Compile, Install**
[code]

**Start QZ Tray**
[code]

**Test QZ Tray**
[code]

If you'd like to start using the Raspberry

[2018-05-19 19:18] tresf commented on #330
I see three 👍's from @bdbrobst, @geland, @joevhart.  Can one of you please explain what's being asked here?  Generally, a printer emulator will give you what you need to "troubleshoot quality print issues", what are you asking for exactly?

[2018-05-19 20:17] tresf commented on #329
Ok... so a few things I'm learning the hard way...

1. Oracle Java 8 is already pre-installed on the PI but I've decided to use the latest from Oracle instead.
2. QZ Tray 2.0 will compile but just fail on HTML printing
3. QZ Tray 2.1 will not compile

So the question is really a matter of how to get the JavaFX libs installed and detected or disable them if they're not available.  I was able to rep

[2018-05-19 21:57] tresf commented on #329
Ok... it turns out that `SwingFXUtils.java` is not part of the the Oracle JDK or the Gluon JDK, which is why compilation isn't possible on Raspberry Pi.

My best guess is this was done because it uses `IntegerComponentRaster` which is a proprietary API.  See the following compilation warning:

[code]

@Fermec28 can you try the following:

[code]

From my env:

[code]

Unfortunately, this leads to

[2018-05-21 13:42] bkdotcom commented on #330
https://github.com/qzind/tray/wiki/printer-emulators

Two of the recommended emulators :  "600 dpi only; known to degrade image quality"

* Yet another layer of conversion.
* Requires installation..    At a support desk, walking a customer through installing a emulator/virtual-printer and having customer correctly select it in application...

[2018-05-21 14:36] tresf commented on #330
I still don't understand the request.  Printing is complex and isn't something that can simply be "emulated" Java-side.  Troubleshooting shouldn't be done client-side generally, but should be handled back in the lab where code is tested.

If you want a universal, cross-platform, Java-based printer emulator, you've come to the wrong place. I'm still not sure what this request is.  Emulating a full

[2018-05-21 14:47] tresf commented on #330
Note also, if you're speaking specifically about base64 PDF data:

Then ^--- this is the solution you want and need.  As long as you're not using Safari, the PDF data can be viewed without QZ Tray at all.

[2018-05-21 15:19] bkdotcom commented on #330
This is essentially what we're after.. can do with minimal development.

Thanks

[2018-05-21 21:32] tresf commented on #285
Documented here: https://qz.io/wiki/Raw-Encoding#escpos-simplified-chinese.  Closing.

[2018-05-21 21:32] #285 closed

[2018-05-23 04:34] bberenz commented on #324
I've pulled out the about data to a common class and added some basic formatting of said data on the html page under 348014c377cf7d980b41d62795a1049f1f73e629.
You mention using the same data on the about dialog, but there's some special formatting there, so I'm not sure how to do that cleanly yet.
Feel free to edit further as you see fit.

[2018-05-25 03:11] zxchen89 commented on #321
After some time, my security team has tried to check again, but it seems there are more engines treating its as a virus. Please help, we couldn't buy this plugin if it's not whitelisted.
![image](https://user-images.githubusercontent.com/1573526/40524280-4e614a32-600c-11e8-8e35-1a4b072cc9f8.png)

[2018-05-25 15:09] klabarge commented on #321
Is there a specific AV you need whitelisted? As mentioned before, these are false positives.

**Antiy-AVL:** We've attempted to reach out several times, but their inbox is full and are not receiving our requests. I've reached out to other email addresses without response.

   ![image](https://user-images.githubusercontent.com/12505463/40549634-ff2031dc-6005-11e8-99e9-193ba2571ee5.png)

**CAT-Quick

[2018-05-25 21:45] liushuyu commented on #321
They have a report site here: http://mailcenter.rising.com.cn/filecheck_en/ Remember to select "Report False Positive" Option.

The English translation on this website is very bad, but I think at least can be understood.

[2018-05-25 21:49] liushuyu commented on #321
Good news. The VT showed an all green status now.

https://www.virustotal.com/#/url/d6cf4c49c42a55fadecda65b32302194abcbf012c27cfaf32ffa937b93d1d441/detection

[2018-05-25 21:52] klabarge commented on #321
Thanks @liushuyu !

At the time of writing, I had the same results as @zxchen89

[2018-05-25 21:54] liushuyu commented on #321
At the time of writing, I had the same results as @zxchen89

Ah, sorry, VT is very inconsistent now, I clicked on reanalyze and it now turn red again...

[2018-05-25 22:03] liushuyu commented on #321
After several re-tries, the results stabilized and shown as follows:

![image](https://user-images.githubusercontent.com/6829345/40567944-f08ac130-6034-11e8-9fdc-19c5560741a3.png)

**Antiy-AVL** and **TrendMicro-HouseCall** are still having problems with the installer.

[2018-05-26 05:12] liushuyu commented on #321
@klabarge So quick update here:

AV Software | Status
----------------- | -----------
**Antiy-AVL** | Seems to be a Chinese company, I'll try to communicate with them with their CN domain email.
**TrendMicro-HouseCall** | Waiting for your result.
**Rising** | No false positive in latest scan
**McAfee** | No false positive in latest scan
**CAT-QuickHeal** | No false positive in latest scan

[2018-05-26 17:37] klabarge commented on #321
@liushuyu you aren't kidding. I'v rescanned several times, results coming back all green.

Great!

I'll update when I hear back from TrendMicro-HouseCall

[2018-05-28 06:46] zxchen89 commented on #321
Thanks! @liushuyu & @klabarge

I got 2 red in result as well. The result will come with red when you upload the exe file, instead of using the URL.
![image](https://user-images.githubusercontent.com/1573526/40600938-c0a9871e-6285-11e8-8c5d-2e0eec02e49b.png)

[2018-05-28 06:50] liushuyu commented on #321
@zxchen89 if I understand correctly, basically what is your company's security team doing is they rely on all green on VirusTotal to decide whether buy the product?

[2018-05-28 06:56] zxchen89 commented on #321
@liushuyu Yes, you are right! If there is 1 red in the result, the security team won't approve us to buy and even use the product, it will be blocked by my company anti-virus software that has already installed in each of my company PCs.

[2018-05-28 07:02] liushuyu commented on #321
What's the antivirus your company currently using?

[2018-06-04 17:03] cicalo opened #331 "qztray 2.06 try to print HTML Error: Failed to capture HTML"
Hello, I'm try to do something with qztray. I'll need to print in my pos printer some html code:
a list of all my cups sold.
I'll try to use html raw, but always error.
here is my poor test code, I'll copied from some example. But the same error occurs from demo site.
Can you help me?
thks
[code]

[2018-06-04 20:17] tresf commented on #331
Most likely a duplicate of #327.  Can you see if this build fixes it?

https://github.com/tresf/tray/releases/download/v2.0.7-RC3/qz-tray-2.0.7-RC3-timeout.exe

[2018-06-05 07:28] cicalo commented on #331
thks tresf, it seems to works now.

[2018-06-05 18:04] #331 closed

[2018-06-05 18:32] cicalo commented on #331
tresf, now the problem is solved . But i' would like to know if there is a page lenght limit!!
I've done a report, but it stop to print without error message after around 100 lines.

[2018-06-05 19:14] tresf commented on #331
Yes, 2.0 doesn't support multiple-page documents.  2.1 addresses this problem but is still in alpha.  You can compile 2.1 from source if needed.  Note, the recent timeout patch from 2.0 hasn't been fast forwarded but you can do it by hand locally if needed, it's here: https://github.com/qzind/tray/commit/44f9adb51e712480c02c25608ffe75be1802716a

For premium clients suffering this problem, reach ou

[2018-06-06 22:51] klabarge commented on #321
We are still getting the same 2 false positives in VirusTotal.

I still have not heard back from TrendMicro, but I just followed up with them.

@liushuyu did you have any luck contacting Antiy-AVL?

[2018-06-06 22:57] tresf commented on #321
I emailed Antiy-AVL last night, no reply.  They claim all files must be validated using their public key, although I'm not sure what purpose that serves over a hash.

I just sent them a hard link.  I don't expect a reply though.

[2018-06-07 19:18] tresf opened #332 "NSIS "silent" mode still shows popups"
For environments that use deployment strategies such as [NSIS silent install mode](https://qz.io/wiki/deployment#windows), there's still a chance the installer is interrupted by a dialog, such as this one.

![image](https://user-images.githubusercontent.com/6345473/41121284-f302b720-6a65-11e8-8cb6-776e9e00e181.png)

[2018-06-07 19:32] liushuyu commented on #321
I didn't get any reply from their Chinese submission email address either. I think maybe the only working email addresses might be from their sales department.

[2018-06-07 21:57] #332 closed

[2018-06-08 05:03] tresf opened #333 "ChromeBook Support"
### Objective

Document Google ChromeBook support for QZ Tray

### What Works

* Chromium browser installed inside [Crostini](https://www.reddit.com/r/Crostini/comments/8o1u2o/chromebook_plus_linux_beta_quick_how_to/).

[code]

   ![image](https://user-images.githubusercontent.com/6345473/41138173-71edd802-6aad-11e8-8f5a-c76dd649689a.png)
   * Warning, at the time of writing this, Crostini running

[2018-06-09 18:49] tresf commented on #332
Closed via ab30218.  This patch will be available in the 2.0.7 release.  If you need an early release, please contact support@qz.io.

[2018-06-12 12:18] tresf commented on #321
I've reached out to VirusTotal informing them that Antiy-AVL has been unresponsive to false-positive/whitelist requests.

[2018-06-12 13:19] tresf commented on #274
Code we are using...

[code]

[2018-06-12 14:20] tresf commented on #321
VirusTotal send a typical robot reply, but they did provide a different email address for submission... `avlsdk_support_vt<at>antiy.cn`.  I'll try this one out.

[2018-06-12 14:37] tresf commented on #321
So here's something interesting...

GitHub URL (marked as 0/68 unsafe):
https://www.virustotal.com/#/url/d6cf4c49c42a55fadecda65b32302194abcbf012c27cfaf32ffa937b93d1d441/detection

Dragged in file (marked as 2/68 unsafe):
https://www.virustotal.com/#/file/c7b7b016fc5a48d83f147fc7426f71bbb57eda186af915893c6808f7a4c9158f/detection

Note that the irreversible sha256 hash for both URLs are identical:

[2018-06-12 15:02] tresf commented on #321
Ok, I think I found the source of this... Hybrid-Analysis has marked the installer as malicious on suspicion.  The suspicions seems to stem from a few "heuristic" flags such as using the free `nsis` tool for creating the win32 installer as well as spawning processes during install.

I've placed a support request through Hybrid-Analysis to whitelist.  What a mess this whole process is.

https://www

[2018-06-12 17:51] tresf commented on #321
Hybrid-Analysis got back...

I've reached out to a contact we have at NIST to see if he can help us with this process -- since -- [they use QZ](https://user-images.githubusercontent.com/6345473/41307628-b7742f5a-6e47-11e8-97b2-27a7ab6cd0d6.png) too. :)

[2018-06-12 18:57] tresf commented on #324
Closed via #334.

[2018-06-12 18:57] #324 closed

[2018-06-15 13:01] CindyLulu opened #335 "pdf print with Portrait orientation doesn't work on Mac"
I want to print a portrait label with 2.36 x 1.18  size using Zebra printer. It works correctly in Windows, but the label content looks very small in Mac.

Here' s the sample code include pdf data(2.36 x 1.18).
[sample.txt](https://github.com/qzind/tray/files/2106041/sample.txt)

Please open qz client of 2.0.6 version, and help update config of sample.html like below:
orientation: portrait
width:

[2018-06-15 15:35] tresf commented on #335
This generally means Mac can't find that label size when printing.  Also, it appears you're using `rasterize: true` (default).

* Can you please specify `rasterize: false` ?  This is a setting that default to `true` on 2.0.0 due to a bug with MacOS and PDFBOX which Oracle has since provided a patch for and is no longer needed.
* Instead of `2.36 x 1.18`, can you use `{ size: { width: 2.3622, heigh

[2018-06-20 11:11] CindyLulu commented on #335
Hi @tresf , thanks for your reply!
I've tried rasterize: false, doesn't work for me.
When I trying to set different label size, it works for me when I set the both width and height in the sample.html same with the actual width of the pdf, very odd.
Here's the portrait file (2.62" x 1"), only setting the width and height with both value 2.62. Then the portrait orientation print will work.
[abc.pdf]

[2018-06-20 13:33] tresf commented on #335
We don't have the same labels, so this will be hard to reproduce, but we need the exact paper dimensions before reproducing anything.

We need the dimensions that the paper manufacturer sells these at in exact `in` or exact `mm`.

The fact that putting the wrong height fixes this is certainly strange but the way Java interacts with the CUPS printing subsystem on Mac is very, very buggy so we can o

[2018-06-21 01:59] CindyLulu commented on #335
Yes, @tresf , I also believe that's a jvm issue when communicating with CPUS driver on Mac.
To reproduce this issue I think we can use any label size larger than the actual pdf size, using 2.625" x 1.25" (common zebra label) or 4 x 6 are both the same.
The issue also is also existed for other pdf size like 2.15" x 1.15" and more.

The issue is not related with QZ side, but if other person also mee

[2018-06-21 02:02] tresf commented on #335
The issue also is also existed for other pdf size like 2.15" x 1.15" and more.

No, 4x6 works fine.  We test this each release.

I don't yet see any evidence of that.  Please provide a link to purchase the paper so that we can reproduce this issue, otherwise it will be closed as `invalid`.

[2018-06-21 06:38] CindyLulu commented on #335
sure, please try the label below with size 2.25 x 1.25 to print the attached pdf.
https://www.amazon.com/Direct-Thermal-Eltron-Compatible-Labels/dp/B072B9VBQ5/ref=sr_1_6?ie=UTF8&qid=1529562747&sr=8-6&keywords=zebra%2Blabel%2B2.25%2Bx%2B1.25&th=1
[225_115.pdf](https://github.com/qzind/tray/files/2122423/225_115.pdf)

[2018-06-21 14:56] tresf commented on #335
Thanks.   We'll order the labels on priority and see how far we can get.

On a side note, I'd like to add that these above statements are what are concerning me. Can you please clarify the technical requirements?  I don't see `2.62` or `2.36` in the label description and the original bug report makes this seem like a hard requirement.

We have seen some cases on MacOS where the print dialog must b

[2018-06-21 19:46] lite1979 commented on #335
Cindy:

Label stock has been ordered, and it will arrive Wednesday to Friday of
next week (6/27-6/29).

Did you turn the printer off before connecting to the Mac after using it in
Windows?  Also, what driver are you using in Mac?  Some recent versions of
CUPS have not had the correct Zebra driver, so I have referred a few
non-QZ-related inquiries to the PPD file located here:

https://gist.github.

[2018-06-22 19:59] tresf opened #336 "Periodically force certificate refresh"
A large part of our troubleshooting emails stem from the default behavior of the browser to cache static `.txt` files for a long time, breaking certificate updates when the cert has changed.

As a result, our signing examples should have a way to force refresh of the `digital-certificate.txt` every minute or so.

For example... references to `setCertificatePromise` should -- by default -- assume t

[2018-06-25 22:30] tresf commented on #4
Reopening so that @Vzor- can take a look at improving the Windows logic and take advantage of the `shared` folders that we'll be using once `file-io` is merged.

[2018-06-26 06:34] CindyLulu commented on #335
Thanks @lite1979 , I usually don't turn off the printer before connecting to Mac, and I've tried turn off and turn on, still not work.
My Printer is zebra LP 2844.
The CPU version I installed is 2.2.5
The related model I installed is Zebra EPL2 Label Printer.
Java version: jdk-8u171

[2018-06-27 01:16] bberenz commented on #261
So line 154 was some code for older versions of safari not actually calling `onerror` on websocket errors. The latest safari appears to have fixed that, so I added a check on the connection object in 911c525e5ad9f0042eaa63fe1158ef4104a1a013 to see if we already cleared it out. This way we can still support the older safari's for now.

As for the qz:launch bug... I don't exactly know the cause, as

[2018-06-27 02:01] tresf commented on #261
:+1: Thanks.  Closing as resolved.

[2018-06-27 02:01] #261 closed

[2018-06-28 14:03] tresf commented on #274
I'll provide an update on Lite's behalf... all attempts to use the community contributed code has failed on his printer.  @chunlinyao can you provide some insight?

[2018-06-28 14:44] tresf commented on #321
NIST can add 2.0.6 to the list, but it won't be until September as they're backlogged.  Meanwhile, a 3rd AV engine "Rising" is making claim `Trojan.Generic!8.C3 (CLOUD)`, which isn't even a virus signature, it's a behavior analysis.

A visit to Rising's website says the following:

![image](https://user-images.githubusercontent.com/6345473/42041361-c38b8264-7abf-11e8-86b1-a63e891538cc.png)

They d

[2018-06-29 03:09] bberenz commented on #336
Do we just want this in sample.html or set it up some way inside the qz-tray.js api?

[2018-06-29 13:53] tresf commented on #336
Just in the `sample.html` example and our [wiki examples](https://qz.io/wiki/2.0-signing-messages) as most clients copy and paste this verbatim.

We could consider adding our own AJAX function that takes the cert as a parameter, but that would be an API change.

[2018-06-29 17:46] tresf commented on #335
Paper arrived at @lite1979's place today.  We'll begin testing now.

[2018-06-29 19:45] lite1979 commented on #335
@cindylulu

Are your labels aligned to the left, or are they centered in the printer?

On Fri, Jun 29, 2018 at 1:46 PM, Tres Finocchiaro <notifications@github.com>
wrote:

[2018-06-29 23:49] Vzor- opened #337 "3D Printing Support"
### Feature specification for 3D printing support

**Basic summery:** User submits a 3D object to print on a specified 3D printer. The 3D object is sent to a slicer and the outputted gcode is queued up on the printer.

**Basic flow:** 3d object as file or data will be sent to tray with metadata. Tray will pass the file with slicer args to the slicer. Tray will wait until the gcode file is complete

[2018-06-30 00:01] Vzor- commented on #337
As of right now I have a client to printer proof of concept. https://github.com/Vzor-/tray/tree/6832d86822ac95f4eb7324d07243ca275a429b96 To test it, on line 49 of PrintSocketClent.java, set SEND_SERIAL_DATA dialog flag to false. Run the code.

On line 21 of testPrint.html, set the correct com port and baud rate. Open in browser. Select a gcode file to print.

Tray needs support for the 'ok' based

[2018-06-30 04:59] bberenz commented on #336
Jquery's ajax has a convenient `cache: false` value for this. And I don't think we need any periodic buffering thrown in as the certificate is only called on connect, which we'd probably want to force to the newest every time anyways. b048ff49e3bfe655688dd064bf7e0fbff0cdc73c

The `dataType: "text"` in there is to help avoid some "xml parsing" error messages in the console when pulling the plain te

[2018-06-30 06:54] CindyLulu commented on #335
Hi @lite1979,
The labels are centered in the printer.
When I disconnect my printer, I can see the pdf preview in my zebra print queue. The issue looks the same with my printed labels.

When I set
1) Orientation: Portrait
    Width: 1.25
    Height: 2.25
![image](https://user-images.githubusercontent.com/7055387/42122494-5fdd4628-7c75-11e8-8b20-4ef3b72b85fc.png)

2) Orientation: Portrait
   Width:

[2018-06-30 13:58] tresf commented on #336
From jQuery's documents...

So this is identical to our approach, but less scalable because 1. Cache frequency isn't controllable.
 2. Not everyone uses jQuery for AJAX.   3. May be less obvious for offline clients.

[2018-06-30 14:14] tresf commented on #336
Spoke with @bberenz about this and we've agreed to use `cache: true` flag as other AJAX libraries provide a similar mechanism and the points about cert only being sent on first connection mean more than one per second would be rare.  Wiki updated.

[2018-06-30 14:14] #336 closed

[2018-06-30 16:41] lite1979 commented on #335
Orientation problem confirmed, but I'm still having trouble reproducing the results for W: 1.18, H: 2.36, hence my previous question.

![img_20180630_123504550](https://user-images.githubusercontent.com/3408749/42127208-3d10d9b0-7c62-11e8-85a6-6d03c8ae632c.jpg)

This is indeed strange.  I asked about the offset of the paper because my results seem to behave as though the paper is expected to be ju

[2018-06-30 17:11] lite1979 commented on #335
Windows results below:

![img_20180630_130156102](https://user-images.githubusercontent.com/3408749/42127396-0917c3e0-7c66-11e8-8828-282713a5b4ce.jpg)

It would appear that not only is the orientation affected using MacOS, but the offset is incorrect for the smaller paper size with my driver (LP2844-Z; not LP2844). We will investigate further regarding orientation in QZ-Tray and get back to you.

[2018-07-02 08:55] CindyLulu commented on #335
@lite1979
Thank you so much for your verification, look forward for your further investigation on the Mac orientation issue.
BTW, the current label you use is 2.25 x 1.25 right? so could you use a pdf not larger than label to print?
You can try https://github.com/qzind/tray/files/2122423/225_115.pdf I uploaded before, the size is 2.25 x 1.15. This will help resolve the offset issue for windows I t

[2018-07-05 13:32] tresf opened #338 "LoopbackExemption decision for Microsoft Edge"
@slprogrp I hope you don't mind, I've moved your question to our active bug tracker from it's original home at https://github.com/qzind/qz-print/issues/165#issuecomment-402619997.

`CheckNetIsolation.exe LoopbackExempt -a -n="Microsoft.MicrosoftEdge_8wekyb3d8bbwe"`

Yes.

No, the other way around.  This tells Edge it can send HTTP and WebSocket requests back to `localhost`.

As explained above, th

[2018-07-06 00:56] bberenz commented on #298
I have a patch in place with a039e5f6a4fffc214e95eef47c5e7acb468790eb, should improve print calls with various 2.0 data formats.

[2018-07-09 15:53] tresf commented on #304
Turns out the battle with Arabic isn't the code page but rather the very complex mapping of UTF-8 to the CP864.  We've asked @yohanes for help.  He's the one that fixed #281 and #155.

More information about the problem is explained here: https://stackoverflow.com/questions/28982577

[2018-07-09 16:45] tresf commented on #338
I'll allow a few more days for comments and then close this out.

[2018-07-09 23:35] slprogrp commented on #338
@tresf Thanks for the detailed response mate.

So are you aware of exactly what the actual security risks are of opening this up.   Like does Edge play a role in the execution of Microsoft App Store Apps?  As it is more integrated with the OS are there other parts of the OS that use it?

It would be great to know exactly what the ramifications are of enabling Loopbacks for Edge.  All the examples

[2018-07-10 02:03] tresf commented on #338
This should only be Edge.  If UWP allows Edge to be embedded as a sandboxed app, I think that would defeat the purpose of sandboxing it.  AFAIK `Microsoft Help` uses embedded IE for HTML rendering, and I believe `WebBrowser` API does too (I assume this because of ActiveX support, which Edge doesn't have) but I would assume any project that embeds Edge would actually be a complete separately compil

[2018-07-10 02:13] tresf commented on #338
@slprogrp I've found several article that **claim** Microsoft Edge is required for normal Windows operation and cannot be removed, however I've also found these same sites offering a CMD file that allow the browser to be quickly purged from the system.  It's hard to find much else through a standard internet search.

To truly know which components rely on Edge, I would recommend setting up a Windo

[2018-07-10 02:53] tresf commented on #338
Did some of my own Sans-Edge testing... Some components that don't work..

1. Links from Microsoft Help don't launch
2. PDFs don't open
3. "Try Microsoft Edge" links don't work in IE11

The rest of the built-in apps (Settings, Camera, Calendar, Feedback Hub, Tips, Store, Groove, Mixed Reality, Solitaire) seem to work without issue.

This is anecdotal evidence to suggest that Edge is not used widel

[2018-07-10 03:59] tresf commented on #285
Just a status update, Lite got Traditional Chinese printing on Epson TM88V-631 which was pre-configured from Epson with "Big5" support.  At the time of writing this, the US models of TM88V are incapable of printing "Big5" however the TM88VI can with firmware that can be loaded by any official Epson reseller.

[2018-07-10 05:18] slprogrp commented on #338
@tresf Thanks for the time you are putting into this.

I found this article on an MSDN blog:
[https://blogs.msdn.microsoft.com/fiddler/2011/12/10/revisiting-fiddler-and-win8-immersive-applications/](https://blogs.msdn.microsoft.com/fiddler/2011/12/10/revisiting-fiddler-and-win8-immersive-applications/)

And in the comments section at the bottom there is a response from EricLaw where he says the fo

[2018-07-10 05:48] tresf commented on #338
In this context, he's (rather obscurely) abbreviating AppContainer.  It's funny because the original bug report uses [a near identical tool](https://github.com/qzind/qz-print/issues/165#issuecomment-181447426) to add the Edge exemption.

Back on topic, [Chrome agrees with EricLaw and they have a plan to disable it too](https://bugs.chromium.org/p/chromium/issues/detail?id=378566).  The day this ha

[2018-07-10 06:04] tresf commented on #338
Side note, among the comments on the Chromium bug report linked above include "Please don't"-type comments from developers at GitHub, Spotify and DropBox to name a few. 😕 They use a similar WebSocket technique as us.

[2018-07-11 01:46] tresf commented on #338
This is Google Cloud Print.

We'll see how it progresses.  We may be able to come up with a browser plugin before then that addresses Chrome, but it would require a very large rewrite and would segment our codebase.

[2018-07-12 03:19] tresf commented on #168
Closed via #306.

[2018-07-12 03:19] #168 closed

[2018-07-12 19:22] blaggacao commented on #43
I have a similar scenario working with PIs, it is not really a support option to white list manually in headless mode. here. So here is a third proposal:

Sign a bearer token which authenticates any fingerprint directly before the RootCA or any (previously) white listed intermediate certificate.

- You would require `root.key` or `intermediate.key` to issue a remote whit listing.
- You would also

[2018-07-12 20:18] tresf commented on #43
Perhaps "nightmare" was a bit drastic, but we'd need to employ one of two techniques...
1. We force each client to do this "previous private key signing" step themselves, adding support overhead.  Licensing is a major resource for us, so any steps added that put burden on the integrators of each company we work with comes at a cost to QZ as well as the client.
-- OR --
2. We do the "previous priva

[2018-07-12 21:40] blaggacao commented on #43
I agree. Hopefully we will be seeing this feature, soon :wink:

[2018-07-12 22:52] blaggacao opened #340 "Depreaction of Raw support by cups"
I just stumbled over this article which announces deprecation of Raw printing support from CUPS 2.2.7 (2018) and removal from CUPS 2.3 (ETA 2020):
https://www.cups.org/blog/2018-06-06-demystifying-cups-development.html

[2018-07-13 01:46] tresf commented on #340
More details here: https://github.com/apple/cups/issues/5271

@blaggacao thanks for sharing.  This is sad news indeed.  I'm curious what the scope of this is... if they're also be deprecating the `lpr -o raw ...` syntax as well (something that allows raw printing without a designated raw driver).

I'll see what Michael Sweet has to say about it.  He's been very responsive on his tracker and the fa

[2018-07-13 03:17] blaggacao commented on #340
I can't see that problem. But I'm sure missing information here... Is this the buzzer-tone functionality of Epson Kitchen printers, we are talking about?

[2018-07-13 03:28] tresf commented on #340
I guess to this point, yes... printer failover would be one shining example of how badly raw needs to be dropped.  I guess we're lucky on Windows because with the right driver and WinSpool we can have our RAW but listen on our printer statuses too (a 2.1 feature).  I just hope that we have something similar for the CUPS side of the fence.

[2018-07-13 03:29] #338 closed

[2018-07-13 16:29] blaggacao opened #341 "Abstract Printer RAW to XML"
Just wanted to share this excellent xml2escpos preprocessor library https://github.com/miracle2k/py-xml-escpos which in it's original form  https://github.com/fvdsn/py-xml-escpos is incorporated into Odoo.

It would be interesting to see, if @miracle2k would be willing to expand the scope to support other vendor languages or if qz would be willing to think of incorporating such preprocessing funct

[2018-07-13 20:48] tresf commented on #341
This is a cool project, but we don't have any intentions on writing a markup language around a proprietary language.  We think the industry is more likely to switch to ESCPOS-less printing, which 2.1+ can do pretty well with HTML and 2.0+ can do with PDF.

There are a few problems with the above proposal...

1. The major on I've seen is that nearly all programming manuals I've seen make claim that

[2018-07-19 03:39] tresf opened #342 "AccessDeniedException using FileIO on Mac"
2.1 branch, Mac can't write to either the sandboxed or the shared location...

A workaround is to switch permissions from `666` to `777` but I'm not exactly sure why...

[code]

[2018-07-19 13:32] dsanders11 commented on #63
@tresf, if you're still considering this, [Apache Felix](https://stackoverflow.com/questions/33460082/apache-felix-host-expose-dependencies-osgi) seems like an interesting way to go (and a quick [SO question](https://stackoverflow.com/questions/33460082/apache-felix-host-expose-dependencies-osgi) about how to expose packages to the 'bundles'). There's also [Eclipse Equinox](http://www.eclipse.org/

[2018-07-19 14:53] tresf commented on #63
@dsanders11 thanks.  The only concern I have is that if the proprietary libraries aren't OSGi compliant, we'd be forced to write a wrapper for each one, which may come with proprietary API restrictions.

One example -- and a huge untapped market -- is Bematech.  Bematech [offers a Java API for talking to their fiscal printers](https://github.com/pedrohlira/OpenECF/blob/master/src/br/com/phdss/fisc

[2018-07-19 18:00] dsanders11 commented on #63
@tresf, yea, I think a wrapper is going to be required either way. I'm not sure how plugins would work without one. Needs to be some glue code for interacting with the QZ Tray code, and the logical place for that is in the 'plugin' so that QZ Tray doesn't need any knowledge of them.

I've currently got three different extensions to QZ Tray that it'd be preferable to turn into plugins: webcam contr

[2018-07-21 07:11] dsanders11 opened #343 "Move JSON About Page To Main Endpoint"
As discussed in #334, move the JSON version of the about page under the `/` and determine whether to return HTML or JSON based on the HTTP `Accept` header. This means the `/` endpoint can serve WS, HTML, or JSON depending on the interaction.

Can probably be accomplished via a servlet filter.

[2018-07-21 08:44] dsanders11 commented on #63
@tresf, I made a little time and created a quick and dirty proof of concept of using Apache Felix as a plugin system. Unfortunately I couldn't find any JavaDocs online for Felix (kind of annoying) so I had to poke around a bit in the dark.

Can take a look at it 6ff83862d2be44a471687e67b22fd406b60d3936, which was forked from a branch I have that has other changes, but the only changes in that comm

[2018-07-21 16:46] tresf commented on #63
Thanks! We'll take a look and address all points.  Much appreciated!  The proof-of-concept helps immensely because it gives us a baseline.

This may end up being a way to segment some of our existing code as well.  Will have an update once the dust settles on pushing 2.1 out the door.

[2018-07-21 20:30] dsanders11 commented on #63
Is there an ETA on 2.1? End of the year or further?

[2018-07-22 23:38] tresf commented on #63
End of the year for sure.  Hopefully before then.  We have a few bugs to squash first.

[2018-07-26 02:39] klabarge commented on #298
I tested 2.1 and 2.0 syntaxes against commit a039e5f6a4fffc214e95eef47c5e7acb468790e

The 2.0 PDF and Image syntax does not work against the 2.1 API

###  Syntax
|                    |2.1 Syntax |2.0 Syntax |
|-----------|-----------|-----------|
|**HTML**   | ✅ | ✅ |
|**IMAGE** | ✅ | 🚫 |
|**PDF**     | ✅ | 🚫 |
|**EPL**      |✅ | ✅ |
|**ZPL**     | ✅ | ✅ |

The 2.0 Syntax did not work with PDF or

[2018-07-26 04:08] bberenz commented on #298
Not sure why these changes didn't make it into the commit, but I had them written up and they should fix image and pdf compatibility. b8f7e485e8a1faa18bc4698da0736ffb89ee311a

[2018-07-27 13:53] tresf commented on #342
Apparently execute is needed on the directory... here's why... https://unix.stackexchange.com/a/21252/190347

So it looks like the execute flag is needed afterall.

[2018-07-27 18:17] klabarge commented on #298
Image and PDF printing now works, however HTML Printing is now broken identically to the original bug report

![image](https://user-images.githubusercontent.com/12505463/43339487-70416f5c-91a7-11e8-93cc-32483aaf4065.png)

[2018-08-01 02:46] klabarge commented on #298
Re-tested, all tests pass 👍

[2018-08-03 20:33] bberenz commented on #342
Adjusted the permissions on install via 1e7d83802800c3b0f3a9a281342184dbec87051c

[2018-08-04 02:10] tresf commented on #342
Repeated for Linux 50a781c

[2018-08-05 16:57] bberenz commented on #343
Pages are combined under 66b8b2869358649c747705e208f782415ab693a6, taking the "Accept: application/json" header for json responses instead of a separate page.

@tresf, did we determine if we still need to still support the "/json" endpoint too?

[2018-08-06 14:59] #304 closed

[2018-08-06 15:45] tresf commented on #343
Reaching out now. 👍

[2018-08-09 03:02] klabarge commented on #298
I'm reopening because the [2.0 raw base64 Image syntax](https://qz.io/wiki/2.0-raw-printing#base64-images) is not compatible with the 2.1 API. The console error is "(File name too long)".

The [2.1 raw base64 syntax](https://qz.io/wiki/2.1-raw-printing#base64) works fine

[code]

[2018-08-09 15:33] klabarge commented on #298
This may have been confusion with the API on my part. I still think there may be a bug with base64 images, but let me confirm before investigating this.

[2018-08-10 15:50] tresf commented on #221
I'm closing this as a duplicate of #225

[2018-08-10 15:50] #221 closed

[2018-08-10 17:19] klabarge commented on #298
I've updated my comment to reflect the correct 2.1 syntax that works. There is still a compatibility issue with the 2.0 base64 image syntax.

In addition,  if `data:image/png;base64,` is passed in with the base64 data in 2.1, the print job fails. The prefix`data:image/png;base64,` was required in 2.0.

[code]

[2018-08-10 18:04] tresf commented on #340
Closing since this is an upstream problem that won't see a solution for some time.  Please feel free to reopen when CUPS starts offering workarounds so that we can put some R&D into whatever comes in to replace it.

[2018-08-10 18:04] #340 closed

[2018-08-10 20:45] tresf commented on #298
@bberenz perhaps...

[code]

Although it's not the best named placed, it sort of fits with the rest of the upgrade commands.

[2018-08-10 21:36] tresf commented on #298
@klabarge fix available under 6024a54

[2018-08-12 21:56] bberenz commented on #343
Supporting old `/json` path added back under 3c4fdd1e72506fb9a6290ca9c775b81f4caed43f

[2018-08-12 23:01] bberenz commented on #326
Testing on the multi-tray printer provided by @tresf, I am able to get PDFs to print on different trays.
Though that particular printer uses "Paper Cassette" instead of "Tray", so I've updated the code under 3562d7fc7e0e52c5f2d935932445c014409ebf05 to look for both designations. This only affects using a numeric value for the printerTray option though. Using the full string name even before the co

[2018-08-13 14:48] tresf commented on #326
@lite1979 can you please retest on the latest 2.1 branch and provide a link to the debug logs in gist format to @bberenz?

[2018-08-13 19:56] tresf opened #344 "UTF-8 image conversion is not yet supported."
If appending a raw image using the 2.1 API and `language` is not specified, the following exception is thrown: `UTF-8 image conversion is not yet supported.`.

This is not necessarily a bug, as the product works as expected, but the exception thrown is very confusing to the end-user.

<details>
  <summary>Click to view full backtrace</summary>

[code]
</details>

[2018-08-14 00:53] klabarge commented on #343
Looks good, merging now.

*  ✅ returns `json` format
`$ curl -H "Accept: application/json" https://localhost:8181`

* ✅ returns `json` format
`$ curl https://localhost:8181/json`

* ✅ returns `html` format
`$ curl https://localhost:8181`

[2018-08-14 01:00] #343 closed

[2018-08-15 20:32] lite1979 commented on #61
P1 - Rotate 180 seems to be working on the Boca now with PDF.

[2018-08-15 20:33] tresf commented on #61
Thanks @lite1979 will close.

[2018-08-15 20:33] #61 closed

[2018-08-15 20:43] tresf commented on #326
Per @lite1979's comments in #61, this is working.  Closing.

[2018-08-15 20:43] #326 closed

[2018-08-17 03:34] #344 closed

[2018-08-17 20:28] tresf opened #346 "Better blank file handling"
We have a client with a `blocked.dat` file that only contains a Carriage Return and Line Feed (`\r\n`)and it prevents QZ Tray from loading.

Here's the backtrace:

[code]

What appears to be happening is the logic that loops over each line doesn't check to see if there's data on it and bombs out.

[2018-08-17 22:20] bberenz commented on #346
Addressed under 1a12da910ec68eb8e77754a9c00dcc94e0d350c8

[2018-08-17 22:45] bberenz commented on #346
Yes... I would swear I thought about that when you first mentioned this issue..
7c94891a7634707a2976ef80dcd8492b6dac8609 should cover both

[2018-08-18 03:02] #346 closed

[2018-08-21 21:13] jwalstrum commented on #214
Hi, Tres.

We've emailed a bit recently. I'm with JMT Technology Group, you've been working with us on MAC filtering issue. Recently, same client has asked us to verify that logging is disabled. Is there a way to do that?

Thanks,
John

[2018-08-21 21:20] tresf commented on #214
Not yet.  This is milestoned for a future release but we'll see if we can get it bumped up.

[2018-08-22 10:00] dogrocker commented on #164
Got same error with @shaneguna .

`Error: Cannot parse (IMAGE)http://localhost/load/ReceiptLogo.png as a raw command at WebSocket._qz.websocket.connection.onmessage (qz-tray.js:271)`

in qztray 2.0.5, 2.0.7

This's my setting
[code]
Don't know how to fix this.
I try another language `language: "ESC/POS", language: "ESCPOS", language: "escp"`
Not work at all.

[2018-08-22 20:34] tresf commented on #164
[code]
That's just a [generic error](https://github.com/qzind/tray/blob/8f2e617b5ba614bb74dcdccae29af81fc82a53c2/src/qz/printer/action/PrintRaw.java#L129) that's thrown if the [`ImageWrapper`](https://github.com/qzind/tray/blob/8f2e617b5ba614bb74dcdccae29af81fc82a53c2/src/qz/printer/action/PrintRaw.java#L114) fails.  The cause could be many things.  I recommend you close QZ Tray and restart it fro

[2018-08-24 03:54] tresf commented on #282
So data chucking from a JavaScript perspective certainly helps the memory consumption, but the increased chatter to the websocket and signing cause it to double and triple the print times when compared to just sending the large data to begin with.  I think we'll close this as `wontifx` and place the [`big-data`](https://github.com/qzind/tray/compare/2.0...Vzor-:big-data) branch on the shelf for no

[2018-08-24 05:55] bberenz commented on #311
Ready to test under bba7e5e82170b492a6300da0fe3c9f897c1b2b08 on `compat` branch.

Also possibly related to the user's problem and worth noting:
That sample code uses `format:'plain'` which only exists as such in 2.0's data format. Using that with the 2.1 javascript has undefined results (since 2.1 js expects 2.1 data format, regardless of what version executable its talking to).
This change will m

[2018-08-24 13:46] tresf commented on #311
@bberenz can we shim in `base64` `raw` support as well?  The 2.1 API allows this to be provided as a flavor, but back in 2.0 it was hacked into the URL.

[2018-08-25 00:55] bberenz commented on #311
Base64 changes available under f27a56261f2df3fee0a07506c76669fcb56664d6

[2018-08-25 14:34] Vzor- commented on #225
I can reproduce this issue with the bin you provided, however I cannot with the current code base. We may have accidently fixed this one already. @klabarge Could you retest this the current 2.1 branch?

[2018-08-25 15:03] tresf commented on #225
The desktop app may be using a different JVM.  @vzor-, can you verify your JVMs before we retest?

[2018-08-29 00:24] padagoal opened #347 "Problems with HTML Printing"
Hello,

My machine is a MBP High Sierra, with qz-tray 2.0.7, java version "1.8.0_121", when i tried this

[code]
Always gives me this error!

Error: No enum constant qz.utils.PrintingUtilities.Type.PIXEL
    at WebSocket._qz.websocket.connection.onmessage

[2018-08-29 04:12] tresf commented on #347
The syntax for HTML with 2.0 is:

[code]

You appear to be using the newer, 2.1 syntax, which is OK, but you would need to be using the newer JavaScript file.

Here's a snapshot of the 2.1 JavaScript file that we're working on to allow both APIs simultaneously: https://github.com/qzind/tray/blob/f27a56261f2df3fee0a07506c76669fcb56664d6/js/qz-tray.js

[2018-08-30 00:16] tresf commented on #225
👍

[2018-08-30 00:16] #225 closed

[2018-08-30 02:54] tresf commented on #311
Closed via #348.

[2018-08-30 02:54] #311 closed

[2018-09-04 14:59] tresf commented on #174
Oracle has patched this in a private build for us again, here's their latest update in `SR 3-17231848201`:

@klabarge can you please test?

[2018-09-06 00:00] klabarge commented on #174
@tresf I tested Oracle's patched Java version `fvb1-jdk-8u181-290818y8201818-macosx-x86_64.dmg` against the [test case you provided](https://github.com/qzind/tray/files/1909917/PageBookSizeBug.zip) and it does appear to fix the bug.

I also tested by removing the [`attributes.clear();` logic](https://github.com/qzind/tray/blob/2.0/src/qz/printer/action/PrintPDF.java#L110-L113) and running against

[2018-09-11 02:48] tresf commented on #4
Closed via 64ce08f

[2018-09-11 02:48] #4 closed

[2018-09-11 13:34] tresf opened #350 "Raw image rotation"
Placeholder to offer raw image rotation.  This would be especially nice for Evolis printers, as the cards can be inserted and/or flipped which influence the direction of the image.

Furthermore, sometimes it's easier to design the content in orientation vs. portrait, etc, so this would eliminate the need for the image to be rotation server-side.

[2018-09-11 14:44] tresf commented on #214
Temporary workaround:

**Windows**
[code]

**Linux**
[code]

**MacOS**
[code]

[2018-09-15 04:50] irwanhl opened #352 "instalation aborted"
![qz](https://user-images.githubusercontent.com/13036072/45582618-59486500-b8dd-11e8-9b02-934cd621dc7f.PNG)

why?? i use jdk 1.8, ant 1.10.5 and nsis  3.03

[2018-09-15 16:46] klabarge commented on #352
Have you baseline tested against our official release? Please do so [here](https://qz.io/download/).

It looks like the installer is failing in the certificate install script. Please run the following and provide us with any errors.
[code]

Our [FAQ wiki page](https://qz.io/wiki/faq#cannot-launch-software) highlights common issues. Specifically, please run through the corrupt Java installation and

[2018-09-27 21:04] tresf commented on #352
Closing because this is a sign of a setup error and the OP has not responded in 12 days.

[2018-09-27 21:04] #352 closed

[2018-09-27 21:05] tresf commented on #347
Closing as this appears to be a support issue and the OP hasn't replied in a month.

[2018-09-27 21:05] #347 closed

[2018-09-27 21:06] tresf commented on #341
Closing as per our stated intents.  Feel free to request a reopen if someone begins work on this.

[2018-09-27 21:06] #341 closed

[2018-09-27 21:07] tresf commented on #335
@lite1979 how to proceed on this?

[2018-09-27 21:10] tresf commented on #333
Google has announced that [Chrome OS's Linux support is finally out of beta](https://www.theverge.com/2018/9/18/17875978/google-chrome-os-69-material-theme-design-linux-support), so these test results need to be redone with an updated Chromebook.

[2018-09-27 21:15] tresf commented on #329
@Fermec28 / @blaggacao I'm closing this out as wontfix due to the very poor JavaFX support on Pi.  I think it's best to provide a way to disable compiling in JavaFX support, but I'm hesitant to add it since most environments (Mac, Windows, Linux) all have the JavaFX libraries present, so it's less of matter of being able to build it and more of a matter of WHERE to build it.

We'd welcome a PR wit

[2018-09-27 21:15] #329 closed

[2018-09-27 21:16] tresf commented on #307
@klabarge can you please retest this since 2.1 has changed a bit since it was originally reported in June?

[2018-09-27 21:34] tresf commented on #323
I think we can safely move the process killing logic from the installer scripts to the certificate generation scripts to tackle this problem.  I'm not sure if this is warranted on the 2.0 branch or if it should be bumped to the 2.1 branch.  Help appreciated on this one @klabarge.

[2018-09-27 21:38] tresf commented on #223
@tresf bump for DPL support.  Please post any progress here. :)

[2018-09-27 21:39] tresf commented on #174
Oracle can't yet guarantee a release version that fixes this.  Once they have a version number, we'll bump our code to use it.

[2018-09-29 21:00] Vzor- commented on #231
I can reproduce this issue with the bin provided, however I cannot with the current code base. It looks like we accidentally fixed this one as well.

[2018-09-29 21:00] #231 closed

[2018-10-01 02:06] #174 closed

[2018-10-01 13:46] bhargav2496 opened #353 "further steps"
I have followed the steps of the compiling the code and after the successful compilation what are the steps to be followed

[2018-10-01 15:30] tresf commented on #353
The software is intended to be run from our desktop installers.  If you're not sure how to run a Java application, this isn't the place to find out how.

[2018-10-01 15:30] #353 closed

[2018-10-01 15:30] lite1979 commented on #353
If you want to test QZ-Tray locally, you just run the .exe, .pkg, or .run on your system.

Explore the installation directory for the 'demo' folder, and open sample.html in the browser of your choice.

[2018-10-02 02:10] giolazzareschi opened #354 "setSignaturePromise not been called"
Hi everyone,

I know that is a dummy question, but I am stucked and cannot find an answer.

I have to sign my connection to avoid asking for permition every printing...

So I got this example

	qz.security.setCertificatePromise(function(resolve, reject) {
	  $.ajax({ url: "/digital-certificate.txt", cache: false, dataType: "text" }).then(resolve, reject);
	});

	qz.security.setSignaturePromise(fun

[2018-10-02 02:27] tresf commented on #354
I'm pretty sure that the ajax syntax we have in our example doesn't throw errors properly.

Can you adopt this syntax and see if you get further in the troubleshooting process?

https://stackoverflow.com/questions/7862731/ajax-json-return-on-error

You may also want to try running QZ Tray from terminal to examine what's being sent for the signature.

[2018-10-02 03:55] tresf commented on #354
Yes, that is correct.

[2018-10-03 17:46] #323 closed

[2018-10-03 17:48] tresf commented on #323
I've added the code to shutdown QZ Tray.  This will be default as part of 2.0.8.

Restarting QZ Tray has not been added.  I believe this is best handled by enhancing the internal WebSocket listener and sending a restart message to the websocket itself.  Due to the amount of refactoring involved, this is better slated for 2.1 branch.

[2018-10-03 19:54] tresf commented on #307
A few issues.

1. @bberenz we seem to be improperly starting JavaFX for legacy prints.  No downside I can see other than performance, but seems like it should be skipped unless `legacy: false` is provided.
2. When @bberenz wrote HTML support for 2.1 it stripped out some style information from the `<HTML>` tag which should have been moved to a new `<body>` tag.

[code]

3. With the above patch, the

[2018-10-03 21:47] #295 closed

[2018-10-04 01:32] tresf commented on #298
Closing as all issues have been addressed. Feel free to reopen if needed.

[2018-10-04 03:46] bberenz commented on #307
Patch under 4b4680aec5a2aab15644bc66c4d9dc6a8b760194 changes the HTML back over to a table layout. The sizing and line break issues were due entirely to the legacy system having issues with `div` tags.
The legacy system still seems to have trouble with relative dimensions (`width=100%`), and best I can tell the words were spaced out juust so in the old version to fit a 8.5in paper. Absolute dimens

[2018-10-05 03:20] JudsonArtur opened #355 "I need a support.."
Can you make a tutorial how to use an project php or html

[2018-10-05 03:27] #355 closed, assigned to nobody

[2018-10-05 03:29] tresf commented on #307
Tested, works!

[2018-10-05 03:29] #307 closed

[2018-10-05 14:42] tresf opened #356 "Invalid function call: websocket.getNetworkInfo"
2.1 does not offer backwards compatible with `qz.websocket.getNetworkInfo`.  This was an intentional decision at the beginning of 2.1 development, but as more companies adopt the 2.1 client with sticking with the 2.0 API, this can cause problems.

[2018-10-05 14:45] tresf commented on #356
Closed via e883759.

[2018-10-05 14:45] #356 closed

[2018-10-05 15:37] matheusnascgomes opened #357 "How to suppress warning dialogues"
It is possible to suppress all warning dialogues using a free version?

[2018-10-05 15:44] tresf commented on #357
Duplicate of https://github.com/qzind/qz-print/issues/72#issuecomment-298332194.

[2018-10-05 15:44] #357 closed

[2018-10-05 20:38] tresf commented on #223
Lite, can you please try the following example from the page 151 of the [DPL programming guide](https://www.honeywellaidc.com/en/-/media/en/files-public/technical-publications/printers/1common/DPL_88-2360-01_B.pdf)?

Assuming it works, we need to add image support.  The guide explains this on page 19.  We'd be using the 8-bit image format because we can reuse code already in ImageWrapper.

[code]

[2018-10-08 01:57] tresf commented on #256
@bberenz I believe the problem stems from here...

https://github.com/qzind/tray/blob/2.0/src/qz/printer/PrintOptions.java#L234-L236

If I switch the logic to this, the bug goes away.

[code]

@bberenz any ideas?

[2018-10-08 07:27] keyiis opened #358 "Trojan Horses"
When i install qz-tray-2.0.7 ,system firewall tip "trojan Horses",so can't complate install.
![image](https://user-images.githubusercontent.com/7766085/46596355-e2367300-cb0e-11e8-949d-22f2bae9a171.png)

[2018-10-08 17:27] tresf commented on #358
That's not a trojan horse, that's a heuristics scan that's incorrect.  Duplicate of #321.

[2018-10-08 17:27] #358 closed

[2018-10-08 23:27] tresf opened #359 "HTML + Landscape cuts off content"
<img width="648" alt="screen shot 2018-10-08 at 7 32 18 pm" src="https://user-images.githubusercontent.com/6345473/46638848-ec696900-cb30-11e8-807a-db9969cd0e2b.png">

HTML to reproduce:

[landscape.html.zip](https://github.com/qzind/tray/files/2458325/landscape.html.zip)

Config:

[code]

[2018-10-09 01:19] bberenz commented on #256
The problem with that logic change is it just forces raster to be true, which we know to work.

Given that this is html printing, its possible that its down the way the html interpreter on macOS handles image scaling. We get no control over how that handles the images, but raster turns it into an image at its normal size which we then control how the scaling works. The windows variant of this issu

[2018-10-09 01:51] tresf commented on #256
@bberenz this bug is for `printImage()`. :D

[2018-10-09 02:04] bberenz commented on #359
038cca74908fc7cf61a8f68289e93de6c5a5c33a uses the paper height for a default render width if landscape orientation is selected.

[2018-10-09 02:11] tresf commented on #359
Tested, working.

[2018-10-09 02:11] #359 closed

[2018-10-09 02:28] bberenz commented on #256
You are right, that makes this simpler. All images should always be rasterized anyways, so 3b8789935c0fae769f1db5e41329fcba702b6a93 will ensure that is enforced.

[2018-10-09 02:29] bberenz commented on #257
Can you retest this after 3b8789935c0fae769f1db5e41329fcba702b6a93?

[2018-10-09 17:19] tresf opened #360 "Headless is not the same as trayless"
@bberenz in https://github.com/qzind/tray/commit/eb1805cb2ec644d1165a2c46c7392b67f9ae5d61 you made the assumption that `headless` and `trayless` were the same but they're not.

Now, 2.1 won't load on 18.04 without [special whitelisting steps](https://github.com/qzind/tray/wiki/2.1-Headless) and signing setup.

Can we revisit this please?

[2018-10-09 18:05] tresf opened #361 "HTML Landscape Margins in 2.1 versus 2.0"
HTML margins in 2.0 appear to be applied differently than 2.1.

* When printed with 2.0, the margins appear to be applied to the `portrait` orientation.
* When printed with 2.1 the margins appear to be applied to the `landscape` orientation.

HTML to reproduce:

[landscape.html.zip](https://github.com/qzind/tray/files/2458325/landscape.html.zip)

Config:

[code]

Steps:

1. Print the above example

[2018-10-10 04:35] tresf commented on #256
Tested, fixed!

[2018-10-10 04:35] #256 closed

[2018-10-10 04:46] tresf commented on #257
Fixed, thanks!

[2018-10-10 04:46] #257 closed

[2018-10-12 03:26] tresf opened #363 "HID feature reports"
Placeholder to add HID feature reports.

Source: https://docs.microsoft.com/en-us/windows-hardware/drivers/hid/introduction-to-hid-concepts

| Name | Description |
|------|------|
| **Feature Report** | Data blobs that can be manually read and/or written, and are typically related to configuration information. |

[2018-10-12 03:28] tresf commented on #361
Tested, works.  Thanks @bberenz!

[2018-10-12 03:28] #361 closed

[2018-10-12 14:55] tresf commented on #363
Some initial work: https://github.com/qzind/tray/compare/2.0...thompsa:usbfeature

[2018-10-13 17:17] tresf opened #365 "HTML Portrait results in blank pages"
When printing HTML using 2.1 branch in portrait mode, additional blank pages are printing.

[code]

[2018-10-14 23:46] tresf commented on #365
Tested.  Working.

[2018-10-14 23:46] #365 closed

[2018-10-15 16:17] Berek1987 opened #366 "PDF generator bug with OpenSans font from version 2.0.6."
Hi guys,
I just discovered a serious issue for us.
Yesterday we deployed new PDF template for our tickets, with new font - Open Sans from Google, which is embedded in the document.
Previously we were using Dejavu Sans, without any problem across all your QZ 2 versions, and it always printed correctly.

With this new font, however, QZ from version 2.0.6. is corrupting the document (both 2.0.6. and

[2018-10-15 16:57] tresf commented on #366
In https://github.com/qzind/tray/commit/71c9e1f3aa4b06dc87b6d889dc38c1eb7798344c we upgraded the PDFBOX library but that was part of 2.0.5, so if your test results are accurate, PDFBOX may not be the culprit.  We'll do some unit tests with and without QZ Tray and share our results.

[2018-10-15 17:57] Berek1987 commented on #366
Thanks a lot for your quick response!
However, I'm still not sure what to do next what is exactly the problem.
I downloaded Open Sans directly from Google, it should be a stable font, also I'm using it in TCPDF PHP  library, exactly the same as I used to generate it with DejavuSans font.
[dejavusans_original.pdf](https://github.com/qzind/tray/files/2479942/dejavusans_original.pdf)

Do you think it

[2018-10-15 18:15] tresf commented on #366
Before we dive deeper I wanted to confirm the observed regression.... I can confirm that the font renders correctly with QZ Tray v2.0.5.  We have fixed several bugs with PDF printing since v2.0.5 and it is likely that the correct printing was a result of an underling bug.  Here's the code difference from v2.0.5 and v2.0.6: https://github.com/qzind/tray/compare/v2.0.5...v2.0.6.  Note, there's one s

[2018-10-15 20:48] Berek1987 commented on #366
Wow, you suprise me every time with a customer level and responsiveness you're providing to your customers, thanks again for that! :)

Regarding the issue, I literally know nothing about fonts and PDF, so it was a long day for me debugging, with almost no results.
I'm not sure what you mean by mimicing the behaviour - I'm generating PDF's with TCPDF library in PHP for my web system, which I am tes

[2018-10-16 01:56] tresf opened #367 "Hide dock icon on MacOS"
Placeholder to hide the Dock icon on MacOS.

Proof of concept:

[code]

The issue is that the dialog focus never properly raise it to the foreground which I believe can be worked around using AppleScript: https://stackoverflow.com/a/15426739/3196753

[2018-10-16 03:09] tresf commented on #366
Unit test:

Setup the environment:
[code]

Create `test.php`
[code]

Generate the PDF:

[code]

Print the PDF using Apache PDFBOX:
[code]

@Berek1987 can you confirm that this test result passes?  It's just a very basic example of loading the font, making a PDF and printing it with PDFBOX.

Note, on Windows some commands such as `curl` are not available on Windows so the example may need to be mod

[2018-10-16 15:58] tresf opened #368 "Malformed URL printing multiple HTML objects"
This happens when using `sample.html` from 2.0 to print HTML content to 2.1 app.

Sample code:

[code]

[code]

[2018-10-16 21:54] tresf commented on #367
I'm getting very inconsistent results.  Sometimes the window comes to focus but most of the time it does not.

I even tried adding in some custom logic to wait one second before calling the `activate` and it's not working reliably.  The (unsuccessful) patch is available here: https://github.com/qzind/tray/compare/2.0...tresf:dock

[2018-10-17 02:49] tresf opened #369 "Replace $.ajax with fetch()"
Placeholder to document fetch API and eventually update wiki and sample with `fetch()` examples.

Working example, tested with Chrome, Firefox, Safari, Edge:

[code]

[2018-10-17 04:09] tresf opened #370 "Evolis prints every-other-card on macOS"
We've isolated a strange bug with Evolis image support where the printer will skip every-other card on macOS.

Quite puzzling, we can avoid this issue by adding 27 characters of text after the image commands.

[code]

Quoting a client of ours...

We've reached out to Evolis technical support but they have not been able to provide assistance.

[2018-10-17 05:11] bloodf commented on #369
Great addition glad could help :)

[2018-10-17 17:36] tresf commented on #366
@Berek1987 just checking to see if the use-case above works for you or not.  It uses the CLI version of PHP to render the PDF.

There may be notable differences to consider such as:
* Font size
* The source of the font itself (we're grabbing it from GitHub)
* The version of TCPDF (we're using latest from composer)
* The HTML tags we're using (likely unrelated but worth noting and/or comparing)

I'

[2018-10-17 17:58] Berek1987 commented on #366
Hi Tres,
if I got you right, your test from above resulted in correct PDF printed out through QZ?
Then it might be the newer TCPDF version or some other syste-related difference...

I fell into some extremely busy period and I'm not sure I'll find time to recreate your steps in the following days. Temporarily we replaced Open Sans in our PDFs with Roboto which is similar.

I'll try to recreate thi

[2018-10-17 19:01] tresf opened #371 "Firefox 62 won't work with HTTPS connections"
Quoting some [release notes](https://venturebeat.com/2018/09/05/firefox-62-arrives-with-variable-fonts-automatic-dark-theme-on-macos-and-better-scrolling-on-android/)...

A temporary workaround is to edit `C:\Program Files\Mozilla Firefox\defaults\pref\firefox-prefs.js`

[code]
We may need to leverage the [enterprise cert flag](https://support.umbrella.com/hc/en-us/articles/115000669728-Configurin

[2018-10-17 20:04] tresf commented on #371
Possible permanent solution for Windows environments: https://github.com/mozilla/policy-templates/blob/master/README.md#certificates

[2018-10-17 23:56] bberenz commented on #368
Issue was only the first data element would be converted to the 2.1 format, any subsequent elements would use the default flavor, `FILE`.
Fix under 66436d0db1388925569c09bf007e8ed1c5267f5c

[2018-10-18 01:59] tresf commented on #371
Sandbox patch tested:
*  ✅**PASS** - Windows 10 - Firefox 62
*  ✅**PASS** - macOS 10.13 - Firefox 62
*  ✅**PASS** - Ubuntu 14.04 - Firefox 62
*  ✅**PASS** - Windows XP - Firefox 52 ESR

[2018-10-18 03:52] tresf commented on #371
Some boilerplate code for creating the Firefox 62+ `policy.json` file.  This is only for Windows.  Mac will need to leverage a native scripting language to mimic the JSON search/add.

[code]

[2018-10-18 20:46] tresf commented on #371
So I'm investigating ways to manipulate the `policy.json` file programmatically and although the above example uses JavaScript through the cscript (e.g. vbscript) engine, I'll need a reliable way of doing this on Mac and Linux.

* For Mac, `ruby` has built-in JSON parsing capabilities.
* For Linux, I'm not sure what's available.  Ruby isn't included in a base install of Ubuntu 14.04 and Perl doesn

[2018-10-19 03:01] tresf commented on #371
Answering my own question... So Ruby was working out well until I found out the `JSON` library isn't available on MacOS 10.8.

Now I'm testing Python.  Python 2 vs Python 3 is going to be tricky but the following Operating Systems come with Python JSON parsing baked in making it the lowest common denominator...
* Ubuntu 14.04
* Ubuntu 18.04
* macOS 10.8
* macOS 10.13

[2018-10-19 08:03] onurguzel commented on #371
Hello Tres, if you need any help with Python, I am happy to help.

[2018-10-19 21:21] tresf commented on #371
@onurguzel sure... Here's the WIP...

<details>
  <summary>Click for code</summary>

[code]

</details>

The Linux and Mac installers -- both in shell script -- have a locator script which returns the path to Firefox.  From there we'll be invoking a Python script with the following parameters:
* The full `path` to the Firefox folder
* The `JSON data/string` to inject
* An `overwrite flag` e.g. `"I

[2018-10-20 03:02] tresf commented on #371
WIP branch: https://github.com/qzind/tray/compare/2.0...tresf:policy

[2018-10-20 06:47] bberenz commented on #360
So this was implemented because about [2 years ago](https://github.com/qzind/tray/issues/51#issuecomment-263984515) we could rely on a failure to support the tray as indication there was no GUI and fallback to headless.

I've made changes under c5f0a45b98b68d3e6c9ffc2994fb32bd8e68519a to use java's `GraphicsEnvironment` check instead, but I don't have any headless systems at the moment to test thi

[2018-10-20 17:34] klabarge commented on #360
I disabled the Desktop on an Ubuntu 16.0.4 VM and launched QZ Tray over SSH. It looks like the software runs in `headless` mode.

I also launched the software in Ubuntu 18.0.4, and the dialogue prompts appear as expected.

[code]

[2018-10-21 00:57] tresf commented on #360
Wow that was elegantly simple.  Closing as Kyle's tested this already.  I'll nudge the 2.1 RC that our premium clients are on. @lite1979, we'll need to fast forward the printer status branch before you'll have it for that PR.

[2018-10-21 00:57] #360 closed

[2018-10-21 03:06] tresf opened #372 "macOS Mojave hardening requirement"
Apple is warning developers that a new "notarization" is required for apps distributed outside the App Store.

More info available here:
https://stackoverflow.com/questions/52911791/

How does a Java project comply?

[2018-10-21 14:37] tresf commented on #372
Some good conversations around this topic...

https://twitter.com/rosyna/status/1004418504408252416 [mirror (PDF)](https://github.com/qzind/tray/files/2499273/Rosyna_Keller_Twitter.pdf)
https://forum.xojo.com/49408-10-14-hardened-runtime-and-app-notarization/0 [mirror (PDF)]((https://github.com/qzind/tray/files/2499274/Xojo_Forum.pdf))

Unfortunately none of them seem to address how this applies t

[2018-10-21 15:14] tresf commented on #372
@bberenz any idea how we'd be able to shim a signing step into the `ant` build process?  I assume it would be somewhere around here: https://github.com/qzind/tray/blob/2.0/build.xml#L28 in the build chain.

[2018-10-22 18:01] tresf commented on #371
@onurguzel I'm asking @bberenz to help with the Python due to the timeliness of this task.

[2018-10-25 05:19] tresf commented on #371
Final patch is ready at #373 and should scale well for when Linux adds certificate installation through `policies.json` (milestoned for Firefox 64).

[2018-10-25 16:31] #371 closed

[2018-10-25 16:37] tresf commented on #371
Testing passes on all Firefox versions.
- JScript JSON script tested on Windows XP - Windows 10
- Python JSON script tested on 2.7 - 3.7 macOS 10.8 - 10.14, Ubuntu 14.04

This patch will be available starting with 2.0.8.

Note, this still leaves Linux in the dark as Mozilla hasn't published a technique for that platform.  We've been notified that Firefox 64 (63 is the current version at time of po

[2018-10-25 22:42] onurguzel commented on #371
Hello again, I was ill for the last few days and I am deeply sorry for being unresponsive. I didn't know this issue was that urgent.

Since there is a merged PR, I won't be committing changes to the repo. Overall, the code seems clean and nice but I wanted to suggest few improvements.

Argument parsing
---
It might be better to use [`argparse`](https://docs.python.org/2/library/argparse.html) modu

[2018-10-26 16:14] tresf commented on #372
@bberenz some proof of concept code... I'll need help expanding this to all `.jnilib` and `.dylib` files found inside the above locations.

ant target:
[code]

ant output:
[code]

[2018-10-30 04:52] tresf commented on #369
Turns out there's a pollyfill available by -- no other than -- github. :) https://github.com/github/fetch

Somewhat related, I've decided to use `fetch()` for the [new AngularJS signing example](https://github.com/qzind/tray/blob/2.0/assets/signing/sign-message.ts)  as well as `=>` [arrow functions](https://medium.freecodecamp.org/when-and-why-you-should-use-es6-arrow-functions-and-when-you-should

[2018-11-02 13:08] jibraniqbal666 commented on #233
@guncebektas
i am also this exact problem, can you help, i have tried using fetch, axios, it just show that second unverified dialog on calling any privileged function.

[2018-11-03 16:09] klabarge commented on #233
@jibraniqbal666 You are getting a CORS error?

If you are a premium client, please email support@qz.io and we will assist you with signing messages.

Please email us code snippets of:

1. `setCertificatePromise();`
1. `setSignaturePromise();`
1. server-side signing function (e.g. `sign-message.php`)
1. Any browser console log errors

For reference, here's our tutorial: https://qz.io/wiki/2.0-signi

[2018-11-06 01:04] tlrobrn opened #375 "Mac crash while laptop closed, possibly from lost internet connection"
We're not sure of the exact cause, but since it happened while walking between buildings that's our theory.

[Crash Dump](https://github.com/qzind/tray/files/2551204/crash.txt)

[2018-11-06 02:49] tresf commented on #375
Yeah, I have QZ Tray running 24/7 on my main Mac and it crashes all the time.   Low-level JVM crashes are difficult to pinpoint.

My theory currently with my running crash is that the UI can't handle switching displays (mines on a shared monitor).

With steps to reproduce and small chunk of code we can file a bug report with Oracle.

[2018-11-07 14:11] tresf commented on #367
As explained to me by @Vzor- the order in which `super.setVisible(...)` is called influences the function.  This has something to do with a lower-level swing order of operations, something which has some puzzling stackoverflow conversations.

In the end, it appears the fix was:

[code]

Initial testing on 10.14 has passed.  Now testing on 10.13, 10.8.

[2018-11-07 14:39] mrloop opened #376 "Concurrent `qz.file.read` reusing params"
The below examples look similar but behave differently on Windows Chrome 70.0 using qz 2.1 alpha 69

[code]

Running `readFilesConcurrentlySameParams` results in 2 Untrusted website dialog boxes appearing for signed requested.
Running `readFilesConcurrentlyDifferentParams` results in no untrusted website dialog boxes appearing for signed requested.
I'd expect to get no untrusted website dialog box

[2018-11-08 03:14] tresf commented on #342
Ran into this but ended up being an old install had the wrong permission setup, fixed via:

[code]

And then reinstalled.

[2018-11-08 03:14] #342 closed

[2018-11-08 03:31] tresf commented on #376
Confirmed. Thanks.  We'll take a look.

[2018-11-09 06:47] tresf commented on #376
Confirmed, fixed.  This will be part of the next 2.1 alpha.  White-label subscribers will have access to it immediately via the portal.

[2018-11-09 06:47] #376 closed

[2018-11-09 12:48] lichtamberg opened #377 "OKI C332 slow print start / long delivery"
Right now we are trying to print single page PDF documents, but the problem is that the printer takes really really long to start (around 10-12 Seconds).
When we start the printjob from Acrobat Reader oder Chrome-PDF Plugin, the printing starts within 1-2 Seconds and in our company/use case we really need fast printing times.

We are using OKI C332 with current PCL driver.
We tried to set rasteriz

[2018-11-09 13:15] lichtamberg commented on #377
We also tried to print now from https://demo.qz.io - but it takes the same time unfortunately, so it's not related to our PDF.

[2018-11-09 14:17] tresf commented on #377
`rasterize: false` and NO density is the absolute fastest Apache PDFBOX has to offer.

12 seconds it's certainly too long.

* If the PCL driver is at fault there may be some amount of recourse if we were to translate to a raw raster format.
* If PDFBOX is at fault things such as system resources OS version, driver version, document size, document content can influence results.

The fastest way for

[2018-11-09 15:13] lichtamberg commented on #377
Yes, we are using following versions:

Windows 10 HOME 10.0.17134 Build 17134
OKI C332 PCL Driver 6 Version 1.0.7.0 (shown in Windows device manager) from here: https://www.oki.com/eu/printing/support/drivers-and-utilities/colour/46403102/?os=ab2&lang=ac2

We set rasterize: false and set density to null, but it still takes about 10-12 seconds to start printing.

But what I just noticed was, that w

[2018-11-09 15:19] lichtamberg commented on #377
Yeah, it's directly corresponding to the filesize / resolution as it seems. Didn't think that 116kb makes so much difference.. Also printing through Adobe/Google Chrome doesn't have this kind of delay with the same PDF?

[2018-11-09 16:07] tresf commented on #377
It could.  There are several stackoverflow articles about Java's poor internal JPEG handling.

Can you please share the PDF data with us?  If our `pdf_sample.pdf` experiences the same issues, we'd be happy to use that instead.

[2018-11-09 16:29] tresf commented on #377
Adobe is **the** standard for PDF printing.
* Adobe invented PDF.  Adobe's results are **nearly always what PDFBOX base many of their benchmarks against**
* That said... PDFBOX is not even remotely related to Adobe.  Instead, it's a crowdsourced effort to reimplement PDF viewing, parsing and print functionality in a portable 100% pure Java (bytecode) interpreted alternative
* As a result there are

[2018-11-09 16:42] lichtamberg commented on #377
I've sent you an email with the PDF, thank you!

[2018-11-09 19:09] tresf commented on #377
I have a quad core i7 machine running Java 1.8.0_191.

* PDFBOX 2.0.12 takes **5 seconds** from startup to finish on the printing.
* PDFBOX 2.0.8 takes **7-10 seconds** from startup to finish on the printing.

@lichtamberg can you please provide your baseline benchmarks as well?  I think simply upgrading PDFBOX will help considerably based on my benchmarks.  We can provide a build that does this b

[2018-11-10 15:58] tresf commented on #377
@lichtamberg I'm closing this bug report on account of cb5e230d8bdda185987e2b55f04ae1a445afa29b.  The PDFBOX 2.0.12 seems to add 30% performance gain for this particular PDF.

QZ Tray 2.0.9 will contain this newer PDFBOX version.  Since you're a premium customer, we've sent you a supported, one-off build that you can use until 2.0.9 is released.

Others experiencing this problem can reach out to o

[2018-11-10 15:58] #377 closed

[2018-11-10 17:11] lichtamberg commented on #377
**Thank you so much**, will try on monday when I'm back at work and have access to the printer!

[2018-11-12 09:22] lichtamberg commented on #377
@tresf Thank you really much, the new version makes it really around 2 seconds faster.
Here are the results which we measured (enter-button/click to start printing, until final paper throwout):

| Type | Time |
| ------- | ------- |
| QZ 2.0.8 | 16.3 - 17.4 |
| QZ 2.0.9-RC1 | 14.3 - 15.5 |
| Chrome PDF Viewer | 10.5 - 11.7 |

As it seems Chrome is still a big portion faster, but together with redu

[2018-11-12 19:50] tresf commented on #377
@lichtamberg I decided to do some more benchmarking.  I installed the OKI driver on my machine.  It does add a small amount of print time since the driver must convert the PDF (e.g. 190KB) to OKI's proprietary print format (about 1MB).  This isn't that out of the ordinary, many print driver do this and the print time still seems within reason.

So I decided to try something different... I decided

[2018-11-13 18:33] tresf commented on #298
Reopening as the following syntax breaks 2.1:

[code]

[2018-11-15 01:07] luanlazzarin opened #379 "Authenticated page to generate the layout"
The code below is used to access a .php page that generates the coupon content dynamically based on the authenticated client.

[code]

If you access the content page through the browser the content is being generated, but when qztray passes the impression that it gives is that it uses "other browser" to generate the content, which obviously will not be authenticated.

How can we solve this?

[2018-11-15 16:30] tresf commented on #379
We're unaware of a way to safely pass authentication from browser to Java in the example you've provided.

The workaround is to use something like jQuery's `$.ajax` or `fetch(...)` to fetch and append the data through either plain text or base64, depending on the type of data you're printing. (HTML should work very well with plain text).

[2018-11-15 17:20] luanlazzarin commented on #379
Perfect, I'll create a function to bring the coupon into a variable. Thanks.

[2018-11-15 17:20] #379 closed

[2018-11-15 18:25] tresf opened #380 "PrintOptions shouldn't rely on JavaFX"
For systems without JavaFX installed, `PrintOptions` prevents any printing at all because it uses a class that is only available with JavaFX.

[code]

Can we find a way to support page orientation and print color without the class errors?  An example is Ubuntu system using `openjdk` but WITHOUT `openjfx` will fail to print.

[2018-11-15 18:59] tresf commented on #380
@bberenz initial attempt here: https://github.com/qzind/tray/pull/381

[2018-11-16 21:23] tresf opened #382 "Lazy fetch of native densities"
We have a function [`PrintingUtilities.getNativeDensities()`](https://github.com/qzind/tray/blob/3b8789935c0fae769f1db5e41329fcba702b6a93/src/qz/printer/PrintOptions.java#L222) that gets called each time we open a websocket connection and print and it appears to be adding a slight delay to the printing process for raw prints.

Here's the complaint:

Here's a copy of the logs:

[code]

To the clien

[2018-11-18 21:04] adic26 commented on #237
In the above example , where do I perform `setCertificatePromise` and `setSignaturePromise` ?

[2018-11-19 14:18] lukas-w commented on #43
@tresf I can't find a good way to embed a previous certificate's fingerprint in a renewal certificate. So the best way I can think of is to match the certificates' public keys. This would mean having to store additional information in the whitelist. Should I proceed integrating this?

[2018-11-19 14:21] tresf commented on #43
What's wrong with extended attributes?

[2018-11-19 15:29] lukas-w commented on #43
I'm not aware of a standard extension that could be used for this, so as far as I know we'd have to use a custom extension. The library we use for signing certificates on the website does not support this, so we'd have to switch to using OpenSSL. I'm not sure how well Java handles this. Overall I think it's going to be considerably more work than the alternative.

As another idea, we could add an

[2018-11-19 15:50] tresf commented on #43
The only -- minor -- issue with this approach is many clients forget to save the `public-key.txt` or forget where they placed it and don't have it at renewal time.  I suppose this would encourage them to track the `public-key.txt` better, so this seems like a sane fallback option.

Terrific idea from a support perspective, but this takes the control out of our hands as any client could manipulate

[2018-11-19 16:07] tresf opened #383 "Add fetch to 'file' mode to avoid authentication errors"
Discussion to add an optional parameter/wrapper to `file` URLs to fetch and append in base64 format as a convenience.

Since [`fetch(...)` is part of most web browser's API](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API#Browser_compatibility) this would add a convenience to customers that are behind authentication (i.e. #379).

[2018-11-20 17:04] arpaulnet opened #384 "Unable to print to CUPS URL"
I am attempting to print ZPL to a CUPS printer URL.  The documentation shows:

[code]
I have attempted a few different combinations for the `qz.configs.create()` function:
* `qz.configs.create('http://<cups-server>:<port>/printers/<my-printer>')`
* `qz.configs.create({host: 'http://<cups-server>/printers/<my-printer>', port: <port>})`
* `qz.configs.create({host: 'http://<cups-server>:<port>/printe

[2018-11-20 17:12] arpaulnet commented on #384
Here is another log using a different `qz.configs.create()` call:
[code]

[2018-11-20 17:42] tresf commented on #384
Correct, this is not supported.

The underlying Java [`Socket`](https://docs.oracle.com/javase/8/docs/api/java/net/Socket.html#Socket-java.lang.String-int-) implementation that is used does not provide support for HTTP endpoints.

https://github.com/qzind/tray/blob/8f2e617b5ba614bb74dcdccae29af81fc82a53c2/src/qz/printer/action/PrintRaw.java#L214-L228

In this case `host` is a network address as de

[2018-11-22 05:39] bberenz commented on #372
Some potential code under the new `signing` branch at bdfca60d31581848f02aba0c0d2dbd4379f15445
Probably not the prettiest code since we can't iterate over files with ant, but this avoids having to script the process.
The only line I am not sure about working right is [build.xml#L409](https://github.com/qzind/tray/blob/signing/build.xml#L409), the man page for codesign says it accepts multiple path

[2018-11-23 16:45] tresf commented on #372
Space delimited appears to be the accepted technique but I still don't think it's legal.  When `exec` runs it passes each parameter in as a single string, so you need some way to dynamically `<arg value="..."/>`  based on the number of files.  Ant might have some type of support for this.  The [ant mailing list](http://ant.1045680.n5.nabble.com/idiom-to-pass-ant-command-line-args-to-java-task-td13

[2018-11-24 18:30] bberenz commented on #372
Bundling build order should be working right under 3e62f0c7f27dfead719ad9a936e464f54fea333b

[2018-11-26 14:36] lorro opened #385 "Trying to figure out HTML printing"
Hi,

I'm in the phase of figuring out if QZ Tray would work for me before actually buying a license.
I'm trying to print out some basic html, but it isn't quite working out.

I can print raw text without a problem but when I try printing some plain HTML, I see a small java popup for about a second before it disappears again. Nothing is printed.

This is how my printing function looks like:
[code]

[2018-11-26 16:15] lite1979 commented on #385
@lorro

Can you share some more information about your environment?

What Operating System?

If raw text works fine and HTML does not, this can occur on MacOS or Linux, where the driver for HTML is normally different from the raw driver.

What make/model printer?

I.E.: Some printers use Epson drivers or Zebra drivers, even though they are not manufactured by Epson or Zebra.  Alternately, you may

[2018-11-26 16:30] lorro commented on #385
I'm working on a Win10 installation as OS. Developing an app on localhost.
My label printer is a Citizen TZ30-M01
JRE is 1.8 (Java SE 11, JavaFX should be included according to the oracle site)

Is there a windows executable available of this 2.1 version perhaps?

[2018-11-26 17:03] lorro commented on #385
By the way, I just tried compiling this 2.1 branch but get the following error.
error: package com.sun.javafx.print does not exist

So I guess it has something to do with JavaFX, perhaps you can supply a direct link to the download of the correct Java package?
I only find links to the latest Java SE (which states JavaFX is included)

Thanks

[2018-11-26 17:08] lite1979 commented on #385
https://java.com/en/download/manual.jsp

The Off-line installer should be the third link in the page linked above :)

If JavaFX is not installed or the current installation is corrupted, you will not be successful with HTML printing in either 2.0 or 2.1

Can you confirm that the Windows Test Print to this printer is successful?

[2018-11-26 17:49] tresf commented on #385
Please use Java JDK 8.  Java's trying to push newer JDK's and they're abandoning JavaFX from the default runtime.

If you're using "Generic/Text" driver, you can't print HTML.  Which driver are you using?

You shouldn't have to compile, use this version of 2.1:
https://github.com/tresf/tray/releases/tag/v2.1.0-RC5

[2018-11-27 05:56] tresf commented on #372
Apple's still rejecting the installer due to the presence of two PPC libs.  I've written the logic to remove them via f61e3a6 but two outstanding issues remain...
* HTTPS doesn't work for me with this latest commit.  There are some other anomalies that occur, but this is the most notable.
* Travis is broken because we're attempting to codesign on machines without signing support.

[2018-11-27 10:40] lorro commented on #385
Which driver should it be instead? I'm indeed using this Generic/Text driver for the labelprinter.

[2018-11-27 14:47] tresf commented on #385
The pixelation should be fixed by using the beta of 2.1 and using `{ rasterize: false }` configuration option.  This option is new for HTML starting with 2.1.

The cash drawer opening automatically is a driver setting.  The driver is sending a pulse to the cash drawer by default.  You can turn this off if undesired.  We're not yet familiar with the Citizen drivers so you'll have to locate this in

[2018-11-27 14:48] tresf commented on #385
2.1 beta can be downloaded here:
https://github.com/tresf/tray/releases/tag/v2.1.0-RC5

Note 2.1 is not compatible with the latest version of Firefox. This will be fixed in a future release.

[2018-11-27 14:51] tresf opened #386 "Add ability to get computer host name"
Request to add the [computer's hostname](https://stackoverflow.com/a/7800008/3196753) to the available network information.

[2018-11-27 15:15] lorro commented on #385
![image](https://user-images.githubusercontent.com/977617/49090661-70e98580-f25e-11e8-9b78-4311a2a1ccaa.png)

That's correct :-) I found the setting in the advanced settings of the Citizen drivers.

[2018-11-27 15:23] lorro commented on #385
I still do have some issues with HTML printing quality apparently.

![image](https://user-images.githubusercontent.com/977617/49091510-4993b800-f260-11e8-92b2-d298556c6add.png)
This is printed using
[code]

![image](https://user-images.githubusercontent.com/977617/49091574-6f20c180-f260-11e8-8f70-38992382022d.png)

This is printed using
[code]
You see it's far more sharper. But yeah, not all the v

[2018-11-27 15:30] tresf commented on #385
The title of this issue mentions HTML, not images.  If printing images, special consideration should be made to:
1. Match the DPI of the printer so that you don't get aliasing.  I wouldn't recommend images for anything except logos.
2. Ensure all images are pure black or white.  We don't use any dithering techniques and there generally is no "grayscale" on thermal, our logic simply transfers black

[2018-11-27 15:46] lorro commented on #385
Ok, i'll try that :) We'll only have to use an image for the logo.
Almost getting there I think.
Still one small issue with printing html. The quality good is good when settings 'rasterize' to false, but it messes a bit with the margin

![image](https://user-images.githubusercontent.com/977617/49093075-a9d82900-f263-11e8-8924-827795fea1f5.png)
The receipt on top is with 'rasterize' set to false, b

[2018-11-28 06:52] tresf commented on #372
Fixed the HTTPS issue and submitted the app for notarization.

Apple has successfully notarized the app.  Just need to fix Travis and the `signing` branch is good to merge.

<details>
  <summary>Click for JSON response</summary>

[code]

</details><br>

[2018-11-28 13:44] lorro commented on #385
Hi,

It's this quite basic html snippet
[code]

[2018-11-28 15:55] tresf commented on #385
Thanks for sharing.  We recommend using `<html>` tags around your content for proper markup.  We'll test on our equipment and let you know.

[2018-11-29 02:32] #372 closed

[2018-11-29 09:33] lorro commented on #385
I'm using the beta :)

[2018-11-29 12:02] lorro commented on #385
I've set the left margin to 0.10 and now all the printing fine!
margins: { top: 0.25, right: 0.10, bottom: 0.25, left: 0.10 }

Thanks for all the kind support! ;-)

[2018-11-29 12:02] #385 closed

[2018-11-29 17:34] lite1979 commented on #385
Thanks for the update!

[2018-11-30 06:46] shajunr88 opened #389 "Html Print Not Working"
I am using QZ tray version 2.0 along with java version 8 and windows 7.In the sample.html, when I click the raw printing it works perfectly and get printed out put .Upon clicking HTML print button,only a java popup comes and disappear.There is nothing get printed.I tried with Java version 7 also.But it throws some Java FX error.My printer in EPSON TM-T82 .

[2018-11-30 13:35] lite1979 commented on #389
@shajunr88

Are you sending the HTML content to a raw queue? HTML printing will not work if sent to a raw queue. We recommend Oracle Java 8 (update 191 is the latest as of this post) with JavaFX. HTML printing will not work without JavaFX.

[2018-11-30 16:03] lorro commented on #389
Have you installed the correct printer driver? I had the same problem a couple of days ago because I had installed it as Generic / Text Only. You should download & install the correct drivers for the printer. So it can print other things than only text.

[2018-11-30 18:34] tresf commented on #10
@lite1979 can you please provide an update on this?

[2018-11-30 21:28] #380 closed, assigned to akberenz

[2018-12-03 00:59] bberenz commented on #298
00b464c91c2d4aa3e8f33ff1d022bc0d7f91bf60 should fix this

[2018-12-03 18:20] tresf commented on #298
@bberenz did you test the patch?  Now it throws a NPE.  It doesn't appear to be switching `format: `base64`` to `format: 'html', flavor: 'base64``

[2018-12-03 22:56] bberenz commented on #298
First, it's important to note, we don't do up-versioning js side (2.0->2.1), that's only when down-versioning (2.1->2.0). This is instead taken care of in [PrintingUtilities](https://github.com/qzind/tray/blob/2.1/src/qz/utils/PrintingUtilities.java#L99) when determining what processor to use. So you won't see "format" switch to "flavor" until then.
Second, I can't replicate your NPE, so some test

[2018-12-04 00:10] tresf commented on #298
Yes was 2.1 -> 2.1 but sorry accidentally was using HTML.  Will retest.  P.S. let's get base64 HTML added, only makes sense.

[2018-12-04 14:39] tresf commented on #298
@bberenz I don't know where I got the `html` from in my above reply, but I can still reproduce the NPE with PDF printing.

I'm using the syntax from the 2.0 API: https://qz.io/wiki/2.0-Pixel-Printing#base64-pdf

The exact code is:

[code]

The stack trace is very weird...

[code]

[2018-12-04 14:46] tresf opened #390 "HTML base64 support"
Placeholder to add `base64` flavored content to the HTML printing API.

[2018-12-04 14:47] tresf commented on #389
Closing because as a support request and not a bug, defect or enhancement with QZ Tray.  Feel free to continue discussion, but the status of this bug will remain closed.

[2018-12-04 14:48] #389 closed

[2018-12-04 14:50] tresf commented on #366
Closing as `invalid` since the bug is not reproducible using the latest tools.  Feel free to continue discussion here.  I'd be happy to reopen with steps to reproduce the issue.

[2018-12-04 14:50] #366 closed

[2018-12-04 14:58] tresf commented on #274
I found this information from both the Brother QL800's and TD4000's raster programming guidse interesting... It breaks down the raw `.prn` file that is created when the print output is directed to file.

![image](https://user-images.githubusercontent.com/6345473/49450224-928cc480-f7aa-11e8-8679-3d8d5030f714.png)

Although I believe with enough R&D we could tackle this, there is currently very litt

[2018-12-04 14:58] #274 closed

[2018-12-05 15:32] lorro opened #392 "Printing mixed content in the correct order"
Hi,

I'm encountering a new issue with the following. I want to print an order receipt with a logo, the order details in html and a QR code that contains the order number. In that order. The problem is the QR code get printed before everything else in the header, while I want it displayed in the footer.

I've got it set up like this
[code]

[code]

I've also tried this as setup as I read it was pa

[2018-12-05 17:54] lite1979 commented on #392
@lorro

@tresf and I wrote this sample a while ago (on 2.0), but the concept should be the same;

ESCP (ESCPOS in this case) content will race ahead of HTML content if processed concurrently, as JavaFX has to process the HTML, then the Epson driver has to process the raster image, but the ESCP will go straight to the printer and get processed by the printer's firmware.

https://gist.github.com/lit

[2018-12-05 21:39] lorro commented on #392
Could you elaborate a bit what is the important difference with my approach what makes that it doesn't work? I'm actually also chaining different 'then' blocks the same as in the provided example.

I'm running it on a Windows environment so I guess the altPrinting thing doesn't apply to my situation?
Is it important I initialize a new config for each print job I add to the queue?

Thanks

[2018-12-05 22:18] tresf commented on #392
Correct sorry for the confusion Lite's example using `{ altPrinting: true }` printing is **specific to systems without raw-capable print drivers**, such as macOS and Linux.  On those systems, two queues are generally required to combine `raw` + `pixel`, but they race (CUPS is FIFO and each queue queues separately and racing occurs).

Windows has a separate problem. **Its spooler thinks it's smarte

[2018-12-06 10:00] lorro commented on #392
Hi @tresf,

I'm actually using a 2.1.0-RC5 build.

I tried changing the printer drivers to this. The screenshot is in Dutch but the options are ofc the same as your English example ;)
![image](https://user-images.githubusercontent.com/977617/49576354-44f88f00-f945-11e8-81dd-7c6fbc28ba77.png)

When I try printing afterwards unfortunately I get some unclear error :/ (it printed the logo and the QR c

[2018-12-06 10:49] lorro commented on #392
I also think rasterizing the HTML wouldn't work for me.
This is my printer config
[code]

If I didn't set rasterize to false the printed HTML does get extremely blurry and unreadable. When I set it to rasterize: false it is ok.

[2018-12-06 19:06] tresf commented on #392
The config option `rasterize: true` is for pixel printing.  The bug report I linked (#19) was for raw.  Although raw will use rasterization under the covers, it does the image to raw conversion on the black pixels only.  This may have slightly better results over the pixel technique.

I'm not sure what that message means.  Directly spooling should affect the speed and order of printing , not the r

[2018-12-07 03:39] tresf commented on #392
@lorro

Here's my working code snippet.  This works for me on macOS and Windows.

The only caveat is that I don't know how to disable auto-cutting on macOS, so all of my macOS receipts have a slice between the HTML and the QR code.

Another caveat, Windows centers the HTML content whereas macOS left-aligns it.  I'm not sure why this happens.  It's either a nuance with the driver or a bug with the

[2018-12-07 10:55] lorro commented on #392
Hi @tresf,

thanks for the update.

Just for testing purposes I actually copy/pasted your code sample and just replaced the printer name with mine. Tried printing but that throws the following error.

[code]
Any idea?
That's when I run `qz.print([cfg1, cfg2, cfg3], [data1, data2, data3]).catch(err => console.error(err));`
When I would create one main single config and pass only that it prints but

[2018-12-07 13:23] tresf commented on #392
@lorro, that's weird. NI was getting that error when I tried to clone my configs (the objects are mutable and I was attempting to use `.reconfigure(...)` the wrong way.  Just a thought I'm not sure.

I assume you're using exactly matched versions of QZ Tray and qz-tray.js?

[2018-12-07 13:47] lorro commented on #392
Oh fuck, seems I'm still using the 2.0.8 browser plugin.
I pulled that in via npm install.

Is there a way to pull version 2.1.0 through npm?
I get this when trying:
[code]

[2018-12-07 13:53] tresf commented on #392
`2.1.0` will be published only when it hits table release.  Sorry for the inconvenience.

[2018-12-07 14:17] lorro commented on #392
Ok I understand. So I just updated the file manually to see what happens now.
Printing is fine now with
[code]

But still the QR gets printed above the logo, so that issue remains :)
Unfortunately I can't set the Citizen drivers to "print directly" as that still generated that unclear error :/

[2018-12-07 15:20] tresf commented on #392
Yeah, this driver goes haywire when I click that radio button.  I'm not sure why it does this, but it's not a problem with QZ Tray as far as I can tell.  It actually sends my print spooler into panic and pegs it at `25%` and the job hangs indefinitely.  In some tests, the `CITIZEN CT-S310II` printer can't be found by QZ Tray and in other tests the queue just immediately goes offline and QZ Tray ha

[2018-12-07 16:21] lorro commented on #392
I'm afraid our printer model (CT-S310II) isn't supported by the Seagull drivers.
It's not in the list. Thanks anyway for the suggestion :)

[2018-12-07 17:39] tresf commented on #392
I'm going to close this out as QZ Tray appears to be functioning fine.  Please keep us posted as to your progress.

[2018-12-07 19:40] majoncas opened #393 "Delay on adding/removing printers for qz.printers().find()"
I figured out the problem in our application then I tried to reproduce the problem on your demo page on your website so I can proof that this is not an implementation problem.

On my MAC, I add a new printer, then I click on "Disconnect" and after I click on "Connect" to force a new QZ connection. I click on "Find all printers" button and my newly added printer is not visible. I need to do the sam

[2018-12-07 19:53] tresf commented on #393
No, we get this information from CUPS which -- especially on macOS -- is not realtime.  I recommend you have the printers configured before starting QZ Tray and restarting between changes.

[2018-12-07 19:53] majoncas commented on #393
I just realized that as a workaround, closing the QZ Tray application and restart it would fix the issue but I would not expect as a user to do such operation in order to make this work. The API should send me accurate informations.

[2018-12-07 19:54] tresf commented on #393
We use standard Java APIs, the issue is not with our product.

[2018-12-10 12:04] majoncas commented on #393
It's ok then. I just wanted to check with you guy if this was really "as designed" . Thank you for your confirmation

[2018-12-14 18:38] aktywnitu opened #394 "Silent error with certificate without Fully Qualified Domain Name"
My mistake was that I created certificate with empty Fully Qualified Domain Name.
Of course such certificate has no sense, but I have not received any information from program logs.
Now I have use certificate with FQDN and all work correctly.
I have tried before run program from commands line and see hidden errors.
I am not sure if is connected with FQDN, but I received below logs:
[code]

[2018-12-18 03:17] tresf opened #395 "Scanner support"
Placeholder for adding document/picture/flatbed, etc scanner support.

Here's a Windows-only library that may be able to help:
https://github.com/Asprise/java-scanner-access-twain

[2018-12-20 01:13] bberenz commented on #318
What about taking advantage of our stream system for this?

Something along the lines of
[code]

We'd have to go through and add a `sendStream` java-side to all the exceptions we want visibility on, and make sure all sessions get a copy, but it should be possible.

[2018-12-20 01:58] tresf commented on #318
What if we made it promise-driven fetch of the details only when one occurs?  The exceptions are already being raised we just need more details.

Perhaps another option is to provide an API for fetching the logs?

I guess any solution may suffer the possibility of the exception being a breaking one and ending the WebSocket communication.

[2018-12-20 02:08] bberenz commented on #318
The problem with a fetch is we either have to have a queue to fetch from or you run the risk of having the exception you actually want to see being overridden by another and being unable to retrieve it without constant polling.
Just having an api for fetching the logs instead might be the best compromise though.

If its a crash causing exception though, won't they have to remote in anyway to resta

[2018-12-20 02:09] tresf commented on #318
Yeah, that sounds like a good compromise.

[2018-12-21 03:57] #43 closed

[2018-12-21 19:49] tresf opened #397 "Add base64 HTML support"
Per https://github.com/qzind/tray/issues/298#issuecomment-444122434.

[2018-12-21 19:56] bberenz commented on #397
Isn't this being tracked as #390?

[2018-12-21 20:03] tresf commented on #397
Whoops, thanks!

[2018-12-21 20:04] #397 closed

[2018-12-21 20:22] tresf commented on #394
I created both an SSL certificate without a FQDN as well as as a licensing/authCert certificate without a FQDN and they both work without any errors.

* My first test, I entered "test" for all items (CN=, OU=, etc).
* My second test, I left them blank for all items.

Neither of these produced any errors.  I was able to create a similar error but not using the DER/base64 formatted certificate but t

[2018-12-21 20:22] #394 closed

[2018-12-22 03:41] tresf commented on #298
As @bberenz pointed out in DM, my syntax was wrong.  For 2.0, the proper syntax is:
[code]

Closing as fixed.

[2018-12-22 03:41] #298 closed

[2018-12-22 03:43] tresf commented on #60
Re-milestoning for 2.2 branch.

[2018-12-22 03:44] tresf commented on #10
Providing an update on @lite1979's behalf... the TM-U220 printer prints gibberish even after adjusting for the lower-resolution print head.  More R&D is needed.  Re-milestoning for the 2.2. branch.

[2018-12-22 03:46] tresf commented on #9
There have been no requests for this feature in two years.  We can document as an on-demand feature.  This bug report is the best documentation we have until then.

[2018-12-22 03:46] #9 closed

[2019-01-03 07:52] egegunes opened #398 "Fix required dependencies for Fedora"
`java-1.8.0-openjdk-openjfx-devel` is also required for Fedora to compile from source.

[2019-01-04 15:00] tresf commented on #398
Closed via [`wiki/9e9bcdc`](https://github.com/qzind/tray/wiki/Install-Dependencies/_compare/fc45b52c5a57a6fe233bf6b81552ac12b53d790b...9e9bcdcc82a53d128cdf9604e3a4c06a9c0a0aa0).

[2019-01-04 15:00] #398 closed

[2019-01-07 18:30] tresf opened #399 "Add cert download to HTTP status page"
Placeholder to add an HTTPS certificate download link to the status page at https://localhost:8181.  The advantage of this is it allows iOS devices (using Safari ONLY) to install the HTTPS cert and trust it.

[2019-01-09 06:48] lite1979 commented on #245
Please create a separate queue for the printer following the instructions
below:

https://qz.io/wiki/setting-up-a-raw-printer-in-osx

On Wed, Jan 9, 2019, 1:22 AM CindyLulu <notifications@github.com wrote:

[2019-01-09 07:16] CindyLulu commented on #245
Thanks @lite1979 , I've printed it correctly now!

[2019-01-14 08:31] CindyLulu commented on #71
Hi @tresf @lite1979, sift library needs driver and name in the data, but currently I didn't find the details function in qz.printers, and qz.printers.find only returns printer names array,  I'm using qz 2.0.6 version. Could you help check the issue?

[2019-01-14 09:21] CindyLulu commented on #71
Find the api in qz tray version 2.1

[2019-01-14 14:42] tresf commented on #71
Correct, the raw printer filter is a 2.1-only feature.

[2019-01-14 16:00] adic26 opened #400 "WSS/HTTPS setup with qztray"
Hello,

I tried following down to the T : https://github.com/qzind/tray/issues/73

Yet I wasn't able to get the qztray to work with setup, however I was able to get it to work HTTP/WS.

My Setup:
QZTray - Customized build with a self-signed cert : running on a machine in a network with mappings routed in the router via port-forwarding

GCP: Running my application on google cloud using a `Lets Encr

[2019-01-15 03:03] tresf commented on #400
I'm not sure what the self-signed cert has to do with it.  For SSL, the two PEM files should work and then you'll need to restart QZ Tray.

If LetsEncrypt gave you two certs, try the one without the full chain.

HTTP should always work because there's no domain information in the insecure request, just listening on port 80.

[2019-01-15 14:49] tresf commented on #400
That's the licensing component.  That has nothing to do with SSL.

If SSL is the issue, I strongly recommend using the vanilla installer.  We don't assist with any setups that bypass the licensing component and I can reassure you the two are unrelated.

[2019-01-16 14:18] adic26 commented on #400
Installed Vanilla QZTray app with :
`cscript "%PROGRAMFILES%\QZ Tray\auth\windows-keygen.js" "%PROGRAMFILES%\QZ Tray" install "" "" "path\to\main-crt.pem" "path\to\privkey.pem"`

Despite of this under HTTPS:

Please advice, we are in need of desperate help here as we are unable to print receipts from the outside server.

[2019-01-16 15:43] tresf commented on #400
This is a bug tracker.  This is NOT a channel for urgent support.  QZ Industries, LLC offers a support plan via https://qz.io.  If you have a premium subscription, please contact support@qz.io so the issue can be escalated accordingly.

This suggests you're trying to connect to HTTP using HTTPS.  Did you modify the `.connect()` parameters in a way which forces HTTP ports?  Does the same happen wit

[2019-01-17 15:33] adic26 commented on #400
Fair enough, I should have taken this to community. Although there is a `help wanted` label which made me think that I can ask questions here.

@tresf thanks for your help.

For people with the same issues:

Turns out secure port was being used same as insecure port. Now that's been resolved, the only thing I had to do was re-run the following command with the domain name that is associated with f

[2019-01-17 15:33] #400 closed

[2019-01-17 16:02] tresf commented on #400
We welcome asking for help, but stressing urgency implies onus, which is contractual.

[2019-01-17 16:03] tresf commented on #400
Thanks for providing this feedback for others, it will be very helpful.

[2019-01-21 16:02] tresf opened #402 "JDK11 Support"
Oracle is making some EOL announcements for Java 8.  Although originally targeted at Oracle Java SE 8 **JDK**, the information pages are quite unclear about this.

To clear the air, we should move the codebase to Java 11 ASAP.  The biggest hurdle will be packaging JavaFX, which has since been removed from Java 11.

Note, Java 9 and Java 10 are EOL already because they don't carry an "LTS" (long te

[2019-01-21 17:37] tresf commented on #249
@bberenz just got this new information from PDFBOX.  Should we reopen this?  https://issues.apache.org/jira/browse/PDFBOX-4435?focusedCommentId=16747031&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-16747031

[2019-01-22 07:16] onurguzel commented on #402
After manually installing JavaFX, I was able to compile QZ Tray with Java 11 for both 2.0 and 2.1 branches. When I launch (on macOS), icon is shown in the tray area, but also throws this exception:

[code]

[2019-01-22 14:13] tresf commented on #402
We add some event listeners to get some Apple-specific features (e.g About dialog from native menu bar).

For now we can put Java version detection around these so that it will safely load.

[2019-01-24 02:16] tresf opened #403 "Firefox can use policies.json on Linux"
Related to https://github.com/qzind/tray/issues/371, Linux now has certificate import support through `policies.json` and Mozilla has documented it here:

https://github.com/mozilla/policy-templates/blob/master/README.md#certificates

The AutoConfig support for Firefox will be killed very soon -- and with it -- our HTTPS support.  2.0.9 must ship with the updated certificate import logic.

[2019-01-25 01:05] tresf commented on #402
@onurguzel QZ Tray with Java 11 is working just fine for me minus the Mac integration and the JavaFX library.  The desktop integration appears to have changed: http://openjdk.java.net/jeps/272

We'd be willing to put a bounty on the integration features but they appear benign for now.

[2019-01-25 02:57] tresf commented on #399
Closed via ef3d2aa.

[2019-01-25 02:57] #399 closed

[2019-01-25 04:28] tresf opened #405 "PDF to honor nearest-neighbor"
Per [`PDFBOX-4435`](https://issues.apache.org/jira/browse/PDFBOX-4435?focusedCommentId=16750271&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-16750271) rendering hints will be honored with the next release.

Quoting the bug report...

[2019-01-25 21:30] tresf commented on #402
For anyone testing against 2.0, please delete `jre/jfxrt.jar` before attempting to run.

There appears to be a bug with javafx11 on Windows.  If the `bin` folder is not added to the path, it'll crash with `Graphics Device initialization failed for : d3d, sw Error initializing QuantumRenderer: no suitable pipeline found`.  We'll need to find a way to add this dynamically at runtime so that we can s

[2019-01-29 03:42] tresf commented on #403
Turns out Firefox 64 may not properly support the "Install:" flag yet.  I've provided our test results to the Firefox team.  We may need to slate this feature for Firefox 65.

PR #404 is ready for merge once we know which version this feature will land in.

[2019-01-29 04:26] tresf opened #406 "PDF consumes entire Java heap"
When printing a PDF created with `weasyprint`, QZ Tray appears to get stuck in [`BookBundle`](https://github.com/qzind/tray/blob/911c525e5ad9f0042eaa63fe1158ef4104a1a013/src/qz/printer/BookBundle.java#L34) for much too long, often causing `OutOfMemoryError`.  The below PDF is small, so it does not cause the heap overflow, but the effects of the `BookBundle` looping can still be observed.

PDF: [te

[2019-01-29 22:05] tresf commented on #403
Cross-link to some technical details on the status/progress of `polices.json` on Linux: https://github.com/mozilla/policy-templates/issues/282#issuecomment-458722463

[2019-01-30 02:02] bberenz commented on #406
Well, the root cause seems to not be our code. It is unable to create a proper graphics object (a `sun.awt.windows.WPathGraphics` on my machine) to print the page in vector mode, and wastes a lot of cycles re-requesting the page with the fallback graphics object, as indicated by the "Requested page 0" being logged over and over (I think it's because its limited to printing in chunks? finding sun s

[2019-01-30 02:44] bberenz commented on #406
Upstream bug opened: [PDFBOX-4448](https://issues.apache.org/jira/browse/PDFBOX-4448)

[2019-01-30 19:41] #403 closed

[2019-01-30 19:42] tresf commented on #403
2.0.9 will include the new `policies.json` support for Firefox 65+ on Linux.  Older Firefox versions will continue to use the existing `AutoConfig` technique.

[2019-01-31 17:04] tresf commented on #402
Moved checklist to https://github.com/qzind/tray/pull/407.  This PR is in really good shape and ready for testing.

[2019-02-01 07:35] tresf commented on #402
@tresf FYI, access violations should be handled 3c23ec5.

[2019-02-03 07:14] tresf commented on #136
@dyorgio, on Ubuntu 18.04, `cat "/proc/$pid/environ" |tr '\0' '\n'` no longer includes the `GNOME_DESKTOP_SESSION_ID` variable.

[2019-02-03 08:03] tresf commented on #136
Workaround added e0900bb.

[2019-02-04 11:42] indeshan opened #409 "issue in build-exe"
When i run ant **_ant nsis -Dauthcert.use="C:\Program Files\OpenSSL-Win64\bin\certificate.pem"_** on windows, i'm getting this error

[code]

[2019-02-04 14:44] tresf commented on #409
[code]

Is there a chance you have it open?

[2019-02-04 14:45] tresf commented on #409
Also, are the `??` question marks part of the output or did you intentionally replace these before uploading your logs?

[2019-02-04 15:39] indeshan commented on #409
No, `??` are not intentionally replaced, but this is fixed now . I used `**build.version=2.0.8**` in **`/ant/project.properties`** file and this resolved my issue. Thanks for replying😀

[2019-02-04 15:47] #409 closed

[2019-02-04 18:43] tresf opened #410 "Add debug logs to HTML printing"
JavaFX allows a few way to attach a console to the browser.

https://stackoverflow.com/a/49077436/3196753

The console can be helpful for troubleshooting non-obvious JavaFX engine errors.

[code]

[2019-02-05 06:46] tresf commented on #60
Remilestoning for 2.0 branch.  PR opened here: #411.

Some elementary-specific bugs:
* Menu doesn't reposition/accomodate for bottom of screen
* Initial icon (red) never turns green.  This appears to be specific to this desktop as Gnome 3 and KDE don't exhibit this problem.

PRs welcome to address the cosmetic bugs.

![ezgif-2-e61a54b3618d](https://user-images.githubusercontent.com/6345473/5225717

[2019-02-05 16:14] tresf opened #412 "Missing HTML file hangs JavaFX"
When a URL is provided to HTML printing, the error is detected but never recovered.

QZ Tray 2.1.0 (HEAD)
[code]

![image](https://user-images.githubusercontent.com/6345473/52287012-58b97500-2937-11e9-80b7-44939811ad6f.png)

[2019-02-06 06:38] tresf commented on #60
Final version, will be available in 2.0.9:
![ezgif-2-e340a993870a](https://user-images.githubusercontent.com/6345473/52324565-c86b4680-29af-11e9-8fe5-bb733cfd6897.gif)

[2019-02-09 21:46] tresf opened #413 "JNA can't find dependent libraries"
Using OpenJDK11 from AdoptOpenJDK.org on Windows, the "About" dialog raises the following error:

[code]

I found an identical backtrace here which suggests updating JNA will fix it: https://github.com/MarkusBernhardt/proxy-vole/issues/35

[2019-02-09 22:27] tresf opened #414 "Serial causes access violation OpenJDK11"
Using OpenJDK11 from AdoptOpenJDK on Windows with jssc causes an access violation,

Possible upstream duplicate(s):
https://github.com/scream3r/java-simple-serial-connector/issues/116
https://github.com/scream3r/java-simple-serial-connector/issues/125
https://github.com/scream3r/java-simple-serial-connector/issues/124

[code]

hs_err_pid5884.log attached: [hs_err_pid5884.log](https://github.com/qz

[2019-02-11 04:53] tresf opened #415 "EPL on macOS fails unless altPrinting is set"
When the `epl_sample.txt` from our sample.html is printed using CUPS on macOS, it just prints the EPL code on the label.  The "EPL" button works until the image line is removed, then it behaves the same.

* Specifying `altPrinting: true`, it works just, this is a viable workaround
* Attempted to force encoding, but did not help (`IBM437`, `Cp1252`, `UTF8`)

**Wireshark**
Looking at a packet captur

[2019-02-11 05:19] tresf opened #416 "JDK11 not detected on Windows"
When installing QZ Tray on a desktop with only Oracle JDK11 installed:

* The QZ Tray installer can't find JDK11
* The QZ Tray launcher can't find JDK11

Oracle has removed the following registry key(s):

*   `HKLM\SOFTWARE\JavaSoft\Java Runtime Environment\`

Oracle JDK11 is not longer provided as a standalone JRE. It can now be found in the registry under:

*  `HKLM\SOFTWARE\JavaSoft\JDK\`

Rele

[2019-02-11 06:11] tresf commented on #402
Reopening.  The build logic needs to be improved.  It assumes the platform it's building on is the platform that's being targeted, but we build Windows on Linux, etc.  This breaks a few areas in the `build.xml` logic and will need to be reworked.

[2019-02-11 06:16] #416 closed

[2019-02-11 17:04] tresf opened #417 "Add dithering flags"
Some drivers such as the ZDesigner driver from Zebra allows specifying the dithering which can improve print quality.  @bberenz can we [control this through Java](https://docs.oracle.com/javase/8/docs/api/java/awt/RenderingHints.html#KEY_DITHERING)?

![image](https://user-images.githubusercontent.com/6345473/52579853-15f31380-2df5-11e9-8971-ed3def5af8fb.png)

[2019-02-15 05:45] bberenz commented on #417
Testable code on branch `flags`

[2019-02-21 05:38] bberenz commented on #405
Support for rendering hints with pdfs is added under the `pdfhints` branch for when they release the next version.

[2019-02-23 00:44] tresf opened #420 "Add size 'inherit""
Currently, if a PDF is provided that's 4x6 and it's sent to a printer with 4x6 paper, it will use the printer driver's default page size for printing.

This is a placeholder to add an option to `'inherit'` (or infer) the page size from the medium being printed.

[2019-02-26 04:50] tresf opened #421 "Show JavaFX version information"
Similar to the library version information offered in dde7798, placeholder to add JavaFX library version information.

Note, JavaFX may be derived from the following locations:
* Bundled (JDK11) (#407, #419)
* OracleJDK (Bundled with Java 7, 8)
* OpenJFX (Available from `apt-get`, `dnf`, etc)

[2019-02-26 05:05] tresf commented on #421
@Vzor- can we please add the Java version while we're at it?

[2019-02-26 05:10] #402 closed

[2019-02-26 05:59] Vzor- commented on #421
You got it.

[2019-02-27 04:52] ifarwell opened #422 "PDF Prints Blank on MacOS"
A QZ client encountered an issue on MacOS when printing a PDF through QZ -- the PDF is printing blank.  When printing with PDFBOX command line, the label prints as expected.  Unable to determine if this is a PDFBOX issue or a QZ issue.

This issue seems to be isolated to Mac - the label printed as expected with QZ on Windows 10.

**Environment:**
- Mac OS 10.13.6
- Zebra LP2844
- Label size: 57mm

[2019-02-27 04:58] ifarwell commented on #422
I tested the testPDF on Windows 10 with default Zebra driver for LP2844-Z (4x6 label), and the label printed as expected.

![testpdf_windows10_lp2844z_result](https://user-images.githubusercontent.com/44090703/53467040-4dcb9f00-3a22-11e9-94b7-7d1bca8d9823.jpg)

[2019-02-27 07:23] bberenz commented on #422
Printing pdf's, even the sample one works fine on my mac.
However, a huge caveat to this, is I do not have a printer using the zebra driver.

The client kindly linked their debug logs, which despite some binary issues, I extracted the following:
[code]

Of particular note, is in the email chain it was suggested that the client try printing with "rasterize" set to false, which you can see is set he

[2019-02-28 02:53] tresf commented on #422
@tresf, did you ever get a response from the client about the raw vs driver printer names

Yes, I was able to confirm that the raw printer was configured under a different name.

Good catch.  This is actually `304.8` dpi because the units are `cm`, which I never caught previously.

Interestingly I've removed and re-added the EPL2 driver (Zebra LP2844 203-dpi printer) and everything's printing fine

[2019-02-28 17:58] tresf opened #423 "Configurable log file size"
Placeholder to configure the size of the log file.

[2019-03-01 02:14] klabarge opened #424 "HID on Windows 10 + Oracle JDK 11"
I get the same "JNA Cannot find dependent libraries" error as bug report #413 when trying to list HID devices on Windows 10 + Java 11.

I installed JDK 11 [from Oracle's website.](https://www.oracle.com/technetwork/java/javase/downloads/jdk11-downloads-5066655.html)

[code]

[code]

[2019-03-01 02:23] klabarge opened #425 "About page won't load Java 11/Windows 10"
I cannot load `https://localhost:8181` or `http://localhost:8182` when using Java 11 (Oracle) on Windows 10.

Chrome just shows "Waiting on localhost..." indefinitely.
![image](https://user-images.githubusercontent.com/12505463/53612115-0cacc980-3b9f-11e9-8ed8-369c0b25ca44.png)

I can, however, download the certificate by loading: https://localhost:8181/cert/qz-tray

[2019-03-01 03:01] tresf commented on #413
Impact to bumping JNA:
* ✅ jssc's dot NOT use JNA
* ✅ usb4java does NOT use JNA
* ⚠️hid4java DOES use JNA
* ⚠️purjavahidapi DOES use JNA

[2019-03-01 04:29] klabarge opened #426 "Remember this decision not obvious in Ubuntu 18.04"
The "Remember this decision" option in the Trusted certificate dialogue is not obvious in Ubuntu 18.04

**Java:** openjdk version "11.0.1" 2018-10-16
**Tray:** 2.0.9-RC4

**Unchecked**
![image](https://user-images.githubusercontent.com/12505463/53616378-41754c80-3bb0-11e9-8061-88a38d3b71c6.png)

**Checked**
![image](https://user-images.githubusercontent.com/12505463/53616406-58b43a00-3bb0-11e9-805

[2019-03-01 05:14] tresf commented on #426
Appears to be a bug with Gnome3 and Java.  Fixed in Java 13, I wonder if we'll see a backport?
https://bugs.openjdk.java.net/browse/JDK-8203627

[2019-03-01 05:31] #413 closed

[2019-03-01 05:42] tresf commented on #425
Closed via 217f9da.

[2019-03-01 05:42] #425 closed

[2019-03-01 05:42] tresf commented on #424
Closed via 217f9da.

[2019-03-01 05:42] #424 closed

[2019-03-03 16:47] lite1979 opened #428 "PDF with width greater than height gets rotated, even when printing to label with width greater than height"
A PDF, 6 inches wide by 4 inches high, gets rotated 90 degrees (probably by PDFBOX; test/pics to follow), even though the paper dimensions are 4 inches wide by 3 inches high. The rotation is unnecessary and produces undesired results.

The same PDF printed with Adobe does not get rotated.

QZ-Tray relevant config: default orientation
Driver: portrait orientation

This does not occur when sending a

[2019-03-04 22:23] tresf commented on #406
Closing as `not a bug` to be consistent with upstream.  Issue was solved by updating `weasyprint`.

[2019-03-04 22:23] #406 closed

[2019-03-05 01:57] klabarge opened #430 "Cannot setup file blocked (Shared)"
In QZ Tray 2.1, the below error is logged (several times) for each call to the API. It seems benign, but should be removed from the logs.

[code]

[2019-03-05 03:54] klabarge commented on #405
I tested and `interpolation: nearest-neighbor` is honored with PDF's. It was hard to tell when physically printed, however I printed to PDFCreator and zoomed in on the barcode

## With Nearest Neighbor
![image](https://user-images.githubusercontent.com/12505463/53779952-341dd200-3ed0-11e9-83e9-9df1650af8a7.png)

## Without Nearest Neighbor
![image](https://user-images.githubusercontent.com/1250546

[2019-03-05 04:18] lite1979 commented on #428
![adobevsqztray](https://user-images.githubusercontent.com/3408749/53780524-dfc82180-3ed2-11e9-8d73-c15306350079.jpg)

Top Left: Adobe result (Auto-orientation; clicking on "Properties" before printing shows Portrait orientation, 4"wide x3"high paper size.

Bottom Left: QZ-Tray result (Orientation: Default) Control Panel > ZDesigner Driver also shows Portrait Orientation and a 4"wide x 3"high pape

[2019-03-05 04:27] tresf commented on #405
@klabarge thanks.  I've added a feature that should turn off text aliasing when nearest-neighbor is provided as well.

@klabarge @lite1979 can you test on thermal paper and see what type of differences we get?

[2019-03-05 04:28] lite1979 commented on #428
Of note from the QZ logs:

Orientation: Default

[DEBUG] 2019-03-04 22:32:25,491 @ qz.printer.action.PrintPDF:?
	Parsed 1 files for printing
[TRACE] 2019-03-04 22:32:25,507 @ qz.printer.action.PrintPixel:?
	DPI: 0.0	CNV: 72.0
[TRACE] 2019-03-04 22:32:25,507 @ qz.printer.action.PrintPixel:?
	Drawable area: 0.0,0.0:4.0,3.0
[TRACE] 2019-03-04 22:32:25,507 @ qz.printer.action.PrintPixel:?
	[color, (0.

[2019-03-05 04:38] tresf commented on #428
@bberenz would it help to check that the page height is greater than the page height first?

[code]

[2019-03-05 04:41] bberenz commented on #428
@tresf, I think so. This looks to be caused by our helper assuming we only print on 'portrait' ratio paper. What you're proposing is exactly the fix I had in mind.

[2019-03-05 04:46] tresf commented on #428
@lite1979, patch available on `pdfrotate` branch.

[2019-03-05 15:38] tresf commented on #430
The "Shared" file code makes some assumptions and in certain circumstances (such as `allowed.dat` and `blocked.dat`) it's perfectly normal for QZ Tray to NOT be able to create these.

In other instances, (such as [`file-io`](https://qz.io/wiki/2.1-file-communication)), it's critical that the files can be created.

I'll keep the stacktrace (but with warning) on user (local) files and simply show a

[2019-03-05 16:02] tresf commented on #430
Closed via f83eb29.

[2019-03-05 16:02] #430 closed

[2019-03-05 17:08] tresf commented on #370
This may be related to https://github.com/qzind/tray/issues/415.

[2019-03-05 17:19] tresf commented on #415
@onurguzel any interest in hunting this one down for a bounty?

[2019-03-05 19:35] tresf commented on #335
I have a feeling this issue is linked to #428.

[2019-03-06 00:32] klabarge commented on #405
This works, I printed to PDFCreator and was able to zoom in on the text, and `nearest-neighbor` is clearly being honored.

I tested to thermal printers (Zebra LP2844 and an Epson EpsonTM-T88VI Receipt), using our demo PDF and the PDF provided in the PDFBOX report, and I am unable to detect a difference in the output with my eyes.

[2019-03-06 04:15] #405 closed

[2019-03-06 04:59] lite1979 commented on #428
This appears to be fixed by the pdfrotate branch
![qzvsadobe2 0 9pdfrotate](https://user-images.githubusercontent.com/3408749/53857044-bf679800-3fa2-11e9-8d6d-b0e456de0fc1.jpg)
. Checking the logs, there is no indication of any automatic rotation. :+1:

[2019-03-06 04:59] #428 closed

[2019-03-06 05:09] lite1979 commented on #428
It's also worth mentioning that the QZ-Tray DOES automatically rotate the PDF when printing to a paper size that has _height greater than width_, such as my Brother HL-L2380DW (8.5"x11") :+1:

[2019-03-06 15:36] tresf commented on #335
@CindyLulu sorry for the delay...

I have a strong feeling this is related to #428.  Can you re-test?  Here's an installer with the improved landscape logic from #428. https://github.com/tresf/tray/releases/tag/v2.0.9-landscape

[2019-03-07 02:41] klabarge commented on #417
For completeness, I posted my testing results on the pull request; https://github.com/qzind/tray/pull/429#issuecomment-469931101

@tres do you want the `dither` radio button removed from the sample.html page then?

[2019-03-07 02:59] tresf commented on #417
Sure.

[2019-03-07 20:12] tresf commented on #422
No response from client in 8 days.  Closing as `invalid` for now.  We'll reopen if needed.

[2019-03-07 20:12] #422 closed

[2019-03-07 20:14] tresf commented on #417
Closing as this feature has been merged.  Kyle, follow-up with sample at your own convenience.

[2019-03-07 20:14] #417 closed

[2019-03-07 20:18] tresf commented on #335
@CindyLulu I'm closing this report out since we're not able to directly reproduce it.  Feel free to chime in at your earliest convenience.

[2019-03-07 20:18] #335 closed

[2019-03-07 20:43] tresf commented on #375
Mine hasn't been crashing with Mojave.  Not sure if it's a fix with the OS or the newer JREs.  Please request a reopen if this continues happening.

[2019-03-07 20:43] #375 closed

[2019-03-07 20:46] tresf commented on #333
It's been over a year and core features requiring this still don't work inside Crostini such as USB, printers as well as no way to control the port forwarding or HTTPS.

Closing this for now.  We'll revisit it when Crostini has better support.

[2019-03-07 20:46] #333 closed

[2019-03-08 00:35] klabarge commented on #417
done via 5f71d0ced3843fce9f77d47ee85d9f7f8b0319dc (and sadly 2ff16a20ebb69d5493a71021c6f0e09fce8402da - I deleted an extra line)

[2019-03-08 23:41] tresf opened #432 "HTTP About Page throws NullPointerException when using Trusted CA Cert"
When using a 3rd party SSL certificate provided to the desktop installer (e.g. #73) the HTTP about page throws a `NullPointerException`

[code]

[2019-03-14 21:55] treaki opened #433 "compile error: PrinterConvert.c: In function ‘read_byte_from_file’:"
Hi,

i am unable to compile this, i am using debian testing and installed all mentioned packages and libharu without problems, but using your command (mentioned in README.md) (with different .c file because it dosnt exist) i get this error:

[code]

please help me out

[2019-03-14 22:00] klabarge commented on #433
I believe you opened this up in the wrong repo. Our project is Java based

[2019-03-14 22:00] #433 closed

[2019-03-19 01:55] klabarge opened #434 "HTML scaleContent 2.0 vs 2.1"
In 2.1 using `scaleContent: true`, the full width of the page is not used.

Below is an HTML page containing a table that will span to 2 pages (in 2.1) if `scaleContent: false`

<details>
<summary>HTML to Reproduce</summary>

[code]
</details>

[code]

![image](https://user-images.githubusercontent.com/12505463/54573433-ac9d8c00-49c2-11e9-93e9-4c57f6da3c42.png)

---

<details>
<summary>2.0.9 stack

[2019-03-19 22:51] klabarge opened #435 "reverse-portrait support"
It looks like `REVERSE_PORTRAIT` is available as a valid `orientation` for HTML printing

https://github.com/qzind/tray/blob/a478f9ef94656ee89d860b274990dd50dc719c41/src/qz/printer/action/PrintHTML.java#L368

however, I was unable to get this to work, despite it being valid in the logs

[code]

If `REVERSE_PORTRAIT` isn't supported, can we fallback on `rotation: 180`? This is what we are advising

[2019-03-22 03:33] tresf commented on #432
Tested with LetsEncrypt certificate and the issue cannot be reproduced.  Need to test again with another certificate issued by another CA (e.g. DigiCert).

[2019-03-22 03:41] tresf commented on #432
Tested with AlphaSSL certificate and the issue cannot be reproduced either.

[2019-03-26 00:25] bberenz commented on #432
The last line hit in our code appears to be where we check ["rootca" status](https://github.com/qzind/tray/blob/2.0/src/qz/common/AboutInfo.java#L99). The parameter pulled from `x509.getExtensionValue(Extension.basicConstraints.getId())` is passed along untouched until the call at the top of the stacktrace, so it stands to reason that value is somehow null on their custom cert.
We default to a `fa

[2019-03-29 02:34] klabarge opened #437 "OpenJDK + RPi performance"
OpenJDK has some severe performances issues compared to Oracle Java. This was originally identified in https://github.com/qzind/tray/issues/50#issuecomment-386180502, but we were happy with using Oracle Java at the time.

**OS:** Raspbian GNU/Linux 8 (jessie)
**Oracle Java:** 1.8.0_91
**OpenJDK:** build 1.8.0_40-internal-b04

|   Operation                  |Oracle Java          |OpenJDK

[2019-03-29 03:51] tresf commented on #437
@klabarge thanks for filing this.  Our original goal was to escalate with AdoptOpenJDK on offering support for the RaspberryPi, but they don't seem to offer a 32-bit ARM download yet.  They appear to be tracking the issue here: https://github.com/AdoptOpenJDK/openjdk-infrastructure/issues/630#issuecomment-458146514

[2019-03-29 23:30] klabarge commented on #437
I upgraded to Raspbian Stretch, upgraded to OpenJDK 1.8.0_181 and I can no longer reproduce.

[2019-03-29 23:30] #437 closed

[2019-03-29 23:40] tresf commented on #437
Awesome news!

[2019-04-04 12:34] tresf opened #438 "Add uptime to HTTP About page"
As title suggests

[2019-04-09 23:46] klabarge opened #439 "2.1 HTML Illegal page dimensions if setting 1 dimension"
Using 2.1 (RC6), If only one dimension (`height` or `width`) is supplied, an `Illegal dimension` error is thrown with HTML printing only.

* Does not happen in 2.0
* Does not happen using PDF or Image printing

[code]

[code]

[2019-04-10 03:10] tresf opened #440 "Dual trust support for perpetual license model"
As part of our ongoing effort to better serve our clients, we recognize a need to support a perpetual license model.  The following requirements must be met:
* Perpetual licenses (keypair that's trusted and doesn't expire) must not be part of the QZ Industries CA Root chain of trust.
* The license must be able to coexist with websites that do not use a perpetual license.
   * For example, if a web

[2019-04-10 18:02] tresf commented on #440
Mockup:
![image](https://user-images.githubusercontent.com/6345473/55902326-40651100-5b99-11e9-82a6-336293c2c751.png)

[2019-04-13 15:17] klabarge opened #441 "Compiling using Java11/AdoptOpenJDK11 - JavaFX errors"
When I compile the 2.0 branch using AdoptOpenJDK 11 or Oracle Java 11, HTML printing on macOS and Ubuntu does not work. Windows HTML printing works.

openjdk version "11.0.3" 2019-04-16
java version "11.0.2" 2019-01-15 LTS

If I compile using Java8, I am able to run QZ Tray using Java 11 / AdoptOpenJDK11 without issues.

Note, I compiled all installers on macOS when testing.

### macOS
[code]

###

[2019-04-14 15:22] tresf commented on #441
Kyle, I just tested this on MacOS and it's working for me.  Can you purge the build directory and try again?

[2019-04-14 15:50] klabarge commented on #441
After purging `lib/javafx-sdk-11.0.2` and rebuilding, HTML printing works as expected.

[2019-04-14 15:50] #441 closed

[2019-04-17 03:40] tresf commented on #296
Closed via #362

[2019-04-17 03:40] #296 closed

[2019-04-17 04:10] bberenz commented on #432
Extra exception clause added under 3e9353cd89c000701495c9128dfc9ca994eee0e6

[2019-04-17 04:33] bberenz commented on #439
It would [appear](https://github.com/qzind/tray/blob/2.0/src/qz/printer/action/PrintPixel.java#L71) that image/pdf prints don't apply a paper size if both dimensions aren't provided, so we'll just do the same for html.
Implemented in f010cb2a1e180a13e184d50f05ef194d49c86bbe

[2019-04-17 05:24] tresf commented on #438
Closed via 82194a5

[2019-04-17 05:24] #438 closed

[2019-04-17 05:26] #432 closed

[2019-04-18 01:24] klabarge commented on #439
Tested, works 👍

[2019-04-18 01:24] #439 closed

[2019-04-18 02:10] tresf commented on #426
@klabarge looks like this was backported to 11 on February 14th, slated for 11.0.4 release.
* https://bugs.openjdk.java.net/browse/JDK-8221108
* https://bugs.openjdk.java.net/browse/JDK-8219188

At time of typing this, AdoptOpenJDK is on 11.0.2 and working to push to 11.0.3.  I'll close this since there's an eventual fix in the pipeline.  How soon that becomes available, I'm not sure, but since it

[2019-04-18 02:10] #426 closed

[2019-04-18 02:18] tresf commented on #370
I'm closing this out for now.  Evolis wasn't able to help and if it's related to #415, `altPrinting: true` would likely solve it anyway.

[2019-04-18 02:18] #370 closed

[2019-04-18 02:31] tresf opened #443 "2.0 should remove autolaunch for 2.1"
QZ Tray 2.1 Adds "Autostart by Default (#4)" but this will conflict on a reinstall of 2.0 as the "Automatically Start" checkbox uses a separate area for launching.

[2019-04-18 02:41] tresf commented on #42
I had forgotten to update this thread.  This was merged #351.   It's only still open for documentation purposes.

[2019-04-18 03:32] klabarge commented on #42
We do have have it documented here. https://github.com/qzind/tray/wiki/2.1-Printer-Status

Anything in specific you need added before closing?

[2019-04-18 03:38] tresf commented on #42
Nope, thanks!

[2019-04-18 03:38] #42 closed

[2019-04-25 07:37] MrL0co commented on #382
I Found a similar situation when polling all printers. It would grab the native densities of all 190 printers for each raw printer it encountered (which was about half).

#444

[2019-04-30 04:17] tresf opened #445 "Detect if cashdrawer is opened or closed"
We have the new printer-status feature in 2.1, but I'm not sure if there's a standardized messaging for this.  It probably requires low-level two-way communication to the printer.

Adding here so that the mailing list request doesn't get lost.

[2019-05-06 21:15] lite1979 commented on #223
I have yet to get anything to print from my Datamax E-4203. The paper advances, the transfer ribbon turns, and still nothing. Windows test print doesn't work, and switching to direct thermal from thermal transfer still gives me nothing. I'm afraid the print head may be bad. It is cold to the touch after attempting several Windows test prints.

[2019-05-07 03:46] draco111 opened #446 "QZ tray print blank page when printing multiple times"
hi team,

we use qz-tray to print html for our user, this is a order system, but sometime, there are 20 orders, then user click 20 times to print these orders, we will get some blank page. we use HP A4 printer. can you help to check?

[2019-05-07 17:34] lite1979 commented on #223
![IMG_20190506_173705220](https://user-images.githubusercontent.com/3408749/57320405-d4f55d00-70cc-11e9-9cce-55053020bd47.jpg)

Maybe once I fix these wires I'll have some success...

[2019-05-07 19:15] tresf commented on #446
Hi @draco111.  Since we have no control over the code you're talking about, we need to know that you or someone you know does have control over the code.  The next step is to provide us with a reproducible code snippet that causes the problem.

From a glance, I would assume that the code is firing asynchronous requests to QZ Tray and causing a race condition.  We use a Promise Chain to make sure t

[2019-05-08 03:20] lite1979 commented on #223
Still no print after fixing the wires. Ordering new hardware.

[2019-05-08 20:28] tresf commented on #446
@draco111 we require answers to the above questions or this bug will be automatically closed.

[2019-05-09 05:12] astrO1 opened #447 "qz-tray.properties only works if i reload!"
I put this command on qz-tray.properties authcert.override=override.crt and is working fine.

But when I put the option automatically start when I turn off and turn on my pc the certification is not overriding, only if I close and re-open the qz-tray application that works what i must do?