[2021-09-19 16:03] gunjan001 commented on #865
Hi,

First thanks for the the documentation. It is what I was looking for .

I was using qz 2.0. .. version where this API dont work.
It just lists all the printers installed on the system but not shows the status of those printers.

Upgrading to 2.1 will help me solve the issue on my application.

Thanks.

[2021-09-19 16:03] #865 closed

[2021-09-20 10:12] jjangir45 commented on #862
QZ Tray not communicating between Printer & Computer

[2021-09-20 10:18] jjangir45 opened #867 "QZ Tray not communicating between Printer & Computer"
QZ Tray not communicating between Printer & Computer
Operating System - Window 10
RAM - 4 GB
Peocessor - Intel(R) Core(TM) i5-10400 CPU@ 2.90 GHz
QZ Tray 2.1.4
Java - jre-8u301-windows-x64
Normal print working

[2021-09-20 16:39] tresf commented on #867
Which printer? What content is being sent? Is there anything in the [logs](https://qz.io/wiki/faq#logs) you can share?

[2021-09-20 16:43] tresf opened #868 "Queue management"
Placeholder for the ability to delete a printer job by job name or job id.

[2021-09-20 16:55] tresf commented on #862
@jjangir45 I see you have opened #867, let's please keep your issue over there unless the two are linked.

@sanojmathew the message `Cannot parse (FILE)https://demo.qz.io/assets/pdf_sample.pdf as a PDF file: Connection timed out: connect` might be a problem with Java downloading that PDF, which is often DNS or certificate related.

[2021-09-20 17:41] tresf commented on #864
@sage-132 can you please share how you installed Adoptium?  I can't find a good, working procedure on their website (`export PATH=...` isn't a viable technique).

[2021-09-20 18:49] sanojmathew commented on #867
This is exactly the same issue i'm also having.
but it works fine with windows 8  and QZ tray 2.1.4 and  jre-8u301-windows-x64

[2021-09-20 18:55] tresf commented on #867
You're running different QZ Tray and Java versions.  Please do not call these issues exactly the same.

[2021-09-20 19:02] tresf commented on #664
Closing since there's no reply from the OP.  I believe this is a duplicate of https://github.com/qzind/tray/issues/347.

[2021-09-20 19:02] #664 closed

[2021-09-20 19:21] sanojmathew commented on #867
As adviced in #862, i'v e upgraded the qz tray version to 2.1.4 and printing does not happen.
That is why i called out as the same issue.  i'll share the logs tomorrow
But the same works fine in windows 8 machine

[2021-09-20 19:25] tresf commented on #867
Please keep information in your own thread to avoid confusion.  I will answer your post there.

[2021-09-20 19:27] tresf commented on #862
Your issue is a PDF not downloading, which is very specific.  The logs suggest Java cannot access https://demo.qz.io/assets/pdf_sample.pdf.  Please troubleshooting from there.  #867 does not mention PDF at all and the OP must provide more information.

Furthermore, please use the latest Adoptium Java and 2.1.4 installer and post updated logs.

[2021-09-21 06:33] jjangir45 commented on #867
Printer configuration - **Epson** FX-890II Dot Matrix Printer. facing issue from 2 months. what i do please suggest.

[2021-09-21 12:42] tresf commented on #867
The Epson FX-890II supports parallel or USB connectivity.  This printer supports Epson ESC/P®, IBM® PPDS, and MICROLINE® printer languages.  It does NOT support ESC/POS.

A successful communication to this printer will depend on the content being sent.  Please provide one of the following:
1. Code to reproduce QZ Tray not working (AND/OR)
2. Logs from QZ Tray (Advanced, Diagnostic, Zip Logs to Des

[2021-09-21 13:35] tresf opened #869 "Advanced printing config"
A question arrived today:

Currently, QZ Tray does not support these options.

[2021-09-22 07:56] sanojmathew commented on #862
@tresf  After upgrading to  adopt jdk 11 and QZ tray version 2.1.4, printing is working fine
Thanks for the advice

[2021-09-22 07:56] #862 closed

[2021-09-22 13:03] tresf commented on #862
@sanojmathew thanks, although I'd like to get to the bottom of what's causing this issue.  I'll run some local tests against Java 8u301 and see what I can find.

[2021-09-23 13:56] tresf commented on #869
Some additional information:

https://support.hp.com/gb-en/drivers/selfservice/samsung-multixpress-sl-x4300-color-laser-multifunction-printer-series/16449690/model/16449692)

![image](https://user-images.githubusercontent.com/6345473/134520169-df1be1e1-02d4-418c-9b15-e4556460a4fe.png)

[2021-09-24 17:14] tresf commented on #867
We've run a series of tests against:

* Windows 10 20H2, 19042.867<br>Eclipse Adoptium 11.0.12 b7
* Windows 10 21H1, 19043.1237<br>AdoptOpenJDK 11.0.11 b9

... and we're unable to reproduce.  The timeout exception from https://github.com/qzind/tray/issues/862 seems to be getting reported more and more, but we're having a hard time reproducing this.

[2021-09-24 19:21] lite1979 opened #870 "Citizen CBM 1000 II works on Windows, but not on Linux/MacOS (CUPS)"
Testing a Citizen CBM 1000 II with the driver on Windows works fine, but when connected to Ubuntu 20.04, the printer will not print.

If the printer is power-cycled off, then on, the last print job will come through, but then it won't print the next job until the printer is power-cycled again.

[2021-09-29 15:46] tresf opened #871 "No longer a need to use browser crypto"
We bundle SHA256 now, we should remove the module which tries to use the browser's version...

https://github.com/qzind/tray/blob/4116e4ec8b9fb9a4d5a2fbcb2c6fe8c5106f64a9/js/qz-tray.js#L2611-L2618

For browsers not running HTTPS, this causes SHA256 to fail.

This was missed when authoring #620.

[2021-10-05 04:52] #468 closed

[2021-10-06 03:06] tresf commented on #871
Closed via 1bccad8

[2021-10-06 03:06] #871 closed

[2021-10-06 15:17] tresf opened #873 "Mac ARM64 installer says Java is not installed"
Starting with QZ Tray 2.2.0, Java is supposed to be bundled, however running the ARM64 installer it prompts that Java is not installed.

Installer in question:
https://github.com/tresf/tray/releases/download/TEMP/qz-tray-2.2.0-arm64.pkg

[2021-10-06 23:54] tresf opened #874 "QZ Tray uninstall does not work on Mac"
Since QZ Tray 2.2.0, the `uninstall` script no longer seem to remove QZ Tray from the Applicaitons folder.

[code]

[2021-10-06 23:57] tresf commented on #873
This is not reproducible. I may have attempted to install it on the wrong architecture, which we may be able to handle better (ARM64 installer being run on Intel).

[2021-10-06 23:57] #873 closed

[2021-10-06 23:58] tresf opened #875 "Warn when running on wrong architecture"
The QZ Tray installer should warn when you're running it on the wrong architecture, so something like https://github.com/qzind/tray/issues/873 does not happen.

[2021-10-13 13:11] tresf opened #877 "DEMO: Serial should unescape hex"
Currently the demo only unescapes a few characters like `\n`.

https://github.com/qzind/tray/blob/b5ed5856df37217ad317139b15d257c5a9b198d8/sample.html#L1999-L2000

[2021-10-14 02:56] Vzor- commented on #875
https://github.com/Vzor-/tray/commit/f6cdd74827b750f7449a979090856d28e175832d putting this here so it doesn't get lost in squash.

[2021-10-14 21:11] tresf opened #878 "Disable tray icon on Linux"
If libappindicator is installed, QZ will use it butut the experience is nearly unusable.

[2021-10-17 12:14] MikeGlennFWC opened #879 "Evolis - Monochrome printing"
Hi,

I'm struggling to print in monochrome to an Evolis Primacy.

I've noticed Evolis is not in v2.1 of the docs, the 2.0 docs seem to be suited towards a full colour ribbon, which i do not have.

I've tried printing using BMP base64 and PNG base64, the png seems to send a huge black block that completely covers the card in ribbon (then snaps the ribbon) the BMP base64 image (from the evolis sdk)

[2021-10-17 17:52] MikeGlennFWC commented on #879
Closing this issue.

I managed to solve the issue by sending a BMP file as base64 and altering the dimensions of the image. I was originally sending 1016 x 648, which was causing issues, instead i sent it as 648 x 1016. and it rendered the image correctly.

Thanks

[2021-10-17 17:52] #879 closed

[2021-10-27 13:44] nssilva opened #881 "Serial gives several lines with the scale weight 2.1.4"
Instead of a single line fromm the stream event we get many to give a single weight.

version 2.0.12 Good version
[code]
versions above 2.0.12
[code]

[2021-10-29 18:09] MikeGlennFWC commented on #635
I've been having exactly the same issue on MacOS, using an Evolis Primacy in driver mode.

Raw printing has better results for positioning, but the quality is sub par, quality using the driver is much much better but you get clipping like in the examples above.

Windows seems to work perfectly without fuss.

[2021-10-30 13:22] tresf commented on #881
Is there a chance you're experiencing this bug https://github.com/qzind/tray/issues/820?

[2021-11-12 13:14] HanpoomGeorge opened #883 "Print to Host (Ip:port) raises NullPointerException on Printing PDF File and PDF Base64"
Hi, as mentioned on the title, when I connect my qz tray to host(ip:port(wifi printer)), it raises error below and fail printing.

Unlike [#672](https://github.com/qzind/tray/issues/672), it happens when tried priting pdf and base64(pdf).

Here is the reference picture that I am experiencing.

This error commonly occurs on the versions below I have tested.
- 2.2.0
- 2.1.4
- 2.0.10

Connect To Host

[2021-11-14 15:05] tresf commented on #883
The demo doesn't support this unless you edit some code, but you can use the RAW tab.  Pixel features all require a printer driver currently.  Bypassing this is and will continue to be a RAW only feature.

[2021-11-15 04:30] HanpoomGeorge commented on #883
I thought It was a similar bug raised by #672 since this only happens on the 'Set to Host' status.
Thank you for your guidance.

[2021-11-15 04:30] #883 closed

[2021-11-17 14:57] tresf opened #884 "Windows Firewall rules duplicated"
QZ Tray 2.1.4 creates duplicate firewall rules on subsequent installation, as depicted below:

![image](https://user-images.githubusercontent.com/6345473/142224402-10905ed3-63b5-4ce2-b174-e207b0823ba4.png)

[2021-11-17 15:09] tresf opened #885 "Company Branded: Add post-install scripting capabilities"
Company Branded versions may need to add scripting capabilities, e.g. special firewall rules, file copy, etc.  The installer should support a post-installation script for custom deployments.

[2021-11-17 15:15] #884 closed

[2021-11-23 03:35] Vzor- commented on #885
Probably good to have the script be a .in. Props to pass probably

- user qz space
- shared qz space
- qz version
- os/arch
- install location

[2021-11-29 15:23] tresf opened #887 "Startup error with custom SSL certificate"
Steps to reproduce:

(openjdk 11.0.8, preinstalled with Raspberry Pi OS)

1. Obtain a LetsEncrypt SSL certificate
2. Reinstall QZ Tray using the SSL cert/key from LetsEncrypt using the print-server steps
3. Start QZ Tray with the newly installed SSL certificate

[code]

[2021-11-29 16:13] tresf commented on #887
This issue seems to be benign, just makes the startup logs hard to check for errors.

[2021-11-29 17:49] #887 closed

[2021-12-01 19:38] austinkahly opened #888 "Skip Spool for Fast Throughput"
I'm using a Zebra ZD620 with raw printing with QZ Tray 2.2.0 and when printing, the print job remains in the print queue after the print has completed leading to a lower throughput from the printer. I see there is an option for skipping the spooler and sending to the printer directly for network printers, but I was wondering if there was a solution for this for a printer connected via USB.

[2021-12-02 00:36] sheck commented on #200
I'm experiencing something that seems similar to this on Firefox 95 beta 12 currently. The stable release (94) does not appear to have this issue.

Console reports `Firefox can’t establish a connection to the server at wss://localhost:8181/.`

Opening `https://localhost:8181/` brings up the `Warning: Potential Security Risk Ahead` page.

[2021-12-02 06:02] tresf commented on #888
The Windows OS has several settings in regards to spooling, some which allow retaining or removing spooled documents, skipping the spooling process entirely, and how the OS handles spooling priority.

![image](https://user-images.githubusercontent.com/6345473/144366174-665a32e3-e20e-45c8-840a-b3efaf8384d0.png)

In regards to printing directly to a USB port, QZ does allow raw USB or HID communicati

[2021-12-02 06:17] tresf commented on #200
I tested with Firefox 95 Beta 12, Firefox 95 Beta 0, Firefox Developer Edition 95 Beta 12, none exhibit the issue on my machine.  Since this issue title is about Firefox 54, please open and cross-link a new bug report including a screenshot of the certificate you're getting from https://locahost:8181 and detailed steps to reproduce including QZ Tray version, OS version and any other details necess

[2021-12-03 20:40] sheck opened #889 "HTTPS issue on Firefox Developer Edition on macOS"
I think this might be a possible regression, similar to #200

When using:
- macOS 11.6.1
- Firefox Developer Edition 95.0b12 (64-bit)
- QZ tray 2.1.4 (official and branded builds)

I experience consistent HTTPS errors when visiting `https://localhost:8181` and inconsistent failures using qz tray (via websockets).

I have confirmed that on my machine Firefox 94.0.2 and Chrome 96 do not have these i

[2021-12-03 20:59] tresf commented on #889
On Mac, the Firefox property `security.enterprise_roots.enabled` is not toggled on for Firefox Developer Edition.

This is something we can fix by expliciting searching for `Firefox Developer Edition` at install time and shimming this policy.

As a temporary workaround, please visit `about:config` and toggle this policy on manually.

[2021-12-06 04:38] tresf opened #890 "Add type declarations file to JS"
Newer Angular versions are picky about having modules declared with strict types.

https://medium.com/@steveruiz/using-a-javascript-library-without-type-declarations-in-a-typescript-project-3643490015f3

~~This means our https://qz.io/wiki/api-overrides#angularjs-quickstart guide is outdated for newer Angular versions.~~

**Update:** Our api-overrides guide is fixed for Angular 11+.  See also http

[2021-12-09 03:42] tresf commented on #217
As @sheck points out, it looks like we missed this for MacOS, reopening.

[2021-12-09 04:43] #217 closed

[2021-12-09 04:46] tresf commented on #889
Closed via #891.  This patch will be available in QZ Tray 2.2.1 (and if released before EOL, QZ Tray 2.1.5).

[2021-12-09 04:46] #889 closed

[2021-12-11 02:10] astrO1 opened #892 "I'm able to print Barcode type EAN13 but not ITF"
First of all, thank you for this amazing plugin.

now for the quetion, i have a helper class for ESC/POS command that is this:

[code]

**and this is my printing function:**

[code]
What i'm doing wrong? When i remove the comment line and use EAN13 it works fine but when i put ITF nothing is printed. I know this is not about you plugin but i think you guys have a better experience than me about th

[2021-12-11 05:19] lite1979 commented on #892
It looks like you're using <Function A> for both ITF and EAN13, whereas our example uses <Function B> for code39, so it's not a direct comparison, but I can get working on an example that will use <Function B> for your ITF barcode instead. I'll just need a few days.

I did notice that you didn't include a \x00 after your numerical data, though, and the GS k page in the ESC/POS manual calls for it

[2021-12-11 05:39] astrO1 commented on #892
Hi @lite1979, thanks for the answer.

I managed to work using BARCODE_EAN13, full code with no zero missing.

public static BARCODE_EAN13 = '\x1D' + '\x6B' + '\x02';

Now i want to make a ITF version of the code, how can i do that?

[2021-12-13 09:47] PeyPatrick opened #893 "Log4J vulnerability"
It seems that your package is using the log4j package that contains a vulnerability ( https://www.tenable.com/blog/cve-2021-44228-proof-of-concept-for-critical-apache-log4j-remote-code-execution-vulnerability ). Could you patch/release a version with the package updated/fixed?

[2021-12-13 15:48] tresf commented on #893
Thanks for the report.  QZ Tray uses log4j 1.x which is not vulnerable to CVE-2021-44228 as log4j 1.x does not have the message lookup feature exploited in CVE-2021-44228.  When QZ Tray is updated to use Log4j 2.x, it will be a version which automatically turns these exploitable lookups off:

[2021-12-13 15:48] #893 closed

[2021-12-13 15:58] tresf opened #894 "BCXDHPublicKey cannot be cast to class XECPublicKey"
After packaging and deploying QZ Tray 2.2.0+6 to a customer, the following exception occurred:

Java version: 11.0.12
Java vendor: Eclipse Foundation (Adoptium/Temurin)

Investigation points to the following:

* https://github.com/bcgit/bc-java/issues/589
* https://github.com/bcgit/bc-java/issues/881

Note, the Windows installer was cross-packaged using `ant nsis -Dtarget.arch=x86_64` an M1 Mac, i

[2021-12-14 11:14] Always666 opened #895 "upgrade apache log4j dependencies due to CVE-2021-44228"

[2021-12-14 12:22] Always666 commented on #895
seems log4j 1.2.17 is too old to be affected.

[2021-12-14 14:01] #895 closed

[2021-12-16 08:38] Vzor- commented on #894
I have tested 2 version of pdfbox

pdfbox 2.0.24, containing BC 1.64
pdfbox 3.0.0-alpha2, containing BC 1.69

With both of these the issue persisted
I tested 3 JDKs

11.0.2+7
11.0.12+7
16.0.2+7

the issue does not present on 11.0.2+7
To test with this version, I manually set JLink.downloadJdk `url = "https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk-11.0.2%2B7/OpenJDK11U-jdk

[2021-12-16 17:02] lite1979 opened #898 "demo.qz.io uses "Force Raw" instead of "altPrinting", which doesn't work with 2.1.5 and lower"
I noticed this on a client's machine a few days ago and confirmed today.

The newer "Force Raw" flag is available on our test page https://demo.qz.io , but if the client machine is not using 2.2.0+, the printer will print the commands instead of parsing them.

[2021-12-17 01:46] tresf commented on #898
Hmm... weird, the demo code has the upgrade routine...

https://github.com/qzind/tray/blob/8368d99388638920808dd7c9cfb4777280e428b2/js/qz-tray.js#L791-L796

[2021-12-17 02:39] tresf commented on #893
QZ Tray 2.1.5 / 2.2.1 is now available for download with the latest log4j version.

[2021-12-17 02:42] tresf commented on #895
QZ Tray 2.1.5 / 2.2.1 is available for download with the latest log4j version, the one we were using wasn't subject to CVE-2021-44228, but had reached end of life, so we bumped it.

[2021-12-20 19:51] klabarge commented on #898
@lite1979 is this issue after toggling `forceRaw` on and off again?

When I enable it for the first time, the `config` looks correct. However after I disable it, both `altPrinting` and `forceRaw` are in the `config`

Using QZ Tray version 2.1 against demo.qz.io. These are the configs grabbed from the QZ Tray logs. I truncated the `options` for readability.

**Print 1 - default configuration (force

[2021-12-20 20:52] lite1979 commented on #898
"altPrinting" does not appear at all in my logs.

[2021-12-20 20:59] lite1979 commented on #898
Actually, I wonder if it's because I was testing against 2.1.5....

[2021-12-21 02:33] klabarge commented on #898
@lite1979 I had originally tested this on Windows. I re-tested on macOS and was able to reproduce your issue. I'll have to double-check the version I tested on earlier tomorrow. It was on a machine I do not have access to at the moment.

### The short

I think we need to flip the version operator and remove the `config.forceRaw` check.

[code]

### The long

1. It looks like routine was never bein

[2021-12-21 05:18] tresf commented on #898
The idea is to leave values alone if not specified, so that's why we guard it.  You're right though, we aren't handling `.reconfigure()` properly because if set from `true` to `false`, it's never toggled off due to falsey.  Instead, we should check if it's undefined.

I have no idea why I hard-coded 2.1.4, perhaps I thought this feature was going to land on a late 2.1 version?  I don't know but at

[2021-12-21 17:16] tresf commented on #898
PR opened, ready for testing: https://github.com/qzind/tray/pull/901

[2021-12-22 18:02] klabarge commented on #898
Yep, confirmed that my version was lower than 2.1.4 and therefore it worked.

Tested and looks good to me

[2021-12-24 00:05] tresf commented on #898
Thanks for confirming!  I added some additional unit tests I'd like to see in the PR.

[2021-12-24 16:41] #894 closed

[2021-12-24 16:48] tresf commented on #894
Turns out it was jlink related.  Documentation of the issue is better described here https://github.com/adoptium/adoptium-support/issues/397

[2021-12-27 10:38] amitinvizio opened #903 "Issue Print Service is no longer available"
I am getting this issue while printing the text file raw command
2021-12-27T16:02:04,982 [ERROR] Failed to print
javax.print.PrintException: PrintService is no longer available.
	at sun.print.Win32PrintJob.print(Win32PrintJob.java:318) ~[?:?]
	at qz.printer.action.PrintRaw.waitForPrint(Unknown Source) ~[qz-tray.jar:?]
	at qz.printer.action.PrintRaw.printToPrinter(Unknown Source) ~[qz-tray.jar:?]

[2021-12-30 16:19] lite1979 commented on #903
@amitinvizio

I'm sorry for the trouble. When we have seen this error in the past, it has been one of three things:

1. Bad printer mapping in the JVM (usually fixed by a normal reboot)
2. Corrupt memory on the disk drive (usually SSD - fixed by issuing `chkdsk /f` in CMD and rebooting)
3. Printspooler issue - best explained by this video:  https://www.youtube.com/watch?v=Jmw_-6F2GwI

Please let u

[2021-12-31 16:23] tresf commented on #903
Yeah, this usually means the printer was removed from the spooler since QZ Tray was started.  We fetch a list of printers at startup and check for new ones periodically, but if the printer was removed, it will say that the `PrintService` is no longer available.

[2022-01-06 18:47] tresf commented on #890
I got a bit further, here are my steps, adopted from here: https://github.com/englercj/tsd-jsdoc and here: https://dev.to/jor/jsdoc-to-typescript-declaration-19fg.

1. Use `tsd-jsdoc` to generate type definitions.  `tsd-jsdoc` is a special JSDoc template that exports a TypeScript file instead of HTML.

[code]

2. Then copy the newly created `types` directory from `qz-tray` to your Angular project

[2022-01-07 16:01] tresf opened #904 "java.util.regex.PatternSyntaxException: Illegal/unsupported escape sequence near index 12"
**Steps to reproduce:**

[code]

**Description:**

* Searching for printer trays matching the empty string value ("") will throw an exception.

**Workaround:**

* Change code to send a null printer tray instead.

[code]

**Versions affected:**

* 2.1.5 and all versions older
* 2.2.1 and all versions older

[2022-01-07 16:25] #904 closed

[2022-01-07 16:48] #898 closed

[2022-01-09 21:22] cindyx99 opened #905 "4x6 label was parsed to 9 pages before printing"
A label sized 4" x 6" was parsed to 9 pages of PDF before sending the PDFwriter. I tried to print to a desktop printer and the print queue shows 9 pages as well. Would someone please help look into this?

Version of qz tray: 2.2.1 for Mac.
Here is the log file:

[DEBUG] 2022-01-09T15:00:22,149 @ qz.printer.PrintServiceMatcher:-1
	Found match: PDFwriter
[WARN] 2022-01-09T15:00:22,150 @ qz.printer.P

[2022-01-09 21:46] tresf commented on #905
Please attach the file here for review.  If it contains sensitive data and you are a Premium Support subscriber, you may email it to support@qz.io instead.

[2022-01-09 23:46] cindyx99 commented on #905
Label to be printed
![test_label](https://user-images.githubusercontent.com/36333994/148706033-a91e7d4e-8ff9-4aca-99a9-35c34907f705.png)

PDF generated:
[job_30 QZ Tray Pixel Print.pdf](https://github.com/qzind/tray/files/7836212/job_30.QZ.Tray.Pixel.Print.pdf)

[2022-01-10 20:35] tresf commented on #905
@cindyx99 I see two attachments, one is a PNG preview, the other is the output from QZ Tray.

Can you please send us the PDF in unmodified form, before QZ Tray prints it?

Also, a copy of the logs will help us understand why it's being chopped up.  To get the logs, Advanced, Diagnostics, Zip Logs to Desktop.

[2022-01-10 22:15] cindyx99 commented on #905
Hi,

Thanks for following up.
The input was the png file. PDF was a capture of what QZ Tray was trying to print.
Attached is the log file for your reference. Thank you.
[qz-2022-01-10_1712.zip](https://github.com/qzind/tray/files/7842210/qz-2022-01-10_1712.zip)

[2022-01-10 23:28] lite1979 commented on #905
@cindyx99

The configuration needs to match the printer's hardware. I don't know if you can configure this through Chit Chat's website or not, but if you cannot, you will need to escalate with them.

The first thing I did was download the .png file and look at it's properties. It's 1200 pixels wide, and 1800 pixels tall, so it is proportionate to a 4x6 inch label.

However, the config for your HP

[2022-01-10 23:28] #905 closed

[2022-01-11 03:08] cindyx99 commented on #905
Thank you very much.
One last question: where do I change the configuration?

[2022-01-11 15:07] lite1979 commented on #905
@cindyx99 As I mentioned in my comment, you will have to escalate this with Chit Chats. We did not author their website.

[2022-01-11 16:10] cindyx99 commented on #905
Thank you. That answered my question. I was not sure if the configuration can be changed from my own printer setting.

[2022-01-15 17:38] quinn opened #906 "incorrect behavior in promise detection code"
I think there's a problem with this code:

[code]

if this `typeof _qz.security.certHandler.then === 'function'` returns true, the value of `_qz.security.certHandler` is a promise object, not a function. but the following line attempts to call it: `_qz.security.certHandler()`. I assume this would be appropriate for if it were an `AsyncFunction` but not for a Promise object.

[2022-01-20 04:02] tresf opened #907 "Unable to delete file: C:\Program Files\QZ Tray\runtime\bin\lcms.dll"
Installing QZ Tray 2.2 Intel version on Windows 10 ARM64 when QZ Tray is already running throws the following error.

[code]

A temporary workaround is to try the install again.

[2022-01-20 04:05] tresf commented on #907
The error occured when installing an older 2.2.0-SNAPSHOT version of QZ Tray, of which I have little information on.  I'll close this for now but reopen if it continues to occur with stable releases.

[2022-01-20 04:05] #907 closed

[2022-01-20 18:22] quinn commented on #906
I don't think this is an issue relating to the code being transpiled. for example:

[code]

This code, which is passing in a new promise object, fails here:

![image](https://user-images.githubusercontent.com/3764/150398418-0d222cc4-38e0-4258-b36a-62e132647968.png)

[2022-01-21 14:55] tresf commented on #906
@quinn thanks.   I think we can change `qz-tray.js` to the following:

[code]

@bberenz can you take a look?

[2022-01-21 16:25] quinn commented on #906
i think, if an object has a `.then` method, it is necessarily not callable. so think it could be more like this:

[code]

[2022-01-22 07:06] tresf commented on #906
Isn't the Promise check redundant then?

[2022-01-25 15:07] tresf commented on #906
@quinn @bberenz

I'll reword to be a bit more specific with this question... it's any Promise object going to result in a true statement when checking `typeof` on `.then`?  If so, I think the underlying bug is best summarized here:

If this is true, checking if it's a Promise seems completely redundant, no?

[2022-01-25 21:21] quinn commented on #906
@tresf yeah you're right, that check should be redundant. checking for `.then()` should be sufficient

[2022-01-26 15:50] tresf commented on #906
@bberenz do you agree, and if so, can you update the PR? #908

[2022-01-28 15:49] tresf commented on #906
Closed via #908.  This fix will be available starting with qz-tray.js 2.2.2.

[2022-01-28 15:49] #906 closed

[2022-01-29 17:37] quinn commented on #906
thanks @tresf @bberenz !

[2022-01-31 18:36] brentbynum opened #910 "XSS vulnerability in Jetty version referenced by QZTray"
We've noticed that the version of Jetty (9.4.21.v20190926) referenced by QZ tray is vulnerable to a XSS attack ([CVE-2019-17632](https://www.cybersecurity-help.cz/vdb/SB2019112514)).  I'm not sure that it could actually be exploited within QZ tray, but it's causing us some trouble trying to get past security audits with our application.

[2022-01-31 19:34] tresf commented on #910
It looks like it's a way to manipulate the error messages, such as for official websites that leverage Jetty.  Jetty is mostly used for our API.  We do have a status page, but its only on an obscure port on localhost, so any XSS would just be an arbitrary versioning page, nothing consumable end-users could potentially confuse with the product.

[2022-02-01 14:52] tresf opened #911 "Missing pages from HTML prints"
QZ Tray 2.1.2: Shows final page
QZ Tray 2.2.1: Does not show final page

Steps to reproduce:

1. Using Control Panel, Printer, Print Server properties, add a custom page size that is 4x4
2. Using printer preferences, set default page size for printer to 4x4
3. Using sample.html, send content in the incorrect page size of 4x3
4. Notice that the final page is missing

HTML has sensitive information,

[2022-02-02 16:29] tresf opened #913 "qz.file.write does not create parent directories"
The [`file.write`](https://qz.io/wiki/file#write-data) documentation states that the parent directories will be created, but in testing this is not correct (Windows 10, Adoptium 11).

[code]

[2022-02-02 16:31] tresf opened #914 "qz.file.write should allow data flavors such as base64"
Currently, [`file.write`](https://qz.io/wiki/file#write-data) assumes all data is in plain text/binary, but often formats such as base64 are preferred.  The API should allow a data `flavor: ` parameter to allow URL, base64, etc.

[2022-02-02 16:31] tresf commented on #911
Closed via #912

[2022-02-02 16:31] #911 closed

[2022-02-04 15:04] lite1979 opened #915 "Windows Service instructions do not work as expected in Windows 11"
Setting this as an enhancement request - our Windows Service wiki is aimed at Windows 10 installations, but those same instructions do not work for Windows 11.

@klabarge any interest?

[2022-02-04 16:12] tresf commented on #915
The instructions should work just fine for Windows 11.

[2022-02-04 16:57] tresf commented on #915
The customer issue was unrelated to OS/instructions.  Closing.

[2022-02-04 16:57] #915 closed

[2022-02-04 18:16] tresf opened #916 "Graceful renewal of certificate not working for SHARED directory"
When we read the renewal information for graceful handling of certificates, we fail to check in the SHARED directory, e.g. `%ProgramData%\qz\allowed.dat`.

A patch should be back ported to 2.1 branch.

https://github.com/qzind/tray/blob/2a7c6d44b1ebb5db32f995a6d8c81917cbfcb250/src/qz/auth/Certificate.java#L272-L296

Related #719 #43

[2022-02-08 15:09] #914 closed

[2022-02-10 16:06] tresf commented on #854
Closed via #770, available with QZ Tray 2.2.0 and higher.

[2022-02-10 16:06] #854 closed, assigned to lukas-w, tresf

[2022-02-16 03:51] tresf opened #918 "altPrinting / forceRaw: Copies can probably use the same temp file"
In this print, `copies: 3` was provided, however QZ creates three separate temp files.

[code]

[2022-02-17 14:32] tresf commented on #799
@eriktobben the override is for the cert itself, per: https://qz.io/wiki/signing#to-override-the-trusted-root-certificate, however with newer versions you just need the file in the right location, no need to edit the properties file.

Note, you can allow QZ Tray to create these as a baseline, **Advanced, Site Manager, "+", New**.  It will even copy it to the correct location for you. :)

[2022-02-17 17:23] eriktobben commented on #799
@tresf Thank you. So if I understand you correct, I can use the Demo key or is this just to see where the key is stored?

I have two computers that will use the website, will that work with the demo key?

[2022-02-18 15:13] tresf commented on #799
This bug report is specifically about certificate specifications being added to the documentation.  If you're looking to obtain support on using QZ Tray's certificates, this is probably the wrong thread for it.

QZ Tray's demo key feature is intended to work with one computer.  You may use it with more than one by deploying the cert to the other computers.  We deliberately leave these steps out to

[2022-02-20 11:22] eriktobben commented on #799
@tresf I see that this is not the place for that.

Yes, I have noticed that these steps have been left out, and I understand why. I would gladly pay something for this great piece of software, but I can't justify $499 a year for the use case on the project I am doing now.

The ideal solution would be to have a plan around $50 and make the documentation for this feature, or have some sort of donati

[2022-02-24 14:33] tresf opened #921 ""Auto" orientation is not in API documentation"
Leaving orientation of `null` will allow QZ Tray to flip printed content to the proper orientation automatically, but the API does not explain this.

https://qz.io/api/qz.configs#.setDefaults

[2022-02-24 14:50] tresf commented on #921
Wiki has been [updated](https://github.com/qzind/tray/wiki/Pixel/_compare/0d41d4eb06f1d783d02ab0ed0cc9fb710ec9392e...12983b25b03e3948c7f6269b55f5f1da94677a47) to reflect this behavior.

[2022-02-24 14:58] tresf opened #922 "Better bi-directional support for BOCA printers"
Quoting:

[2022-02-28 15:11] tresf opened #923 "Printer contents monitoring"
Add the ability to monitor not only the status of an attached queue, but also the contents.

For example, if another printer printed an ESC/POS receipt to the printer, the ability to read that raw data back into QZ Tray.

For example, on Windows, if a printer is configured to "keep spooled documents", the raw PRN file can be opened with a text editor.  The same ability should be available through

[2022-03-01 19:10] tresf opened #924 "Windows Server 2012 Crash when Java FX starts"
Note, this issue is not reproducible on a fresh install, but was present on a Xeon CPU running on an AHV Nutanix virtualized environment with Adoptium and AdoptOpenJDK with QZ Tray 2.1.5.

[code]

A temporary stop-gap for this hard-crash is to provide a system property/override to not initialize JavaFX on startup.

@bberenz can you add the property to 2.1 (we can later cherry-pick to 2.2).

[2022-03-01 19:13] tresf opened #925 "Background task for printer fetching is slower than expected"
Today, a client with ~1,200 printers was able to illustrate that with QZ Tray 2.1.5, the startup task which fetches the printer details does not properly cache them.

This can be observed as follows:

✅  Initial background task time: ~3 minutes
🚫 First search for printers after background task is completed: ~1 minute
✅ Second search for printers: 2 seconds

@bberenz can you see if we have somethin

[2022-03-01 19:20] tresf opened #926 "Provide system property to disable startup tasks"
Issue #924 describes a crash which could be delayed by disabling the JavaFX startup task.

Currently, QZ Tray has two startup tasks:
* Printer details
* JavaFX

More may be added in the future, but granularity over these tasks may be needed as stop-gap solutions to problems.

QZ should provide a way to disable each task through a system property.

[2022-03-01 21:07] karolyi opened #927 "Intermediate certificate doesn't work anymore"
Hey,

I don't know which version changed this, but around 2.0 we were able to use an intermediate CA certificate installed into QZ Tray, and thus suppress messages upon printing.

I've struggled with this today for about 6 hours, reading all kinds of documentations on the website, but to no avail. The only solution seemed to be to install the _public_ part of the private signing key into the qz-tr

[2022-03-02 00:29] tresf commented on #927
Based on the description, I'm not entirely sure what the problem is.

QZ Tray's signing mechanism has been improved over the years and it's subject to some nuances or bugs over different versions, but the intermediate certificate is part of the chain, always has been.  If older versions didn't require it, it was most certainly a bug that was patched.

[2022-03-02 00:32] tresf commented on #927
I'm not sure what you mean.  QZ Tray uses symmetric encryption.  The  signature generated by the private key should validate against the certificate's public key.

[2022-03-02 00:37] karolyi commented on #927
In the versions we've used before, I generated a root CA, signed an intermediate CA with the CA, and then installed the intermediate CA public key into qztray. This way I could make it accept the signature the signer key provided. This signer key was also signed by the intermediate CA.

This somehow changed now since the printing windows computers stopped working and the print popup came up at eve

[2022-03-02 04:55] tresf commented on #927
In QZ Tray 2.2, we rewrote the certificate handling extensively and now offer a way to create these files from the front-end (Site Manager, +, New) and then you can deploy these as you wish.

However, the code still is perfectly fine with a custom RootCA and Intermediate certificate.

https://github.com/qzind/tray/blob/8368d99388638920808dd7c9cfb4777280e428b2/src/qz/auth/Certificate.java#L207

The

[2022-03-02 16:51] tresf commented on #922
In addition:

[2022-03-03 21:53] tresf commented on #924
We've tested QZ Tray 2.1.5 with the Java FX task on the following:

✅  Windows Server 2012 R2 Build 9600 in VirtualBox
✅  Windows Server 2012 R2 Build 9600 on Amazon EC2
✅  Windows Server 2012 R2 Build 9600 on bare metal
✅  Windows Server 2012 R2 Build 9600 on Nutanix

All environments used Xeon processors, none crashed.

I'm closing this as invalid until we have steps to reproduce.

[2022-03-04 02:27] klabarge commented on #925
I'm having a hard time reproducing this bug. I created 2011 printers in a VM. It took about 12 minutes for the `IDLE` task to complete. However the first printer search after this task took less than 1 second.

**On Startup**
[code]

**First Use**
[code]

[2022-03-04 02:49] tresf commented on #925
The patch provided in #929 avoids looping over Media types (such as printer trays) when details are not requested. If there's a way to simulate this, I think it will be a better test-case.

[2022-03-04 15:45] tresf commented on #925
I was able to reproduce the issue using @klabarge's script here: https://gist.github.com/klabarge/46dd9cc2e878ed46b5feff38b169d270

1. I downloaded and installed a fake "Boca BIDI FGL 200 DPI" printer
   a. This specific driver is used because BOCA takes advantage of the "[Trays](https://user-images.githubusercontent.com/6345473/156794106-9b397053-87b4-44ad-8390-230f03a33740.png)" for controlling

[2022-03-04 16:03] tresf commented on #926
Closing as this is patched by #928.  @bberenz can you please port to master branch?

[2022-03-04 16:03] #926 closed

[2022-03-05 06:28] tresf commented on #924
Reopening...

I was given an export of all printer mappings on the crashing server, imported it into Windows Server 2012 and the issue is 100% reproducible.

It seems the issue occurs when the printer searching takes a very long time (e.g. 5 minutes) and JavaFX then crashes during its capture.

[2022-03-06 01:58] tresf opened #931 "Use Default Printer still searches for all printers when printing"
You can skip searching for all printers by simply clicking "Use Default Printer", however when printing, it still searches all printers.

[2022-03-06 02:43] tresf opened #932 "Lazy fetch print density"
The NativePrinter.java looks for PrinterResolution when populating the printer listing, causing the search to run very slowly.

If we can grab this lazily, printer searching will be much faster.

[2022-03-09 02:36] tresf commented on #924
This issue is quite odd.  As it turns out, something with fetching `PrintResolution` for 1,400 printers (specific ones imported from the client environment) followed by starting JavaFX crashes the runtime.

✅ If we start JavaFX first, no crash.
✅ If we fetch these `PrintResolution` for a percentage (e.g. 300), no crash.
✅ If we don't fetch the `PrintResolution` at all, no crash.

So this has resul

[2022-03-09 04:55] tresf opened #937 "Proposal for errors to have unique IDs"
Throughout QZ's life cycle, it can throw quite a few errors to the browser.

https://github.com/qzind/tray/search?q=sendError

However, translating these to the front end (e.g. for non-English) can be tricky as it results in trial and error, or scraping the code.

Goals:
* Using unique IDs for the errors will give translator a reliable identifier for translating.
* It should be possible to use cod

[2022-03-09 16:32] klabarge opened #938 "Windows installer doesn't resume after installing Java"
**OS:** Windows 10
**Java:** Adoption 11.0.14

The installer won't resume after installing Java for the first time.

This is the same issue as https://github.com/qzind/tray/issues/455

[2022-03-10 15:23] tresf commented on #938
Which version of QZ Tray?

[2022-03-10 15:23] tresf commented on #938
Answering myself, 2.2 has it bundled, so this must be in regards to 2.1.

[2022-03-10 15:29] tresf commented on #938
@klabarge can you try to add `Call FindJava` just before this line and see if it fixes it?

https://github.com/qzind/tray/blob/656eea6c518bb91b8639d31826c9f4f71eda38a1/ant/windows/windows-installer.nsi.in#L64

[2022-03-11 16:49] tresf commented on #927
Closing as we've taken this discussion private.  Will update here if a regression is uncovered.

[2022-03-11 16:49] #927 closed

[2022-03-11 19:12] tresf commented on #931
Closed via https://github.com/qzind/tray/pull/935.  Will be ported to master when #936  is merged.

[2022-03-11 19:12] #931 closed

[2022-03-12 01:47] tresf opened #939 "HP, Ricoh Printers show Paper Types with Printer Trays"
With certain HP printer drivers (e.g. 'HP Universal Printing PCL 6 driver'), the Paper Types and Printer Trays are combined in QZ Tray.

Please see the following screenshot where Matte paper is listing in the trays area.

<img width="1158" alt="image" src="https://user-images.githubusercontent.com/6345473/157998891-cc741d15-ee68-46b2-a4ab-1010baaa8e28.png">

[2022-03-12 03:27] tresf commented on #939
Filed bug upstream with an OpenJDK support provider as `QZ-7`.   I have a strong feeling that this is a bug with the driver implementation, however the fact that the **Device Settings** tab is correct leads me to believe that it's possible to filter these.

What's even stranger is that for the offending printers, the correct tray names all come back with a space before hand.   🤔

[2022-03-12 03:44] tresf commented on #939
So it turns out the Ricoh drivers also report the paper type when trays are requested, but no leading whitespace.

[2022-03-12 04:11] tresf commented on #939
Public discussion posted here: https://stackoverflow.com/questions/71446909/why-does-getsupportedattributevalues-return-paper-types

[2022-03-16 14:01] Colia1994 commented on #291
me too，how can to resolve it

[2022-03-17 17:19] tresf opened #940 "MediaTrays can be slow to crawl too"
Investigating #939, the media trays can take a while as well (similar to issues observed in #932).

In an extreme test, 1,400 printers can take over 3 minutes to fetch tray information.

[2022-03-18 16:19] tresf opened #942 "Can't bump Jetty to 9.4.45"
When attempting to bump Jetty to 9.4.45, I receive the following NullPointerException:

[code]

Upon further investigation, it appears there [was a change to how `WebsocketUpgradeFilter.configure(...)` initializes its internal `configuration` object](https://github.com/eclipse/jetty.project/issues/7078#issuecomment-1072560827).  I'm not sure if this change was intentional.

A temporary workaround

[2022-03-23 17:44] #942 closed

[2022-03-23 18:14] tresf commented on #938
Nevermind, I was reading my goto's wrong.  The logic is fine.

Upon further investigation, it turns out that Eclipse went and changed their vendor name.  We'll have to search for it under both names now.

Reference:
* https://github.com/adoptium/installer/pull/347

Related:
* https://github.com/MultiMC/Launcher/issues/4200

I'll add yet another search for this runtime. :)

[2022-03-23 18:21] #938 closed

[2022-03-23 18:28] tresf commented on #932
Closed via #934, #936.

[2022-03-23 18:28] #932 closed

[2022-03-23 18:29] tresf commented on #925
Closed via #934 #936.

[2022-03-23 18:29] #925 closed

[2022-03-23 18:30] tresf commented on #924
This is the fix we decided to go with.  Fixed via #934, #936.

[2022-03-23 18:30] #924 closed

[2022-03-23 18:31] tresf commented on #903
Closing since the issue cannot be reproduced.  If you can provide steps to reproduce, please reach out and we'll examine the code involved.

[2022-03-23 18:31] tresf commented on #892
@lite1979 can you please provide an update on this?

[2022-03-23 18:33] tresf commented on #910
We've bumped Jetty to 9.4.45 starting with QZ Tray 2.1.6/QZ Tray 2.2.2 available (in code form) on 2.1 and master branches accordingly.

Releases will follow on the download page shortly.  Closing.

[2022-03-23 18:33] #910 closed

[2022-03-23 18:36] tresf commented on #890
This was really the solution as it doesn't require type declarations.  I'm closing this for now, since I don't find it reasonable to expect all JavaScript libraries to add type declarations.  If this changes (or if someone is willing to spearhead this effort) we can entertain adding them in.

[2022-03-23 18:36] #890 closed

[2022-03-23 18:39] #888 closed

[2022-03-23 18:40] tresf commented on #881
Closing due to lack of response from the OP.  If you feel this was closed prematurely, please answer the above question and post additional details. 🍻

[2022-03-23 18:40] #881 closed

[2022-03-23 18:41] tresf commented on #874
@Vzor- can you please patch in a fix before the 2.2.2 version?

[2022-03-23 18:54] tresf commented on #864
Found them: https://github.com/adoptium/website-v2/commits/main/src/asciidoc-pages/installation/linux.adoc
Source: https://adoptium.net/installation.html#installers

Unfortunately, I'm not able to reproduce the original issue.  Can you see if the new documentation fixes it?  If not and you can provide steps that differ from our own that reproduce this, I'll happily reopen.

<img width="1440" alt="

[2022-03-23 18:54] #864 closed

[2022-03-24 00:24] klabarge commented on #938
Tested, works

[2022-03-24 18:45] tresf commented on #939
With the help of our JDK support provider, we've found that Ricoh and HP seem to reliably use media tray IDs > 1,000 for bad values.

If we can get the underlying tray ID (e.g. using the JDK or using JNA) we can filter these.

Quoting our latest reply to the (private) bug report:

[2022-03-24 19:57] SkyportDEV opened #944 "2.1.6 will not find the default printer on Mac"
Hello,
after installation from v2.1.6, qz.printers.getDefault() will not return the default printer anymore. After reinstall 2.1.5, everything works fine again.

![Bildschirmfoto 2022-03-24 um 20 54 31](https://user-images.githubusercontent.com/20161851/159999675-62c761e9-94d6-450d-96a4-73c9009bbb0f.png)

[2022-03-24 20:13] tresf commented on #944
Thanks.  I believe this regression was introduced in https://github.com/qzind/tray/pull/935.  I think the matching was written wrong.  I'll make a patch if it works for you, I'll bump to 2.1.6+1.

[2022-03-24 20:22] tresf commented on #944
@SkyportDEV can you see if this build fixes it in your environment?   Note, this build isn't notarized, so you might need to right click, run.

https://github.com/tresf/tray/releases/download/TEMP/qz-tray-2.1.6+1.pkg

Oddly, the default printer is found just fine on my machine, but the logic was broken so I'm hoping the above patch fixes it.

[2022-03-24 20:31] tresf commented on #944
Ok, I can reproduce.  It's a timing issue with the background task.  Investigating...

[2022-03-24 20:50] tresf commented on #944
@SkyportDEV ok, second attempt, can you test this one?

https://github.com/tresf/tray/releases/download/TEMP/qz-tray-2.1.6+2.pkg

[2022-03-24 21:49] tresf opened #946 "NullPointerException when searching for a printer"
[code]

[2022-03-24 21:50] tresf commented on #946
I believe this is another regression caused by https://github.com/qzind/tray/pull/935.

[2022-03-24 22:12] tresf commented on #946
Patched via 67b6448.

[2022-03-24 22:12] #946 closed

[2022-03-24 22:17] tresf commented on #944
Closed via 914f6c0.  We'll update the downloads right away.

[2022-03-24 22:17] #944 closed

[2022-03-25 02:05] #913 closed

[2022-03-25 08:10] SkyportDEV commented on #944
@tresf
Yes! Now it works perfectly ;)
Thanks for the quick fix!

[2022-03-25 12:48] tresf commented on #944
Thank you for reporting so quickly!  This one slipped through the cracks. 😅

[2022-03-25 14:54] tresf opened #948 "Another NPE caused by missing default printer"
**Version:** QZ Tray 2.1.6+2
**OS:** Raspberry Pi

[code]

[2022-03-25 14:59] tresf commented on #948
Build available for testing: https://github.com/tresf/tray/releases/download/TEMP/qz-tray-2.1.6+PICRASH.run

[2022-03-25 15:53] #948 closed

[2022-03-29 02:23] tresf commented on #921
Closed via #950

[2022-03-29 02:23] #921 closed

[2022-03-30 18:43] tresf opened #952 "Option to ignore PDF transparency when printing"
Per:
https://lists.apache.org/thread/7ls9qpzlt21wqy2goj25b85l960j8dvb

Related: #278

Quoting:

[2022-03-31 02:17] klabarge opened #953 "Serial encoding isn't null if not set in properties"
On the master branch, if serial `encoding` is left out of the properties, it does not get set to `null`.

**Works**
[code]

**Does not work**
[code]
* `encoding` is empty rather than `null` and throws an error

[code]

[code]

[2022-03-31 02:44] klabarge commented on #953
🤔 I was confused somehow. This doesn't appear to be an issues with the API, rather the sample.html doesn't `null` the `encoding` fields.

https://github.com/qzind/tray/blob/fbcd9ef93a37bfd934885bd111ba3b3758a9c00f/sample.html#L3100

[2022-03-31 05:34] #877 closed

[2022-03-31 05:36] tresf commented on #953
Thanks.

@bberenz how do we handle this elsewhere?  Guard inside Java?  I think the sample guard is sane, but not sure if it should be guarded elsewhere as well, or if we should expect an exception during normal usage when it's an empty string.

[2022-03-31 13:26] bberenz commented on #953
It would probably make sense to add a guard in java since we can assume an empty string is the same as a null value.

[2022-03-31 13:35] tresf commented on #953
Although I agree, I took a quick look and we don't do that anywhere else either, so it would be more consistent with our API behavior historically to guard it from the sample and raise an exception when it's blank.

After some thinking, this is probably best, it forces the programmer to not be lazy about empty strings.

So assuming we keep this guard in sample.html, I'd like to know if this is suf

[2022-03-31 13:38] tresf commented on #953
... another option, which may be preferred is to pre-fill an encoding value there so a blank value is a user-choice, however I fear that this may change the behavior of the demo a bit too aggressively at a time when we're trying to get people to switch to 2.2.

[2022-03-31 13:40] tresf commented on #953
Finally, I've noticed that some of these fields actually get pre-filled with `null`, others do not.  I think this may have masked the bug for a while for places where we weren't guarding.

e.g.

https://github.com/qzind/tray/blob/25f7576454b53108209c89044b528fdadfdc141d/sample.html#L2456-L2457

[2022-03-31 17:08] klabarge commented on #953
`UTF-8` is pre-filled in for the open connecting options, however it is blank for the response options. The [API](https://qz.io/api/qz.serial#.openPort) says that `UTF-8` is the default encoding

![image](https://user-images.githubusercontent.com/12505463/161111249-b3ba345b-0583-4c87-af43-252529dcb7ce.png)

[2022-04-05 00:31] bberenz commented on #953
It looks like we are providing empty string checks java-side on printing options that can be null and even half of the serial options have similar such checks, so I think it still makes sense to add these in for the remaining.
I think the only reason the serial options rx.end and rx.width get nulled out in the sample was to avoid a needless warning log if they were empty along with rx.start (as su

[2022-04-06 01:47] #665 closed

[2022-04-08 01:01] tresf opened #955 "Error: Cannot find printer under the JavaFX libraries"
OS: MacOS Monterey
Steps:
1. Install a new printer while QZ Tray is running
2. Try to print using JavaFX

[2022-04-11 03:40] broady02 commented on #805
I think jonaswre has an extremely good point here.

Malicious site A could sign commands using Site B's signing endpoint.
This only has to be done once manually by the malicious developer, bypassing any browser security.
This would grant them potentially full file & hardware access, silently, to all of Site B's customers' systems.

I would propose that a stronger security model might be:
- Website

[2022-04-12 03:53] haipt17 commented on #955
Hi @tresf ,

I had the same problem.

It's working for me.

1. ant/project.properties:

javafx.version=17.0.2
javafx.arch=x86

2. ant/javafx.xml, in Downloads and extracts javafx for the specified platform

`
<target name="download-javafx-platform" depends="get-javafx-version">
        <get src="${javafx.mirror}/${javafx.version}/openjfx-${javafx.version}_monocle-${javafx.platform}-${javafx.arch}_

[2022-04-12 09:02] haipt17 opened #957 "Magnetic stripe reader Support"
Hello,

I am trying to integrate MSR213U.

In qz demo page, I used HID methods, I got output like that: 00,00,00,01,4f,26,00,00.

How can I get output like that

`%BNNNNNNNNNNNNNNNN^DOE/JOHN
^1210201901000101000100061000000?;NNNNNNNNNNNNNNNN=12102019010106111001?`

![image](https://user-images.githubusercontent.com/22137804/162922038-b6387b46-8531-4553-b188-f7a273f49bac.png)

[2022-04-12 14:05] tresf opened #958 "Detect hidden tray area on Windows"
Windows 11 has introduced a feature that allows system tray icons to be hidden, which will prevent any access to the QZ Tray menu system.

https://www.neowin.net/news/windows-11-22h2-will-let-you-disable-all-app-icons-in-the-notification-area/

We should offer an alternative UI for this scenario, similar to Linux.

**Edit:** Windows 2003 and higher also has a policy to hide this area.  Title chang

[2022-04-12 14:43] tresf commented on #957
@haipt17, can you please provide a user manual for this?  I'm aware that most magnetic swipe readers (MSR) support Keyboard Emulation which should work without QZ Tray.

Your output suggests that you are limited to 8 bytes, likely due to:

[code]

I would recommend that you continue to read bytes until you receive the full output from your device.

We would also we willing to write a wiki for this

[2022-04-12 14:55] tresf commented on #955
@haipt17 thank you.  We do NOT recommend JavaFX 17.0.2 due to this bug https://github.com/qzind/tray/issues/778#issuecomment-828630972.  But I greatly appreciate you observing and sharing that JavaFX 17 will correct the printer search behavior.

We're working with Gluon to revert the regression introduced which causes the issue described here: https://github.com/qzind/tray/issues/778#issuecomment-

[2022-04-13 03:21] haipt17 commented on #957
I found MRS document, increase to 512 bytes.

For anyone got same problem like me

HID output data is array

Step 1: Convert hex data to text (ascii)
Step 2: Parse text data with regex, output is

` return {
            exp_month: "",
            exp_year: "",
            number: "",
            name: ""
        };`

@tresf , thank you for your support.

[2022-04-13 03:21] #957 closed

[2022-04-13 03:37] haipt17 opened #960 "RJ11 Cash drawer Support"
Hello,

I have 2 cash drawer devices.

1. Cash drawer A : connect to printer X , printer X connect to POS device.
Everything is good with qz

2. Cash drawer B connect to POS device via RJ11  ( example image )

My question is:

Does qz support the connection like (2) ?
If yes, how can I open (kick) cash drawer (2) that with qz?

Thank you for your attention and support.

![image](https://user-image

[2022-04-13 04:10] tresf commented on #960
Each drawer differs, but if you look at the bottom of this code snippet, the "print" command can take and send these "kick out" codes.

Some drawers are picky about pulse length as well, so I would recommend researching this ESC/POS command as well as what the drawer specification calla for.

Note: On Mac and Linux, config option`{ forceRaw: true }` may be needed to talk raw ESC/POS to the printer

[2022-04-13 04:18] tresf commented on #960
Option 2: This is the first I've seen this particular setup.  Can you determine if it is available as a serial port on the PC? Does the manufacturer provide any documentation about the port?  Since it simply needs a pulse signal, we will need to know how to communicate with it.  A C#, VB, Fortran, C++ or BASIC example would probably give us enough information to start figuring it out.

[2022-04-13 04:31] tresf commented on #960
Option 2 (con't):

Initial research shows [the following](https://www.amazon.com/BT-100U-Drawer-Driver-Trigger-Interface/dp/B00OM9ML2K):

Something called a "cash drawer driver trigger" is available, which as linked is a USB pulse generator, but one which installs itself as a virtual COM port, quoting (Amazon):

I do not know which commands will be suitable for this device.  The above description

[2022-04-13 04:37] tresf commented on #960
Here's [a PCI version](https://www.newegg.com/sunix-model-cdk1037a-pci-to-serial-port-card/p/N82E16815114012) of a similar product (Newegg), quoting:

<img src="https://user-images.githubusercontent.com/6345473/163100828-7dd57898-59ce-42a9-a98d-c1857a58f7ec.png" width="300px"/>

Since the rest of the specifications discuss serial, I assume it will also be a serial port communication.

[2022-04-13 04:45] tresf commented on #960
Option 2 (con't again again)

It appears Sunix also offers a multi-port PCI Express card with a similar usage:
https://www.sunix.com/en/product_detail.php?cid=1&kid=2&gid=10&pid=1687

Image (copyright Sunix):
<img src="https://user-images.githubusercontent.com/6345473/163101898-7d9c4557-cf40-46a1-a1bc-dd4bcb502a0d.png" width="500px"/>

Quoting:

... however this requires a special pigtail adapter

[2022-04-13 06:14] haipt17 commented on #960
Hi @tresf ,

Actually with (2), printer not exists, just only cash drawer and POS device.

I am a software engineer, so basically I can't propose anything about third-device like converter or another cable ( financial issues )

POS  Device: [Ap-3615 ](https://www.manualslib.com/manual/911468/Firich-Enterprise-Aerpos-Ap-3615.html?page=20)
Cash Drawer: 12V-RJ11KA ( China factory )
Cable: RJ11

![ima

[2022-04-13 06:47] tresf commented on #960
I would still expect this to use a standard communication, I'm just not sure how that's done.  The manual says the following:

... which matches other cards linked, quoting "Expands single 6-pin RJ11/12 Type Cash Drawer interface to drive +12 / 24 VDC Cash Drawer." so I think it will be the same communication.

<img width="300" alt="image" src="https://user-images.githubusercontent.com/6345473/163

[2022-04-13 06:53] haipt17 commented on #960
Hi @tresf ,

Maybe it could help you ( and me )

[FEC Download Link](https://www.fecpos.com/download/download_modlist.html)

![image](https://user-images.githubusercontent.com/22137804/163117507-a86e9d6c-c01b-4b96-991f-091214298d60.png)

[2022-04-13 07:00] tresf commented on #960
I downloaded and extracted the > 1.7GB file but was unable to locate any documentation for this RJ11 port.  The manual suggests that it is an Intel product, but that does not make much sense, so I decided to look into Sunix instead.

Sunix does offer source code for their RJ11/RJ12 port.  It is bundled with the [driver for their PCI card](https://www.sunix.com/en/download.php?pid=1200&file=driver&

[2022-04-13 07:11] tresf commented on #960
Confirmed proprietary Sunix comms per:

implemented SUNIX Windows based API (Application Programming Interface)"

... taken from here: https://sunix.com/en/download.php?pid=1200&file=manual&file_link=download/manual/2012/771-CDK1037A0-001-2.pdf.

Hopefully FEC does not use a proprietary library. 🤷

[2022-04-13 07:12] haipt17 commented on #960
Hi @tresf ,

I got a live demo from my colleague, POS System use .NET with dll libraries ( RJ11 connection )

Let me try to find cash drawer dll files then email to you.

Would you mind sharing your email address with me?

[2022-04-13 07:17] tresf commented on #960
tres@qz.io :)

Note, if it has DLL files, that is proprietary and harder to integrate into QZ Tray.  We prefer hardware-agnostic solutions.

[2022-04-13 07:48] tresf commented on #960
FEC got back, they do not use a proprietary library on Linux.  Here is the sample code for Linux:

[code]

[code]

Interestingly enough, Sunix offers the full source code for their Linux driver [here](https://www.sunix.com/en/download.php?pid=1200&file=driver&file_link=download/driver/2021/20211130103057_snx_V2.0.6.0.zip) but I am not familiar enough with C to understand how it works.

For FEC, he

[2022-04-13 07:57] haipt17 commented on #960
Hi @tresf ,

My email is: haipt.ict@gmail.com

Thank you so much.

[2022-04-13 08:15] haipt17 commented on #960
Hi @tresf ,

I got your email, and downloaded files.

Thank you again.

[2022-04-13 08:27] haipt17 commented on #960
Hi @tresf ,

About RJ11/RJ12, I try [Microsoft Point of Service for .NET v1.14](https://www.microsoft.com/en-us/download/details.aspx?id=42081), and it work with FEC device.

I don't know how, but I think "proprietary" is not problem.

Some reasons, I can't screenshot or take photo of real POS System.

This is Microsoft Point of Service for .NET v1.14

![image](https://user-images.githubuserconten

[2022-04-13 15:38] tresf commented on #960
To whom? 🤔

I encourage anyone needing this feature to study JNA and provide us a working Java example.  I would challenge the same person to provide an example with Sunix libraries as well, so we can abstract the API in a way that will work with future hardware vendors.

[2022-04-13 15:41] tresf commented on #960
Oh!  This is very interesting and would make integration much more doable if we can achieve this without hard-coding references  to proprietary `.dll` file(s).

[2022-04-13 16:01] tresf opened #961 "JavaPOS / OPOS / UnifiedPOS Support"
We've occasionally get requests such as:

* Datalogic Magellan 8400 scale support (e.g. `_oposBascula.ReadWeight(...)`)
* [Microsoft Point of Service for .NET v1.14](https://www.microsoft.com/en-us/download/details.aspx?id=42081) (e.g. `OposAndCompabitbityLevel1`)

Which assume QZ Tray can talk OPOS / JavaPOS to hardware (it currently cannot).  This is a placeholder to track this feature.

Related

[2022-04-13 16:11] tresf opened #962 "Add scripted qz.sh installer support"
Proposal to add scripted installer support for Linux/MacOS systems via:

#### MacOS/Linux (curl):
[code]

#### Linux (wget):
[code]

[2022-04-15 07:23] haipt17 commented on #960
Hi @tresf ,

I found something and can open (kick) RJ11 Cash drawer (it works)

[code]

[code]

![image](https://user-images.githubusercontent.com/22137804/163536434-8d1c0afc-ab3f-4929-b148-cef7f0721453.png)

And I must do manual (Windows edit the system environment variables: step by step), not by java code ( or nsis, ant )

So, can you support me: how setup PATH system variable, by nsis or java.

[2022-04-15 20:11] tresf commented on #960
In short, you **should** be able to copy it to `libs` as a stop-gap.

The long of it is a bit more complicated... Since 2.2, we have a utility class for this.  This has some helpers that can find a `.dll` and set any system properties to inform JNA.  This is important to avoid DLL pollution (for stability and for security).

https://github.com/qzind/tray/blob/875c7038cf18a4ae8ac440627f13230aeddaec

[2022-04-15 20:15] tresf commented on #960
For troubleshooting (quoting JNA):

[2022-04-16 10:55] mhadiahmed opened #963 ""this only supports TripleDES" Error on the console when connect through js client"

[2022-04-16 14:34] tresf commented on #963
This was already asked and answered on our YouTube tutorial, please don't double-post questions.

![Screenshot_20220416-103329](https://user-images.githubusercontent.com/6345473/163679080-459376fa-dfdf-48b3-91b6-31a1e18d3ad2.png)

https://github.com/kjur/jsrsasign/issues/433

[2022-04-16 14:34] #963 closed

[2022-04-19 18:21] tresf opened #964 "Memory utilization increase 2.1.4 -> 2.1.6"
As reported by a premium customer:

The customer is printing ~160KB PDF using Base64 format.  My suspicion is that Log4J2 is a bit less efficient about this.

Potential solution from Apache:
https://logging.apache.org/log4j/2.x/manual/garbagefree.html#Impact_on_Application_Code:_Autoboxing

[2022-04-19 18:53] tresf commented on #962
Done via https://github.com/qzind/qz.sh.

[2022-04-19 18:53] #962 closed

[2022-04-20 16:11] lite1979 opened #965 "QZ-Tray uses height value for width when printing PDF to label printer - cuts off printable content"
Environment:

MacOS (Monterey in my case)
Zebra GK420d Label printer
2.25"wx1.25"h label stock - printer is calibrated for this size
QZ-Tray 2.1.6 - Adoptium OpenJDK 11, Hotspot
2.25"wx1.25"h PDF

Expected result: PDF prints to label stock, scaled and positioned correctly
Actual result: PDF gets cut off on the left and right, printing exactly 1.25" wide and leaving the sides blank.

Some backgroun

[2022-04-21 23:27] bberenz commented on #965
When stepping through with a PDFWriter printer on mac with a custom page size of 2.25x1.25, I was seeing the print job report the page size as the inverse (1.25x2.25). Not entirely sure if this was the specific printer, something wrong with my config, or the cause of this issue though.

I've some changes pushed up on `mac-pdf-flip` branch that fixed what I was seeing, if you could retest with that

[2022-04-25 14:24] tresf commented on #965
@bberenz, Didn't we run into something similar here? https://github.com/qzind/tray/issues/12#issue-140880366.  Do you think it's related?

[2022-04-29 03:09] tresf commented on #278
Turns out we have an even better way...

https://github.com/qzind/tray/pull/959#issuecomment-1112823274

[2022-04-29 14:56] tresf commented on #278
Documentation published https://qz.io/wiki/pixel#pdf-transparency.   This feature will be available starting with QZ Tray 2.2.2.

[2022-04-29 14:57] tresf commented on #952
Documentation published https://qz.io/wiki/pixel#pdf-transparency.   This feature will be available starting with QZ Tray 2.2.2.

[2022-04-29 14:57] #952 closed

[2022-05-02 19:12] tresf opened #968 "java.util.regex.PatternSyntaxException: Illegal/unsupported escape sequence near index 4 %C:\Users\john%"
Placeholder for a crash during install with the following stacktrace:

2.1:
[code]

2.2:
[code]

[2022-05-02 19:22] tresf commented on #968
Seems to be an upstream bug reported here: https://github.com/DmitriiShamrikov/mslinks/issues/26.  Will bump mslinks and have the offending user test it out.

[2022-05-02 19:38] tresf commented on #968
Turns out mslinks is no longer available for JDK11, asked about it here: https://github.com/DmitriiShamrikov/mslinks/issues/33.  Will attempt to build my own release while I await the decision of the project.

[2022-05-02 20:12] #968 closed

[2022-05-02 20:23] tresf commented on #968
Incase upstream rejects it, the steps to compile for JDK11:

1. Clone the repo
[code]
2. If not already, install gradle:
[code]
5. Copy `mslinks-(version).jar` to `tray/libs`, remote the old version.

[2022-05-04 22:36] nneuberger1 opened #969 "{ "identifier": "88ffa898-198f-493e-8883-cffd3cd8c47b", "type": "shelf" }"

[2022-05-04 22:37] nneuberger1 commented on #969
sorry as I'm testing usb scanners... and well it submitted this somehow.. my bad and I can't see a way to delete it.

[2022-05-04 22:37] #969 closed

[2022-05-06 15:26] tresf opened #970 "Monocle / JavaFX not working in headless"
[code]

[2022-05-07 16:31] alu0100990539 opened #971 "java.nio.file.InvalidPathException: Illegal char <<> at index 0: <unknown>"
I following these [tutorial](https://ijustlearnedsomethingnewtoday.blogspot.com/2017/04/using-self-signed-certificates-with-qz.html) and all go good, but when I try to install the new auto-compile .exe, the installation failed, this is te log of the installation prompt:

[code]

Any help?

[2022-05-07 23:35] tresf commented on #971
This is a bit of a spinoff of #968.  It's not the same bug, but I believe it's the same cause where Windows is not reporting paths that are documented by Microsoft.

We can probably suppress this error, but what's a bit alarming is... why the hell is the Start Menu coming back as `<unknown>`?

[2022-05-07 23:42] tresf commented on #971
Hmm... scratch that, the logs show the path is calculated just fine.  Still investigating...

[2022-05-09 04:04] #971 closed

[2022-05-09 04:54] tresf commented on #971
Fixed via https://github.com/qzind/tray/commit/521e18614041032db43e50bc93ae0e63110a0be9.  It appears upstream broke the old (now deprecated) API.  Switching to the new API fixes it.

Upstream bug report: https://github.com/DmitriiShamrikov/mslinks/issues/35

[2022-05-17 10:21] alu0100990539 opened #972 "Java is required"
Hello, I compile my own qz tray and installed in the same pc and works all good, but now I try to install it in a Windows 7 and always stop in the "Java is required" message, I install Java and reboot the pc and continious fail to detect that Java is installed...

Any ideas why it fails?

[2022-05-17 14:24] tresf commented on #972
Sorry about this.  Can you see if the beta works?  That comes with it's own beta version.

<img width="1164" alt="image" src="https://user-images.githubusercontent.com/6345473/168834530-1ac25313-c5ee-4854-b826-6bc7b68824c7.png">

[2022-05-20 04:11] #953 closed

[2022-05-23 15:29] hellokittychaos commented on #874
Having same issue on PC Win 10 @tresf  Did you find a fix?  Tried to run it in cmd as a service then uninstall in cmd but it isn't working either. cd C:\nssm\win64

[2022-05-23 20:11] tresf commented on #874
@hellokittychaos I think your issue is unrelated.  The above issue is for the MacOS operating system only.

If you're having issues uninstalling QZ Tray on a Windows 10 PC, please check that your antivirus software isn't interfering.  Some AVs (such as Comodo) cause a lot of problems with QZ Tray: https://qz.io/wiki/faq#conflicting-applications

[2022-05-24 07:24] Catsher opened #973 "Zebra ZT230"
Direct print from Windows working perfectly, but print throuhg QZ, 2.15 or 2.20 doesn't matter, don't work. I can see in print queue task for a second and then it disappear without printing. ZPL & ZPLII same problem. Help me please.

[2022-05-24 15:46] tresf opened #974 "Printing says "complete" in the logs but job's "complete" event hasn't fired"
When the "PRINTED" event fires from Wmi, it will send the "COMPLETE" status back to the API.

https://github.com/qzind/tray/blob/875c7038cf18a4ae8ac440627f13230aeddaecee/src/qz/printer/status/job/WmiJobStatusMap.java#L20

Unfortunately, we use near identical nomenclature when the job is accepted by the spooler:

https://github.com/qzind/tray/blob/875c7038cf18a4ae8ac440627f13230aeddaecee/src/qz/uti

[2022-05-25 13:59] tresf commented on #973
Thank you for sharing the logs.  The logs suggest that you are sending EPL data to the ZT230.  The EPL data looks OK.  Some of the data is corrupted by the log writer, I assume these are just some UTF-8 characters that couldn't be displayed by the logger.

[code]

Assuming the above is correct, the most likely cause of the problem is that the printer cannot interpret these EPL commands.  Researchi

[2022-05-25 14:03] tresf commented on #973
Hmm... Ok, further research shows that the EPL support is firmware-dependant.... can you please read this article? https://www.zebra.com/us/en/support-downloads/knowledge-articles/zt-series-printers-support-epl-language-starting-with-version-v72-17-5z.html

[2022-05-26 07:08] Catsher commented on #973
Yes, it's an issure. EPL driver don't work. Command from instruction than mean to change language to "EPL+ZPL" do nothing too. Problem with Zebra itself.

[2022-05-26 07:08] #973 closed

[2022-06-06 14:55] tresf opened #975 "qz.configs.create("Printer Name", { language: "..." }) not upgraded properly from 2.0"
I wanted to document this minor regression... if moving from QZ Tray 2.0 to QZ Tray 2.1, the `{ language: ... }` parameter in the `config` object does not properly get upgraded to the `data` object.

We don't plan on patching this regression since QZ Tray 2.0 was EOL January 1st, 2021, but if a premium customer faces this upgrade difficulty we can patch it.

[2022-06-06 22:46] mwenechac opened #976 "Increasing QR Code Size POS-80"
How can I increase the size of the QR code for POS-80 thermal printer? I have tried changing the number of dots from 1 to 16 but to know avail.

[2022-06-08 14:29] tresf commented on #976
If you can provide the programming manual, that would help.  A quick google search shows the following:

<img width="643" alt="image" src="https://user-images.githubusercontent.com/6345473/172642154-809325d0-9afa-4b28-aa6c-acd65d151292.png">

Which would rougly translate to:

[code]

[2022-06-09 09:06] Ravindrakumara opened #977 "Qz tray data capture Error; Cannot GET....."
qz.websocket.connect()
     .then(()=>{
        return qz.printers.find('PDFCreator');
      }).then((found)=>{
        var config = qz.configs.create(found);
        var data = [{
          type:'pixel',
          format:'html',
          flovor:'file',
          data: '<h1>hello world</h1>'
          // options: { pageWidth: 8.5 /* pageHeight: 11 */ }
        }];
        return qz.print(config,d

[2022-06-09 12:31] tresf commented on #977
Also,

Note, `flavor` is misspelled and it should be `plain`, not `file`.

[2022-06-28 16:09] tresf commented on #691
Oddly, I was able to reproduce this by starting a second instance of QZ Tray on the same machine as a non-administrator account... here's the logs...

[code]

[2022-07-01 14:53] tresf commented on #977
Closing as no reply from author.  I believe the above will fix this particular error.

[2022-07-01 14:54] tresf commented on #976
Closing as no reply from author however if you find a solution please share!

[2022-07-05 20:42] tresf commented on #972
Closing due to lack of response.

[2022-07-05 20:42] #972 closed

[2022-07-05 20:57] tresf commented on #958
Thanks to [elevenforum](https://www.elevenforum.com/t/turn-on-or-off-hidden-icon-menu-on-taskbar-corner-in-windows-11.5132/), there's a way through the registry to detect if the "chevron" is missing to expand the tray area.

We should be able to detect this scenario and create a workaround.

[code]

[2022-07-06 16:41] tresf commented on #958
Proof of concept ready.

![Untitled](https://user-images.githubusercontent.com/6345473/177600939-9ad9e55b-70f7-4bd7-afed-356a77089fde.gif)

[2022-07-06 19:18] Vzor- commented on #974
Maybe it would make more sense to say `log.info("Print started")` or `log.info("Job started")`

At that point we only really know the job has been uploaded to a buffer somewhere, be it in a spooler or direct to a hardware buffer.

[2022-07-07 16:00] tresf commented on #974
@Vzor- how about

[code]

[2022-07-07 17:54] tresf commented on #958
Ready for testing and merge.  @klabarge assigned for testing.

[2022-07-08 16:31] tresf opened #981 "Printing "complete" event delayed when bi-directional printing is enabled"
Issues occurs with BOCA hardware on Windows 10 OS.  Similar in description to #974 but this is to track the OS and Java to see if there's something that can be improved to avoid the delay.

@Vzor- feel free to edit this description with more details.

[2022-07-11 16:57] tresf opened #982 "getHostName() shouldn't require network adapter"
QZ Tray offers the ability to get the computer's `hostname` (usually by calling "hostname" from a shell).

This API is naturally grouped into the [`qz.networking`](https://qz.io/api/qz.networking) namespace, but this puts an unnecessary dependency on obtaining the active network adapter, which can be problematic in environments with limited access to the internet.  This is because obtaining the ac

[2022-07-13 02:04] klabarge commented on #958
The tray icon looks to be smaller than the standard icon size in my testing using Java version Temurin-11.0.14.1+1

<img width="288" alt="image" src="https://user-images.githubusercontent.com/12505463/178634859-d809ffe6-e829-46af-8bf4-fbb04946fc24.png">

Perhaps this is because of my Parallel settings? @tresf was your testing done in a Parallels VM? Your icon doesn't look as small as mine.

<img w

[2022-07-13 02:06] tresf commented on #958
I observed the same and was unable to use identify the cause in a
reasonable amount of time.  If you want to try to patch it, feel free.

[2022-07-13 17:19] tresf commented on #958
@klabarge I refactored the code in an attempt to increase the size of the icon on Windows, but it appears that Java is hard-coded to use a 32x32 image for this area, so the larger icon is never used: [127cc45](https://github.com/qzind/tray/pull/980/commits/127cc45ff8cc5fbfb359901eba480400658a748e)

This is OK though, I think the refactor was warranted as it simplifies the API a tiny bit.

I did st

[2022-07-13 17:26] tresf commented on #958
Correction, it appears the Java API wants this in [exact sizes of 16, 32, 64, 128](https://stackoverflow.com/a/15248699/3196753) which we don't offer for this particular icon.  @klabarge if you want to try to render these sizes and add them to the codebase, it might fix it.  They're indexed here: https://github.com/qzind/tray/blob/0297d5b78e11924af891cfaaa4f0fe9952472ab9/src/qz/ui/component/IconCa

[2022-07-15 11:26] tapu611 opened #983 "QZ tray is unable to download and print."
QZ tray is unable to download shiping label from amazon and flipkart and unable to print on thermal paper. I have downloaded Qz tray for printing thermal paper but unable to do that. I am using Windows7 Laptop.

[2022-07-15 15:16] tresf commented on #983
Hi,

Since your issues are specific to Flipkart and Amazon, you must reach out to their respective technical support teams to escalate.

The reason for this is because there are many factors that can prevent "download shipping label [... and ...]print on thermal paper".

Possible causes:

- Local proxy connection
- Incorrect printer driver
- Incompatible printer
- Other software error

A good base

[2022-07-18 03:17] hotantai137 opened #984 "QZ-TRAY How to check the printer has connected with serial port?"
Dear team,

I have a Thermal Printer - FEC-80 (FEC-80T), manufactured by FIRICH ENTERPRISES CO., LTD
connect to POS(windows 7, Java 11, qz version 2.1.6) with serial port.
I want to check status printer is connected or not with serial port.
Please introduce it to me.

[2022-07-18 03:30] tresf commented on #984
Hi,

Bidirectional serial printer status isn't currently available.  Sorry for the inconvenience.

Note, QZ Tray does implement a full serial interface, so you may write the feature yourself by writing the serial communications manually.

[2022-07-18 03:35] hotantai137 commented on #984
Hi @tresf ,
Thank you for support, can you give me some document for implement feature check serial communication with java.

[2022-07-18 03:38] tresf commented on #984
@hotantai137 here: https://qz.io/wiki/serial

[2022-07-18 03:42] hotantai137 commented on #984
@tresf thanks you, I will try it.

[2022-07-18 18:56] hanfry1996 opened #985 "Set real 0 to margins"
HI, I try to print a pdf in a Epson FX-1180 (matricial-dot continuous paper invoice), but to top is "cutted", the first line of the pdf.

Y use [Overriding Default Margins](https://qz.io/wiki/pixel#margins) setting it to 0 but still cutting the top of the first line.

Another thing that I try is [Setting Bounds](https://qz.io/wiki/pixel#pdf-cropbox) x=0 and y=-10 (it cut less word until -2, -10 st

[2022-07-18 19:57] hanfry1996 commented on #985
Hi, yes, I understood the hardware limitations, but when I use with the Invoice's Program it works, I can print in the same height than I need to print now with QZ, maybe I don't understood something for use QZ printing...

[2022-07-20 04:28] Vzor- commented on #965
I can confirm that this issue presents on MacOS but not Windows or Ubuntu. This issue seems to go away if
        ```System.setProperty("java.awt.printerjob", "sun.print.PSPrinterJob")``` is set.
I am still looking into the root cause but it seems to be related to which class gets assigned to https://github.com/qzind/tray/blob/2adb4f879a834922e24c58ab3832d47e66355f62/src/qz/printer/action/PrintPDF

[2022-07-21 04:56] wiseguysby opened #986 "Problem mslinks.ShellLink when compiling"
I have a problem when ant nsis getting error like this
![image](https://user-images.githubusercontent.com/33086336/180132793-f8ce16cb-ac39-461b-b51c-61cc9319e446.png)

Howto resolve the problem?

[2022-07-21 05:07] wiseguysby commented on #986
I change to jdk11 its working now. case closed

[2022-07-21 05:07] #986 closed

[2022-07-21 14:40] Vzor- commented on #965
I have made a print test https://gist.github.com/Vzor-/fe9ab75588f3c216360068e94c6a7672

I was able to remove all of our unique code, and I was able to remove PDFBox. That points the finger at Java.

I am going to step through PSPrinterJob and CPrinterJob (and maybe Book) to see if I can find the issue that way.

[2022-07-24 04:03] wiseguysby opened #987 "Problem when not using direct link pdf file"
I have a problem.
If I'm using direct link to file, for example `https://xxx.com/yyy.pdf`, qz.io is working fine
then I'm using symbol link, for example `https://xxxx.com/nquR7JEPpC_1658633591`, qz.io is not working, but with pdfjs for preview pdf file is working fine.

In my backend ( Im using cogeigniter 3), like this

[code]

code above is working with pdfjs but not qz.io.
Could you tell me how

[2022-07-24 19:55] tresf commented on #987
QZ Tray is pretty lenient about how the file is served up, this should work file.  What's probably best to share is the error logs from QZ Tray itself.

Also, I edited the `xxx<dot com>` example hyperlinks, you probably don't want people actually clicking on those.  😉

[2022-07-25 03:44] tresf commented on #986
Yeah, sorry, upstream changed the required version rather silently.  Thanks for sorting and documenting it!

[2022-07-25 03:59] wiseguysby commented on #987
Hhahahah, sorry, I just give for example not actually domain/website...I don't know if the domain name already exists...

btw this is error log
![image](https://user-images.githubusercontent.com/33086336/180695786-7e049450-f2dc-413c-bd26-2b1da742e5b4.png)

and this is print options
![image](https://user-images.githubusercontent.com/33086336/180696122-72701741-70e9-408f-9f6b-4a17bacac152.png)

[2022-07-25 04:06] tresf commented on #987
@wiseguysby that URL is behind a login and QZ Tray does not have that login information, so instead it's trying to parse an HTML login page as a PDF.

[2022-07-25 05:40] zaqueoae commented on #796
Is there any solution to this problem?
It is happening to me with qz 2.2., ubuntu 22.04, openjdk version "11.0.15" and with chrome and firefox.

Regards

[2022-07-25 05:42] wiseguysby commented on #987
Yes, you correct. user should be login, that's way I'm confuse, why pdfjs is working but qz.io is not working, because access same url link. FYI, if I'm change to base64 is working.

[2022-07-25 05:55] zaqueoae commented on #796
¿Podrías decirme la ruta del archivo que hay que borrar? ¿Sería una solución permanente?
Gracias.

[2022-07-25 06:05] tresf commented on #987
QZ Tray runs in Java as a separate process.  It does not have access to your login sessions and cannot access files this way.  If you need to get the file from behind the login session, you will need to send it to QZ Tray using base64.

[2022-07-25 06:07] tresf commented on #796
This issue is resolved.  If you're having a similar issue, please open a new bug report with as many details as possible.

[2022-07-25 06:44] wiseguysby commented on #987
ok, great, clear. thanks your reponse.

[2022-07-25 06:44] #987 closed

[2022-07-25 08:23] zaqueoae opened #988 "SSL broken in Ubuntu 22.04"
I ran into a problem on linux (ubuntu 22.04) that caused my app to not connect to the qz socket. Something that is solved if you visit https://localhost:8181/ and manually assume the risk.

Software versions:
Qz 2.2.1
Ubuntu 22.04.
Java openjdk version "11.0.15"
Browsers:
Brave [Versión 1.41.100 Chromium: 103.0.5060.134 (Build oficial) unknown (64 bits)]
Mozilla Firefox 102.0 (64-bit)

[2022-07-25 18:38] tresf commented on #988
Reproduced, Ubuntu 22.04 uses a snap for Firefox and this breaks our locator logic.

I tested Chromium and it appears to install but then doesn't work, I'll have to look into that further.  We'll work on a patch.

[2022-07-26 19:56] tresf commented on #988
Firefox has been patched on the `firefox-snap` branch here: https://github.com/qzind/tray/pull/989.

I still have to look into what's going on with Chromium.

[2022-07-27 16:21] tresf opened #990 "DEMO Page: Add ability to upload a custom file"

[2022-07-29 10:14] InjustFr opened #991 "Permanently denying a website makes qz-tray.js crash"
Hi,

When you permanently deny the access, the tray closes the connection as it should and that makes the qz-tray.js script crash with the following error:
[code]

Would it be possible to add an info message in the tray logs or in the browser (even better, both 😄 ) to indicate that the website has been denied access?

For context, a user, when prompted by QZTray if the website should be allowed, w

[2022-07-29 16:23] tresf opened #992 "PDF prints blank page"
The following PDF produces a blank print when using the `printPDF()` example with QZ Tray.

* QZ Tray: 2.2.1
* PDF: [blank_print.pdf](https://github.com/qzind/tray/files/9221637/blank_print.pdf)

Expected vs Actual:

<img width="332" alt="image" src="https://user-images.githubusercontent.com/6345473/181802504-3353e4f7-f4db-4b57-acd5-f718b1f0a620.png"> <img width="334" alt="image" src="https://user

[2022-07-29 16:47] tresf commented on #991
Hi,

The API already handles this rather gracefully, as the `qz.websocket.connect()` will raise an exception "Connection blocked by client", which can be caught.

https://github.com/qzind/tray/blob/0297d5b78e11924af891cfaaa4f0fe9952472ab9/src/qz/ws/PrintSocketClient.java#L139

If you would like to explicitly catch this event, you may do so using the following code:

[code]

[2022-07-29 16:51] tresf commented on #985
Hi,

Without steps to reproduce, we'll be closing this bug report.

[2022-07-29 16:51] tresf commented on #984
Closing as this feature isn't available currently and we have no immediate plans to add it.

[2022-07-29 16:51] #984 closed

[2022-07-29 16:51] tresf commented on #983
Closing due to lack of response.

[2022-07-29 16:51] #983 closed

[2022-08-02 15:27] tresf commented on #503
Update:
* OpenJDK has this patched since JDK16, backported to JDK11 since 11.0.11: https://bugs.openjdk.org/browse/JDK-8256264
* PDFBOX changed their API per https://issues.apache.org/jira/browse/PDFBOX-5093 which allows a workaround.
   * This exposed this bug with Calbri font (Patched in JDK17 and backported to JDK11 since 11.0.13) https://bugs.openjdk.org/browse/JDK-8265761.

[2022-08-02 17:33] tresf opened #993 "A signature on getVersion() is confusing and not needed"
The initial call to `getVersion` will contain a signature, but this signature is confusing since often it comes before the certificate is sent.  The signature for `getVersion` is never validated because it is not a privileged function. For this reason, we should NOT send a signature when calling `getVersion` from our API.

The reason this is confusing is because when troubleshooting signing issues

[2022-08-03 19:16] tresf commented on #991
Closing due to lack of response.  Please request a re-open if you believe this was closed in error.

[2022-08-03 19:16] #991 closed

[2022-08-03 19:16] tresf commented on #985
Closing due to lack of response.  Please request a re-open if you believe this was closed in error.

[2022-08-03 19:16] #985 closed

[2022-08-03 21:54] tresf opened #995 "GitHub Actions are failing"
All new commits are failing in GitHub Actions.  We're investigating as to why, I'll be making a debug branch for this purpose, sorry in advance for all the notifications. :)

[2022-08-03 23:10] tresf commented on #995
This smells like a packaging bug over on the openjdk side... https://github.com/adoptium/adoptium-support/issues/557

I've read a few explanations but I'm still not sure what causes it.  The GitHub Actions were working when it was on 11.0.15 but they've broken since updating to 11.0.16.  I'll await help from the OpenJDK community.

[2022-08-04 00:08] #982 closed

[2022-08-04 00:23] #958 closed

[2022-08-04 00:27] tresf commented on #939
Unfortunately we found some exceptions to the printer tray IDs, so th workaround provided in #947 won't work, we'll need to find another way to do this.  The code will remain on the PR, but the PR will be closed and the branch will be deleted.

[2022-08-04 00:29] tresf commented on #992
Just chiming in here, @bberenz informed me this was NOT reproducible through IDE but is through the installer.

Just a thought @bberenz we had that Twelvemonkeys JPEG library, is there a chance this is at fault?  Just a guess. 🤷

[2022-08-04 20:01] tresf opened #996 "Disable System Tray support for Linux"
System Tray support for Linux has been very poor over the years.    Half the time it doesn't work, and when it does, it's drawn in the wrong location or doesn't honor the icon's transparency.

Ubuntu 22.04:
<img width="768" alt="image" src="https://user-images.githubusercontent.com/6345473/182941251-a4c3dc7d-ba01-471d-8e7c-86c20aff0f1a.png">

Related:
* #163
* https://stackoverflow.com/a/4886969/3

[2022-08-04 20:12] #996 closed

[2022-08-04 22:21] tresf commented on #995
As it turns out, this was a deliberate change upstream.  Ouch.  Fortunately for our project, we already handle this mismatch rather gracefully when major versions don't match, so I'll try to write an exception for it.

This thread really does a better job of describing how and why this is happening:
https://github.com/adoptium/adoptium-support/issues/557

[2022-08-04 23:09] #995 closed

[2022-08-05 03:32] tresf commented on #992
I believe I found the cause, explained here: https://stackoverflow.com/a/61601264/3196753

[2022-08-05 05:27] tresf commented on #992
Yes, it is, but unobviously... It turns out the error was in the logs:

[code]

When we unzip twelvemonkeys it overwrites pdfbox's `META-INF/services/javax.imageio.spi.ImageReaderSpi` file which is how PDFBOX registers support for JBIG2 ImageIO plugin.   A special concatenate is needed to keep both active in QZ Tray.

[2022-08-05 05:29] #992 closed

[2022-08-05 05:49] tresf commented on #992
Backported to 2.1 via c7b523b.

[2022-08-08 15:32] tresf opened #1001 "Menu may appear in the wrong location"
On computers with fractional scaling enabled (e.g. 250% zoom in Windows 10), menu placement from the System Tray may be incorrect.
<img src="https://user-images.githubusercontent.com/6345473/183455557-261cba94-e12d-4b59-9853-20ead66f72b4.gif" width="500px"/>

[2022-08-08 17:53] #1001 closed

[2022-08-09 15:14] tresf commented on #988
@zaqueoae hi, on Chromium, can you try:
1. Stop Chromium
1. Remove `$HOME/snap/chromium/current/.pki/`
1. Start Chromium
1. Restart QZ Tray

[2022-08-09 15:27] tresf opened #1003 "Linux: Chromium doesn't work if QZ Tray is installed and run first"
QZ Tray attempts to add its SSL certificate to Chromium's nssdb location, but this process seems to corrupt something in the profile if QZ Tray is started before Chromium is run for the first time.

To reproduce:
1. Install and run QZ Tray
2. Install and run Chromium
3. Connection fails

A workaround:
1. Remove the corrupted profile `$HOME/snap/chromium` (WARNING: This may remove chrome settings s

[2022-08-09 15:34] #1003 closed

[2022-08-09 15:38] tresf commented on #988
@zaqueoae I've patched the Chromium issue here: #1004.

Since this corrupts the chromium profile, I would recommend that you locate and remove any corrupted profiles:

https://github.com/qzind/tray/blob/875c7038cf18a4ae8ac440627f13230aeddaecee/src/qz/installer/certificate/LinuxCertificateInstaller.java#L43-L45

Note, the profile will be `$HOME/snap/chromium/`, `$HOME/snap/opera/`, etc.  These are

[2022-08-09 15:38] #988 closed

[2022-08-09 15:54] tresf commented on #988
Brave browser support added via 14d249e.

[2022-08-11 12:08] zaqueoae commented on #988
I have compiled and installed the latest version of Qz.
I have uninstalled brave and reinstalled it and the bug still exists.
I have manually deleted /home/myuser/snap/brave/* and the error still exists.

Thanks you very much

[2022-08-11 13:26] tresf commented on #988
Where dod you install brave from?

[2022-08-11 13:45] zaqueoae commented on #988
In Kde Neon there is a store called "Discover".

![Screenshot_20220811_154448](https://user-images.githubusercontent.com/20475209/184147909-4504c6bc-92d3-4d5f-a41a-081a013ea5dc.png)

[2022-08-11 13:50] tresf commented on #988
Does it install as a snap?  I used `sudo snap install brave` and it worked after restarting QZ Tray and restarting brave.

[2022-08-11 14:26] zaqueoae commented on #988
Nor does it work that way.
Nor Does It Work That Way. Sorry I just want to help. As I said, I am advising my customers with Linux that Chromium use.

Greetings and thank you.

[2022-08-11 17:09] tresf commented on #988
Here's what happens on my Ubuntu 22.04 machine...

1. Open Ubuntu software store
2. Search for "Brave"
3. Install "Brave" (this should be identical to using the `snap install ...` command)
4. Open Brave once to create your profile.
5. Clone the master branch
[code]
6. Compile the master branch
[code]
7. Install this version
[code]
8. Wait for QZ to start.  Restart Brave.
9. Visit https://demo.qz.i

[2022-08-14 06:35] tresf opened #1005 "MacOS Ventura: Won't start after installing over an existing version"
When installing QZ Tray 2.2.1 over the top of itself on MacOS Ventura, it breaks the installation and QZ Tray will not start.

A temporary workaround is to delete QZ Tray from the applications folder and then try again.

[2022-08-14 06:36] tresf opened #1006 "MacOS: Uninstall script doesn't remove QZ Tray"
QZ Tray 2.2.1, running `/Applications/QZ\ Tray.app/Contents/Resources/uninstall` does not fully remove the application.

[2022-08-14 06:39] tresf commented on #1006
@Vzor- I believe we need to check the location of the uninstall script and handle the new `Contents/Resources` home.

https://github.com/qzind/tray/blob/875c7038cf18a4ae8ac440627f13230aeddaecee/ant/unix/unix-uninstall.sh.in#L11-L23

[2022-08-17 16:59] tresf opened #1007 "MacOS: Block & Remember this decision leave hanging Window"
On MacOS, if you visit https://demo.qz.io and click "Block" and "Remember this decision", the "Are you sure" dialog appears below the "Allow".  Then, once you click "Yes", the "Allow" hangs forever and there's no way to close it.

The bug occurs on MacOS Ventura with QZ Tray 2.2.1.  I'm not sure if this bug exists on other MacOS and QZ Tray versions.

[2022-08-19 01:37] Vzor- commented on #1007
This issue did not present on 12.5.1 Monterey

[2022-08-19 02:05] Vzor- commented on #1005
This issue does not occur on 12.5.1 Monterey

[2022-08-19 15:04] tresf opened #1010 "Add "server" installer"
Enhancement request to provide a separate download that can be better for a "server" install:
* Third-party SSL certificate
* Custom IP-bound or DNS-bound self-signed SSL certificate
* Install as a service (Windows-only)
* Other advanced settings (?)

[2022-08-20 00:37] tresf opened #1011 "Can't install on Windows"
Originally reported as part of `222-libs` PR, something broke badly on Windows 11 (and possibly others):

<img width="570" alt="image" src="https://user-images.githubusercontent.com/6345473/185722474-2517ab20-6120-4efd-8150-872386cab511.png">

Original report: https://github.com/qzind/tray/pull/1000#issuecomment-1220802483

Steps to reproduce:

1. Compile and install `222-libs` branch on Windows 1

[2022-08-20 00:41] tresf commented on #1011
After purging `C:\Program Files\QZ Tray`, the 2.2.1 installer is working again.   I'm quite confused.

[2022-08-20 01:53] tresf commented on #1011
Troubleshooting steps:
* ✅ Verify it's not caused by `nsis` by making an installer against `master`
* ⌛ Verify it's not caused by Java by instructing `master` branch to build against 11.0.8+16
* ⌛ Verify it's not caused by JNA by reverting the version of JNA we bundle

[2022-08-20 04:52] tresf commented on #1011
So it turns out, reverting `commons-io` fixes this.  I believe it has to do with how the `FileUtils.copyDirectory` inherits destination permissions.  I tried switching the code a pure Java NIO solution, but it fails even worse.   This is probably worth create a unit test for and [reaching out to Apache Commons IO team](https://lists.apache.org/list.html?user@commons.apache.org) on.

[2022-08-20 06:55] Vzor- commented on #1007
This issue did present on M1 ventura 13.0

[2022-08-20 06:58] Vzor- commented on #1005
I was unable to reproduce this on M1 Ventura 13.0. I tried master and tresf/222-libs. Is the installer failing in an obvious way?

[2022-08-20 14:56] tresf commented on #1005
In my case, the installer succeeds, but QZ fails to launch.  I have a feeling that.the OS is caching the digital signature and that removing the directory is refreshing this.

I'm glad to hear it's not yet reproducible.  Are you on the latest beta from Apple (have you run all the updates?)

[2022-08-20 19:33] tresf commented on #1011
Unit test created here: https://stackoverflow.com/questions/73428286

I also reached out through email.  Unfortunately the "[io]" team is mostly quoting the API documentation, which doesn't offer an obvious fix to this issue.

After reading the source code, however, I've found a fix that's viable, but will need more testing on Mac and Linux.  I've posted the solution here:  https://stackoverflow.c

[2022-08-20 20:12] tresf commented on #1011
Closed via 8fa41d7.

[2022-08-20 20:12] #1011 closed

[2022-08-20 20:58] tresf commented on #1005
With my latest changes to #1000 PR and a reboot this issue has gone away on my machine as well.  I'll close it out for now.  Thanks for testing.

[2022-08-20 20:58] #1005 closed

[2022-08-24 16:57] #874 closed

[2022-08-24 16:58] tresf commented on #1006
Closed via #1009.

[2022-08-24 16:58] #1006 closed

[2022-08-25 04:13] tresf commented on #1007
Minimal code to reproduce: https://gist.github.com/Vzor-/e23c5faa79218d12644d7fe664e3831e

Bug filed (private) with vendor `#QZ-8`.

[2022-08-25 04:33] tresf commented on #1007
Workaround merged to master via https://github.com/qzind/tray/pull/1012.  This will be part of QZ Tray 2.2.2 and higher.

[2022-08-25 05:15] tresf opened #1013 "Manually sending JSON breaks UI"
~~Two~~ issues:

~~1. On Windows 11, certain JSON payloads, when sent to QZ Tray out of order will cause UI anomalies, such as a blank window.~~ (CANNOT REPRODUCE, POSSIBLE DUPLICATE OF #823)

2. By modifying the dialog's `x` and `y` positions, you can place the dialog non-centered, which can make it harder to find (e.g. upper right corner, etc).
[code]

[2022-08-25 19:42] Vzor- commented on #1013
Important note, this only occurs on windows.

[2022-08-25 22:26] Vzor- opened #1014 "Bad Dropdown Menu Location on Ubuntu"
The location of the drop-down menu seems to be determined by the last location of the 'about' dialog. Running ubuntu 22.04.1 LTS with openjdk18.

<img width="1440" alt="Screenshot 2022-08-25 at 6 15 30 PM" src="https://user-images.githubusercontent.com/10621658/186779163-908a9066-9bfe-4823-825f-fadbd6135d20.png">
<img width="1396" alt="Screenshot 2022-08-25 at 6 19 58 PM" src="https://user-images.

[2022-08-25 22:33] tresf commented on #1014
I think this is worse in a Parallels VM due to the mouse integration.  @lite1979 can you confirm that it's not this bad on a physical machine?  @Vzor- ideas welcome.

[2022-08-25 22:35] tresf commented on #1013
Sorry, original description updated.

[2022-08-25 23:01] Vzor- commented on #1014
It looks like the cursor coordinates coming from https://github.com/qzind/tray/blob/master/src/qz/ui/tray/TaskbarTrayIcon.java#L114 are what is changing when about is relocated.

[2022-08-25 23:14] Vzor- commented on #1014
You may be right about it being strangeness with the mouse itself via parallels. I ran `xdotool getmouselocation` from terminal, the location doesn't change as I move my mouse. If I relaunch QZ though and move the about window, then run the command again, the reported location has changed.

[2022-08-26 00:05] tresf commented on #1014
Right, I'd recommend disabling mouse integration in Parallels and see if it goes away.

[2022-08-30 14:50] samratsm opened #1015 "Page Header / Footer & Paper Size name"
How can I set page header and footer? Also how can set paper size name like "Letter" etc.?

[2022-08-30 14:53] tresf commented on #1015
Can you please be more specific?  For example, is this printing PDFs?  HTML? Other?

Note HTML does not support headers or footers at this time.

[2022-08-30 15:26] samratsm commented on #1015
I'm currently trying HTML. Is there any such option for PDF?

[2022-08-30 15:38] tresf commented on #1015
Not currently, no, they would need to be part of the original PDF being printed.

[2022-08-30 15:58] samratsm commented on #1015
Can we expect these properties in the future release?

[2022-08-30 16:26] tresf commented on #1015
PDF may be doable but it's not on the radar currently.  If you're a premium subscriber, please email support@qz.io to file an enhancement request .

HTML is encumbered upstream, so is unlikely to happen soon if at all.

[2022-08-30 16:38] samratsm commented on #1015
Thanks

[2022-08-30 16:38] #1015 closed

[2022-08-31 00:18] tresf commented on #1015
For future onlookers, this is a duplicate of https://github.com/qzind/tray/issues/268.

[2022-09-02 16:01] lite1979 opened #1017 "Printer status: "Printer state-reason "media-low-report" was not found" - leaves user confused as to print job status"
Writing this up as a user recently contacted us regarding a failed print.

While the failed print is most likely the result of PC or printer settings, perhaps a better message is available when the status call is less informative like this one.

[2022-09-02 17:11] tresf commented on #1017
@Vzor- is this a missing mapping?

[2022-09-02 17:14] tresf opened #1018 "Windows ARM64 - JavaFX failure prevents "Allow" dialog from appearing"
Steps to reproduce:

1. Start QZ Tray using a Windows aarch64 native Java runtime
2. Wait for the idle tasks to start, specifically JavaFX
3. JavaFX tasks fails (as we'd expect, it doesn't exist for Windows ARM64)
4. The "Allow" dialog stops working

@Vzor- assigning to you, seems right up your alley.

[2022-09-06 15:26] tresf opened #1019 "java.awt.print.PrinterException: Cannot find printer under the JavaFX libraries"
On MacOS, recently added printers cannot be found in JavaFX.
1. Download and install [Epson TM-series](https://download.epson-biz.com/modules/pos/index.php?page=prod&pcat=3&pid=6753) driver.
2. Start QZ Tray
3. Add a printer using this driver
4. Try to print to the newly added printer

Workaround:
* Restart QZ Tray

[code]

[2022-09-06 16:05] tresf opened #1020 "HTML followed by RAW does not work as expected"
[code]

The above example will render the HEX directly onto the receipt.

[2022-09-09 13:12] tresf opened #1021 "Hard crash printing PDF to ZDesigner 5.1.16.6924"
Today a customer reported that Java (`java.exe`, `javaw.exe`) experiences a crash every time when using QZ Tray to print a PDF.
* Using pdfbox standalone does not reproduce the crash
* The QZ Tray version is 2.1.6+3
* The Java version is Adoptium Temurin 11.x
* The PDF is the one provided with sample.html

Java would not provide a crash report log file however Windows Event reporting does log the

[2022-09-09 13:13] tresf commented on #1021
Workaround: Update ZDesigner driver to 5.1.17.7412.  Closing as wontfix since the issue appears to be driver related and is generating a hard-crash in `ntdll.dll`.

[2022-09-09 13:13] #1021 closed

[2022-09-09 13:41] tresf commented on #1017
@Vzor- here's some additional information:

https://github.com/OpenPrinting/cups/blob/1da735b3f0cf258eba0836b54796dc99c4950ac3/backend/snmp-supplies.c#L161-L176

[2022-09-09 13:56] tresf commented on #1017
So it appears to be some SNMP messaging that doesn't exactly match that from within CUPS...

https://github.com/qzind/tray/blob/875c7038cf18a4ae8ac440627f13230aeddaecee/src/qz/printer/status/printer/CupsPrinterStatusMap.java#L39

For example, QZ Tray looks for:

| QZ Looks for | SNMP reports |
|-------|------------|
| `media-low` | `media-low-report` |
| `media-empty` | `media-empty-warning` |
| `

[2022-09-12 15:23] tresf commented on #858
Closing due to lack of response.  Please request a re-open if you believe this was closed in error.

[2022-09-12 15:23] #858 closed

[2022-09-15 02:38] tresf commented on #518
The above steps are documented as working for Epiphany running on Fedora and Arch but for Debian systems, the following command is needed:

[code]

... subsequently, the uninstall should remove the root and re-run this command.

<img width="1114" alt="image" src="https://user-images.githubusercontent.com/6345473/190300570-ebdecf0b-3df7-43e3-94c4-3833533a0619.png">

[2022-09-17 14:54] tleish opened #1022 "Dialogs on macOS 12 not rendering correctly because of missing Times font"
When attempting to use QZ Tray, windows/dialogs to not render correctly making it basically unusable.

![image](https://user-images.githubusercontent.com/1099993/190863023-5ff9b458-e9db-4e80-b5aa-cb1660baee3b.png)

![image](https://user-images.githubusercontent.com/1099993/190862978-19625204-7e6c-41da-9e15-f1c61d5b9680.png)

![image](https://user-images.githubusercontent.com/1099993/190862814-689c

[2022-09-17 16:27] tresf commented on #1022
Hi, something appears to be corrupted on your computer, but at a glance I'm not sure what.

Please repair your disk using First Aid and see if the problem goes away.  If it does not, please test on another similar machine to ensure the issue is reproducible.

Something alluding to the problem may be visible in the console as well; sometimes macOS will show subtle warnings there.

https://qz.io/wik

[2022-09-17 17:45] tleish commented on #1022
I ran QZ Tray from console and found the following clue in the logs:

[code]

After some research, it turns out that the Times font is no longer installed on macOS 12 (Monterey).

see:

- [Stack Overflow: How can I fix this : macOS warning: the fonts "Times" and "Times" are not available for the Java logical font "Serif"](https://stackoverflow.com/questions/68608157/how-can-i-fix-this-warning-the-

[2022-09-17 17:51] tleish commented on #1022
see also: [[JDK-8273358] macOS Monterey does not have the font Times needed by Serif - Java Bug System](https://bugs.openjdk.org/browse/JDK-8273358)

[2022-09-17 21:56] tresf commented on #1022
Thanks.

Do you use a serif font for your desktop?  It appears based on the linked bug report that this should already be patched in the latest Java version.  We have thousands of users on MacOS including several users on Ventura and this is the first it's been reported.  If you can please provide the steps to reproduce, then we can reproduce and decide if a workaround is warranted.

[2022-09-18 03:25] tleish commented on #1022
macOS uses the sans-serif SF Pro for it's system font

Use a macOS which does not include Times or Times New Roman.  Alternatively, uninstall Times and Times New Roman from an existing macOS.

The reported [openJDK fix](https://github.com/openjdk/jdk11u-dev/commit/376d422cd1a2c2efbbf2d0f86d4fdadf656592fc) adds Times New Roman to the list of fonts.
[code]

Of the three fonts my macOS only included

[2022-09-18 05:05] tleish commented on #1022
Looking at the log message, it's clear that the java library used does not include the fix.  Before the batch, the error message would output:

[code]
The patched version would output:
[code]

see: [8273358: macOS Monterey does not have the font Times needed by Serif · openjdk/jdk@efe3ed1 · GitHub](https://github.com/openjdk/jdk/commit/efe3ed1e705a6f3785761e64f7187de809daa731)

My console output t

[2022-09-18 05:40] tresf commented on #1022
Right, but times shouldn't be used in the software, which is why I don't understand what steps are needed to reproduce this.

QZ Tray is fully tested on all MacOS versions, including the beta and on both Intel and Mac.

Thanks.  We ship Java with the 2.2 branch but it's slightly dated.  What I don't get is why this but would surface at all, we don't instruct QZ Tray to load a serif font (such as T

[2022-09-18 05:57] tleish commented on #1022
Yes, I tried this version.  It did load the JDK version in the package and since it's an older version I saw the same Times error in the console.  You may want to consider a new version which includes the font patch.

Yes, I realize now the logic to load the fonts and output the error comes from the JDK, not from QZ Tray code.  I could understand if QZ Tray could not capture this warning.  Either

[2022-09-18 06:01] tresf commented on #1022
Unfortunately, I still need steps to reproduce this.  2.2.2. will ship with 11.0.16 when it's ready.

[2022-09-18 22:00] tresf commented on #1022
I just checked on my machines, Font Book does not list `Times` as a font, yet the original bug cannot be reproduced.  Is there any additional steps you can share?  This is QZ Tray 2.2.1 running OpenJDK 11.0.12, which shouldn't contain the aforementioned patch. I was running Monterey without this issue and I'm not on Ventura without this issue.

[2022-09-18 22:40] tleish commented on #1022
When I now delete Times from my Macbook and run QZ Tray 2.2.1, I see the console error `Warning: the fonts "Times" and "Times" ...`, but the windows now render properly.  So, by installing Times originally it somehow permanently resolved the window rendering issue and I'm not longer able to reproduce the issue.

[2022-09-18 23:56] tresf commented on #1022
Ok... I'm closing for now because we have no way to reproduce this.  If you find a way, please share.

[2022-09-18 23:56] #1022 closed

[2022-09-20 12:14] zaqueoae opened #1023 "Problem with certificate in Lubuntu 22.04"
I am testing qz in lubuntu 22.04 and I have found the following problem: The red window appears as if I did not have the certificates right. This is not happening to me with the same qz on kubuntu or ubuntu and even windows and mac. It only happens to me on Lubuntu.
I have looked at the qz log and I have seen that there are quite a few errors:

[code]

[2022-09-20 20:14] tresf commented on #1023
It appears you're using a self-signed certificate.... Did you forget to deploy `override.crt` to this machine?

[2022-09-20 20:25] tresf commented on #1023
Or perhaps you swapped the cert out?

The one picked up by QZ Tray when it first starts has a fingerprint of:
[code]

... however the certificate that's sent over the wire from `setCertificatePromise` has an SHA1 fingerprint of:

[code]

When using a self-signed certificate, these would usually match.  Can you confirm?

[2022-09-21 03:58] tresf commented on #1023
I just tested a self-signed certificate using Lubuntu 22.04 and it's working just fine.

I believe the issues you are encountering are specific to your environment.  We'll close this unless we can get some steps to reproduce.

<img width="1440" alt="Screenshot 2022-09-20 at 11 56 15 PM" src="https://user-images.githubusercontent.com/6345473/191411017-39297a82-8eef-45fd-a819-d2aee11627ce.png">

[2022-09-21 04:19] tresf opened #1024 "Provide downloads that don't have java bundled"
Since QZ Tray 2.2, Java is bundled with the installers.  This is nice for the most common architectures (Intel, M1) but for system such as the Raspberry Pi (e.g. aarch64), there's no easy way to install.

The "other downloads" should have an option for Java-less installers, which will behave like the old installers by attempting to locate the system version of Java.

[2022-09-21 10:59] zaqueoae commented on #1023
You were right. It's all my fault. Qz works perfectly on lubuntu.
I was using a build with another certificate.
Thanks for your help.

[2022-09-21 10:59] #1023 closed

[2022-09-23 02:01] #993 closed

[2022-09-27 14:19] tresf commented on #1017
@Vzor- please provide an update on this.

[2022-09-27 14:23] tresf commented on #844
@Vzor- can you help write a small, reproducible code example so that we can file this with our JDK support provider?

[2022-09-27 22:24] Vzor- commented on #1017
Pr soon. I took the truncation approach. It should be a lot easier for the end user that way. I'd hate for someone to filter for toner-empty only to have a toner-empty-warning slip through.

[2022-09-28 03:05] tresf commented on #965
Filed with upstream (private) JDK provider as `QZ-9`.

[2022-09-28 03:06] tresf commented on #965
I'll turn this over to our support provider for now, this should be right up their alley. :)

[2022-09-28 22:29] Vzor- commented on #1017
Some minor consequences of this fix,
-If there is an unknown status in the future that ends in report or warning, it will be truncated. exceptions like offline-report are hard-coded.
-If cups reports 'toner-low-report', we will report 'toner-low'. I can't imagine a situation where you would need to know the exact native cups status code, but in that case this would cause a mismatch.
-There is a mi

[2022-09-30 03:46] #1017 closed

[2022-09-30 03:47] tresf commented on #1017
Implemented via 6f3b5b.  This will be fixed in QZ Tray 2.2.2.

[2022-09-30 03:54] tresf commented on #1007
Workaround is being reverted.  The latest macOS Ventura beta fixes this upstream, so we don't need the workaround.

[2022-09-30 03:55] tresf commented on #1007
Workaround reverted via f24f80b.  Closing.

[2022-09-30 03:55] #1007 closed

[2022-09-30 04:12] #1013 closed

[2022-10-01 03:10] Vzor- commented on #1018
Using windows 11 ARM I was not able to reproduce this.

<html><head></head><body>

java | 16.0.2 (aarch64)
-- | --
java (location) | C:\Program Files (Arm)\Microsoft\jdk-16.0.2.7-hotspot
java (vendor) | Microsoft

</body>
</html>

[2022-10-01 05:27] tresf commented on #1018
@Vzor- thanks, I can't reproduce either using Microsoft's JDK11 for ARM64.  Perhaps my tests were flawed and I forgot the [`add-opens`](https://github.com/qzind/tray/commit/dbd6ca2b370673d925838d0c47ab00d237982c36) to my command line flags.  I think we're OK closing this out unless we can concretely reproduce.

[2022-10-01 05:27] #1018 closed

[2022-10-01 06:24] tresf opened #1027 "Windows: Improve messaging about lack of 32-bit support"
Quoting #876:

[2022-10-01 06:29] tresf commented on #1027
Here's an example: https://github.com/Cockatrice/Cockatrice/pull/3300/files#diff-46188de59f534e147e8f587a3e635bd083192e1df1e960c08d0e2a0339ee6ac0R50

[2022-10-01 06:41] tresf opened #1028 "Windows version information improvements"
Internally, we get the Windows version using a registry key:

[code]

... however this version information is no longer valid.  See also https://ss64.com/nt/ver.html.

Objectives:

1. Make the Windows version on the version information page show build information.
1. Make the Windows version on the version information page display the friendly build number (e.g. 21H2).

Product name | Major versio

[2022-10-01 18:24] tresf opened #1030 "Linux: Improve messaging of wrong architecture during install"

[2022-10-03 04:38] #1027 closed

[2022-10-03 04:38] #1030 closed

[2022-10-03 06:10] #875 closed

[2022-10-06 16:59] Vzor- commented on #1028
pr #1031

for my own reference: https://www.technlg.net/windows/windows-version-in-registry-key/ https://www.thecliguy.co.uk/2018/10/07/windows-version-and-build-number/

[2022-10-08 00:20] thecliguy commented on #1028
@Vzor- Hello, I noticed that you linked to my blog post on [Windows Version and Build Number](https://www.thecliguy.co.uk/2018/10/07/windows-version-and-build-number).

I originally wrote that post in 2018 and therefore the PowerShell code under `Windows 10 / Windows Server 2016 (and beyond?)` suffered from the problem of returning `2009` for `20H2` and all subsequent versions of Windows.

I've no

[2022-10-09 04:32] tresf opened #1032 "Label builds with arch information"
Ad the title suggests, we should label downloads based on the architecture they target, e.g.
* `qz-tray-2.2.2-x86_64.pkg`
* `qz-tray-2.2.2-arm64.pkg`

[2022-10-17 20:12] UVLabs opened #1034 "Can this work remotely?"
I've been checking out the docs and videos but it's not immediately apparent (i think) whether or not this would work from a remote website?

As in a website on the internet firing a print action in a local store. Think an e-commerce website sending a print action when an order is placed online by a customer

[2022-10-17 21:00] lite1979 commented on #1034
QZ-Tray facilitates the ability to print from a browser on a PC. That means that with some human interaction, the printable content goes from the website (server) to the printer. This doesn't happen without a browser and a PC in between the printer and the server.

If you want to trigger the print after an order is placed, you need a way to get the PC on the printer side to read that from the web

[2022-10-19 07:12] tresf commented on #1034
As Lite has explained, in nearly all cases, QZ Tray must be running on the local network of the client.  It's a solution which prints from a PC, invoked by the browser.

[2022-10-19 07:12] #1034 closed

[2022-10-20 17:39] Vzor- commented on #1028
@thecliguy Thanks for reaching out! Your website has always been a great resource. I wish Microsoft would
release some official documentation on how to interpret and retrieve version numbers. It seems like the version semantics have changed more often than the version itself.

I was checking to see if `ReleaseId == '2009'` then falling back to `DisplayVersion`, but I think I like your solution mor

[2022-10-21 14:05] tresf commented on #965
An upstream JDK patch has been provided: https://github.com/openjdk/jdk/pull/10808

[2022-10-21 18:10] tresf opened #1035 "fetch() example in sample.html not working"
This code wasn't working for a client today in Firefox.

~~* [ ] Fix in `setCertificatePromise()`~~
~~* [ ] Fix is `setSignaturePromise()`~~
~~* [ ] Fix in any tutorials~~

https://github.com/qzind/tray/blob/715743d71dbcbaed38c98bb593e18e2b0a0d0d98/sample.html#L1413-L1415

The following code fixed it.

[code]

[2022-10-21 18:46] tresf commented on #1035
@lite1979 and I tested this with Google Chrome 106 and Firefox 104, 105, 106 and could not reproduce.  We'll attempt to gather more details from the client.

[2022-10-23 23:59] #1032 closed

[2022-10-25 08:08] mayankdargan03 commented on #1020
@tresf By when can we expect a fix for this?
and will we be allowed to print an iframe?

[2022-10-26 06:36] tresf commented on #1020
@mayankdargan03 let's please keep discussions on the mailing list: https://groups.google.com/g/qz-print/c/UXqrAGmHWfg

[2022-10-26 06:40] mayankdargan03 commented on #1020
Sure @tresf !

[2022-11-03 05:02] tresf commented on #1035
The client has not responded with any further information. Closing for now.  Feel free to request a reopen if needed.

[2022-11-03 05:02] #1035 closed

[2022-11-03 15:29] tresf opened #1036 "Add support for PGL (Printronix Graphics Language)"
Placeholder to add PGL to the list of supported languages for (for example) printing to a TSC or Zebra printer with PGL capabilities.

* Programming guide: [PTX_PRM_PGL_P8_256387f.pdf](https://printronix.com/wp-content/uploads/2017/11/PTX_PRM_PGL_P8_256387f.pdf) [[mirror](https://github.com/qzind/tray/files/9930616/PTX_PRM_PGL_P8_256387f.pdf)]

[2022-11-03 15:48] tresf opened #1037 "Update Jetty to 10.x"
Jetty 9.4.x will soon reach EOL status: https://github.com/eclipse/jetty.project/issues/7958

[2022-11-06 00:37] alu0100990539 opened #1038 "Problem to compilling from Windows to Linux"
Hi, I try to compilling with me own certificate, like I did for Windows, but when I try:

c:\ant\bin\ant makeself -Dauthcert.use="c:\users\usuario\cert.pem"

At too near to finish, appear the error:

BUILD FAILED
C:\Users\Usuario\tray\ant\linux\installer.xml:35: Execute failed: java.io.IOException: Cannot run program "makeself" (in directory "C:\Users\Usuario\tray"): CreateProcess error=2, El sist

[2022-11-06 01:08] tresf commented on #1038
AFAIK, `makeself` isn't available for Windows, so what you're attempting is not possible without a POSIX OS or subsystem (such as WSL, a VM, etc)

[2022-11-06 12:22] #1038 closed

[2022-11-06 12:39] alu0100990539 opened #1039 "Problem compilling from Linux"
Hi, I try to compile Tray 2.1 from Linux (Xubuntu):

<pre>java -version
openjdk version &quot;11.0.16&quot; 2022-07-19
OpenJDK Runtime Environment (build 11.0.16+8-post-Ubuntu-0ubuntu122.04)
OpenJDK 64-Bit Server VM (build 11.0.16+8-post-Ubuntu-0ubuntu122.04, mixed mode, sharing)</pre>

<pre>cat /etc/os-release
PRETTY_NAME=&quot;Ubuntu 22.04.1 LTS&quot;
NAME=&quot;Ubuntu&quot;
VERSION_ID=&quot;22.

[2022-11-06 12:56] alu0100990539 commented on #1039
With Master code version the error is:

<pre>BUILD FAILED
/home/pablo/tray/build.xml:241: Java returned: 1

Total time: 10 seconds
</pre>

Looks small like with 2.1 code version

[2022-11-06 13:32] alu0100990539 commented on #1039
Reinstall Java and all ok:

[https://askubuntu.com/questions/1375383/how-to-properly-install-temurin-jdk-with-update-alternatives](url)

[2022-11-06 13:32] #1039 closed

[2022-11-07 18:10] tresf commented on #1036
Assigning @lite1979 for initial investigation.  We have a Google Drive folder with a PGL emulator, PGL programming guide and sample `.pgl` file.  If anyone wants access to this, let me know.

[2022-11-11 20:19] #916 closed

[2022-11-12 15:56] #1036 closed

[2022-11-14 16:13] tresf commented on #1028
Closed via #1031

[2022-11-14 16:13] #1028 closed

[2022-11-14 17:00] tresf opened #1043 "Show GUI from Kiosk Mode"
Quoting [Reddit](https://www.reddit.com/r/qztray/comments/w7uhyu/windows_kiosk_mode_access_config/?utm_source=share&utm_medium=web2x&context=3):

[2022-11-16 15:40] savageqm opened #1045 "adding Qz-tray to ionic react project via npm"
I added the Qz-tray using npm install qz-tray and then declared
`import * as qz from 'qz-tray';`  but I can't compile because it complains about qz-tray not finding the declaration.  Is the qz-tray compatible with the Ionic react framework(typeScript)? .  I added a index.d.ts file to the qz-tray folder, while that remove the error it still did not compile as it complained it could not find the pat

[2022-11-16 15:55] tresf commented on #1045
I believe this to be the actual error and "Module not found" is a bit misleading of a message here.

If this is the same as I've received in the past, from our [api-overrides](https://github.com/qzind/tray/wiki/API-Overrides/) section:

We use [`'path'`](https://github.com/qzind/tray/blob/1e2c0855511a3d2c62cedb9225678a6521660050/js/qz-tray.js#L672) to handle relative URL calculations.  If there's

[2022-11-17 02:34] tresf opened #1046 "Allow File IO read operations to return base64 data"
As the title suggests, allow File IO to return data as base64 string

[2022-11-18 05:18] #1046 closed

[2022-11-22 00:01] kgherrmann commented on #1045
Did anyone fine a solution for this. adding `"browser": { "path": false }`

I also tried adding a fallback with no avail:
` fallback: {
        path: require.resolve("path-browserify"),
      },`

Any and all recommendation welcome!

[2022-11-22 04:40] smeakin commented on #1045
We ran into this same issue, and tried adding `"browser": { "path": false }` to our `package.json` file didn't fix the issue. I tried adding it to the `package.json` of this module in the `node_modules` folder and that fixed the issue for us.

For context, we're running a vue application, which may or may not explain why that particular method worked for us.

[2022-11-22 06:14] tresf commented on #1045
<details>
<summary>Click to show deleted comment</summary>

</details>

@smeakin sorry for the necromancy, but I received the above email notification and wanted to see if the proposed solution, or your own version helped.

[2022-11-22 06:18] smeakin commented on #1045
@tresf No worries! We ended up finding out that our webpack file wasn't being read correctly, when we fixed that we were able to add the following to it, which resolved the issue.

[code]

[2022-11-22 06:33] tresf commented on #1045
Thanks!

Our code tries to fallback on Node's `path`  when not being run in a browser:
https://github.com/qzind/tray/blob/8816df208300a9373a2a120a12cdfc69fec5a439/js/qz-tray.js#L665-L675

... this is because we want to support relative URLs and it's the best way we know how when we don't have access to the browser.

Unfortunately, this causes grief because (as far as I understand) the JavaScript f

[2022-11-23 04:59] smeakin commented on #1045
Thanks for explaining!

Sadly I'm not super familiar with the issue, all I can really offer is that `"browser": { "path": false }` in your package's `package.json` file seemed to the fix the issue the first time.

I think that makes sense as adding that line should then provide a resolution to the `require('path')` for browser bundles only (to essentially ignore it) and leaving node to resolve `pa

[2022-11-23 17:50] #1045 closed

[2022-11-23 17:51] tresf commented on #1045
Done via https://github.com/qzind/tray/commit/be4c4853be1446a62846cebccab73332dc2cef6e.  Hopefully this avoids some pain to others, thanks!