[2016-11-14 03:22] klabarge opened #131 "Auto start - error creating startup entry Ubuntu 16.04"
**OS:** Ubuntu 16.04
**Java:** Oracle 8u111
**QZ Tray:** 2.0.2

When trying to check "Automatically start", QZ Tray throws an error: "Error creating startup entry"

This is the error that shows in the terminal:
[code]

[2016-11-14 03:24] tresf commented on #131
@klabarge can you please provide the output of the following command:

[code]

[2016-11-14 03:28] klabarge opened #132 "Error loading prefs.properties file Ubuntu 16.04"
**OS:** Ubuntu 16.04
**Java:** Oracle 8u111
**QZ Tray:** 2.0.2

When starting QZ Tray, an error `Error loading /home/kyle/.qz/prefs.properties` is thrown.  The software still launches, and at least basic functionality seems fine.  I successfully searched for printers.

[code]

[2016-11-14 03:31] tresf commented on #130
We may be able to provide a code workaround, but [`logname` appears to be bugged in 16.04](https://bugs.launchpad.net/ubuntu/+source/gnome-terminal/+bug/1537645)

[2016-11-14 03:32] klabarge commented on #131
[code]

It looks like `autostart` is not a directory.

[code]

[2016-11-14 03:48] tresf commented on #131
Kyle can you try adding this workaround to[ `LinuxDeploy.java'](https://github.com/qzind/tray/blob/2.0/src/qz/deploy/LinuxDeploy.java)

[code]

[2016-11-14 21:24] #130 closed

[2016-11-14 21:25] tresf commented on #130
Workaround coded per http://askubuntu.com/a/849469/412004.  Tested on 16.04.

[2016-11-14 21:39] #132 closed

[2016-11-14 21:42] tresf commented on #132
This was made visible by #130 but was actually there all along.  QZ Tray creates the preferences file if it doesn't exist, but on first launch it wasn't there and threw this error.  Since a fresh install launches it without the console visible, this was being thrown on every fresh install we just never knew.

I've reduced the severity from SEVERE to WARNING, which should be more appeasing.

[2016-11-14 21:48] tresf opened #133 "Unescaped left brace in regex is deprecated"
Ubuntu 16.04 throws the following warning on install:  `Unescaped left brace in regex is deprecated`.

This is caused by a [change in the perl interpreter](http://search.cpan.org/dist/perl-5.22.0/pod/perldelta.pod#A_literal_%22%7B%22_should_now_be_escaped_in_a_pattern) we use for our [Firefox script](https://github.com/qzind/tray/blob/2.0/ant/firefox/firefox-cert.sh.in).

The fix should include re

[2016-11-14 21:49] tresf commented on #128
Client reports the issue is caused by two HID connections from separate web pages (e.g. forward/back buttons).  Client is preparing a `sample.html` which will reproduce problem.

[2016-11-15 01:08] klabarge commented on #128
I launched the software via the console and was able to reproduce the error (except for the crash when unplugging the scale).  Unfortunately, the logs provided absolutely no information.  No indication of a crash or even errors; the logs indicated that QZ Tray was running fine.

Perhaps there is something strange happening with my scale?

[2016-11-15 03:24] tresf opened #135 "Firefox certificate installation fails macOS 10.8"
Steps:

1. Install Firefox on macOS 10.8
1. Install QZ Tray on macOS 10.8
1. Close and relaunch Firefox
1. HTTPS websockets will fail to connect

Troubleshooting:

[code]

The bug seems to be with @Vzor-'s `locator.sh` logic.  Something about it breaks on 10.8.

[2016-11-15 03:25] #133 closed

[2016-11-15 03:30] klabarge opened #136 "Incorrect Look and Feel After Initial Install"
Tested on Ubuntu 14.04 and 16.04

After an install, the tray menu defaults to the ~~legacy version~~ `Metal` Look and Feel.

![image](https://cloud.githubusercontent.com/assets/12505463/20292151/35f2d77c-aab9-11e6-99a5-753169d78f2d.png)

Restart QZ Tray and the menu is correct (`GTKLookAndFeel`)

![image](https://cloud.githubusercontent.com/assets/12505463/20292207/ba157974-aab9-11e6-97e6-bc1c38a0

[2016-11-15 03:34] klabarge commented on #131
Closed via f65e527b66110f2f9f6766cb6238f0ca959aec9c

[2016-11-15 03:34] #131 closed

[2016-11-15 05:00] tresf commented on #136
I've noticed this as well.  I'm not sure what causes it but I have a feeling it has something to do with launching from `sudo`.

We may need to source the environment for the user before launching:

https://github.com/qzind/tray/blob/2.0/ant/linux/linux-installer.sh.in#L202

[2016-11-15 05:51] tresf commented on #136
This seems to stem from the `sudo` command, and it may be two-fold.

1. First, `sudo` is run against the installer package potentially dropping environmental variables
2. Second, `sudo` is used to launch QZ Tray as `$USER`, potentially dropping environmental variables.

This [article explains the exact cause](http://stackoverflow.com/questions/34017980/how-to-preserve-gtk-look-feel-in-java-using-s

[2016-11-15 12:15] jstans commented on #58
@tresf Sorry, I could of been a bit clearer. I meant that at the resolution the images I'm printing are provided at (1800x1200) and no auto scaling it would need to be a 300dpi printer to print correctly to 6x4, with 1200x800 being for a 200dpi printer.

That's good to know that I shouldn't be changing the density at least, one less value to worry about.

Is anyone able to report if they are or ar

[2016-11-15 19:02] tresf commented on #58
@jstans would it help if we obtained your hardware?  You can contact support@qz.io if interested (and assuming you have a spare printer to ship to us) we can test against this model and report our findings.

[2016-11-16 03:17] tresf commented on #35
We now have a MacBook running macOS 10.12.1 Sierra to test on.   Note, there was an [upstream bug report which was fixed in Java 8u40](https://bugs.openjdk.java.net/browse/JDK-8057830) however your logs suggests 8u77. If this problem persists, an upgrade to the latest Java is recommended (at the time of posting this, the latest is Java 8u111).

Note, if Java JDK is installed, upgrade that as well.

[2016-11-16 04:00] tresf opened #137 "macOS hard crash when releasing HID device"
Steps to reproduce:

**Prerequisites:**

 * Using `garry-rowe/hid4java` (uses `signal11` under the covers)
   * **Edit:** This bug is also reproducible using `purejavahidapi` (uses `jna` under the covers)
   * **Edit:** This bug is also reproducible using `codeminders/javahidapi` (uses `signal11` under the covers)
 * HID USB Scale
 * Mac

**Steps:**

1. Java 8u11, macOS Sierra
2. Install QZ Tray 2

[2016-11-16 22:11] tresf commented on #137
Possible downstream bug: https://github.com/signal11/hidapi/issues/205

[2016-11-18 02:35] tresf commented on #117
Since https://github.com/qzind/tray/commit/56f172804b3d4907b26392eb6b506cfdae076927 went live with 2.0.2, marking this as resolved.  Please reopen if you believe this was closed in error.

[2016-11-18 02:35] #117 closed

[2016-11-18 04:46] tresf opened #138 "Bematech Printer Support"
From client:

Bematech offers a printer emulator software which I was unsuccessful in getting working.

What "working" means:

* https://qz.io/wiki/2.0-raw-printing updated with ESC/BEMA examples
* Add BEMA image support: https://github.com/qzind/tray/blob/2.0/src/qz/printer/ImageWrapper.java#L306

Screenshot of the emulator:
![unnamed](https://cloud.githubusercontent.com/assets/6345473/20418878/9

[2016-11-20 18:10] klabarge opened #139 "Java OutOfMemoryError with multiple Images"
This was tested on Windows to an XPS printer.

When constructing the `data` object to contain 12 images, Java will crash with an `OutOfMemoryError`

Changing the [`launch.opts` to `Xms1024m`](https://github.com/qzind/tray/blob/2.0/ant/project.properties#L9) allowed up to 20 images to print, but crashed when 25 images were attempted.

[code]

[2016-11-22 04:43] tresf commented on #137
Experimental branch created for testing against an alternate library which does not use the signal11 library:  https://github.com/tresf/tray/tree/hid

[2016-11-22 20:53] bberenz commented on #102
I tested this out with a virtual serial port, and that comment I made was wrong. It _does_ currently split out any data received into the specified width, and will wait to send more if there is any remainder.

We may need to revisit testing this on a physical device then.

[2016-11-22 20:55] tresf commented on #102
@bberenz is there a chance that some serial properties such as flow control can influence this?  I noticed our sample.html and documentation was incorrect: had the word `begin` instead of `start` and that's been fixed now but tests last night seemed to be similar as before.

Is the above usage correct?

[2016-11-22 21:04] bberenz commented on #102
`width` takes precedence so if it is present, `begin` and `end` will just be ignored.
I'm not sure what effect flow control would have on our output though, since we just append to an array until the magic number is hit, then split and send what's there.

The above example is correct, though you shouldn't need any of the empty send commands to continue receiving any data from the device.

[2016-11-22 21:25] tresf commented on #102
I'm not sure why the scale would behave differently but our client has actually been live with reading 2-bytes at a time for a few months, so I'll close this out as invalid, working.

[2016-11-22 21:25] #102 closed

[2016-11-23 00:59] klabarge commented on #137
This crash continues to happen using @tresf [patch](https://github.com/tresf/tray/commit/4c05cd75a895aecbd79cf0514dd30295c1be349b)

Here's the [JVM crash log](https://gist.github.com/klabarge/25210f395cdce4357a68a0afb6c3b423)

**Console Stacktrace**

[code]

[2016-11-23 02:08] tresf commented on #137
Ok, here's the `signal11` upstream report: https://github.com/signal11/hidapi/issues/114

Take special note of https://github.com/signal11/hidapi/issues/114#issuecomment-195676194 which specifically mentions `purejavahidapi` by name.

[2016-11-28 20:39] tresf commented on #119
@mrwedders a quick summary:

 * Mac crashes are inevitable.  They won't go away until we sort something with either Apple or a workaround with signal11, neither of which have any movement on, sorry!
 * PC crashes are being worked on.  We have a [tree using CodeMinders API that can be tested right now](https://github.com/qzind/tray/tree/hid3) as well as as [tree using PureJavaHIDAPI](https://github

[2016-11-30 19:06] bberenz commented on #51
So this turned out to be much simpler to implement than I anticipated, given that all dialog and tray calls are handled by the TrayManager class.

Basic headless support is ready for testing via b087e4fd6c1b529ad8489669d8016d8acef142d3, this just involves removing any tray interaction and only looking at the allowed sites rather than presenting a dialog (blocking any unknown sites/requests).
It ca

[2016-11-30 20:14] tresf commented on #51
It can be enabled by using the -h or --headless flag, or by including the line tray.headless=true in the prefs.properties file.

Per "allow soft failure when GUI is not present", do we catch the tray-not-found-ish exceptions yet?  This seems like we could fallback to GUI-less without the explicit directive.

Roger that.  No need to document this for now but good to know.

Well, any GUI action that

[2016-11-30 20:22] bberenz commented on #51
No, though if the `SystemTray.isSupported()` call (TrayManagerL#97) can be relied on, it can easily be adjusted to such.

How do you want the command for this to work? `qz-tray.jar --add thiscert.txt` where _thiscert.txt_ is the certificate to whitelist?
Should we include a "remove" command as well, or will we expect that to be handled by just deleting the line in the config file?

[2016-11-30 20:31] tresf commented on #51
I'd say `--allow` or `--whitelist` and yes, `--block` or `--blacklist` too just for API consistency although I don't fathom anyone using it.  Opinions welcome.  I'm also not sure if we should make it a stub and just exit afterward or if we should start up the software with the command.  I think it would be more conventional to make it a stub.

[2016-11-30 20:33] tresf commented on #51
I think it can still throw an exception due to some bugs with different OS implementations e.g. https://github.com/qzind/tray/issues/60.

[2016-12-01 02:54] tresf commented on #128
For the Windows builds, we will most likely switch to `purejavahidapi` library in 2.0.3 as the testing has shows better stability than the `garry-rowe` version we have bundled in 2.0.2.

To test this build out now for Windows:  https://github.com/tresf/tray/releases/download/v2.0.2-ALT/qz-tray-2.0.2-alt.exe

For the Mac builds, we are escalating the issue in #137, which seems to be a [race conditi

[2016-12-01 20:50] bberenz commented on #51
White and black lists via ac32c8f00f3319492f78775fc568f63815e68eb0 (as stub commands)
Forcing headless when the tray fails via d73312f33b796f8aa138f9041a4844d0cb77815d

[2016-12-02 19:04] tresf commented on #139
@klabarge can you provide the following:
[code]

Specifically `InitialHeapSize` and `MaxHeapSize`.  Divide by `1,048,576` to get it in MB.

Also, can you provide the following:

 * Physical Memory
 * Windows Version + 32-bit or 64-bit
 * Java Version

Last, if your Java version is not 8u111, can you see if this is reproducible with the latest?  @bberenz and I are having a hard time reproducing unl

[2016-12-02 21:12] lite1979 commented on #51
Ubuntu 14.04, Oracle J8U111: success

Linux Mint 17.3, Oracle J8U101: success

[2016-12-03 19:34] lite1979 commented on #51
Ubuntu 16.04, OpenJDK8:

could not compile w/openJDK8, but install script built from another machine worked fine. Started fine w/GUI running X, then started fine headless from Terminal (still running X)

[2016-12-04 00:23] lite1979 commented on #51
Running from TTY1 (or 2,3,4,5, et cetera) with or without X running, QZ-Tray does not launch in headless mode.

https://gist.github.com/lite1979/de08719fa097c0a4ec19fe19293e2011

[2016-12-05 18:30] wellington1993 opened #142 "Ubuntu 17.04 (Zesty Zapus) - Unescaped left brace in regex is deprecated, passed through in regex; marked by"
I have this problem on install.
Sorry if duplicated issue.

Thanks.

[2016-12-05 18:30] wellington1993 commented on #142
Registering with Firefox...
[code]

[2016-12-05 19:06] tresf commented on #142
Duplicate of #133.  For other recent-Ubuntu-type-fixes staged for 2.0.3 release please see:

#130, #131, #132, #133

[2016-12-05 19:06] #142 closed

[2016-12-05 19:08] tresf commented on #142
I'd recommend anyone needing this feature now to [compile from source](https://github.com/qzind/tray/wiki/Compiling), which takes only a few minutes.

As a courtsy to yourself, please bump the [`VERSION` string](https://github.com/qzind/tray/blob/2.0/src/qz/common/Constants.java#L12) to something sane such as `2.0.3-RC0` prior to building so that you know you're not on `2.0.2`, but a modified vers

[2016-12-05 19:13] tresf commented on #142
Note also, the Linux build doesn't use any special signing like [Mac](https://github.com/qzind/tray/blob/2.0/ant/apple/apple-packager.sh.in#L31) and [Windows](https://github.com/qzind/tray/blob/2.0/build.xml#L234:L262) require for installation -- i.e. no real advantage in using the version from our downloads page except for consistency).

[2016-12-06 02:46] tresf commented on #128
I'm closing this as upstream for now since it's not reliably reproducible and was predominantly fixed with a proper Promise chain combined with a new HID library which we're testing against for 2.0.3.

[2016-12-06 02:46] #128 closed

[2016-12-06 04:25] #135 closed

[2016-12-06 20:52] #129 closed

[2016-12-06 20:54] tresf commented on #5
Closed via #143

[2016-12-06 20:54] #5 closed

[2016-12-07 04:57] tresf commented on #112
Closed via https://github.com/qzind/tray/commit/67ba7b0f6ce63055ba0edb29f9e0e2d9b69ddf4c.

[2016-12-07 04:57] #112 closed

[2016-12-07 16:09] bberenz commented on #51
So even creating the dialogs throws an exception on a truely headless system. I've changed the code around a bit to avoid doing as much via 5bf60941a48e1a7e5c8dc42734abc9b1ed3712ae.

[2016-12-07 18:27] tresf commented on #103
Mac address parsing added via https://github.com/qzind/sift/pull/3.

@klabarge can you shim this against QZ Tray and perform some testing?

1. Test on a VM to see if QZ Tray can detect that it's physical network adapter belongs to a VM Guest.
2. Test on a Windows PC that adds the Microsoft Tunnel adapter, make sure it can be stripped out.
3. Test against other physical adapters, make sure burned i

[2016-12-09 13:42] tresf opened #144 "Auto-publish to npm"
Found this link:

https://docs.travis-ci.com/user/deployment/npm/

[2016-12-10 02:18] klabarge commented on #139
I couldn't reproduce this on my machine, but I was able to reproduce it with one of my VM's.

Might be worth having @lite1979 providing his specs, as he originally reproduced this.

#### When I could reproduce:
`InitialHeapSize`: 16 MB
`MaxHeapSize`: 256 MB

* **RAM:** 6GB
* **OS:** Windows 7 32bit
* **Java:** 8u111

#### When I could not reproduce:
`InitialHeapSize`: 256 MB
`MaxHeapSize`: 4,076 M

[2016-12-10 15:14] tresf commented on #139
@klabarge can we see if 32-bit JVM defaults to a lower heap versus 64-bit JVM?  This would help explain why we don't have more complaints.

[2016-12-17 07:19] tresf commented on #103
@klabarge bump for testing.

[2016-12-19 15:04] dsanders11 commented on #63
I've added basic support for UVC (USB Video Class) devices in dsanders11/tray@e0eb79647ab32bd0ccc94baa1466aa2232ef8d49 which might be useful to this enhancement. The code is not polished (it's a component of a component of a larger project, so Good Enough&trade; is in play) but it is functional. If there was a plugin API it would have been implemented as such, instead it was integrated directly in

[2016-12-19 16:50] tresf opened #147 "Support for USB Serial Numbers"
Quoting @dsanders11:

[2016-12-19 16:54] tresf opened #148 "UVC compliant WebCam Support"
Quoting @dsanders11:

Note, this feature may eventually be superseded by #63.

[2016-12-19 16:55] tresf commented on #63
@dsanders11 great feedback, thanks!  I've opened up two bug reports to help nudge this along -- 1. Serial Numbers for USB support #147  -- and -- 2. UVC support #148. 👍

[2016-12-19 19:23] dsanders11 commented on #148
Note - definitely do not use as is. :-) Has a lot of rough edges regarding error checking and probably a minor memory leak or two since it has to use BridJ to interact with the C `libuvc` library. Speaking of which, the JAR used is generated from the [openpnp/libuvc4j](https://github.com/openpnp/libuvc4j) project. No idea what the licensing is there, so proceed with caution.

[2016-12-19 19:26] tresf commented on #148
@dsanders11, FYI, `libuvc4j` appears to be a direct JNA fork of a [BSD project](https://github.com/ktossell/libuvc/blob/master/LICENSE.txt) which makes it LGPL 2.1 compatible. 👍

[2016-12-20 03:27] tresf commented on #58
@jstans how would you like us to proceed with this bug?  We can obtain the hardware and reproduce, just tell us the printer.  The more common the hardware the better. 👍

[2016-12-20 04:28] #53 closed

[2016-12-20 09:22] jstans commented on #58
@tsref Sorry, I actually started typing a response out to this a month ago but got distracted checking something else. I'm not confident it's the hardware as it seems to happen on all printer models I've tested (Citizen CL-S521Z, Zebra GK420d, Zebra 2844) and I believe at least the Zebra 2844 was tested by @lite1979. It has however seemingly worked ocassionally on the TSC DA200 here but I haven't

[2016-12-20 22:23] lite1979 commented on #51
Linux Mint 17.3 (Cinnamon): starts fine after killing X from tty1,2...6
Note: To stop Cinnamon if it's already running: sudo service mdm stop

Ubuntu 14.04 (Unity): starts fine after killing X

[2016-12-21 02:53] tresf commented on #50
It appears a 3rd party offers the Raspberry Pi JavaFX download.

We can use this for testing until Oracle provides official support again.

http://gluonhq.com/download/javafx-embedded-sdk/

[2016-12-21 07:49] tresf commented on #51
Positive results on Windows Server 2016 Core

![image](https://cloud.githubusercontent.com/assets/6345473/21381218/fba189ca-c727-11e6-9ffc-9d3532473b88.png)

[2016-12-23 17:19] lite1979 commented on #51
Working fine on Ubuntu 16.04 after killing X :)

[2016-12-27 01:25] dorkbox commented on #60
Pantheon is now supported. Many thanks to @Vzor- for his help fixing issues.

[2016-12-27 01:32] dorkbox commented on #51
Of note: The `HeadlessException` (when in headless mode) has been removed from the SystemTray Release Candidate. It now returns a `null` instance.

[2016-12-28 05:59] tresf commented on #52
This turned out to be a library conflict... PDFBOX and simplersa both provide separate versions of BouncyCastle, causing the crash.

Here is a way to temporarily fix this issue through ant (why this occurs on some build environments and not others is a mystery)

[code]

[2016-12-28 06:38] tresf commented on #60
@dorkbox thanks.  We're making progress with integration.  We should have dorkbox SystemTray fully integrated by our 2.1 release.

[2016-12-28 08:03] Vzor- commented on #60
A sneak peak...

![elementaryos](https://cloud.githubusercontent.com/assets/10621658/21517104/1a0429d6-ccaa-11e6-9f97-cfecfc70c391.png)

[2016-12-29 01:43] klabarge commented on #139
So, it does look like the 32-bit JVM defaults to a lower heap size. Below are my results using the command you provided.  I used the exact same machine, just different versions of Java.

[code]

| OS               | RAM | JVM                      | `InitialHeapSize` | `MaxHeapSize` |
|--------------|-------|--------------------|-------------------|------------------|
|Windows 10 | 16GB | 8u111 **6

[2016-12-29 02:28] tresf commented on #139
@klabarge thanks.  Let's followup with the customer with the crash and see if they currently utilize 32-bit JVM?

[2017-01-07 13:19] dsanders11 opened #150 "Expired Certificate Causes Client Disconnected"
Ran into this when the certificate being used to sign print requests (but not the trusted root certificate) expired. The only 'symptom' was that connecting to QZ Tray would fail, and it would display the message 'Client has disconnected'.

Here's what was logged for this scenario. At the time the QZ Tray version was 2.0.1, later updated to 2.0.2, but I don't think this behavior changed between the

[2017-01-07 21:00] tresf commented on #150
That line of code specifically is for an expired signature.  We only allow signed messages to be valid for `Constants.VALID_SIGNING_PERIOD` (15 minutes).

If an expired cert is doing this, this is a pretty serious bug.

We considered this too but for our larger clients, they may get flooded with support calls, so we opted against it.  We used to have a bubble in the corner that was usable (Win XP,

[2017-01-07 21:09] tresf commented on #150
BTW, `1006` is [`CLOSE_ABNORMAL`](https://developer.mozilla.org/en-US/docs/Web/API/CloseEvent), which we should never be doing intentionally in our API.

[2017-01-09 03:38] dsanders11 commented on #150
Here are some more details if they'll help.

In this case the trusted root certificate was still valid through 2018, and hasn't changed in the last year plus. On initial report by users I thought it was the websocket certificate which had expired (I use Let's Encrypt certificates so they only last 90 days) and I had just gotten the expiration date wrong. Replaced it and still had the same issue, t

[2017-01-12 05:12] klabarge commented on #103
I started testing on an Ubuntu 14.04 64-bit VirutalBox VM but then discovered this bug https://github.com/qzind/sift/issues/7

I believe this is working in Chrome. `data = sift.keep(data, {burnedIn: false});` returns only these adapters, so `sift.toss` will strip these adapters.  However, Firefox is behaving differently (same bug as above)

 I will wait for a response on the above bug.

[Initial d

[2017-01-12 21:58] tresf opened #151 "Support for OpenSSL 0.9.8"
Client states QZ Tray `sign-message.php` is incompatible with OpenSSL 0.9.8.

[2017-01-13 04:40] klabarge opened #152 "HID streaming with Stamps.com 70lb scale"
**Edit:** Tested against `tresf/hid` branch

**Scale:** Stamps.com Stainless Steel 70 lb. Digital Postal Scale
 * **VendorID:** 0x1446
 *  **ProductID:** 0x6a73

**OS:** Windows 10
**Browser:** Chrome 32-bit
**Java:** 8u111
**QZ Tray:** 2.0.2-ALT

### Issue
When `hid.openStream` is called to read weight off the scale:
* Sometimes the value is stuck at "0.000" and weight is not registered
* Sometim

[2017-01-13 04:43] klabarge commented on #152
We believe this may be a page navigation problem.  I am attempting to create a sample page for reproducing this error.

[2017-01-17 23:03] tresf opened #153 "PDF size incorrect"
Since https://github.com/qzind/tray/commit/a4171b07353ada2291fa74a0e8db7a3b1f383c2d, PDF printing has been slightly off, especially when using `scaleContent: false`

This is noticeable with an A4 PDF that is created to reach near the edges of the paper.  Prior to https://github.com/qzind/tray/commit/a4171b07353ada2291fa74a0e8db7a3b1f383c2d, the A4 scaled properly. Afterward it adds about 0.25 in m

[2017-01-18 05:33] tresf commented on #60
Ubuntu 16.04:

![image](https://cloud.githubusercontent.com/assets/6345473/22052063/b7082d1a-dd15-11e6-9229-fed8f53d0816.png)

[2017-01-18 08:01] vkosachev commented on #60
Guys, very cool, thank you for support, really appreciated!

[2017-01-19 04:43] klabarge commented on #152
There was a `NullPointerException` being thrown when streaming occurred before data was being sent.

After handling the NPE, we could not reproduce the issue in the clients environment.

This bug report should be closed out when the changes make it to this repo

[2017-01-20 21:10] tresf opened #154 "PDF Height Overflow"
If a PDF page height of 200 inches is supplied, QZ Tray crashes with an `OutOfMemoryError`, possibly an overflow calculation within the software.

Unlike other `OutOfMemory` errors, this error is NOT due to the JVM running out of memory. The JVM holds steady at `~256MB` used, it never actually runs out.

Although 200 inches may seem high, for continuous feed paper 72 inches is quite common of a si

[2017-01-21 02:38] tresf opened #155 "Raw Data Incorrectly Printed"
**Good:**  Using [`hex`](https://qz.io/wiki/2.0-Raw-Printing#hex) encoded bytes (`x1B` format):

[code]

**Bad:**  Using [`raw`](https://qz.io/wiki/2.0-Raw-Printing#escp) with JavaScript escape sequences (`\x1B` format):

[code]

**Hex sample code:**
[code]

**Raw sample code:**
[code]

**History**

[2017-01-21 03:34] tresf commented on #151
It's nearly impossible to get any distribution of anything running OpenSSL 0.9.8 better yet link PHP against it for signing.  It's 12 years old and the last security patch was offered in December 2015.  Closing as wont-fix.

[2017-01-21 03:34] #151 closed

[2017-01-23 03:21] tresf opened #156 "HTML printing tall documents fails"
**Version:**  2.1 branch (latest)
**HTML Content:**  [html_sample.html](https://gist.github.com/tresf/bd19db2fac7e75e74a972402a72f7f7d)
**Printer:** [PDFCreator](http://www.pdfforge.org/pdfcreator)

Settings: (`flavor: "file", data: "assets/html_sample.html"`)
 * sample.html default -- renders table [squeezed in upper left corner](https://cloud.githubusercontent.com/assets/6345473/22190186/81adf4f

[2017-01-23 16:08] tresf commented on #156
This was due to `{ scaleConent: true }`.  Disabling it is better, but still has a bug where the right side is chopped off.

![image](https://cloud.githubusercontent.com/assets/6345473/22211791/42be3f58-e15c-11e6-8566-0fc1d9ecffed.png)

[2017-01-23 16:10] tresf opened #157 "HTML multiple page support"
Currently in 2.0 and 2.1 HTML printing is limited to a single page of content.

This request is to allow multi-page printing in HTML documents (content which vertically overflows the printable page size).

Here is one technique (the author is handling right-overflow whereas we would want to handle bottom-overflow).
http://stackoverflow.com/questions/26785651/javafx-printing-a-node-across-multiple-

[2017-01-23 16:25] bberenz commented on #156
Problem with web page width not being adjusted when changing scale for web dpi.
6571003366a741cf9d9574c1530e0989234f997f

[2017-01-23 16:51] tresf commented on #156
@bberenz perfect.  That fixes it.

So what is left:

1.  Add intelligent way to disable `scaleConent: true` when Print HTML is clicked.  A soft warning at the top of the page is sufficient.  I believe it should only happen on first page load (e.g. store a hidden property so one can still explicitly use the checkbox if so desired).
2. It appears the scaling is still off when calculating page height

[2017-01-26 04:30] tresf opened #158 "PDF "Auto" Orientation Support"
Take a 11.0 x 8.5 PDF, open in Chrome or Adobe:

 * Both preview the PDF as a landscape when opened
 * Both print the PDF properly in landscape when printed

Differences:
 * The PDF printed with Chrome, when printed to PDFCreator, creates a 8.5 x 11.0 rotated PDF
 * The PDF printed with Acrobat, when printed to PDFCreator, creates a 11.0 x 8.5 PDF

QZ Tray:
 * QZ Tray does not rotate the PDF when

[2017-01-29 20:01] klabarge opened #159 "EndOfDoc bug with single page"
Using the `EndOfDoc` parameter throws a `NullCommandException` if the document/label to be printed is only one page.

**Steps to Reproduce**
1. Navigate to demo.qz.io using QZ Tray 2.0.2
1.  Specify "P1/N" in the `EndOfDoc` field
1. Attempt to raw print (I used EPL)

[code]

[2017-01-30 02:38] #159 closed

[2017-01-30 04:22] tresf commented on #52
Reopening since this problem is bound to come back.  I believe it is caused by order-of-operations when classes are copied to the jar bundle.   We'll need a better way to handle this moving forward.

[2017-01-30 16:15] tresf commented on #147
@dsanders11 when you refer to serial numbers, are you referencing `HidD_GetSerialNumberString` (see https://github.com/nyholku/purejavahidapi/issues/35#issuecomment-275975349)

We can't get any usable data from that field regardless of the library so perhaps you can expand on the Apache Commons solution.

Note, this thread describes the problem a bit better... Unfortunately the proposed solution i

[2017-01-30 16:16] tresf commented on #147
Edit:  We can't get any usable data from `HidD_GetSerialNumberString`  on Windows

[2017-01-30 16:22] tresf commented on #119
@mrwedders the original bug (Windows) will be fixed with the switch to a new HID library: `nyholku/purejavahidapi`.  If you want to test it out now, you can compile it here: https://github.com/tresf/tray/tree/hid

If you'd rather not compile, this fix will be part of the 2.0.3 release.

Note, Mac and Linux will continue to use `gary-rowe/hid4java` in 2.0.3.  Only Windows will be switching to `nyho

[2017-01-30 16:27] tresf commented on #58
@jstans once we have steps to reproduce we'd be happy to address this problem.  For now, we're closing out as `invalid` since we're unable to reproduce what you are seeing and we now have a large enough user-base on 2.0 that we feel confident this logic is working for 99% of the printers out there.

[2017-01-30 16:27] #58 closed

[2017-01-30 17:00] tresf commented on #51
So what is left for this enhancement:

* [ ] A better way to white-list a certificate.  @bberenz ideas?
* [ ] Documentation in the wiki.  Tagging @klabarge

[2017-01-30 17:20] tresf commented on #70
I'm bumping this to 2.1 and closing as fixed since 2.1 has an API change which fixes this.  If a supported client requires this before hand, we can reopen this issue.

[2017-01-30 20:02] dsanders11 commented on #147
@tresf, the Apache Commons bit was simply to get `MultiKey` so that the serial number could be included as a key for the mapping of open USB devices.

The code to get the USB serial number in my case was specific to `libuvc`.

I believe my comment was referring to support in `usb4java`. It looks like to me that [in `getUsbDevicesJSON`](https://github.com/qzind/tray/blob/91b4ae146e72d2e702a2a32b4c9

[2017-01-30 20:42] tresf commented on #147
@dsanders11 ok thanks.  We can add that in rather quickly and I'll let this bug report represent that feature but a a disclaimer...  if on Windows, it looks like it may be useless at least through the built-in HID interface.

[2017-02-05 04:27] Vzor- commented on #137
I have prepared a test based on some suggestions we received from mrpippy. I have the test ready at https://github.com/vzor-/tray/ on the 2.0 branch but don't have a way to test it.

[2017-02-06 03:51] klabarge commented on #137
I've been unable reproduce the crash using @Vzor-'s branch.

Been running for almost 2 hours on macOS Sierra and I can release and claim the HID device with 100% success so far 👍

[2017-02-06 14:40] tresf commented on #137
The fix is  in the signal11 `C` library:

* Remove this line: [`hid.c#L1025`](https://github.com/mrpippy/hidapi/blob/75b8627432c5a1aac1b15f9364b6094d5ea98a70/mac/hid.c#L1025)

Once completed, the `signal11` library needs to be recompiled on a suitable Mac build environment and the `hid4java` must be re-bundled with the updated library.

Note:  additional work has been done to improve the threading

[2017-02-06 15:31] tresf opened #161 "Promise looping support"
The wiki provides detailed instructions for [constructing and itterating through a promise loop](https://qz.io/wiki/2.0-pixel-printing#promise-loop) however this could easily become part of the base API.

**Proposal:**
* Take an array of `config` objects
* Take an array of `data` objects
* Allow both `fail-on-error` (break the chain) or `resume-on-error` (continue the chain) behavior
* If the conf

[2017-02-06 19:53] tresf opened #162 "RTF Document Support"
This is a gap which was never brought over.

https://github.com/qzindustries/qz-print/pull/1/files#diff-f4216bab2f36aded65b021c0844d7e98R195

[code]

[2017-02-07 02:46] tung12a1 commented on #158
Please, we need it

[2017-02-08 04:37] tresf commented on #150
@dsanders11 I've reproduced the error and this is intended behavior and not nearly as severe as described.  I'll explain... (Expired keypair used for testing here: [expired-cert.zip](https://github.com/qzind/tray/files/759691/expired-cert.zip))

![image](https://cloud.githubusercontent.com/assets/6345473/22723638/21ad8c5e-ed8e-11e6-8078-f92bff06f04e.png)

In the case of your use-case page, the "Bl

[2017-02-08 04:37] #150 closed

[2017-02-08 17:56] crazyivan commented on #157
@tresf - this is a critical feature for us. (YesVideo) We'll be very interested in testing and using this feature as soon as it's available.

[2017-02-08 18:16] tresf commented on #157
@crazyivan about 3 months for a stable release.  We'd like to see it for 2.1 as well, but it will depend on how viable the above solution is.

[2017-02-09 05:50] tresf commented on #137
Further testing shows this crash still exists following the steps in the original bug report.

Currently, we're testing a new approach -- executing all events on the Event Dispatch Thread as to force Java to run the HID calls in sync with Cocoa.  Build available for download here [qz-tray-2.0.2-hidsplit2.pkg](https://github.com/tresf/tray/releases/download/v2.0.2-hidsplit/qz-tray-2.0.2-hidsplit2.p

[2017-02-09 10:12] shaneguna opened #164 "Error: Cannot parse (FILE) as an image"
Hi guys, i'm experiencing an issue while printing images or pdf.

Im currently using qztray to print a receipt after placing an order. Im running on a windows machine.

Pretty much stuck right here, when running the demo/sample page im able to print images with no issues.

This is my js code.

`
function print(printOrderDetails) {

    var orderDetails = JSON.parse(printOrderDetails);
    var refe

[2017-02-09 13:32] xewl commented on #164
I have the same problem, and a problem as a result of this one too.

Research told me that the given file url must be accessible by the java applet, eg. without authentication. (Check! but it stil couldn't "parse" it)

Then I tried to turn it into base64 data; which comes in via an ajax-request.
Checking the request log, I receive the correct dataset, but when debugging via console it prepended th

[2017-02-09 13:42] shaneguna commented on #164
Hey Xewl, good to know im not the only one facing this issue. I also crossed out the authentication part since im able to access the files with no issue through a different browser, port or server.

May i know if your files are saved in any framework? Currently developing this on laravel.

[2017-02-09 13:56] tresf commented on #164
[code]
@shaneguna can you please clarify something?  What I'm reading is that you are appending an image along with raw text, however I do not see a raw image format specified.

Here is an example [from our wiki](https://qz.io/wiki/2.0-Raw-Printing#escp) which has the image format specified.

[code]

If that does not work, I would suggest double-checking your image URL and security access, such as

[2017-02-09 21:54] bberenz commented on #153
Since the Book object seems to print correctly, I reverted back to using it instead of the pdf merger, and fixed the problem with multiple pages not printing a different way.
Available under 054c9eb33fa6e414fd3f133e30057cb83ce50ed5

[2017-02-10 06:24] shaneguna commented on #164
Hi @tresf,

Thank you for responding. The issue seems to be with the served port not being accessible by the java applet. I added my application through the vhosts list of the server and it worked. So, the suggestion with regard to the URL access is the reason why the files are not being parsed.

Right now, i'm still facing issues with printing image format as raw type. Its returning same error th

[2017-02-10 06:26] shaneguna commented on #164
Hi @tresf,

Sorry, found a possible solution in the docs. Let me try this out first.

https://qz.io/wiki/2.0-Raw-Printing#chaining-requests

Regards.

[2017-02-10 07:03] shaneguna commented on #164
Hi @tresf,

To update, chaining requests work but the problem is i'm not able to follow my format. Is there a way to override cutting of paper after printing for image types or, if you could aid me with the error faced when printing image as raw this would be better as i will be able to print everything in raw.

` { type: 'raw', format: 'image', data: '/load/ReceiptLogo.png', options: { language:

[2017-02-10 07:55] shaneguna commented on #164
Hi @tresf,

The last mentioned issue seems to be compatibility of the printer to recognize esc/p commands.
I'll be closing the issue since i have proceeded to generating pdf and printing from this instead.

Thank you very much for your time.

[2017-02-10 07:55] #164 closed

[2017-02-10 19:27] tresf commented on #70
Reopening per support request.

[2017-02-11 02:33] #70 closed

[2017-02-11 07:55] Vzor- commented on #137
I have prepared a second test based on the threading code suggested by mrpippy. The test is ready at https://github.com/vzor-/tray/ on the 2.0 branch.

[2017-02-12 13:30] waitingsong opened #165 "nodejs qz-tray.js v2.03. has issue"
Hi,
 I found a bug in qz-tray.js under node.js npm ,but i do not know how to commit issue on npm, so i post here.
file: node_modules\.2.0.3@qz-tray\qz-tray.js
line 18:  z
cause " ReferenceError: z is not defined"

i delete this line, it works ok.
pls fix it

[2017-02-12 15:25] tresf commented on #165
Thanks!

Closed via https://www.npmjs.com/package/qz-tray.

`npm install qz-tray` or `npm install -g qz-tray` depending on your environment.

[code]
[code]

[2017-02-12 15:25] #165 closed

[2017-02-12 15:27] tresf commented on #165
I appreciate you offering.  NPM has it's own security and this bug wasn't present in the source, it was made at publishing time, so opening a bug report is the best way for now, thanks!

[2017-02-13 00:45] dsanders11 commented on #42
Bump. This would be a really useful feature. Looking to move our printing to automated, and need a way to not spam a printer with print jobs if it's out of paper or jammed.

Per @bberenz's two issues with PrintJobListener, here's a [StackOverflow answer](http://stackoverflow.com/a/35235770) that has code for an adapter class. Looks like it's mainly about converting the `Printable` that is used for

[2017-02-13 02:11] waitingsong commented on #165
qz-tray npm package has updated.
thanks.

[2017-02-13 04:07] tresf commented on #153
A4 test results still fail (identically) with https://github.com/qzind/tray/commit/054c9eb33fa6e414fd3f133e30057cb83ce50ed5 applied.

[2017-02-13 04:44] tresf commented on #137
@Vzor- this patch seems to be running stable for @klabarge and myself for about 3 hours without any crashes repeating the steps in the original bug report many times.

[2017-02-13 05:07] tresf commented on #152
Closed via https://github.com/qzind/tray/commit/b6da1a8fc3d96946c6a0e642c176c4dd99768100.

[2017-02-13 05:07] #152 closed

[2017-02-13 05:08] tresf commented on #119
Closed via https://github.com/qzind/tray/commit/b6da1a8fc3d96946c6a0e642c176c4dd99768100.

[2017-02-13 05:08] #119 closed

[2017-02-14 00:13] tresf commented on #153
Quoting @bberenz:

Most likely is one of the overloaded setters uses a default page format.

[code]

I'll test this out this week and report back.

[2017-02-14 23:41] tresf commented on #153
Test results:

⛔️ Bullet 1 `job.setPrintable(bundle, page);` fails.
✅ Bullet 2 `job.setPageable(<book wrapper>);` passes.

[2017-02-15 15:33] bberenz commented on #153
Working test case committed under e5d2af72f346020136f7877a646ac9f672c45d92

[2017-02-15 22:03] tresf commented on #153
Closed via e5d2af7.  This patch will be available in 2.0.3-stable release.

[2017-02-15 22:03] #153 closed

[2017-02-16 04:25] klabarge commented on #51
The feature is ready for 2.1 and is [documented here](https://github.com/qzind/tray/wiki/2.1-Headless-Deployment).

[2017-02-16 04:33] #51 closed

[2017-02-19 03:40] tresf opened #167 "getNetworkInfo Allow override of hostname"
[`getNetworkInfo()`](https://qz.io/api/qz.websocket#.getNetworkInfo) should accept a parameter which allows the `hostname` and optionally `port` to be provided for determining the primary adapter.

If [`google.com` is not resolvable](https://github.com/qzind/tray/blob/2.0/src/qz/utils/NetworkUtilities.java#L36), the primary adapter can't be found.

[2017-02-20 15:35] #167 closed

[2017-02-20 17:28] tresf commented on #167
Tested, works.

1. Edit network adapter, disable DHCP, configure static IP, remove DNS server
2. Attempt to ping Google.com, validate it cannot resolve.
3. Run `sample.html` unmodified, validate `UNKNOWN` is returned.
4. Edit `sample.html`, override host/port (code below)
5. Restart QZ Tray, validate adapter and IP are properly returned.

[code]

[2017-02-22 14:26] shanly opened #168 "file io api to enable chip and pin hardware"
We have a a chip and pin device we integrate with by:

- writing a file to `c:\known-location\out.txt`
- then polling for results files `c:\known-location\in.txt`, `c:\known-location\receipt.txt`, `c:\known-location\customer-receipt.txt`
- we currently do this through FF plugins but this is quite hacky and something we would like to move away from

We are looking at adding an API extension to qz.i

[2017-02-22 15:02] pudyasto opened #169 "Installing and activate QZ-Tray in Elementary OS Loki"
Hey, I try to install QZ-Tray in Elementary OS 0.4 Loki. Installing was successful, but qz-tray cannot running. Can you help me how to solve this ?

[2017-02-22 16:48] tresf commented on #168
We support this now via https://qz.io/wiki/2.0-Raw-Printing#filesystem.

This would be custom and is a very dangerous request as it could lead to the leaking of private data (reading someone's documents, word, excel, etc).

What you're describing is more File IO from the description.  Can you explain what "chip and pin" hardware is exactly and what the recommended method is for interacting with th

[2017-02-22 19:02] shanly commented on #168
By chip and pin device I mean a credit card device where you swipe your card and enter pin to charge your card an amount.

The recommended integration is through a file interface where you write a file to a known location. This file is then picked up by the chip and pin software and a transaction initiated on the card swipe device. The result of this is then written back to a file.

The simplified

[2017-02-22 19:10] shanly commented on #168
Might help if I give full flow:

**Context**:

- A PC running our POS software in a browser
- Same PC running software that works with attached chip and pin card reader
- A boxoffice staff member
- A customer with a chip and pin credit card

** Steps**:

- Staff member adds tickets to order with input from customer
- Once order finalized the customer decides to pay the amount, 99euros, by card
- O

[2017-02-22 19:19] tresf commented on #168
@shanly are these files encrypted?  In the US, there are strict regulations against storing CC information on the PC, so any payment hardware we'd expect to utilize a proprietary, encrypted-over-the-wire API.

I've worked with some manufacturers using direct USB or using keyboard emulation however this is the first I've heard of a two-way flat file interface.  Can you share some information about

[2017-02-22 19:39] tresf commented on #169
Duplicate of https://github.com/qzind/tray/issues/60.

This feature won't ever make it to 2.0, so if you're ok with a beta, you can find one [here](https://github.com/tresf/tray/releases/tag/v2.1.0-dorkbox) or you can [compile 2.1 from source](https://qz.io/wiki/compiling).

[2017-02-22 19:39] #169 closed

[2017-02-22 19:42] shanly commented on #168
The files aren't encrypted because there is no credit card information in the files. Its just essentially an amount passed to the software on the PC which communicates securely with the chip and pin device and gives an answer back. At no stage do we actually see or pass card information - its a request for an amount and in essence success failure response.

The company behind this is one of the bi

[2017-02-22 19:59] tresf commented on #168
Perhaps obtaining the hardware is fastest then.  Is the hardware cloud-enabled and cloud-to-IoT encrypted and in turn only uses the filesystem for currency data (or a USB-to-middleware-to-cloud) tethering?

Also does the hardware have a free or very cheap developer API that would be adequate for our test lab?

The reason this information is important is because there are several players in this sp

[2017-02-23 07:01] Vzor- commented on #42
Ok, I'm on this one now. I'll see if I can get a test up using that docPrinterJob tomorrow. I will also do some reading on how we could do this with JNA if we decide to do so.

[2017-02-23 21:01] Vzor- commented on #42
Using `DocPrintJob` I only received `printDataTransferCompleted` and `printJobNoMoreEvents` events. According to the docs this is a limitation of the printing system, though windows is aware there was a problem. I am shelving these changes for now and will investigate them on ubuntu and macOS later.

With that I am going to be shifting to jna, [Windspool](https://github.com/java-native-access/jna/

[2017-02-24 13:32] dsanders11 commented on #42
@Vzor-, bummer. Shocking how incomplete the printer support for Java is.

[2017-02-24 13:58] tresf commented on #168
Microsoft recommends using `%ProgramData%` for locations which must be shared by all users.  `%APPDATA%\qz` is always available too, but that would rely on all services running in user-space and being able to expand wildcards.

For design purposes, we'll use `%ProgramData%/qz` for Windows however we will need to find a shared path for Linux and macOS as well.

[2017-02-24 18:25] Vzor- commented on #42
The good news is I have a working test with jna that successfully outputs a printer's status when asked (on windows), now I am making a status monitor so that you can listen for events.

[2017-02-25 00:36] klabarge opened #172 "Automatically start option missing in macOS"
QZ Tray 2.1.0

The "Automatically start" option is missing in the tray drop down on macOS.

![image](https://cloud.githubusercontent.com/assets/12505463/23326025/f8f8ed66-fac7-11e6-8834-36c2d2bd3e77.png)

This option appears in Windows
![image](https://cloud.githubusercontent.com/assets/12505463/23326082/74340196-fac8-11e6-9ce4-9c66b79e094e.png)

[2017-02-25 02:31] tresf commented on #172
Duplicate of https://github.com/dorkbox/SystemTray/issues/49#issuecomment-281670741.  Will be fixed when dorkbox is upgraded.

[2017-02-25 02:31] #172 closed

[2017-02-25 02:43] klabarge opened #173 "Landscape Orientation for PDF's"
**QZ Tray Version:** 2.0.3-RC4
**OS:** Windows 10

When I try to use `orientation: landscape` with PDF's, the PDF prints portrait.

This feature worked in the official 2.0.2 release.

[2017-02-25 02:56] klabarge commented on #173
This is also not working on Ubuntu.

This feature works on macOS.

[2017-02-25 17:14] Vzor- commented on #42
These are the logs I got while I was fixing a paper jam the occurred during testing.
[code]
Now I need to attach this code to the event stream.

[2017-02-26 03:38] tresf opened #174 "PrintRequestAttributeSet breaks page size macOS"
This is simply to track the upstream bug, since Oracle does not make it public information.  This is something broken with the JRE that we discovered and reported August 2016.  Logging it for historical purposes.  No action on our part can be done until the JVM is repaired.

Oracle SR ~~`SR #3-13242741891`~~, `SR #3-17231848201`.

STEPS
-----------------------
The issue can be reproduced at will w

[2017-02-26 03:38] tresf commented on #173
Since macOS uses a different technique for rotation (due to https://github.com/qzind/tray/issues/174) That make sense Mac isn't affected.

@klabarge can you please roll back to 3c9361d (`git reset --hard 3c9361d`) and see if it fixes it?  That's just before [`BookBundle.java`](https://github.com/qzind/tray/blob/2.0/src/qz/printer/BookBundle.java) was introduced.

[2017-02-26 05:50] tresf commented on #173
Confirmed, reverting to 3c9361d reverses the bug.  Now to find out why.... 😕

[2017-02-27 18:15] bberenz commented on #173
So even though we set the orientation under the attributes, the Book/Pageable does not seem to see it unless it is also set on the page format object as well.
Should be fixed under 667a6b12d0baeb3ac0a4701c714b4c20bc59d6cb

[2017-02-27 19:00] tresf commented on #173
@klabarge can you please confirm?  Updated RC installer available [here](https://github.com/tresf/tray/releases/tag/v2.0.3-RC5).

[2017-02-27 23:07] klabarge commented on #173
1. The PDF rotates now, but does not scale correctly, the bottom of the page is cut off. This happens on both Windows and Ubuntu
1. On Mac, setting `landscape` now only prints the right-half of the PDF, and does not change the orientation

⛔️ **Windows 2.0.3-RC5 using `landscape`**

![image](https://cloud.githubusercontent.com/assets/12505463/23384155/9b7372a4-fd17-11e6-9390-93d11c0be880.png)

⛔️

[2017-03-01 22:14] bberenz commented on #173
Going back to what we did on 2.0.1 (when using just `Book` object) seems to present expected behavior.
Ready to test again under cc089f467842181891f0ea45061becd73eea1306

[2017-03-01 22:21] tresf commented on #173
@klabarge can you please confirm? Updated RC6 installer available [here](https://github.com/tresf/tray/releases/tag/v2.0.3-RC6).

[2017-03-02 02:29] klabarge commented on #173
This patch passed on all OS's 👍

[2017-03-02 02:29] #173 closed

[2017-03-03 20:27] bberenz commented on #157
Available for 2.1 release under 73785a0451888965b80fa2706c28459f8c0bbc95
Includes support for both horizontal and vertical overflow on vector and raster HTML prints. And since raster HTML uses the image processor, it also includes overflow on large (unscaled) images. Horizontal overflow is seen by default on large images, but will only be seen on HTML prints (vector or raster) when the render widt

[2017-03-03 21:45] bberenz commented on #156
For number 2, it looks like the scale to page was not accounting for the adjusted web scale (96 vs 72), should be corrected under 4e9275e0ffaf203aed868d707094caec86ee2e69

As for number 1, I'm not entirely sure what you want done.

[2017-03-03 22:27] bberenz commented on #154
This looks like it is caused by the JVM running out of memory:
[code]

Just tried bumping up the max memory available to qz - maxes out around 4.5GB to successfully print an 8.5x200in page. (And around 3.5GB for a 8.5x72in)

[2017-03-04 02:03] tresf commented on #156
Saner defaults without breaking the sample page... Perhaps something like:

[code]

[2017-03-05 02:53] tresf commented on #139
The client confirms this was caused by a 32-bit JVM.  Closing as won't-fix as nearly all clients are capable of upgrading to a 64-bit JVM.

[2017-03-05 02:53] #139 closed

[2017-03-05 02:54] tresf commented on #154
Confirmed, I cannot reproduce the original description where `~256MB` utilized, on 64-bit JVM mine consumes as much memory as needed and succeeds.  Closing, marking duplicate of #27, 72, #139.

[2017-03-05 02:54] #154 closed

[2017-03-05 02:58] tresf commented on #50
Headless support has been added via #50, so this issue is fixed.

Since this is an Oracle problem, we cannot officially support HTML on Raspberry Pi.  If someone has a chance to try the ARM SDK from [gulonhq](http://gluonhq.com/download/javafx-embedded-sdk/), please post your results.  Closing as resolved.

[2017-03-05 02:58] #50 closed

[2017-03-06 01:17] klabarge commented on #157
There seems to be "extra" blank pages used in macOS. After a page is printed with content, a blank page follows. On Windows, printing the exact same HTML page, only 3 pages are printed.

1. Content
1. Blank Page
1. Content
1. Blank Page
1. Content
1. Blank Page

**macOS stacktrace, 6 pages printed**
[code]

**Windows stacktrace, 3 pages printed**
[code]

[2017-03-10 16:43] tresf opened #180 "HTTPS Broken on Firefox ESR"
Secure websocket connections fail when using Windows XP + Firefox ESR (Extended Support Release).

The bug is in the assumption that the [Registry Key is named `Mozilla Firefox`](https://github.com/qzind/tray/blob/2.0/ant/windows/windows-keygen.js.in#L336).

The installer must also look for `Mozilla Firefox ESR`.

[2017-03-10 17:33] #180 closed

[2017-03-21 18:14] tresf opened #181 "Get connection host/port"
We can specify a host using `qz.websocket.connect( { host: '192.168.1.71' })` but we offer no way to retrieve the connection values back such as `host` and `port`.

[2017-03-21 18:17] dsanders11 commented on #42
@Vzor-, is there any update here with the implementation progress?

[2017-03-21 18:19] tresf opened #182 "Allow fast failure of websocket connection"
In a controlled environment, the additional time added while the WebSocket attempts alternative ports and hosts may be time better spent alerting the user right away with a fast failure so that the user can start to fix the connection problem by starting/installing QZ Tray, etc.  Otherwise, the fallback logic can run for up to 20 seconds before failing.

This feature request is to allow a fast-fai

[2017-03-21 18:34] tresf commented on #42
@dsanders11 Windows is working fairly well on his branch.  CUPS hacking is happening as we speak.

[2017-03-21 18:56] dsanders11 commented on #42
Is that branch (could you point me to it?) stable enough to test out? I'm going to have a use case where I need this functionality in the next few days here, so it'd be great if it was stable enough to play with.

[2017-03-21 19:23] tresf commented on #42
@dsanders11 I just remembered, I cloned over a snapshot.

https://github.com/qzind/tray/compare/2.1...printer-status

It doesn't seem to crash the JVM, so I'd say yes, it's stable enough for testing out, especially if you're already on 2.1.  I believe 78e9581 and 71bd52b are the only relevant commits.

@Vzor- reminder, I squashed and refactored.  Make sure CUPS work is rebased on top of `printer-s

[2017-03-22 23:58] dsanders11 commented on #50
@tresf, FYI, it might be nice to add Raspberry Pi instructions to the wiki for 'Configure Raw Printer'. I found that it's pretty much the same as the OS X instructions (CUPS) and not like the Ubuntu Linux instructions when using Raspbian.

[2017-03-24 02:14] giolazzareschi opened #183 "QZ not working over WSS using IP machine"
Hi!

I'm facing a strange issue and any help will be apreciated.

I've been using qz (the paid one) to work with my clients using one pc as "server" and other pc's on network just pont to its IP to make print happens. Ok this always worked fine with ws protocol but in last days I just implemented https on my website and the prints just stopped. Well, searching for an answer I've found this:

[Remo

[2017-03-24 02:19] tresf commented on #183
HTTPS is very picky as the SSL cert must match the IP or domain it's being accessed on, which forces cert distribution, which generally frowned upon.

We have a dedicated tutorial for this here:

https://qz.io/wiki/print-server#remove-localhost-bindings

If you own an SSL cert that's already trusted, you can fire up QZ Tray with that instead.  We don't have a formal tutorial for this, but we've do

[2017-03-24 03:22] giolazzareschi commented on #183
Hi Thanks!

Well, i tryied both ways, no one finished working.

Here the results:

1. Generating certificate from qz -- (C:\Program Files\QZ Tray>cscript auth\windows-keygen.js . install "192.168.0.11")

![image](https://cloud.githubusercontent.com/assets/4623190/24279242/63fd2568-1027-11e7-995c-607225bf7cfd.png)

Although I installed the generated certificates the qz stills not connects properly.

[2017-03-24 04:32] giolazzareschi commented on #183
Well I managed to install the certificate but qz strll not permit connection via wss

![image](https://cloud.githubusercontent.com/assets/4623190/24280729/abba309e-1031-11e7-9862-905f3dacfab3.png)

Well, if someone could help it will be apreciated.

[2017-03-24 17:46] tresf opened #184 "Subject Alternate Name breaks non-localhost bindings"
Since 645d22e, `localhost` can no longer be overridden when configuring a [print server](https://qz.io/wiki/print-server).

Supersedes #183

[2017-03-24 17:59] #184 closed

[2017-03-24 18:00] tresf commented on #183
Closed via f8d74d7.  This fix will be available in the next patch release: 2.0.4

[2017-03-24 18:00] #183 closed

[2017-04-03 13:26] dsanders11 opened #185 "allowedFromDialog Slow/Not Thread-safe"
The current implementation of thread-safety in `allowedFromDialog` is not a good one. When using QZ Tray for webcam control on my own branches I found responses were very slow when sending several requests in a rapid fire manner. I determined this was due to the 1 second sleep time in `allowedFromDialog` if the dialog is already "open" (quotes because with a trusted cert there is no visible dialog

[2017-04-03 14:23] tresf commented on #185
@dsanders11 thanks!  Closed via https://github.com/qzind/tray/commit/75054c6a4d2345b63dfbd05f916d9865f072f08d.

[2017-04-03 14:23] #185 closed

[2017-04-03 14:38] dsanders11 commented on #185
@tresf, I still think the silently ignoring `InterruptedException` is a bad idea, as it means the thread will continue to the dialog even if the thread is supposed to be being interrupted. However, I don't think this is a change from the previous behavior which swallowed any exception while it was sleeping.

There's also likely several other places in the code that should be reviewed for thread-sa

[2017-04-03 14:43] tresf commented on #185
@dsanders11, thanks.  @bberenz actually said the same thing.  We're going to return false in that case.

In regards to other unsafe areas, we should track them in a new issue.

[2017-04-03 21:32] tresf opened #186 "Allow lazy loading of sha256"
Currently we require a strict import order, `sha-256` must come BEFORE `qz-tray` since we [configure `hash` property to `Sha256` in the constructor](https://github.com/qzind/tray/blob/2.0/js/qz-tray.js#L459).

Since initialization doesn't require sha256, we should be safe checking for it slightly later, such as through a `getter`.

This would allow the import of `qz-tray.js` to come before `sha-25

[2017-04-07 22:14] dsanders11 commented on #148
@tresf, FYI, I've abandoned this in favor of using DirectShow to control webcams (Windows only). Using `libuvc` proved to be unstable because it needed to open the USB device to do its thing. This worked in basic testing, but in actual use trying to use `libuvc` while a browser was showing the video stream caused problems - feed would go dark, controls acted buggy, etc.

It's not clear if these pr

[2017-04-09 21:25] klabarge opened #187 "NullPointerException with PDF Printing"
When using Print PDF, a `NullPointerException` is thrown.

**OS:** macOS and Windows 10 (Linux untested)
**Tray Version:** Latest branch. This is not reproducible with the stable release

[code]

[2017-04-10 12:16] sbs-callum opened #188 "QZ-Tray is failing to render PDF documents on Windows 10."
Edit: Whoops this was meant for our internal issue tracker, sorry about that.

As of QZ-Tray 2.0.3 there appears to be an issue with rendering and printing PDF documents on Windows 10 machines. It may or may not be related to passing the PDF as a base64 encoded string.

[2017-04-10 13:25] tresf commented on #188
Can you please provide a reproducible code snippet?  Also, you state Windows 10 and QZ Tray 2.0.3.  Does reverting to QZ Tray 2.0.2 remedy this problem?

[2017-04-10 13:44] sbs-callum commented on #188
The issue was indeed present within 2.0.2. I am working on getting you a code snippet now. I will come back to you when my test order has been through the necessary stages to produce this.

I will also verify that the print code output by our windows 10 machines matches that which is output by our windows 7 machines.

[2017-04-11 02:28] klabarge commented on #174
Oracle has provided us with a patched JDK for testing. With their patch, we are unable to reproduce this issue.

Oracle said that this fix will be publicly released in JDK 8u152

[2017-04-11 03:06] klabarge commented on #174
Below is the Java version information from Oracle's fixed build, as @tresf mentioned that logic will need to be added to check for the Java version. Note that this fix is scheduled to be released in JDK 8u152

[code]

[2017-04-13 02:29] klabarge opened #189 "Size/density calculation with mm"
If the `density` is not specified when using `units: 'mm'`, HTML printing does not work on macOS. The `size` or `density` is incorrectly calculated. This is only reproducible on macOS

The log indicates that these dimensions are set:
* Width: 172719 MM (6799 IN)
* Height: 52069 MM (2049 IN)

### Environment
**macOS:** 10.12.4 (16E195)
**QZ Tray:** Reprocuded on 2.02 and 2.03

### Steps

1.  Go to

[2017-04-13 17:16] dsanders11 commented on #42
@tresf, I've tried out the `printer-status` branch and haven't had any success getting events. The setup is a Windows 7 machine and the printer is a Zebra printer connected via USB.

After listening for events I've tried removing the paper entirely from the printer, and the printer switched from a green light to a red light indicating a problem, but no events were reported via the QZ Tray sample p

[2017-04-14 05:31] tresf commented on #42
@dsanders11 are you using a raw driver or the ZDesigner driver?  I would expect the most information to come across with the ZDesigner, which fortunately is compatible with both raw and pixel features.

@klabarge has a Zebra he can test this out on as well.  I'll ask him if he's able to trigger any events using Zebra hardware.

In the meantime, I'll ping @Vzor- to fix the bitwise operators for pro

[2017-04-15 00:49] Vzor- commented on #42
On it.

[2017-04-17 18:42] tresf commented on #174
Currently looking for a `SemVer` parsing library as the one we've written for the 2.1 branch in it's current state is inadequate for backporting.

I found a very nice candidate, but it seems to break on Oracle versioning.  Replacing the `_` underscore with a `.` period does not seem to fix it either.

https://github.com/zafarkhaja/jsemver/issues/37

[2017-04-18 02:15] tresf commented on #189
@bberenz I think we have a bug with fallback density.  E.g. setting 600 never converts from `dpi` to `dpmm` making the zoom explode.

https://github.com/qzind/tray/blob/2.0/src/qz/printer/PrintOptions.java#L211-L221

[2017-04-18 02:29] tresf commented on #187
I believe this was introduced with https://github.com/qzind/tray/commit/76abb698faa7ae382ebda60c735afc2386e5b6fb.

@klabarge does this still occur if you specify an orientation?

[2017-04-18 02:36] tresf commented on #60
Per https://github.com/dorkbox/SystemTray/issues/45#issuecomment-283703561, there should be a release soon that addresses the outstanding issues.  I will ping the upstream author to see how soon this will be possible.

[2017-04-18 18:36] bberenz commented on #187
Issue does occur on default orientation only, my fault, fixed in 1641e554b4cf2afbafeda1e983ad00abd044637c

[2017-04-18 19:26] bberenz commented on #189
Should be fixed under f488bd3a37ac07f30ea3240cfcc4fbfdf954bac0

We had explicitly defaulted the javascript density fallback to 600 (assuming dpi), but this value was meant to be in relation to the selected units, so when dpmm was chosen and we had to use the fallback, we assumed the user purposely meant 600dpmm. I've set it to null by default so that users will have to set it in the config themsel

[2017-04-18 19:35] tresf commented on #189
Thanks @bberenz.

@klabarge can you unit test this against stable and confirm inches and mm are the same.  Please look at the logs for confirmation.

[2017-04-18 19:37] tresf commented on #188
@sbs-callum friendly bump to get the unit test for us to reproduce.

[2017-04-18 19:38] tresf commented on #187
Straight forward enough, no unit testing needed. 👍 Closing.

[2017-04-18 19:38] #187 closed

[2017-04-24 12:50] wellington1993 commented on #142
@tresf Thanks! Good tip.

[2017-04-25 04:40] alethea opened #191 "Support signature hashes other than SHA1"
Given that [SHA1 collisions](https://shattered.it/) have been discovered it would be nice to be able to allow the server implementing the signing function to use a stronger hash function.

[2017-04-25 05:01] tresf commented on #191
Agreed however rest assured that our messages are only valid for 15 minutes and a supercomputer capable of creating a valid SHA1 collision takes [6,610 single-CPU years and 110 single-GPU years](https://shattered.io/) and our messages are clear-text, so an attacker planning a collision would not only have to have a super computer, but also the message would have to be constructed as a huge padded

[2017-04-25 06:29] alethea commented on #191
Yeah, agreed, just figured it was worth putting in the radar. I only discovers this by typing SHA256 out of muscle memory. 😂

[2017-04-25 20:09] tresf opened #192 "subjectAltName broken for Print Servers"
When following the Remove Localhost Bindings portion of the [Print Server wiki](https://qz.io/wiki/print-server#remove-localhost-bindings), self-signed certificates are missing the `subjectAltName` flag which breaks SSL pages in Chrome.

Although `subjectAltName` flag is added to `locahost` for loopback connections, it's stripped from the print-server certificate and secure websocket connects fail

[2017-04-25 20:14] #192 closed

[2017-04-25 20:39] tresf commented on #192
This will be patched in 2.0.4.  For an early release, you may download a patched installer [here](https://github.com/tresf/tray/releases/tag/v2.0.3-3).

[2017-04-26 00:40] klabarge commented on #189
This does work, however the DPI that is set for `mm` is 609.6, resulting in a slightly larger image. Is this acceptable?

#### Units in MM
[code]

#### Units in IN

[code]

#### Units in MM and `density: 23.622`
[code]

[2017-04-26 01:03] tresf commented on #189
@klabarge thanks for testing.

The documentation for [`PrinterResolution` (`ResolutionSyntax`)](https://docs.oracle.com/javase/7/docs/api/javax/print/attribute/ResolutionSyntax.html) suggests this is a bad candidate due to rounding problems.

I'll defer to @bberenz for a proper technique.

[2017-04-27 19:37] bberenz commented on #157
@klabarge, what is your default printer (and settings) on the osx machine?

[TRACE] 2017-03-05 19:55:38,313 @ qz.printer.action.WebApp:?
	Waiting on print..
[TRACE] 2017-03-05 19:55:38,313 @ qz.printer.action.WebApp:?
	Setting starting **size 816.0**:0.0

From the logs, it looks like it is using an 8.5in width (816px) to render on a 8.3in (793px) width paper, resulting in the extra pages. But I ca

[2017-04-27 20:29] tresf commented on #157
@bberenz shot in the dark, but is there a chance this is an unobvious duplicate of #174?

[2017-04-27 20:30] bberenz commented on #182
Request looks to already be possible, just needed documented.
Verify with f67b79c1fd425fcefa7830a5312fb5a789adf307

[2017-04-27 20:37] bberenz commented on #157
@tresf, possible, but doubtful. It appears the print used all defaults (no attributes set), and the the paper size wasn't overridden, so A4 should have been the printer default anyway.

[2017-04-27 20:43] tresf commented on #182
API page has been refreshed: https://qz.io/api/qz.websocket#.connect

[2017-04-27 22:07] klabarge commented on #157
My default printer is PDFwriter.

* **Printers and Scanners Settings:** show that the Default Paper Size is US Letter
* **CUPS:** shows the default page size as A4

After I changed the CUPS default to US Letter, 3 pages were correctly printed. I then tested the various combinations. The only combination that did not print correctly, was when CUPS was set to A4, and the System Settings were set to

[2017-04-28 01:25] klabarge commented on #182
This syntax allows me to succesfully connect to port 8182:

[code]

When I use the below, it fails. Why won't it explicitly connect to 8283 (and the rest of the insecure ports)?

[code]
![screen shot 2017-04-27 at 9 23 21 pm](https://cloud.githubusercontent.com/assets/12505463/25510652/cab301d2-2b8f-11e7-9075-f8528187165a.png)

[2017-04-28 01:29] tresf commented on #182
Those are fallback ports so they're​very seldom used.  You can close QZ Tray, start a temp socket listener using e.g. Python on 8182 and then relaunch QZ Tray and the fallback ports will be available.  We only fallback in Java when the ports are used up.  JavaScript doesn't know any better and tries them all, hence the feature request.

[2017-04-28 01:30] tresf commented on #182
@klabarge a quick way to force QZ Tray to start on 8283...

1. Stop QZ Tray
2. `python -m SimpleHTTPServer 8182`
3. Start QZ Tray

[2017-04-28 15:33] tresf commented on #182
So I tested the above scenario and it passes, however, in it's current state one should **always** supply both `secure` and `insecure` ports when being used.
* If both `secure` and `insecure` aren't overridden, the fast-fail won't happen when the site's being accessed by the opposite-specified protocol.
* Secondly, wiping out the insecure ports alone doesn't force the software to use secure ports

[2017-04-28 21:13] bberenz commented on #181
Implemented under c1a37931340caa409c016dcb53dddb50bfdde577

[2017-04-29 00:32] tresf commented on #182
Closed via consolidated commit bdf4c57.

[2017-04-29 00:32] #182 closed

[2017-04-29 00:37] tresf commented on #181
[code]

Returns:
[code]

Closed via consolidated commit cb3b494.

[2017-04-29 00:37] #181 closed

[2017-04-29 01:41] tresf commented on #188
@sbs-callum without steps to reproduce, we cannot work on this issue.  Please kindly post a steps to reproduce when you have then and we'll confirm and reopen.

[2017-04-29 01:41] #188 closed

[2017-05-01 17:04] bberenz commented on #186
Implemented in e4ce6008aa40632605c0af31f2d774651c5fd9ef
Wrapped in a function, so it doesn't have to exist at load for assignment (like we do for promises)

[2017-05-01 17:42] tresf commented on #186
Closing as fixed.  We'll report any issues with 2.0.4 as they arise.

[2017-05-01 18:06] #186 closed

[2017-05-01 21:25] bberenz commented on #189
4b6fb90a7519c92ede36a57741c8f55e89abff4a should clear this up
We are just going to bypass PrinterResolution class's conversion methods so as to avoid their integer down-casting.

[2017-05-01 22:06] bberenz commented on #157
It looks like javaFX uses the settings under CUPS then, while Swing uses System settings.
We set the default html page width from Swing to Letter (8.5in), the vector print runs and sets page size from JavaFX to A4 (8.3in) and it thinks it has to split the width across multiple pages.

To confirm, @klabarge, when you print images or pdfs, it defaults to the System page settings and ignores CUPS's p

[2017-05-02 02:48] klabarge commented on #189
Yes, this patch works. I tested `mm` and the DPI is correctly set to 600.

[code]

[2017-05-02 02:48] #189 closed

[2017-05-02 04:24] tresf commented on #157
Kyle was having trouble reproducing his problem so I decided to try on my machine... I have a problem...

Using `sample.html`, when I set **Render Width:** `8.27`, the following occurs in the logs...

* First, the printer is set up to use A4 in both System Preferences as well as CUPS yet the logs show something about 8.5x11.  In regards to the System Prefs/CUPS I'm not sure if I set these a while

[2017-05-02 04:43] bberenz commented on #157
Can you try setting a render height as well? It looks like the sample page might not be using the right default if only one render dimension is used.

[2017-05-02 04:57] tresf commented on #157
Sure, [here's the output using 8.27 x 11.69](https://cloud.githubusercontent.com/assets/6345473/25604522/e4b444a2-2ed1-11e7-9f78-cec2cc7cebd5.png).  Here are the [`sample.html` options](https://cloud.githubusercontent.com/assets/6345473/25604556/3c170248-2ed2-11e7-97e7-ef55e8ad0a8b.png).

[code]

[2017-05-04 00:34] klabarge opened #193 "HTML + printer driver sizing"
There may be a bug with HTML sizing/scaling when the paper size set at the driver is not typical (US Letter, A4, etc). This was discovered on a Dymo label printer, but was reproducible with a PDF printer.
 * Note: the `2.25 x 4.00in` is a label size that was installed with the Dymo driver.

**Steps to Reproduce**
1. Print HTML ([sample HTML table](https://gist.github.com/klabarge/cff6760376c9904c4

[2017-05-04 01:23] Jetxiaoli opened #194 "#165 still exist"
after run npm install qz-tray. the below issue still exist.
file: node_modules.2.0.3@qz-tray\qz-tray.js
line 18: z
cause " ReferenceError: z is not defined"

[2017-05-04 03:43] tresf commented on #194
@Jetxiaoli no, it's not.  Perhaps you have an outdated package or you installed something globally `-g` so it's failing to update locally, but `2.0.3-1` has this issue fixed.

[2017-05-04 03:43] #194 closed

[2017-05-10 08:29] Jetxiaoli opened #195 "Unsigned Request"
Hi,
when I use the key in the demo in localhost, it shows I can connect with qz, when connect with printers, it shows untrusted website: UNSIGNED REQUEST

[2017-05-10 15:59] klabarge commented on #195
All messages need to be signed to suppress the warning dialogues. The demo page (sample.html) ships with a trusted Intermediate Certificate for connection, but no private key to sign messages with.

The below wiki outlines this in detail:

https://qz.io/wiki/2.0-signing-messages

If you require assistance with this setup, please reach out through the official support channel.

[2017-05-10 15:59] #195 closed

[2017-05-11 02:23] tresf commented on #157
@bberenz recommends:

It looks like this might be where the disparity between swing & javafx comes from

Will test and report back.

[2017-05-11 21:28] bberenz commented on #193
So this is actually working as it should, just not how you are expecting.

In the first print the html page size is actually set to the printer default (at that point *Letter*, 8.5x11). This allows the entire table to be captured in the web snapshot, and then it is scaled down to the specified 2.25x4.00 page size.
Per your logs: "Setting HTML page width to 6800" => `8.5[paper width] * 96[web dpi]

[2017-05-11 21:40] tresf commented on #193
So the dimensions are backwards?  I'm not sure what the proposal here is...

[2017-05-12 00:25] tresf commented on #193
Or is this a job for a CSS rotation hack?

[2017-05-12 01:49] klabarge opened #196 "PDFCreator + Landscape"
I have not been able to reproduce this with other printers (PDFwriter for Mac, Microsoft Print to PDF) than PDFCreator, but since this is what we use for baseline testing, I thought it was worth writing.

Note: I've used PDF printing as an example, but this is observed using HTML, PDF, and Image printing.

As of 2.0.4-RC.1, when printing landscape using PDFCreator (Windows), the file is changed (w

[2017-05-12 02:07] tresf commented on #196
@klabarge sorry, this is a feature.  Somewhat explained here:  https://github.com/qzind/tray/commit/e8d48217d497157d42e2e99c513b283d38630ce3, https://github.com/qzind/tray/commit/76abb698faa7ae382ebda60c735afc2386e5b6fb

Somewhat hinted here https://github.com/qzind/tray/issues/158#issue-203290534

I believe most of this happened in a private conversation with Brett and skipped the tracker.

[2017-05-12 02:12] tresf commented on #196
... on second thought.... maybe this is a bug.  So the printer driver sees the content exactly 90 degrees of what would be a perfect fit and spins it on us.  That certainly sounds like a bug, but it may actually be a bug with the printer driver.

@lite1979 can you test on a physical printer and post your output?

[2017-05-12 14:02] lite1979 commented on #193
![img_20170502_171400756](https://cloud.githubusercontent.com/assets/3408749/26001339/08ae8860-36fa-11e7-9e92-a8a72ad7ff60.jpg)

[2017-05-12 14:41] lite1979 commented on #196
Something is definitely fishy here. Portrait (default) PDF printed perfectly on my Brother HL-L2380DW, but landscape PDF resulted in a blank page...

![screenshot 7](https://cloud.githubusercontent.com/assets/3408749/26003049/99193ae4-36ff-11e7-9c29-1589c7856b60.png)

[2017-05-12 15:19] bberenz commented on #193
Not really, and even if we do that, the default web width used will be 384 pixels, so only about half of the table would show up. (it needs a web width of at least 654 pixels to fit). And once more, any scaling for the vertical dimension would create a large whitespace on the right side of the label.

The way 2.0 is set up to deal with this is to define `pageWidth` and `pageHeight` in the data opt

[2017-05-12 15:55] lite1979 commented on #193
Using the pageWidth and pageHeight definitions, the content still gets cut off.

If I use pageWidth: 4 and pageHeight: 2.25, I only get six of the columns to print. The 'left' edge of the html gets cut off, too.

If I use pageWidth: 6 and pageHeight: 2.25, I get all seven columns, but I still have to add a margin to the 'bottom' of the job to get the 'left (bottom)' edge to print on the label.
![i

[2017-05-12 16:23] bberenz commented on #193
Yes, 4in => 384 pixels for the webpage. Using your table, the minimum width to fit is 454 pixels (~4.75in), leading to the cut off at 4in. And then it expands to fill the 6in (576pixel) width, so that one is a full capture.

Keep in mind `pageWidth`/`pageHeight` are _not_ meant to be the printer paper dimension, but the dimensions of the web page _capture_. It will then get scaled to the printer p

[2017-05-12 16:49] bberenz commented on #196
It looks like this is just how it reports a rotated page:

![same](https://cloud.githubusercontent.com/assets/5912715/26007769/f1049838-370f-11e7-8cf2-b62672c1262c.png)

This is the same document/settings printed with two different drivers. And after e8d48217d497157d42e2e99c513b283d38630ce3 we are expecting most pdf drivers to preview how pdfcreator does.
We don't flip dimensions anywhere either,

[2017-05-12 19:51] lite1979 commented on #196
Not sure if this is long enough to constitute a gist or pastebin, but here you are:

[DEBUG] 2017-05-12 15:49:38,880 @ qz.printer.PrintServiceMatcher:?
        Searching for PrintService matching bro
[DEBUG] 2017-05-12 15:49:38,936 @ qz.printer.PrintServiceMatcher:?
        Found 9 printers
[DEBUG] 2017-05-12 15:49:38,937 @ qz.printer.PrintServiceMatcher:?
        Found match: Brother HL-L2380DW s

[2017-05-13 14:08] lite1979 commented on #196
Removing 32-bit Java from the machine and installing 64-bit Java from the off-line installer has given me a successful landscape PDF print.

[2017-05-15 21:00] bberenz commented on #158
Rotated PDFs should now keep their dimensions when printed with `default` orientation under 61a2f1b9757c6aa8bc2725c645f86c0a43f163bf .

[2017-05-16 02:10] klabarge commented on #158
Successful testing under macOS. I printed an 11 x 8.5in PDF with default values.

![image](https://cloud.githubusercontent.com/assets/12505463/26086607/b46306e2-39b9-11e7-8d04-afe7dd6112c5.png)

[2017-05-16 02:12] tresf commented on #158
Closed via 61a2f1b.

[2017-05-16 17:11] klabarge commented on #196
I tested `landscape` printing to a physical printer. It appears that 2.0.4-RC.1 prints landscape in reverse.

![image](https://cloud.githubusercontent.com/assets/12505463/26118640/a8b3eef4-3a38-11e7-89a3-ffa9bb460b13.png)

[2017-05-16 18:24] tresf commented on #196
@klabarge, thanks.  Reminds me somewhat of this unanswered question: http://stackoverflow.com/questions/42478745/is-landscape-90-or-270-degrees

Does REVERSE LANDSCAPE and non-PDF content (images, HTML) behave the same now?

@bberenz can confirm but the major difference is we're setting a property in the document that helps the driver understand text direction and that seems to be having some inte

[2017-05-16 20:02] bberenz commented on #196
The only changes to PDF printing from the 2.0.3 release currently appear to be 76abb698faa7ae382ebda60c735afc2386e5b6fb (text direction) and 61a2f1b9757c6aa8bc2725c645f86c0a43f163bf ('auto' rotation). Auto rotation shouldn't have an effect on the page if you are explicitly setting the orientation though.

Not exactly a property though, we are just drawing a space-character on the actual document.

[2017-05-17 03:31] klabarge opened #197 "landscape/reverse-landscape broken on macOS"
**OS:** macOS 10.12.4
**QZ Tray:** 2.0.4-RC.1
**Browser:** Tested on Chrome and Safari

On macOS, `orientation: landscape` and `orientation: reverse-landscape`, images are rotated the same amount.

**UPDATE:** I believe the HTML and Image printing issue is separate.

**landscape stack trace**
[code]

**reverse-landscape stack trace**
[code]

[2017-05-22 16:59] bberenz commented on #161
Drafted into the API via d234a385ea6422d881c76b571cc4094dbc98fbe0

The print method now has an altered signature to allow for 4 overloaded versions:

    print(configs, data);
    print(configs, data, signatures, signingTimestamps);
    print(configs, data, resumeOnError);
    print(configs, data, resumeOnError, signatures, signingTimestamps);

`configs`, `signatures`, and `signingTimestamps` can

[2017-05-26 05:39] tresf commented on #161
@klabarge can you please test this feature out so that we can close the bug report?

The most important feature is to verify that our promise loop example works exactly the same as the new API feature. The new API feature allows the `configs` to be an array.  The rest is done internally to make sure the correct jobs make it to the respective printers.  If you send 2 `configs` and 1 `data`, both pr

[2017-05-28 00:48] Vzor- commented on #42
Ok we are very close to having this working for both windows and linux (and maybe mac too though it needs testing)

@klabarge I have a jar at https://github.com/Vzor-/cupstool/blob/master/cupstool.jar I need some real world examples of what printer statuses look like. Could you run that on linux/mac for me and hit option 4 on some real hardware?

I'm interested in how the printer reports errors, a

[2017-05-28 01:05] klabarge commented on #42
I'll be able to test against physical hardware early next week.

[2017-05-28 01:07] Vzor- commented on #42
Sounds great

[2017-06-01 02:51] klabarge commented on #42
So far, the status returned  by the `cupstool.jar` correctly matches the printer status in CUPS. I have only tested to a Zebra LP 28244 printer, and I have been unable to get CUPS to report that this printer is out of paper.

The CUPS status is slightly different between macOS and Ubuntu 16.04 (could be different CUPS versions), but so far the utility correctly reports the status

I will test agai

[2017-06-01 03:16] Vzor- commented on #42
@klabarge  This is great, thanks a lot. Though could I get one of the printer idle and in a working state?

[2017-06-01 03:54] klabarge commented on #42
@Vzor- I updated my original comment to add printer ready/idle information

[2017-06-01 04:09] Vzor- commented on #42
Awesome, thanks a lot.

[2017-06-06 13:21] tresf commented on #196
@bberenz is there a chance we simply need to adjust the way we draw this space character to match orientation?

[2017-06-06 14:47] tresf commented on #197
I have a suspicion this is related to https://github.com/qzind/tray/issues/196.

[2017-06-07 03:39] lite1979 commented on #42
I tested a Brother HL-L2380DW printer without paper in Ubuntu 16.04. The cupstool was able to report a `media-needed-error`

[code]

Note that I could not find the `media-needed-error` message in CUPS (localhost:631), however, it appeared under Printers > Properties > Ink/Toner Levels

[2017-06-07 09:58] dsanders11 opened #198 "PDF CropBox Support"
It would be great to have the ability to pass a cropbox when printing PDFs. [Apache PDFBox supports it](https://pdfbox.apache.org/docs/2.0.2/javadocs/org/apache/pdfbox/pdmodel/PDPage.html#setCropBox(org.apache.pdfbox.pdmodel.common.PDRectangle)). Here's a [StackOverflow post](https://stackoverflow.com/a/20724647) discussing implementation. It looks like it would fit into the QZ source code [somewh

[2017-06-07 15:13] tresf commented on #198
@dsanders11 this sounds like an interesting feature.  Question... I was under the impression that all of the shipping providers had an API that could fetch labels in various formats.  Is this exempt because it's not an actual shipping label?

Secondly, if you have the number from the barcode and the barcode (e.g. i2of5) format, this could be generated through a server-side or client-side language

[2017-06-07 15:58] dsanders11 commented on #198
We use EasyPost to generate shipping labels, and [they have no format selection for creating SCAN forms](https://www.easypost.com/docs/api/java.html#scan-form-create-codesample) so it's only PDF.

I was imagining static values, yea. Something like:

`cropbox: {x: 3, y: 4, width: 3, height: 2}`

This is a really good idea. It's Code 128, which means it's fairly trivial to write ZPL to render it dir

[2017-06-11 03:06] Vzor- commented on #42
@lite1979 @klabarge  Could you give me the name of the ubuntu driver you are using? To find out, in your browser go to http://localhost:631/printers and click the printer you were using. It will say the driver name right on the header of that page.

[2017-06-11 18:32] dsanders11 commented on #198
@tresf, I think the idea of generating the barcode separately is a great one, and I've got a request in with the provider to add that one little detail to their API (USPS provides it, thankfully), but the ETA is 'a couple months' which from experience is anywhere from 1-6 months.

So, long-term that's a better solution, but in the interim I need something else, so crop box for PDF still seems the

[2017-06-12 13:24] edsonpa commented on #173
Hello Guys, I encounter the same problem, how can I come up with this solution.

[2017-06-12 13:43] tresf commented on #173
This issue was closed as fixed.  If you are compiling from source I would recommend doing a tag checkout of `v2.0.3` until we've completed the release of 2.0.4.

[2017-06-12 13:50] edsonpa commented on #173
Actually I'm using the executable available for download, in version 2.0.3

We have the whole program developed and in the homologation part we are faced with this problem.

I need to sort this out to buy your support and generate the necessary certificates.

But this deadlock is delaying everything, please is there not something like the one that was done in the above solution?

[2017-06-12 16:59] tresf commented on #173
@edsonpa you can try our latest release-candidate here: https://github.com/klabarge/tray/releases/tag/v2.0.4-RC.1

[2017-06-12 17:15] edsonpa commented on #173
Unfortunately it did not work.
We notice that the printing area has 270 mm already discounting 0.5 mm in the initial edge.
The cut occurs 20 mm from the end edge.
So I came to the conclusion that there is a size limit for the 300mm x 216mm landscape format, if that exists where I can change this in the source code to create a version that suits us for this dimension.

[2017-06-12 17:33] bberenz commented on #173
@edsonpa, this issue is about landscape oriented documents printing with a portrait orientation. What you describe sounds like an issue with content being cut off. You may be better off opening a new issue and thoroughly describing the issue you are seeing. (configurations, expected/actual results, etc)

Also, we don't limit sizing anywhere in our code. so it sounds like you may need to make use o

[2017-06-12 21:23] edsonpa commented on #173
Thanks for the answer but that's not it, we did the tests on more than one operating system on more than one physical printer is the error is the same, we created documents on other platforms in both guidelines.
The printout is cut about 20 mm at the bottom of the page.
As I mentioned the error that occurs is the same as described here (Landscape Orientation for PDF's # 173

The situation is the s

[2017-06-12 21:51] klabarge commented on #173
@edsonpa

I still believe your issue is different. This issue is stating that a document printed `portrait` and `landscape` result in the same print.

You are using a custom page size of `300mm x 216mm`. You would need to specify (in your code) to use `orientation: landscape` as opposed to flipping the dimensions of your PDF.

I am going to reply to your google groups post with more information.

[2017-06-12 22:18] edsonpa commented on #173
thank you

[2017-06-13 02:33] klabarge commented on #42
@bberenz I tried two different drivers/ configurations for the HP LaserJet, and one driver for the Zebra

## HP Laserjet P4515
![screen shot 2017-06-12 at 10 28 56 pm](https://user-images.githubusercontent.com/12505463/27063272-a9c736de-4fbe-11e7-8e61-9c12b7445f82.png)

![screen shot 2017-06-12 at 10 28 42 pm](https://user-images.githubusercontent.com/12505463/27063273-a9ca477a-4fbe-11e7-8573-ea71

[2017-06-13 03:42] klabarge commented on #42
Sorry, meant to tag @Vzor-

[2017-06-14 03:21] tresf commented on #161
@klabarge bump.

[2017-06-14 18:15] ljacobs-sml commented on #157
Is this resolved in the 2.1 branch?

- I just cloned tray
- ran git pull origin 2.1
- I copied the new 2.1 assets/css/js/font directories to my development site's qz directory (after moving the old ones to a backup qz folder).
- Ran through my script until print process called

It still doesn't appear to be printing multiple HTML pages for me using the following function:

[code]

[2017-06-14 18:40] bberenz commented on #157
@ljacobs-sml, no it is not. We are still waiting on [testing](https://github.com/qzind/tray/issues/157#issuecomment-300664644) to resolve a sizing error on macOS. This issue will be closed when we believe it is resolved.

In regards to your bit of code, you need to keep a couple of things in mind:
 - Scaling is ON by default, so any document will be resized to fit in entirety on a single printer p

[2017-06-15 02:07] klabarge commented on #193
@bberenz Ahh, now I understand how this works. I used the pixel dimensions of the HTML table and was able to get it to print properly.

Would it make sense to have `pageWidth` and `pageHeight` honor `px` instead of in, mm, or cm?

It's easy to tell the pixel size of a page with the browser tools. Why have developers then convert the pixel dimensions to, for example, inches?

[2017-06-15 04:20] alexandrox92 opened #199 "QzTray for synaptics package manager - Ubuntu easy installation"
Is it possible to load QZtray to synaptics package manager ? It would be great to be able to do it official so it would be very fast to install and we would not worry about dependencies, we also have the problem of companies that do not want to use more windows but do not know about linux and try to install qz this terminal can be traumatic.

is this possible ?

[2017-06-15 04:22] alexandrox92 commented on #199
Another option would be the official ubuntu store, normal users do not know how to handle the terminal and this creates traumas when convincing the client to use free software.

[2017-06-15 04:28] tresf commented on #199
I don't agree.  Many Linux application still require terminal installation.

Yes it is 100% possible, but we have no plans on offering this feature, no do we plan to put it in Ubuntu Software Center, Yast, Homebrew, DNF or the Windows Store as the maintenance associated with publishing, updating and upgrading is far more of a setback than the benefit our clients would receive by such a service.  O

[2017-06-15 04:35] tresf opened #200 "HTTPS broken on Firefox 54"
After several reports, we've identified that Firefox 54 no longer accepts our self-signed SSL certificate.

We've tried several things already such as resetting Firefox, enabling/disabling the `CA Cert` flag, adding `KeyUsage` and `ExtendedKeyUsage` flags to no avail. (e.g. `keytool ... -ext ku:critical=digitalSignature,keyEncipherment -ext eku=serverAuth,clientAuth -ext bc:critical=ca:false`)

Th

[2017-06-15 21:32] alexandrox92 commented on #199
It's okay, thanks for replying.

CLOSED

[2017-06-15 21:32] #199 closed

[2017-06-16 07:39] onurguzel commented on #200
Hello Tres,

We are also experiencing this issue. Please let me know if I can be of any help.

[2017-06-16 20:41] tresf commented on #200
The Firefox team is calling this a "regression" so it appears to be a bug with Firefox 54.  Here are the details:  https://bugzilla.mozilla.org/show_bug.cgi?id=1373791.

Here's a stackoverflow question explaining the problem:  https://stackoverflow.com/questions/44550970

We can script adding the HTTPS exception inside a new installer but it is a lot of work and will only work if QZ Tray is runnin

[2017-06-20 23:00] welrachid commented on #50
Hey guys. Will you be able to help us With our subscription to get it running on a pie? We Are considering going rPi+iPad for Mew customers.

[2017-06-21 03:06] tresf commented on #50
@welrachid if you plan to run headless, you'd need to be on a 2.1 beta release.  2.0 still requires the system tray to be active.  2.1 hasn't been fully regression tested against the 2.0 API, so you're likely to hit compatibility issues, but the configuration is fully supported.

[2017-06-21 06:22] welrachid commented on #50
Actually we still run 1.9 for customers because we are waiting for html support on the 2.1
I Cannot find Any roadmap on the website

PS. I know 1.9 is unsupported. We just had issues with 2.0 on customers printers where it printes rubbish AS i recall

[2017-06-21 14:27] tresf commented on #50
QZ Tray 1.9 branch was never tested on Raspberry Pi, but if it works, you will need to run a graphical desktop environment as well.

If you find compatibility problems, you are welcome to issues a Pull Request and we can assist in the building process.

In regards to the 2.1 roadmap, we've hit some very long R&D milestones as we face limitations with the Java framework. Most notably the Java Syste

[2017-06-22 19:50] welrachid commented on #50
Hi tres
No no.. we are currently not running with a raspberry pi. i was just wondering that if wanted to make the move to it, how would it be. we definitely will wait for 2.1 before we make that move but until then it would be nice to make some tests before that.
Is it correctly understood that the ipad running our server would then have to make a local request via example:
wss://192.168.x.x:port/

[2017-06-22 20:46] tresf commented on #50
Correct, but due to the certificate restrictions on iPads, QZ Tray must be shimmed with a trusted SSL cert.  We generally recommend leveraging LetsEncrypt.org for that, if the organization is OK with rapidly expiring certs or if a wildcard cert is available, it can be converted to be shimmed at QZ Tray startup.  I would recommend getting this all working on a supported Desktop version first.

http

[2017-06-23 21:01] bberenz commented on #196
We don't have that level of control. We are given a `Graphics` object, call [`drawString`](https://docs.oracle.com/javase/8/docs/api/java/awt/Graphics.html#drawString-java.lang.String-int-int-) on it, and then pass the graphics over to PDFBox to draw. The resulting orientation is handled at a higher level by the print libraries.

So I tested a few versions back, because I initially had 2.0.2 insta

[2017-06-23 21:19] tresf commented on #200
This appears to be our only option.

Windows beta available [here](https://github.com/tresf/tray/releases/tag/v2.0.3-4)

[2017-06-23 21:51] welrachid commented on #50
OK. Most important for us is that we dont have to update the qz tray each 3 months.
We already use letsencrypt for our hosting service..
i'll get back to you later this summer. thx

[2017-06-24 15:47] tresf commented on #50
`certbot` and a post-install task should do the trick, per https://github.com/qzind/tray/issues/73#issuecomment-237165577.

[code]

[2017-06-25 03:17] tresf commented on #196
Thanks @bberenz.  I'll defer to @klabarge.  It seems like we still have a bug with Mac though.  https://github.com/qzind/tray/issues/196#issuecomment-301850727.  What's interesting is the native MacOS print dialog doesn't have "reverse landscape" however it does have an option to [rever page orientation and an option to flip the content horizontally](https://user-images.githubusercontent.com/63454

[2017-06-27 05:48] tresf commented on #200
Work is 75% completed and is on the [`firefox`](https://github.com/qzind/tray/compare/firefox) branch.

Windows and MacOS beta installers are available here: https://github.com/tresf/tray/releases/tag/v2.0.3-4

[2017-06-27 13:58] tresf commented on #200
Update:  I've applied digital signatures to the Windows and Mac installers so that they'll install without security warnings.

[2017-06-28 02:00] tresf commented on #174
Just got an email from Oracle support:

This means we could have some problems once 8u152 is released.   Will have to revert the patch.

[2017-06-29 05:29] #200 closed

[2017-06-30 00:19] klabarge commented on #197
There seems to be several bugs related to `orientation`. I will break this down between each OS. Let me know if you would like this broken out into separate bug reports.

### macOS
1. Image and HTML `reverse-landscape` is broken

   I went as far back as 2.0.1 and I could not get `reverse-landscape` to work on macOS for Image and HTML printing. The `orientation` remains `landscape`.

1. PDF `rever

[2017-06-30 17:17] riyask opened #204 "I can't able to print arabic"
When i trying to print arabic it shown as "????????" like this. Please help me how to solve this issue

Regards

Riyas

[2017-06-30 17:21] lite1979 commented on #204
Can you share your code and tell us which printer you're using?  There are
some printer models which must be ordered with firmware that supports
Arabic characters.

Regards,

Lite

On Fri, Jun 30, 2017 at 1:17 PM, riyask <notifications@github.com> wrote:

[2017-07-03 14:33] bberenz commented on #193
I don't think it would. CSS allows for [physical length units](https://developer.mozilla.org/en-US/docs/Web/CSS/length#Absolute_length_units), which I would hope developers use to layout HTML pages for printing, as it provides screen agnostic in/mm/cm dimensions, making this a lot easier to work with.

We also use `pageWidth` and `pageHeight` for sizing on PDF pages too (on 2.1). Which admittedly,

[2017-07-03 17:50] tresf opened #205 "No SSL support Windows XP"
#201 seems to have broken SSL in Windows XP.

Steps to reproduce:
1. Install QZ Tray 2.0.4 on Windows XP
2. Launch Firefox to https://demo.qz.io

A workaround seems to be to double-click and trust/install the certificate located in `C:\Program Files\QZ Tray\auth\root-ca.crt`, which is puzzling.  Firefox doesn't care about the system certificates.  More investigation to follow.

[2017-07-03 20:45] bberenz commented on #197
Can you provide logs, testing off the now pdffix branch, with the latest pdf/orientation changes, I do not see this in my vm (Ubuntu 16.04)

[2017-07-04 11:42] bigware opened #206 "Version number wrong in 2.0.4"
In file qz-tray.js, the version is still 2.0.3-2. Is there a reason for that? Since 2.0.3, I've been using the function qz.api.getVersion() to match with qz.version so I alert a specific computer if they didnt update to the latest version yet. Will you not be updating this file each time with a new version number?

[2017-07-05 15:09] tresf commented on #43
Perhaps we can leverage one of the extended attributes inside the certificate to include the previous fingerprint?  The certificate would still have to pass all other validation checks, but if the attribute exists and the fingerprint was previously white-listed, we can trust the replacement.

@Lukas-W do you know if there are any certificate fields we can use for this?  The advantage to this appro

[2017-07-05 15:52] tresf commented on #206
The `qz-tray.js` version won't necessarily match exactly to the `qz-tray.jar` version and this is because we don't always modify the API when a new release is offered.

In this case, you are right.  We had modified `qz-tray.js` but failed to bump the internal version, so closed via https://github.com/qzind/tray/commit/fc917880ed215a8dd1f8b1ba5525de703c1b1377.  Also updated in `npm`.

There's no wa

[2017-07-05 15:52] #206 closed

[2017-07-05 19:29] alethea opened #207 "Segfault on macOS unclean HID disconnection"
I discovered a hard crash in the HID4Java integration on macOS. This can be reproduced reliably by the following steps:

1. List HID devices: `qz.hid.listDevices()`
2. Select a HID device and claim it: `qz.hid.claimDevice('0d8f', '0200')`
3. Open the event stream from the device `qz.hid.openStream('0d8f', '0200', 6)`
4. Disconnect and reconnect to QZ Tray: `qz.websocket.disconnect(); qz.websocket.

[2017-07-05 19:34] tresf commented on #207
We should be disconnecting the stream with the lifecycle of the websocket (and we've found this previously in QA, so I'm surprised to see it resurface).  We'll take a look, thanks.

[2017-07-05 19:38] tresf commented on #207
Also, a side note, Windows uses [PureJavaHIDAPI](https://github.com/qzind/tray/blob/5116bfe3061cd786657ecfd53d2a69ae8ca5e3a6/src/qz/ws/PrintSocketClient.java#L327-L332), so the libraries are a bit different.

History on this decision is available here: https://github.com/qzind/tray/pull/166

HID4Java uses a `signal11` library which contains quite a few Mac crashes, so any upstream fixes we'd happi

[2017-07-05 21:09] bberenz commented on #43
I've found a [relevant stackoverflow question](https://security.stackexchange.com/questions/77256/how-to-determine-if-an-x-509-certificate-is-a-renewal-of-another-known-certifica) about this. Your proposed solution seems to fall under the second point in the accepted answer, though the first point may be worth considering as well here.

If we move forward with your proposed solution, we would need

[2017-07-05 21:20] tresf commented on #43
We merge the renewal of accounts on our back-end, so the account itself would have to have been stolen (not necessarily the private key).  If we're aware of a stolen private key, the standard CRL rules apply.  I think we're fine so as long as we disable this behavior in an authCert override scenario.

[2017-07-05 21:30] tresf commented on #43
Seems like a support nightmare.  The way Apple does is they issue a long (e.g. 20 year) certificate and just stay on top of revocations.  This probably gives them less overhead but requires a drastic change in the way certs are handled, and allows for a simple hosts file DNS override.  I think the second is the way to go.

[2017-07-05 21:41] alethea commented on #207
Yeah, I dug through the source, and it looked like everything was getting cleaned up properly, I suspect something gets garbaged collected while the native code is still hanging onto it. Which means that the PureJavaHIDAPI wouldn't be affected.

[2017-07-05 22:41] dsanders11 opened #208 "Don't Entirely Replace Properties File When Replacing SSL Cert"
Currently if you have to update the SSL certificate on an existing QZ Tray installation, the process will entirely replace the `qz-tray.properties` file. This is not ideal because any custom settings like `authcert.override` will be lost.

Would it be possible for it to reuse the keystore password for the new keystore? I believe this is the only reason it needs to replace that file, to update the

[2017-07-05 22:54] dsanders11 commented on #208
@tresf, FYI, some time in the next 3 months (before the next LetsEncrypt cert expiration, heh) I'll probably try to fully integrate the renewal process into QZ Tray itself to make it less painful and reduce the [bus factor](https://en.wikipedia.org/wiki/Bus_factor).

I'm thinking an interface where QZ Tray will check the expiration on the certificate, and a few days before expiration it'll try to

[2017-07-05 23:43] tresf commented on #208
This seems like an involved process for something that `certbot` could simply farm off to a post-hook, which kills the Java process and relaunches.

The standard use-case is to for qz-tray simply randomize the private key password when it is converted from `pem` to `p12` and then to `jks`.  We could certainly check for existence of the `authcert.override` when rewriting the properties file on a Tr

[2017-07-05 23:59] tresf commented on #208
Perhaps I'm missing something.  What I've read about `certbot` is that it will auto renew when ready and you can call it daily without worry.  I think what's unique about your setup is that IIRC, you're using the same cert for SSL that you are for the trust dialog, which means everything breaks at once (right?).

We run `certbot` on our white-label service server and we are responsible for any pos

[2017-07-06 00:59] dsanders11 commented on #208
@tresf, sorry, I shouldn't have combined the two issues, this was mostly just don't throw away other properties in `qz-tray.properties` when updating SSL certificate. My mentioning `authcert.override` was just an example of a property that may get lost as a result.

QZ Tray is running on an internal network with only outbound traffic to the Internet. We use SSL certificates from LetsEncrypt to ens

[2017-07-06 01:34] tresf commented on #208
The "public cert running on isolated lan" problem is a problem we've encountered as well.  The only recommendation I can make to that is to simply make the print-server publicly accessible, or clone it to a network that is and mirror the settings back to isolated device on change.  Unfortunately some networks have strict controls (HPPA, PCI, etc) so this may require a VPN service account, but shou

[2017-07-06 03:10] dsanders11 commented on #208
This is the option I was imagining, or as I said earlier, just keeping the keypass and storepass the same so that the properties don't have to be updated at all. Whichever is easier to implement in the scripting you've already got for the keygen stuff.

Making it publicly accessible is a no-go from a security standpoint for us, in addition to the extra configuration to the local area network to ma

[2017-07-06 03:59] tresf commented on #208
This is the part I'm concerned with.  I'd rather not argue in the PR and have you wasted effort.  I don't feel QZ Tray is the right place to patch `certbot`'s shortcomings.  Can you elaborate on the design of this all, such as a newcomer wanting a LetsEncrypt QZ Tray instance using the future "integrated" design?

[2017-07-06 04:26] dsanders11 commented on #208
@tresf, I wasn't necessarily planning a PR, I'm perfectly happy to run a forked version of QZ Tray. I was merely mentioning my plans in case it was anything that interested you.

Off the top of my head (which always means it'll change since no plan survives first contact) it would introduce two new properties: `http.credentials` and `http.letsencrypt_proxy_url`. Those would be set appropriately, w

[2017-07-06 04:44] tresf commented on #208
Yeah, it appears [manipulating DNS records temporarily and then cleaning them up](https://certbot.eff.org/docs/using.html#hooks) via `manual-auth-hook` is the preferred method for manually renewing a certificate.  Some cloud ISVs already having scripts ready as well.

[2017-07-06 05:26] #205 closed

[2017-07-06 14:54] dsanders11 commented on #208
There are definitely ways to do it manually and support the private/isolated network setup, they just require some work and knowledge.

I guess I'm trying to minimize the bus-to-failure-time (BFT) which would be how long after I get hit by a bus things that otherwise normally worked would fail. With a lot of things they could go indefinitely, web stuff is probably solid for years as long as you're

[2017-07-06 15:37] tresf commented on #208
But webcams are native hardware and the exact purpose of QZ Tray.  LetsEncrypt will email when a cert is about to expire and if configured properly that would go to a shared inbox and work from a documented procedure.   QZ Tray's source code is simply the wrong place from a design perspective unless it's something standardized.

This depends on your definition of "newcomer".  Most ( >90%) of QZ Tr

[2017-07-06 17:24] tresf commented on #193
I'm closing this issue as `invalid`.  The trouble with HTML printing in general is that we're battling a dynamic layout engine that cannot be easily rotated, so the only true way to print HTML content that's not fixed is to use the technique outlined in https://github.com/qzind/tray/issues/193#issuecomment-301122429 which has been added to the wiki documentation.

[2017-07-06 17:24] #193 closed

[2017-07-06 19:37] tresf commented on #32
I'm closing this since we [can't reproduce on physical hardware](https://github.com/qzind/tray/issues/32#issuecomment-215926384) and its upstream anyway.

I have a feeling this will resurface since Mac has already shown some [blank pages](https://github.com/qzind/tray/issues/57#issuecomment-239357095) but we can open a dedicated issue on that once 2.1 QA starts.

Closing, marking as `not our bug`.

[2017-07-06 19:37] #32 closed

[2017-07-06 19:44] tresf commented on #204
@riyask I'm closing this because you've failed to provide what is needed for a basic bug report.  Please request a re-open once you have the necessary information, such as your printer model and some sample code.

[2017-07-06 19:44] #204 closed

[2017-07-06 20:33] dsanders11 commented on #208
Unless something majorly changes with the way WebSockets work then the fork can keep on without falling apart even if it is stale. Just look at banks using software written decades ago. :-)

If QZ Tray had a plugin system then this would be built as a plugin, it's adding functionality. There's no reason that I can think of that it shouldn't be a plugin versus an external script, since the external

[2017-07-06 21:30] tresf commented on #208
We're driven primarily by popular use-cases and demand.  We do attempt to pick up new, bleeding-edge and state-of-the-art ideas as well.

We have some large cloud users (not Shopify, yet) and these cloud providers simply ask users of the product to install QZ Tray locally and move on with business.  This is how they survive the hypothetical "fire" today.  That's our primary use-case.

For the few

[2017-07-06 21:49] bberenz commented on #156
Dirty values should be available with 60d33ab7bdf65b5b88dc84c33e01e11cb214e775
Should be easily extensible should we need this on other check boxes later

[2017-07-06 22:48] dsanders11 commented on #208
That sets off alarm bells in my head. Reusing the certificate (and the private key, which is the security risk) across servers is OK since they're limited access and have proper security protocols. Distributing that private key to machines with far wider access (and physical access to boot) would keep me up at nights. That key getting stolen because the Windows machine in the warehouse got hit by

[2017-07-06 23:26] klabarge commented on #207
Thanks for the detailed steps. I tried the above steps at least 10 times and could not reproduce a crash.

I tried to mimic your environment. Is this reproducible on different HID devices? What HID device? I assume you are using the latest version of QZ Tray?

Your environment:
* **OS:** Mac OS X 10.12.5
* **Java:** Java(TM) SE Runtime Environment (8.0_31-b13) (build 1.8.0_31-b13)
* **Hardware Mod

[2017-07-06 23:30] alethea commented on #207
I'm on QZ Tray 2.0.4 and the HID device I've been trying to access is a Pitney Bowes 5lb scale.

[2017-07-07 01:04] dsanders11 opened #209 "Make qz.tools.hash Return A Promise"
If `qz.tools.hash` returned a promise, the dependency on `sha-256.js` would be replaceable with native support via [Web Crypto](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/digest). It's a bit messy due to the extra code needed to make a hex representation, but it's nice that it would drop the dependency for native support, for those who wanted to.

So, to move towards that end, `

[2017-07-07 01:56] tresf commented on #209
Since hashing is already part of a promise chain, changing the logic internally to support both shouldn't be a problem; we could keep both without changing the API logic.  Eventually dropping `sha-256` (or equivalent) would be great.

What I'm curious about is if the promise and return type will eventually become the norm, since currently `sha-256,` `sha.js` and Node 6.5's native `crypto` don't.

[2017-07-07 02:09] dsanders11 commented on #209
I've found that `developer.mozilla.org` is a great resource, but for some perplexing reason their compatibility charts are always woefully out of date. I use [caniuse.com](http://caniuse.com/) for more accurate compatibility. It's data for [Web Crypto](http://caniuse.com/#feat=cryptography) shows much higher adoption, including Microsoft Edge. It does have a note that it's hidden behind a prefixed

[2017-07-07 02:20] tresf commented on #209
Ouch: https://bugs.chromium.org/p/chromium/issues/detail?id=373032

[2017-07-07 02:24] tresf commented on #209
Looks like Chrome blocks crypto.suble with non-localhost HTTP origins. This is a show stopper for the built-in API at least: https://bugs.chromium.org/p/chromium/issues/detail?id=373032

We can still wrap the promise functionality, but it won't ever be a built-in function if we can't use it on HTTP.

[2017-07-07 02:51] tresf commented on #156
@bberenz this works great, thanks.

Closed via 6571003 4e9275e 60d33ab.

[2017-07-07 02:51] #156 closed

[2017-07-07 02:54] tresf commented on #207
@alethea just to rule out the Java version, can you confirm that this bug still exists with Java 8u131?  Worth noting, we prefer the JDK over the JRE, so if you have both you should upgrade both or [launch from JRE manually](https://github.com/qzind/tray/blob/2.0/ant/apple/apple.properties#L20).

[2017-07-07 03:07] dsanders11 commented on #209
Not surprising, the train is heading to HTTPS everywhere and it isn't stopping. :-)

Understand the need to support HTTP, just the option of overriding it via `setSha256Type` to remove the dependency on `sha-256.js` is enough.

[2017-07-07 03:33] tresf commented on #209
Since `setFooType` instantiates a class, `setFooPromise` sets a promise resolver, we would use `setSha256Promise` for consistency and `setSha256Type` would just be `wrap[ped] in a promise` as you've mentioned.

[2017-07-07 04:47] tresf commented on #10
On top of ordering a TM-U220 for image testing, we also need to fix our documentation and code to distinguish the difference between [ESC/P and ESC/POS](https://en.wikipedia.org/wiki/ESC/P) as the manuals are actually quite different.

This will have upgrade problems because we've used the two rather synonymously (incorrectly) in our code.

The ImageWrapper should have separate logic for ESC/P whi

[2017-07-07 05:19] tresf opened #210 "ESC/P isn't ESC/POS"
After some troubleshooting with a client, we've identified that our wiki, website, sample.html and codebase incorrectly uses `ESC/P` in place of `ESC/POS` code and code examples.  Although these languages are very similar, [`ESC/POS` is a variation of `ESC/P`](https://en.wikipedia.org/wiki/ESC/P) and uses many incompatible commands.

This is going to be some work to reverse, but here's the proposa

[2017-07-07 06:02] alethea commented on #207
@tresf Updating the JRE to build 1.8.0_131-b11 appears to have resolved this on my setup. Guess I must have dismissed the update Java update notification at some point. 😆  Thanks for the help, y'all.

[2017-07-07 06:02] #207 closed

[2017-07-07 06:07] tresf commented on #207
The MacBook Air versus Mac mini was the reason, similar problem in #35, but different crash logs.

[2017-07-07 14:47] tresf commented on #161
I've begun testing this and it seems to fallback to `PrintRaw` in the following scenario:

[code]

[2017-07-07 14:56] bberenz commented on #161
The `data` parameter is expecting an array of objects, so the array of arrays (of objects) is invalid. It would have to be formatted like:
[code]

But this is still invalid, as we currently don't support a mixture of different formats.

[2017-07-07 15:09] tresf commented on #161
Then I think we designed it wrong.  Currently our examples show `["foo", "bar"]` for raw and that will break for multiples, right?

[2017-07-07 15:21] bberenz commented on #161
Our examples also show `[{pixel}, {pixel}]` for pdf/html/images, which as you just saw also breaks for multiples.

With the current implementation for `print([config1, config2], [{data1}, {data2}])` data/configs match up 1:1, for `print(config1, [{data1}, {data2}])` _config1_ gets both data, and for `print([config1, config2], {data1})` both configs get a copy of _data1_. (all independent of raw/pi

[2017-07-07 16:00] tresf opened #211 "Mac installer not working"
Several reports of the Mac installer not working.  Turns out there was a problem with the JRE installs (QZ Tray uses JDK first if available), which was overlooked in QA testing.

[2017-07-07 16:01] tresf commented on #211
Turns out the `foo --bar` versus `/foo/bar space/` needed to be handled a bit differently with the new `run_step` and `replace_vars` logic.  Fixed via https://github.com/qzind/tray/commit/dec0949a215dfc7848e992aa1105ef477055bec0.

[2017-07-07 16:01] #211 closed

[2017-07-07 20:17] bberenz commented on #161
Changed over to array of data-arrays under 530463ce46aa375dda1f62dd81d9c668e34a673b

[2017-07-08 00:39] klabarge commented on #197
Sorry @bberenz, I overlooked that my PDF Viewer changes the properties to `11.0 X 8.5in`. `landscape` does work.

![image](https://user-images.githubusercontent.com/12505463/27980926-fe8dd9ba-6351-11e7-9cb0-65de17fe6873.png)

Did you test `reverse-landscape`? This seems to be identical as `landscape`.

[2017-07-09 06:07] dsanders11 commented on #208
@tresf, is the `wss.keypass` actually used? I see no references to it in the Java code, and if changed to gibberish there's no change to QZ Tray's behavior. It looks like QZ Tray is taking advantage of the automatic behavior where the `storepass` is tried as the `keypass` first before declaring failure, and since that's how the keystore was generated then it always works. Seems like dropping `wss.

[2017-07-09 06:35] tresf commented on #208
It looks like we're not using it currently, but we should to be consistent and switch to using it [if jetty supports it](http://download.eclipse.org/jetty/stable-9/apidocs/org/eclipse/jetty/util/ssl/SslContextFactory.html#setKeyManagerPassword-java.lang.String-).

I've always felt this way as it feels rather silly using two separate replace statements in all of the scripts, but I haven't worked wi

[2017-07-09 07:18] dsanders11 commented on #208
@tresf, yes, adding that line causes QZ Tray to throw an exception on launch and enter an error state if `wss.keypass` is set to gibberish, but everything works OK if it is set to the same as `wss.storepass`, as expected.

Is there any benefit to having the two separate passwords, though? There's only a single key in the keystore, and the passwords are stored in the same properties file. I'm strug

[2017-07-09 07:29] tresf commented on #208
Thanks for testing.

The benefit would only be to third parties that have a keystore made by hand with non-matching passwords.  I do not have enough experience with this parties to speak on behalf, but an example is a Trusted RootCA Tomcat server key being repurposed for Jetty.

I favor the one-line approach as it costs the project less development time and less regression testing time.

[2017-07-10 15:53] bberenz commented on #197
The lack of difference in reverse landscape might be related to the viewer you are using, as I see the same thing with cups PDF. Have you tried printing to a physical printer?

Here's my print to a physical printer from an ubuntu16 VM:
![physical](https://user-images.githubusercontent.com/5912715/28027096-fe0922ea-6565-11e7-9088-f67981faefe0.jpg)
I drew the arrows on the paper before printing to b

[2017-07-11 03:57] klabarge commented on #158
We have a client wishing to send a multi-page PDF document to QZ Tray.

The first page is 11.0 x 8.5 in
The second page is 8.5 x 14.0 in

When printed using default orientation, both pages are printed as an 8.5 x 11.0 in page.

Let me know @bberenz if you need a reproducible document
[code]

[2017-07-11 18:48] bberenz commented on #158
Changes in d24cb72065ed089608174f66e9215b06b566a86f make each page a separate entity, and formatting settings are applied on a per page basis. This should allow for a variety of mixed PDF's to print correctly.

[2017-07-11 23:20] klabarge commented on #158
Tested on Windows 10 and Mac and this works 👍

This correctly prints landscape

This correctly prints portrait

I will need to test this to a physical printer with one tray having US Letter, one tray having Legal (8.5 x 14.0in) as the virtual printers I have do not support multiple page sizes.

[2017-07-12 00:33] klabarge commented on #161
I tested the below three scenarios, all worked flawlessly.

The last unit test mixed raw and pixel printing.

#### 1 config : many data

[code]

#### many configs : 1 data

[code]

#### many configs : many data

[code]

[2017-07-12 01:52] #161 closed

[2017-07-12 04:14] klabarge commented on #157
Here are the logs after printing using a Render Width and Render Height of 8.27 x 11.69

**Before Change**

[code]

**After change**

[code]

I also noticed there is definitely a bug with HTML printing on macOS:

Whenever I change the Render Width and Render Height, the first print job is blank.

1. Print HTML page(s)
   * Verify it prints correctly
1. Change the Render Width and Render Height to

[2017-07-12 16:43] bberenz commented on #157
Problem - your second set of logs show you aren't using render sizes

Hmm, the logs are exactly the same except for timestamps..
Can you reproduce this with other printer drivers too?

[2017-07-12 19:06] bberenz commented on #157
Wait, I'm sorry, that's not what we're testing.
We want the page layout to be the same as the System printer settings.

@klabarge, you are configured for "⛔️ CUPS: A4, System: US Letter," right?

This line:

"Paper" should match your system settings (not CUPS) if it works properly.
And _don't_ set any render sizes - the problem comes from where javafx/swing differ in paper size on the defaults.

[2017-07-13 01:22] klabarge commented on #157
We want the page layout to be the same as the System printer settings.

Apparently I was also confused on what I was exactly testing.

Yes, this is the scenario where the extra "blank pages" are being printed.

It is still matching CUPS when I change the below line.

[code]

#### "⛔️ CUPS: A4, System: US Letter"
[code]

#### " ✅  CUPS: A4, System: A4"
[code]

[2017-07-13 02:27] klabarge commented on #197
I use the default PDF viewer in Ubuntu, and I also downloaded [Foxit PDF-Reader](https://www.foxitsoftware.com/pdf-reader/) with the same results.

I will test to a physical printer and report back.

[2017-07-13 18:38] Vzor- commented on #42
I now have all of the basic features in for both Windows WMI and CUPS implemented. Some label printers don't report issues to CUPS well, and on windows, WMI often isn't aware of issues until another job is loaded behind the one that failed. I still have some cleanup to do, as well adding a bit of error handling.

[The code](https://github.com/Vzor-/tray/tree/printer-status) is ready for testing. T

[2017-07-14 15:48] bberenz commented on #157
So JFX is not what we want to pull this from then.
Can you try it with c9c7cf85dd9dc6762a45a3d42b045e2fd71b23d1? This creates a custom paper size from the defaults we gather with Swing.

You should see "Page layout = Paper=Paper: Default size=612.0x792.0 POINT ..." in your logs (or a size matching the System paper settings in 1/72 inches)

[2017-07-15 00:30] klabarge commented on #157
c9c7cf8 seems to do the trick.

I tested various page size combinations, and the page size is always grabbed from System Preferences

[2017-07-15 20:10] vijaythecoder opened #212 "ESC/POS raw printing right and left alignment"
How do I achieve table like structure with raw printing?
![img_7052](https://user-images.githubusercontent.com/1809727/28242377-acfeb5de-69c7-11e7-802d-aab5f9d176bf.JPG)

I am having hard time getting text aligned to left, center and right on same line. Any help would be highly appreciated

[2017-07-16 15:20] lite1979 commented on #212
You have to use math to align the columns in a higher level language.

You cannot issue justification commands on the same line in ESC/POS, so you must determine the number of characters in your line and add/subtract the appropriate number of spaces to fill the gaps for alignment.

Here is an example in the answer to a similar question:

https://stackoverflow.com/questions/15509437/opposite-of-n-e

[2017-07-16 15:22] lite1979 commented on #212
Closing as this is a limitation of the raw markup language ESC/POS, and not an issue with QZ-Tray. :)

[2017-07-16 15:22] #212 closed

[2017-07-17 09:25] riyask opened #213 "Print to multiple printer at time"
I have developed a POS for Restaurant, It will have multiple kitchen, When order different item, each item will print on respective kitchen as KOT. How it is possible. Please assist me.

[2017-07-17 14:56] tresf commented on #213
You may print your content to any printer you wish.

If you have a defined number of printer, you should hard-code the chain request:
https://qz.io/wiki/2.0-raw-printing#chaining-requests

If you have an undefined number of printers, you should use a promise loop:
https://qz.io/wiki/2.0-raw-printing#promise-loop

Raw examples are provided.  If you require Pixel examples, replace the word "Raw" wit

[2017-07-18 03:42] tresf opened #214 "Ability to disable logs"
Some environments have to protect sensitive information which has been processed by QZ Tray and require the ability to suppress log output through a configuration option.

[2017-07-20 22:02] klabarge commented on #42
I uploaded the compiled printer-status branch here:
https://github.com/klabarge/tray/releases/tag/v2.1-printer-status

I will report back with testing.

[2017-07-21 01:51] klabarge commented on #42
For the following test results, I used a physical Zebra LP 2844 and Virtual PDF printers.

I need to do more thorough testing to a physical LaserJet printer.

### macOS

1. How often should the status be reported?

This is the result of one successful `printRawImage();` job. Perhaps this is because of CUPS, as the status is still displaying "Idle - "Sending data to printer."" in the CUPS interface

[2017-07-21 03:14] Vzor- commented on #42
I will add the unknown statuses to our list and those "cups-waiting-for-job-completed" should go away. The uri exception is fine, though I should handle it before it throws an exception. As for mac os, I'm glad it's a jetty error and not a cups error, should be fairly easy to track down.

[2017-07-21 18:31] lite1979 commented on #42
Testing on Linux 16.04

From the bottom up in the status reports, here are my tests in chronological order:

Epson TM-T88V (raw)
Epson TM-T88V (pixel - I have two separate queues for printers that can do both raw and pixel-based jobs in Linux)
Zebra LP-2844-Z (raw)
Zebra LP-2844-Z (pixel)
Brother HL-L2380DW with paper in the tray
Brother HL-L2380DW with no paper in the tray

https://gist.github.co

[2017-07-23 10:37] ganesanasandeep opened #216 "Font sizes and currnecy symbols"
We are building a POS software, we need to print currency symbol on receipt.
I have googled for that and couldn't find a solution. I have tried with ascii hex value but that didn't work with me.

How can I increase font size to certain px, which was not present in [https://qz.io/wiki/2.0-raw-printing#escpos](url). We are using raw method.

[2017-07-23 15:07] lite1979 commented on #216
We offer examples for ESC/POS as a courtesy, but we are not the authors of this printer language.  Closing this issue as it is not a problem with QZ-Tray.  Please read further for more information regarding your problem:

Pixel-based fonts are only supported by certain printers and firmware versions, which will depend on your hardware, not our software.  Please refer to the ESC/POS manual that cor

[2017-07-23 15:29] #216 closed

[2017-07-24 21:56] klabarge commented on #197
I did testing to a physical printer (HP LaserJet P4515) using the pdf-fix branch on all OS's.

@bberenz, you are right - `landscape` and `reverse-landscape` printing work in Ubuntu. Both Windows and Ubuntu print identically.

I reproduced two issues on macOS:

1. `landscape` and `reverse-landscape` are the same on macOS.

1. `landscape` on macOS is printed the same as `reverse-landscape` on Window

[2017-07-24 22:15] klabarge commented on #196
`landscape` is broken on macOS in the pdf-fix branch. Tracking in a separate issue: https://github.com/qzind/tray/issues/197#issuecomment-317566649

to quote the latest comment:

[2017-07-25 10:20] noehcc commented on #55
hi any fix for this one??

[2017-08-01 00:16] klabarge opened #217 "Support for Developer and "Nightly" editions of Firefox"
In addition to the stable version of Firefox, there are "Firefox Developer Edition" and "Firefox Nightly" versions: https://www.mozilla.org/en-US/firefox/channel/desktop/

QZ Tray does not work over wss with these versions. Since these versions are not stable, and unlikely to rolled out to production users, is it worth adding support for these versions?

One pro, is that we will be able to fully t

[2017-08-01 04:28] tresf commented on #217
Should be similar to the trick we use for ESR releases, at least on Windows.

https://github.com/qzind/tray/blob/2.0/ant/windows/windows-keygen.js.in#L376

[2017-08-01 06:09] atvvarna opened #218 "RAW base64 PDF printing quality issue."
Hello,
I've a problem with printing quality using raw base64 PDF printing. I tried pixel printing but result is the same. Anybody can help?

QZ printed:
![qz](https://user-images.githubusercontent.com/17295454/28811566-cbe98978-7698-11e7-959a-3e09fb13da2e.jpg)

Adobe PDF printed:
![pdf](https://user-images.githubusercontent.com/17295454/28811565-cbe56794-7698-11e7-977c-07d6a634d4b9.jpg)

Regards,

[2017-08-01 15:20] tresf commented on #218
Alex,

This seems to be a duplicate of an email you've sent to our mailing list.  We will answer it there instead.

https://qz.io/support/?place=msg%2Fqz-print%2FWTrjIRCflkM%2FlLiuuU0tAQAJ

[2017-08-01 15:20] #218 closed

[2017-08-01 20:14] dsanders11 opened #219 "Transient Get Certificate Issues"
It appears that the default behavior of `callCert` in the JavaScript is not great in how it handles transient errors, such as Internet connectivity issues. It causes behavior that is very unforgiving.

Issue:

1. Certificate promise is set to be a jQuery AJAX call like [the example on the wiki](https://qz.io/wiki/2.0-signing-messages#loading-the-intermediate-certificate)
2. The AJAX call fails due

[2017-08-01 20:25] tresf commented on #219
@dsanders11 2.1 removes the dialog in headless mode, which should decrease the severity of this:  https://qz.io/wiki/2.1-Headless-Deployment

Also, [blocking anonymous connections is already part of the UI](https://github.com/qzind/tray/blob/91b4ae146e72d2e702a2a32b4c9b46f4e64f1278/src/qz/common/TrayManager.java#L164), so you should be able to mitigate the `UNKNOWN` issues by setting that preferen

[2017-08-01 20:46] dsanders11 commented on #219
Even one certificate is enough to throw a decent wrench in things. Even with the second instance we have which is on a Windows computer with monitor and keyboard/mouse, it's unmanned most of the time so no one will notice the dialog sitting there until there's problems printing (from the front office, a ways away from the computer running QZ Tray).

[2017-08-01 20:53] tresf commented on #219
Yeah we need to rethink how we play traffic cop to allow known, good traffic through first.

[2017-08-03 17:09] thiagoemanoel1992 opened #220 "QZ Tray - Support Oracle Linux"
Hello all, how are you? I would first like to inform you that the software is amazing. However I am facing some problems, I believe with permission for example.

The file "sample.html" works perfectly when I run XAMPP through Localhost.

However, when I try to run from an IP server: 192.168.0.48, I get the following message "Can not parse (FILE) as a raw command"

My structure is as follows:

RHEL

[2017-08-03 18:43] tresf commented on #220
This double-posting has got to stop.  Use the mailing list, or use the bug tracker.  Please stop using both.

Duplicate of https://qz.io/support/?place=topic%2Fqz-print%2F8mefWUxIYFg%2Fdiscussion

[2017-08-03 18:43] #220 closed

[2017-08-04 03:42] tresf commented on #197
@bberenz is there anything else we can do on Mac to gather more details?  Could this be related to [clearing the printing attributes](https://github.com/qzind/tray/blob/pdffix/src/qz/printer/action/PrintPDF.java#L112) on MacOS only?

[2017-08-05 22:00] thiagoemanoel1992 commented on #164
Hi , how u make to enable the application throught  vhosts ? My server its a RHRL 7.

Thanks .

[2017-08-07 21:01] cwg999 commented on #116
In windows 7 I was able to create a service using `nssm install qztray javaw -DtrustedRootCert=C:\cert\mycert.pem "-jar \"C:\Program Files\QZ Tray\qz-tray.jar\"` and editing the created `C:\Windows\System32\config\systemprofile\AppData\Roaming\qz\allowed.dat` file with the location I needed to allow.

Looking forward to a more straightforward solution in 2.2!

[2017-08-08 20:34] bberenz commented on #197
Not exactly, @klabarge was using images in the last test. But this is related to the print attributes, as that is where we [set the page orientation](https://github.com/qzind/tray/blob/pdffix/src/qz/printer/action/PrintPixel.java#L42).

We could try running
[code]
in the `PrintPixel.printCopies` method.
See if it outputs anything different that macOS might be trying to do with printers.

[2017-08-10 19:39] Vzor- commented on #42
- The above problems have been fixed.
- You can now listen to printers on different windows at the same time.
- Both WMI and CUPS also automatically start listening to new printer connections.
Now on to cleaning and refactoring, after that we should be good to go.

[2017-08-14 07:08] bobo3k opened #221 "PrintHTML full page problem @ 300DPI"
Hello everybody,

there is a probem with the printout (only half page) when the default settings for a physical printer have been changed to "low resolution - 300 DPI" instead of the default 600. The printout does not take the full page as it should.

Will run more tests below as requested by Kyle:
Set rasterize to true
Set the page size in the config to A4

copy/pasted the original google groups

[2017-08-14 08:00] bobo3k commented on #221
"Can you tell me if the sizing is any different when you:
Set rasterize to true
Set the page size in the config to A4"

**@300DPI - low quality, when the rasterize is set to true, it prints correctly (but it's ugly)**

debug.log
`2017-08-14 09:48:33,886 [INFO] Starting QZ Tray 2.1.0-RC1
2017-08-14 09:48:34,792 [DEBUG] Executing: [C:\WINDOWS\system32\reg.exe, query, HKCU\Software\Microsoft\Windows\

[2017-08-14 14:26] tresf commented on #221
@bberenz this is happening on the 2.1 branch.

[2017-08-14 14:43] tresf commented on #42
@klabarge please prepare a fresh build of the printer-status branch for testing.

[2017-08-15 12:45] klabarge opened #222 "Java environment missing error is not shown"
Can you provide your environment details (OS, etc.) and steps to reproduce?

I tried installing QZ Tray 2.0.4 on Windows 7 Professional 64-bit and I get the "Java is required" message.

![image](https://user-images.githubusercontent.com/12505463/29316325-955298de-8195-11e7-8088-57b1e22da16f.png)

[2017-08-15 12:53] tresf commented on #222
@ArunEdathadan are you on macOS?

Is this related to https://github.com/qzind/qz-print/issues/37?  If so, this was changed a few years ago.  Can you explain exactly how to reproduce?

[2017-08-15 12:56] ArunEdathadan commented on #222
I am using windows10

[2017-08-15 12:59] tresf commented on #222
@ArunEdathadan can you reproduce on multiple workstations?  We'd be happy to patch this bug if we can reproduce.  Currently, we cannot.  We need exact steps.

[2017-08-15 19:51] tresf opened #223 "Support DPL"
Placeholder to obtain DPL hardware for adding it to our list of label printing options.  DPL is a language by Datamax O'Neil.

@lite1979 this one is all you.

[2017-08-16 22:15] klabarge opened #224 "2.1 HTML additional pages"
Using the latest compiled 2.1 branch on Windows 10, (I used [these installers](https://github.com/klabarge/tray/releases/tag/v2.1)) an additional HTML is generated.

This is reproducible using sample.html + HTML printing, using all defaults.

Initially I thought it was a blank page, but it appears that some of the HTML content is spilled over. Notice the black line in the image below

![image](htt

[2017-08-16 23:05] klabarge opened #225 "2.1 sporadic HTML behavior when modifying printer preferences"
Using the latest compiled 2.1 branch on Windows 10 (I used [these installers](https://github.com/klabarge/tray/releases/tag/v2.1))

HTML printing has sporadic behavior when the printer preferences , specifically paper size, are modified. The issues are resolved once QZ Tray is restarted.

1. Sometimes the printout is blank
1. Two pages are always printed, when one is expected

#### Steps to Reprod

[2017-08-16 23:07] klabarge commented on #224
Closing as superseded by issue https://github.com/qzind/tray/issues/225

[2017-08-16 23:07] #224 closed

[2017-08-17 03:19] tresf commented on #222
Another thing worth mentioning is that we do a Java version check (e.g. > 1.7) on install, so this problem sounds like an edge-case.

Regardless, we'll be happy to reproduce, just give us the exact Java version required to reproduce the problem (install succeeds, but launch fails).

If you can't provide this, we'll assume this is a corrupt Java installation or non-standard environment causing the

[2017-08-17 03:24] tresf commented on #138
@taupter can you help us with some basics?  We just need to get the emulator setup and send what's needed for a basic receipt.  If not, can you recommend someone that can read Portuguese to assist us moving forward?

[2017-08-17 03:29] tresf commented on #136
Closing as `wontfix`.   This is cosmetic and [doesn't appear to have a solution](https://stackoverflow.com/questions/40603418/have-script-detect-gnome-session).  If someone finds a solution, please feel free to reopen.

[2017-08-17 05:19] tresf commented on #217
Firefox Developer Edition:
[code]

Firefox Nightly:
[code]

We'll need to determine how best to shim this into the installer (if at all).

Unlike ESR, Firefox seems to encourage having this installed side-by-side Firefox-stable ,so we may want to install to all versions, which complicates the logic.

[2017-08-18 11:40] taupter commented on #138
Yes, tres, I can help you. I'll contact you later today (18th) to help you
recreate what I've done here.

Em qui, 17 de ago de 2017 às 00:24, Tres Finocchiaro <
notifications@github.com> escreveu:

[2017-08-19 00:20] tresf opened #226 "White-label typo"
Somehow this reference to QZ made it into the source code.  Needs to be cleaned up.

https://github.com/qzind/tray/blob/2.0/src/qz/ws/PrintSocketClient.java#L180

[2017-08-20 18:57] lukas-w commented on #43
Would it make sense to use the subject's "Unique Identifier" field for this? If we give the same ID for renewal certificates, the server could check the certificate's subject and not show an "Allow" dialog if the subject ID is known and was accepted before.

[2017-08-20 22:45] tresf commented on #43
Sounds OK to me.

Wouldn't it be cleaner to just use something that is derived from the previous certificate?  This way we wouldn't have to rely on a third party service for tracking the IDs and we wouldn't have to store any additional information about the previous trusted certificate.

[2017-08-21 03:26] klabarge commented on #42
A fresh build of the printer-status branch has been [uploaded here](https://github.com/klabarge/tray/releases/tag/v2.1-printer-status)

[2017-08-21 13:35] tresf opened #227 "Security Information"
QZ Tray bundles quite a few libraries of which may benefit from security patches.

There's a bit of obscurity surrounding which versions of these libraries are in use at a given time, mainly due to the nature of using bundled libraries (e.g. PDFBOX bundles BouncyCastle, etc).

We need a way to show the library versions on command line and in our about dialog.  The command line will provide a scrip

[2017-08-23 23:19] klabarge commented on #42
Testing with [this installer](https://github.com/klabarge/tray/releases/tag/v2.1-printer-status) on Windows 10.

@Vzor- Let me know if you want me to break these comments into separate bug reports.

* When I select "Listen to Current Printer", it looks like it listens to all printers

[code]

* I can't get any status information from a network printer. Nothing is outputted to the logs

[code]

[2017-08-24 00:40] Vzor- commented on #42
@klabarge  On windows, it now listens to all printers, then filters the results. If you change the status of a different printer you will see that it doesn't send any info to your client about it. Also the new code is much less verbose about what it is listening to.
As for the network printer, I will take a look into it. Is the os aware of the status? I know certain networked printers on windows j

[2017-08-24 02:35] klabarge commented on #42
@Vzor- It is (at least minimally), because I paused the printer queue in attempt to get a message and the results are the same. Nothing is sent to the logs or the Event Log in the sample.html. A Windows dialogue also appeared near the tray alerting me that the printer was paused

Additionally, when I "Listen to All Printers", none of the network printer installed on my system are captured (check l

[2017-08-24 02:50] Vzor- commented on #42
@klabarge  Very interesting, I'm attempting to reproduce. Thanks again for the help testing, my personal network printer works fine so I would have never noticed this.

[2017-08-24 02:53] Vzor- commented on #219
:thumbsup: On it!

[2017-08-24 03:33] Vzor- commented on #42
Got it reproducing, I just shared it via a homegroup.

[2017-08-24 18:30] Vzor- commented on #42
I have it fixed the logic, but with my setup it doesn't put the printer back into an 'OK' state very easily. Even on the "Devices and Printers" window, the printer shows up as out of paper for minutes after it has been fixed. Then when the printer finally goes back to 'OK' it does so silently, and doesn't throw a event about it until I queue another job. @klabarge Tell me if you have these same is

[2017-08-25 00:20] klabarge commented on #42
I tested this quickly and pausing/resuming the printer queue throw an event log immediately.

[code]

I haven't had luck getting other status messages (eg. tray open) to be triggered. These messages aren't even appearing on the server either, so I'll see if it's possible to get better statuses from Windows. I tested two printers:

* HP LaserJet 500 color MFP M570 PCL6 Class Driver
* HP LaserJet P4

[2017-08-25 01:20] Vzor- commented on #42
@klabarge

Awesome, my issue may have just been a symptom of my strange setup.

That is a good question. I could easily do it from a code point of view. It comes down to if tres wants it.

[2017-08-25 13:40] tresf commented on #42
I'm not sure what's preventing them from making it to the logs to begin with.  We should be logging everything to the logger.  I haven't reviewed the code to see why.

[2017-08-25 16:47] lite1979 commented on #223
Hardware ordered!

[2017-08-25 18:11] tresf commented on #219
@klabarge can you reach out to @Vzor- tonight with some help getting the trusted certificate setup?

[2017-08-25 19:08] klabarge commented on #219
@tresf @Vzor-

Done.

[2017-08-30 17:49] dsanders11 commented on #50
@tresf, @klabarge, I updated the Raspberry Pi I have QZ Tray on last night to Raspberry PIXEL (see instructions [here](https://www.raspberrypi.org/blog/introducing-pixel/)) and have found that QZ Tray is *significantly* slower. Is this anything you've seen or run into, or could you update your Raspberry Pi test machine to see if it reproduces?

Running QZ Tray from a terminal window takes ~20-30 s

[2017-08-30 17:55] tresf commented on #50
Hmm... we haven't significantly changed our startup logic, just a Jetty websocket listener.  We do some hackish stuff with the UI in 2.0 for Ubuntu tray support, but I can't think of anything off-hand.  We'll have to do some benchmarking and get back.

[2017-08-30 18:22] dsanders11 commented on #50
@tresf, I didn't change versions of QZ Tray, just updated the Raspbian system. So still running v2.0.4, so I don't think it's anything you've changed, just that something is causing it to be slower.

It's also slower for opening connections, taking ~2-3 seconds where as it used to be nearly instant.

[2017-08-30 18:24] tresf commented on #50
@dsanders11 thanks for clarification.  What JVM are you running?

[2017-08-31 01:48] dsanders11 commented on #50
[code]

[2017-08-31 01:57] tresf commented on #50
Thanks.  Do you have objections to testing the Oracle flavor, whatever's the latest? (e.g. 1.8.0_x)  We have a support contract with them so if this turns out to be an upstream bug (anything but JavaFX, they pulled support) we can open a service request with them.

[2017-08-31 02:46] tresf commented on #50
@dsanders11 just ran into this StackOverflow article that explains a bit about the performance differences on Pi.  The article is dated and we haven't reproduced your findings yet, but wanted to share.

https://stackoverflow.com/a/31156106/3196753

[2017-08-31 03:25] dsanders11 commented on #50
@tresf, I'll take a look tomorrow. It is possible the JVM changed during the update, the update process updates a lot of files.

[2017-09-02 09:06] tresf opened #229 "Windows cert check breaks for non-English locale"
On Windows, QZ Tray uses a command [`certutil -store Root`](https://github.com/qzind/tray/blob/4218d630208074e91054e8079edc88603217c6f9/ant/windows/windows-keygen.js.in#L580) to determine if a certificate has been installed properly.

This works well for English locales but fails on non-english locales and may not report a certificate being installed properly.

This is due to the [use of the Engli

[2017-09-02 09:33] bobo3k commented on #229
possible to do kind of a regex to just search for the string "QZ Industries"?
that could help bypass the issue...

Here is what it looks like in french:

[code]

[2017-09-02 09:36] tresf commented on #229
This problem [exists on Unix too](https://github.com/qzind/tray/blob/2.0/src/qz/utils/ShellUtilities.java#L48).  The cleanest way when scraping the output is to force English locale.

[2017-09-02 09:43] bobo3k commented on #229
In windows 10 it seems to be a pain though... just searching for ways to get the certutil command results other than in french, but so far, no luck....

[2017-09-04 09:10] mrloop commented on #168
Just updating with reference to spike, see #178

[2017-09-06 13:42] tresf opened #230 "Expected a long type at offset 52152, instead got 'xref'"
Placeholder for upstream bug report.

The attached PDF file is unprintable by PDFBOX 2.0.0 and PDFBOX 2.0.7 despite rendering in every other PDF rendered we've attempted.

Upstream bug report here:  https://issues.apache.org/jira/browse/PDFBOX-3923

[P17090403580.pdf](https://github.com/qzind/tray/files/1281267/P17090403580.pdf)

[2017-09-07 01:49] klabarge opened #231 "HTML content scaling"
There's a bug with HTML Printing in 2.1 when switching between `rasterize: false` and `rasterize: true` during print jobs.

QZ Tray Version: [2.1.0-RC2](https://github.com/tresf/tray/releases/tag/v2.1.0-RC2)

This issue was exposed when having issues with an HTML page scaling all the way to the right margin, but following the below steps will reproduce a similar issue with the sample HTML content.

[2017-09-07 17:36] guncebektas opened #232 "Problem on build.xml:219"
When i run `ant nsis -Dauthcert.use=cert/cert.pem` on mac, i'm getting this error

What could be the solution.

build.xml:219 is
[code]

[2017-09-07 17:53] tresf commented on #232
The installer will look for `makensis` in either `%ProgramFiles%/NSIS/makensis.exe` on 32-bit or `%ProgramFiles(x86)%/makensis.exe` on 64-bit per [build.xml#L236-L244](https://github.com/qzind/tray/blob/2.0/build.xml#L236-L244).

If something has changed and `makensis.exe` is in a different location, we will need to be made aware so that we can update our packager.

[2017-09-07 17:55] guncebektas commented on #232
so it's not possible to compile for windows on mac. Am i right?

[2017-09-07 18:04] tresf commented on #232
For mac, just `brew install nsis`.

[2017-09-07 18:08] tresf commented on #232
@guncebektas looks like  we had the `nsis` and `makeself` identified in our Linux dependencies but never added them to our Mac dependencies.  Added https://qz.io/wiki/install-dependencies#mac.

[2017-09-07 18:08] guncebektas commented on #232
thank you very much

[2017-09-07 18:08] #232 closed

[2017-09-10 19:22] guncebektas opened #233 "Untrusted website after successful signing"
Hello,

I have signed it with openssl and it's working on `startConnection()`
![image](https://user-images.githubusercontent.com/1319474/30252161-cdf7243a-9675-11e7-92d4-060f07155d90.png)

But when i try to find printers, the pop up appears again.
![image](https://user-images.githubusercontent.com/1319474/30252170-efb8dd48-9675-11e7-9dfa-b63b7d0dfbfd.png)

I know i have to sign every requests. I t

[2017-09-11 10:08] onurguzel commented on #233
Yes, you need an endpoint to give you signatures. You also need to `qz.security.setCertificatePromise()` to fetch the public key.

More info is available on https://qz.io/wiki/2.0-signing-messages

By the way, for getting answers faster, you may want to consider using [Community Support](https://qz.io/support/).

[2017-09-11 10:13] guncebektas commented on #233
@onurguzel i'm currently fetching public key with `qz.security.setCertificatePromise()` and i'm able to sign it. My domain name is in the list of "Alloweds" but somehow it's not working on other functions like `findPrinters()`

![image](https://user-images.githubusercontent.com/1319474/30269810-eecf860c-96f2-11e7-8022-1206c649e1fb.png)

[2017-09-11 12:57] tresf commented on #233
You should be fetching the `digital-certificate.txt` with that.  The public key is not used in signing.

As @onurguzel states, the signature needs to be correct.  The initial connection uses the certificate.  `findPrinters()` use the signature.  Since your certificate says "Verified by QZ Industries, LLC`, that means you have premium support.  Please contact `support@qz.io` and we can remote in an

[2017-09-11 14:09] guncebektas commented on #233
Hi, @tresf . I'm using digital-certificate which is starting with `-----BEGIN CERTIFICATE-----` for `setCertificatePromise` and private key which is starting with` -----BEGIN RSA PRIVATE KEY-----` for `setSignaturePromise` It seems the signing is wrong, am i right?

I didn't pay for premium support.

[2017-09-11 14:23] tresf commented on #233
I'm afraid we do not offer signing assistance for non-supported clients.

Correct.

[2017-09-13 21:41] tresf commented on #233
Closing as `invalid` as there do not seem to be any code defects in the product.  If you change your mind about premium support, please reach out through the ordinary channels.

[2017-09-13 21:41] #233 closed

[2017-09-14 04:04] tresf commented on #229
The technique (f679b54) makes some assumptions...
1. The values are on a specific line of the cert block.
2.  The values come after a description and a colon delimiter.

If these assumptions become incorrect in a future Windows release or in a certain language, the logic will break and the Windows XP dialog will appear.

[2017-09-14 05:28] guncebektas commented on #233
I solved my problem and want to share it here. Meteor.js users can use this code blog. As you mentioned before there isn't any problem on
`setCertificatePromise` and I focused on `setSignaturePromise`

client.js
[code]

And add `header("Access-Control-Allow-Origin: *");` to allow CORS into sign-message.php

[2017-09-14 07:35] bobo3k commented on #229
Hi Tres,
just confirming that it works perfectly on my french windows 10.
No warning, it goes through without any issue... (I sent you the setup logs by email).

B

[2017-09-14 08:44] bobo3k commented on #229
I can now confirm that this setup works on french computers & spanish (just tried it on a spanish w10)!

Good job!

B

[2017-09-14 13:36] tresf commented on #229
@bobo3k thanks for the feedback.  Closed via f679b54.  This fix will be available in 2.0.5.  Please feel free to use the `v2.0.4-lang` until 2.0.5 is released.

[2017-09-14 13:36] #229 closed

[2017-09-14 13:41] tresf commented on #233
@guncebektas thanks for the feedback.  It appears the issue you were having was specific to the JavaScript library and the CORS settings (fetching the signing function across domains).  Neither of these are typical problems, but we do appreciate you sharing your troubleshooting and resolution.

[2017-09-15 02:06] tresf opened #234 "Serial data received out of order"
Using a Posiflex PD-2600 in Epson mode and the serial library, there's a race condition that can occur where the serial data is processed out of order making the display appear to behave slowly or incorrectly.

This can be triggered by executing the following command in quick succession without waiting for the `sendData` promise to fulfill.

[code]

Log showing out of order data..  (27, 29, 32, 30

[2017-09-15 08:33] s-berney opened #235 "Error JSONObject["data"] is not a JSONArray (Microsoft Edge only)"
Hello,

We have an issue on Microsoft Edge (v40) when launching the print, we got this error :
image
![image](https://user-images.githubusercontent.com/10452430/30473613-4986e354-9a01-11e7-8648-cb8757f15ba8.png)

Code is :
[code]
On Firefox, all is working...

[2017-09-15 13:10] tresf commented on #235
@s-berney I tried to reproduce your issue and was unable to.

The following code prints just fine with QZ Tray 2.0.4 on Edge 50.  Is there anything special about your setup that could be causing this?

[code]

[2017-09-15 15:27] s-berney commented on #235
Here's the log trace on QZ.io :
![image](https://user-images.githubusercontent.com/10452430/30490710-1a41e6ae-9a3b-11e7-9032-8ece3d93de0b.png)

We had same problem on IE10 on a different computer...

[2017-09-15 15:37] s-berney commented on #235
For information, all was working fine with 1.9.4 plugin version - this error happend after migrate to v2 !

[2017-09-15 15:38] tresf commented on #235
@s-berney this may be an unhandled character in your printer name.  See how it overflows?  What happens if you use a different printer name, does it fix it?

[2017-09-15 15:53] s-berney commented on #235
It's "overflow" because of the space on the name, but with Firefox (on the same computer) it's working fine...
And error talk about "data" object...

[2017-09-15 16:06] tresf commented on #235
Thanks for the information.  Can you please reinstall Java 8 from offline mode and see if that corrects the problem?  The data should be getting prepared the same and I cannot find a problem with the data you are sending.  If that doesn't work, I'd like to gain access to the offending workstation to see where the malformatted data is originating from.

[2017-09-19 03:59] tresf commented on #235
@s-berney I'm going to close this issue out as it is not reproducible on two test PCs running Windows 10, QZ Tray 2.0.4 and the latest version of Java 8u144 64-bit.

Please post any updates to the issue here.

[2017-09-19 03:59] #235 closed

[2017-09-19 04:05] tresf commented on #222
Closing since the required information was not provided.  Please let us know if you have an environment to recreate and we'll reopen.

[2017-09-19 04:05] #222 closed

[2017-09-19 04:17] tresf commented on #221
@bobo3k interestingly enough the HP Photosmart C4380 does not mention `300dpi` in it's specification page (quoted below) and it's printing similar to how the `XPS Document Writer` behaves when it can't print a 300dpi document (it prints at 600dpi, but the content is half size).

On a side note, there's a bug with the way we interpret the `rasterize` option documented here you should be aware of.

[2017-09-19 04:29] tresf commented on #196
@klabarge are we closing this as `wontfix` then?

[2017-09-19 04:39] klabarge commented on #196
@tresf yes, the original post is `wontfix`

[2017-09-19 04:39] #196 closed

[2017-09-19 04:58] tresf commented on #208
Part of the luxury of installing (or reinstalling) software to thousands of computers is the comfort in knowing the software is installed the exact same way every time.

In the case of a default install (the vast majority of the QZ Tray users), we really don't want to preserve the properties file.

In the case of a print-server install, we do want to preserve the properties file.  Unfortunately a

[2017-09-19 05:08] tresf commented on #208
**Edit:** TL;DR.  The original bug report is asking for SSL mode only, so that's what we'll code to.  It really limits the scope of this change.

[2017-09-19 05:27] #213 closed

[2017-09-19 05:30] tresf commented on #138
No word from @taupter for weeks at a time.  Bumping to 2.2 milestone, but may close as `wontfix` if we can't find some translation help on this.

[2017-09-19 05:34] tresf commented on #174
Oracle has updated the ticket suggesting the fix will make it into `8u162`.  They have made no guarantee yet, but if they do, we can revert 3af01b6 and change the check to `8u162`.

[2017-09-20 05:03] tresf opened #236 "Serial port block for 30 seconds with POSIFLEX pole display"
When writing data to the POSIFLEX Pole display, QZ Tray will block the serial port for exactly 30 seconds randomly when sending data.

[2017-09-20 05:06] #236 closed

[2017-09-20 05:10] tresf commented on #236
Turns out setting the port properties such as the baud rate on each data call causes some strange hanging but only on certain serial devices.  This bug was not reproducible on a Logic Controls pole display with identical Epson Pole Emulation commands but surfaces on the POSIFLEX randomly but generally less than 600 sendData calls.

[2017-09-20 19:20] tresf commented on #136
@dyorgio has provided a solution here: https://stackoverflow.com/a/46329597/3196753.  Reopening until we have a chance to test and commit.

[2017-09-21 23:19] Jaylton opened #237 "Problem while running on Node.js"
why when I try to run on Node.js with NWJS it says:  ReferenceError: Sha256 is not defined

[2017-09-22 00:02] tresf commented on #237
Have you tried the techniques outlined in our API-override section?

https://qz.io/wiki/2.0-api-overrides#override-sha256

[2017-09-22 20:57] Jaylton commented on #237
I did not understand where to put this code:

qz.api.setSha256Type(function(data) {
   return crypto.createHash('sha256').update(data).digest('hex');
});

can you help me?

[2017-09-22 22:06] tresf commented on #237
Should be before your call to `qz.websocket.connect(...)`

[2017-09-22 23:46] Jaylton commented on #237
Now it says: "undefined is not a function",

my code:

`<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">

    <title>QZ Tray Sample Page</title>
</head>

<script type="text/javascript" src="bootstrap/js/dependencies/rsvp-3.1.0.min.js"></script>
<script type="text/javascript" src="bootstrap/js/dependencies/sha-256.min.js"></script>
<script type="text/javascript"

[2017-09-23 00:03] Jaylton commented on #237
I think the problem is not solved like this, since in https://qz.io/wiki/2.0-api-overrides, says it's for versions lower than 2.0.2, I'm using 2.0.4.
what do you think?

[2017-09-23 07:19] tresf commented on #237
Thanks, you are correct.  We've bundled that logic into `qz-tray.js` here 9721b7a for Node 6.5 so it is no longer needed however if you're running a Node version that does not provide `crypto` by default, you'll still need to use the old logic:

[code]

Which version of Node.js are you running?

[2017-09-23 17:26] Jaylton commented on #237
I'm using version 6.11.2 of Node.js, look at my code, what should I do?

`<script>

    qz.security.setCertificatePromise(function(resolve, reject) {
        resolve("-----BEGIN CERTIFICATE-----\n" +
                "MIIFAzCCAuugAwIBAgICEAIwDQYJKoZIhvcNAQEFBQAwgZgxCzAJBgNVBAYTAlVT\n" +
                "2ur4rDErnHsiphBgZB71C5FD4cdfSONTsYxmPmyUb5T+KLUouxZ9B0Wh28ucc1Lp\n" +
                "rbO7BnjW\

[2017-09-23 18:54] tresf commented on #237
@Jaylton thanks for providing the code.  What we would expect to see in a `node.js` example is something much simpler, such as something from the [Getting Started](https://qz.io/wiki/2.0-Getting-Started) guide adapted to work with QZ Tray.

Instead, I see a copy/paste from our sample.html which contains code snippets that use jQuery and a bunch of other stuff that just doesn't make sense in a `nod

[2017-09-23 20:01] tresf commented on #237
Tutorial updated with above example: https://qz.io/wiki/2.0-API-Overrides#node-quickstart

[2017-09-23 20:46] Jaylton commented on #237
thank you so much

[2017-09-26 08:47] bobo3k commented on #221
Hi Tres, sorry I haven't seens this post... do you need me to test something here?

[2017-09-26 12:59] tresf commented on #221
@bobo3k I recommend:
1. Restart QZ Tray after the printer settings have been changed to avoid https://github.com/qzind/tray/issues/225
2. Use 600dpi
3. Skip using the demo and avoid `rasterize: true` to avoid https://github.com/qzind/tray/issues/231

I think your printout will be correct if you circumvent the issues that are described in those two bugs.

In regards to the 600dpi, this may be hardw

[2017-09-26 15:26] bobo3k commented on #221
I'm on 2.1 ;)
Well, I know for a fact that the default 600dpi works as expected with this printer ... (as I tried it before)...
The main issue is when some clever people (like me lol) do not want to spend so much ink & use the "low resolution" (draft) setting from the printer control panel... Then in that particular case, the scaling is wrong...
I can try on 2.0.4 if you need me to... **just let m

[2017-09-26 16:31] tresf opened #238 "Alternate printing failed"
When using configuration `{ altPrinting: true }` on Windows, QZ Tray will not print.

Alternate printing is a feature available for CUPS printers that allows bypassing the printer driver on Linux and Mac, but this feature is not available on Windows and should not prevent printing from happening.

[2017-09-26 16:49] #238 closed

[2017-09-26 16:49] tresf commented on #237
If you have any other issues, please let us know.

[2017-09-26 16:49] #237 closed

[2017-09-26 22:50] Itaqua commented on #200
Using QZ Tray 2.0.4-1  in MacOS SIERRA 10.12.6 (16G29)

Hi I’m currently using Firefox 55.0.3 (64-bits)
and it presents the same problem described here

If I follow the workaround described It will work fine.

This doesn’t happen in Windows 10 Firefox (It works fine)

[2017-09-27 01:44] tresf commented on #200
@Itaqua I just tested QZ Tray 2.0.4-1 with Firefox 55.0.3 on MacOS 10.12.6 and did not experience the problem.

![screen shot 2017-09-26 at 9 33 18 pm](https://user-images.githubusercontent.com/6345473/30891688-9fbe348e-a302-11e7-81ae-c19b4c026cde.png)

Is there a chance you have another copy of Firefox on the system?  We use a program called `lsregister` to locate the Firefox install location, bu

[2017-09-27 06:44] welrachid opened #239 "Would it be possible to make a chrome extension that be run in background that will make the printer print?"
Hi guys.
Not sure how to ask a question without making it an issue, but i thought i would ask in forum so that everyone could "learn" from it.

Im just curious if it would be possible to make a chrome extension that would be able to be notified from our server that there is a "document" ready to be printed? even though the browser is shut down (using chrome's ability to have services running after

[2017-09-27 09:58] Itaqua commented on #200
Hi thanks for answering, the output of is:
[code]
Firefox in the Parallels VM (Windows 10) is working fine
Our QA is presenting the same behavior in FF on macOS

[2017-09-27 14:07] tresf commented on #200
So Parallels has published the Windows version of Firefox and irresponsibly chosen the same application name that Firefox uses.  They shouldn't have done this, but we can code an exception into our installer to omit this as well.  I would not consider this common for the Mac desktops we support, but if Parallels is going to push the seamless win32 integration, we'll have to hack around it.

[2017-09-27 14:14] tresf opened #240 "Parallels for MacOS Impacting Firefox Cert Install"
Quoting @Itaqua from https://github.com/qzind/tray/issues/200#issuecomment-332358679

[code]

Investigation shows that the first three `Firefox.app` are actually a wrapper around the Parallels Win32 published application.  We'll have to add an exception to `locator.sh` to fix this...

[2017-09-27 14:14] tresf commented on #200
@Itaqua I'm moving discussion to #240, as this is a separate issue to the original bug report here.

[2017-09-27 15:13] tresf commented on #240
This should be patched via f9d08b7.

[2017-09-27 17:56] #240 closed

[2017-09-28 05:08] tresf commented on #239
It seems possible  https://developers.google.com/web/fundamentals/push-notifications/
It's out of the scope of our current product since we don't yet offer a Chrome plugin version of our software, but it appears that part of the `Notification` can register a worker that can fetch these from the server even when the browser is not running.

https://hacks.mozilla.org/2016/01/web-push-arrives-in-fire

[2017-09-28 05:35] welrachid commented on #239
That would be awesome, since this would make it possible for us not to have the browser open when we make auto-prints.
Maybe i should look into this. Doing a chrome plugin is relatively simple

[2017-09-28 16:35] tresf opened #241 "JDK9/JRE9 Support"
Java 9 has reached the ["General Availability" milestone](http://openjdk.java.net/projects/jdk9/) September 21st and is changing the way they internally version the product as well as the way resources are loaded.

Currently, QZ Tray will not launch using Java 9 for two reasons:

1. The semantic versioning we use assumes the version information is parsable. This will throw

[code]
2. The classload

[2017-09-28 18:57] tresf commented on #219
This may seem logical in principle, but in practicality, this has the side effect of blocking printing when the cert promise is broken.  Most clients want to have a fallback in this scenario and that is the logic we'll be keeping.

This has been patched in #242.  The fix is so small that we're going to rebase it against 2.0.5.  If you can help us test this out, that would be great.

I don't mean t

[2017-09-28 20:57] #241 closed

[2017-09-28 21:02] tresf commented on #241
This was only partially correct.  We were using a non-standard call `class.getClass().getResourceAsStream(...)`, which appears to be a typo.  Fixed via
 https://github.com/qzind/tray/commit/49e553046621114b14787297b5a9eb17efc63802#diff-9b8e28ccef69e98f030233fc3914e2c8R205

Patched for now using the above function, which blindly returns `1.9.0` for all Java 9 versions.  This will causing some probl

[2017-10-02 09:08] bobo3k commented on #221
Hi everybody, sorry for the delay in replying... I had so much work I couldn't even run a single test...

Here are the tests with 2.0.4:
in both cases:
600DPI (I removed the default low quality setting in the printer cpanel)
Rasterize: OFF

In once case, I tried with scale ON & then OFF ...
It seems that something is wrong with the sizing... (I used the QZ Tray sample page provided with the 2.0.4

[2017-10-02 14:26] bberenz commented on #221
@bobo3k, would you mind providing the logs for those prints? Curious what values QZ is coming up with for your printer there.
And is this still with the A4 page size?

[2017-10-02 15:49] bobo3k commented on #221
Hi Brett,

no worries...

- I set back to default my c4380 (control panel/printers.... and removed the draft quality = back to normal)
- I installed the 2.1.4
- and I printed
first => 600DPI / RASTERIZE OFF / SCALE ON
and then
600 DPI / RASTERIZE OFF / SCALE OFF

and here are the logs:
debug.log
`2017-10-02 17:31:01,695 [INFO] Successfully loaded 1 CRL entries from https://crl.qz.io
2017-10-02 17:

[2017-10-02 16:05] bobo3k commented on #221
just a small reminder here... the main issue (I think) is that when a user changes is default printing preferences (like draft quality instead of normal), then the scaling is weird...

[2017-10-03 15:20] tresf commented on #239
@welrachid since we already offer a print-server mode, there are some other ways this could be done, such as sending the print job through HTTP directly to the PC that's already running QZ Tray.

This is out of scope for our project but please feel free to offer research here.  If it is something we find value in adding to our base product, we'd be happy to reopen the issue.

[2017-10-03 15:20] #239 closed

[2017-10-03 22:54] klabarge commented on #221
@bobo3k, just to be clear, you are restarting QZ Tray after printer setting changes (as described in #225)?

[2017-10-04 06:29] bobo3k commented on #221
@klabarge ,
yes definitely: but since I was asked to test @ 600 DPI... I didn't get the issue on that last test

[2017-10-04 14:37] tresf opened #243 "Better logging for failed CRL fetch"
The CRL fetching seems to be throwing a lot of false-positives from a support perspective.  We should quiet down the warning that appears so that it does not look so intimidating to the end-user.

Currently it looks like this:

[code]

Although it should probably look something more like this:

[code]

[2017-10-05 21:06] bberenz commented on #197
I did some testing on a mac-mini where I forced the print dialog to display before actually sending the document off to the printer. For either landscape orientation the dialog displayed the proper  values:
![sample](https://user-images.githubusercontent.com/5912715/31252193-6749622a-a9ee-11e7-8b28-cf8496848922.png)
But the page printed exactly the same way for both layouts, so it's likely this is

[2017-10-06 01:53] tresf commented on #197
I think this is a good option.  I assume it will fail on 2.1 HTML (non-rasterized) though, right?  I slightly remember that being the "black sheep" of printer attribute hacks.

[2017-10-08 01:30] dsanders11 opened #244 "Support Multiple Connections in JavaScript API"
Right now the JavaScript API only supports a single open connection. We're moving our integration of QZ Tray to a single-page app, and this prevents getting the benefit of long-lived connections that stay open between page navigations. One page might need to be connected to `localhost` to read a USB scale, another page to QZ Tray running on another machine as a print server. You have to avoid havi

[2017-10-09 10:28] onurguzel commented on #244
Hello David,

As you have mentioned, I would also avoid keeping connections open for the entire lifecycle of the app. You may want to consider opening the required connection when it is needed until this issue is solved.

[2017-10-09 16:46] pep108 opened #245 "Printer prints code instead of EPL commands"
I'm using a Zebra LP 2844 to print labels. I have successfully printed EPL using the code in the sample, however, if I remove the image and use the following printData, just the code is printed on the label.
[code]

Is this a bug, or is there something that I'm missing? Either way, I believe the answer could improve the documentation.

[2017-10-10 02:44] tresf commented on #244
This appears to be a bug with the JavaScript API.  Although our IIFE/singleton made perfect sense when we converted from a singleton Java applet, both the front-end and back-end are written in a way that would allow multiple connections (technically, multiple `qz` instances).

We need to allow a flag for disabling the singleton behavior, or just disable it entirely.  From what I'm reading, this [c

[2017-10-10 02:46] tresf commented on #244
@dsanders11 to clarify, this really should have a full new `qz` instance, not just the websocket.  Thoughts welcome.

[2017-10-10 03:47] tresf commented on #245
Which OS and which driver?  The ZDesigner driver for Windows is usually very good at detecting the print flavor (Raw vs. Pixel), but you can force the raw language by following this guide:

https://qz.io/wiki/setting-up-a-raw-printer-in-windows

There are some bugs with certain label sizes and printer models that can be exposed by EPL commands, but the symptoms are different (bad EPL commands usua

[2017-10-10 04:06] dsanders11 commented on #244
@tresf, yes, a full new `qz` instance. I was just pointing out the API probably should be object based. Unfortunately don't have the spare brain cycles to give any detailed thoughts.

[2017-10-11 03:34] tresf commented on #219
I'm closing this via https://github.com/qzind/tray/pull/242.  If there are issues with the implementation, please reopen.  There are several other good points in the conversation above.  If they warrant a new issue, please feel free to create one for each request/bug.  Thanks for reporting this.

[2017-10-11 03:35] #219 closed

[2017-10-11 18:15] tresf commented on #138
We hired some R&D on this and it's simply not a product worth supporting at this time.  The API makes it possible in Java, but it introduces some licensing issues.  Raw serial data just has too many combinations of printer to support and the regulatory restrictions make it too hard to support this in the project's current state.

I'll quote the contractor we hired:

(he's right, we [do rely on RX

[2017-10-11 18:16] #138 closed

[2017-10-11 22:45] pep108 commented on #245
@tresf thanks for your feedback. I'm on OSX which seems to partially limit the capabilities of the printers. I did solve the problem by switching the CUPS driver to the raw driver.

[2017-10-11 22:45] #245 closed

[2017-10-12 03:26] #210 closed

[2017-10-12 03:35] #226 closed

[2017-10-19 17:41] #243 closed

[2017-10-19 21:09] tresf commented on #227
| lib | api |
|---|------|
| pdfbox | `org.apache.pdfbox.util.Version.getVersion()` |
| jssc | `jssc.SerialNativeInterface.getLibraryBaseVersion()` |
| jetty | `org.eclipse.jetty.util.Jetty.VERSION` |
| jna lib | `com.sun.jna.Native.VERSION` |
| jna native | `com.sun.jna.Native.VERSION_NATIVE` |
| hid4java | \<UNKNOWN\> |
| usb4java | `org.usb4java.LibUsb.getVersion()` (mismatched, needs confirmat

[2017-10-20 04:01] tresf opened #249 "Non-rasterize to honor rendering hints"
Per https://issues.apache.org/jira/browse/PDFBOX-2450, we should be able to pass on rendering hints to the printer driver.  We do this for `rasterize: true` (when we turn the PDF into an intermediary image) but we don't do this for `rasterize: false` which is faster and much higher quality.

[2017-10-24 18:13] bberenz commented on #197
I've fixes for max landscape up on the [reverse-fix](https://github.com/qzind/tray/commits/reverse-fix) branch ready for review.
As for 2.1, we will have to look into what's needed for vector html prints after rebasing.

[2017-10-24 18:15] bberenz commented on #249
After looking into this a bit further I've a couple concerns:
1. We don't set rendering hints for any pdf, rasterized or not (both are internal to pdfbox).
2. The linked pdfbox report was closed as not fixed, they still hardcode their renderinghints internally

[2017-10-24 18:24] bberenz commented on #244
Well the immediate problem I see is that our api is setup to work statically. That is, `qz.action()` will always reference the single connection. What's proposed here would turn that into `var myqz = new qz(); myqz.action()`.
Not bad per-say, but this would break all existing code to just up and change. Maintaining that static call style so we don't break existing code and still allowing for a sta

[2017-10-25 15:13] tresf opened #250 "Kubuntu 16.04 Firefox SSL"
When reinstalling QZ Tray on Kubuntu 16.04, SSL in Firefox breaks.

During troubleshooting, killing java (e.g. `pkill -9 java`) and reinstalling seems to fix the issue, but it is uncertain why Java is not being killed through the installer.

@lite1979 can you please reproduce.

[2017-10-25 15:49] tresf commented on #249
@bberenz we can test against various hardware to see what happens.  Can we have some prototype code to test against and then we can determine if there are serious regressions?

I understand the bug report wasn't conclusive to that particular hardware/driver combination.  It was provided more as evidence that PDFBOX should support it.  There is a use-case we're trying to resolve where a PDF barcode

[2017-10-25 16:07] tresf commented on #244
@bberenz I noticed that too, but we could still leave `qz` static UNLESS we provide some form of override, right?  I understand the override would need to be in the form of a global and set before the script tag is included in a web page, but it seems possible.

Another option is to allow qz to clone itself, so the default behavior would be to use `qz` but a method could be used to make a new inst

[2017-10-25 16:55] tresf commented on #234
This problem seemed to occur due to the hardware locking up on certain requests, fixed in 1f0b1c1.  It may still be valid, but I'm closing as `wontfix` for now because no one is complaining about this.  If this bug affects, you please ask to reopen and we'll milestone it for another release.

[2017-10-25 16:55] #234 closed

[2017-10-25 18:52] dsanders11 commented on #244
@tresf, just chiming in, but if you're going to be rolling up your sleeves on the JavaScript API anyway you may want to consider using [Google Closure Compiler](https://github.com/google/closure-compiler) or [Babel](https://babeljs.io/) as a build process. I know Closure has some really nice type-checking support that uses JSDoc tags (which you already have throughout the code) that I've found hel

[2017-10-25 19:51] tresf opened #252 "Firefox certificates not being deleted"
We currently use an ill-advised but previously working technique for removing QZ Tray SSL certificates from Firefox by [searching by nickname using `findCertByNickname`](https://github.com/qzind/tray/blob/7e69350b04a1d5327910b186f403a9428db5656d/ant/firefox/firefox-config.cfg.in#L50).  At some point, this technique broke, newer Firefox versions don't seem to support this technique.  There's also a

[2017-10-25 23:04] klabarge commented on #197
@bberenz I tested landscape / reverse landscape from this branch on both macOS and Windows, and the results are identical 👍

[2017-10-26 17:55] #252 closed

[2017-10-30 16:24] bberenz commented on #197
The `pdffix` branch actually fixed some of the issues my last commits tried to work around.
45fcd147d6ebf210599f4819e6541951bd89d17b rebases the `reverse-fix` branch off that and moves the work around to what's needed.
@klabarge, can you verify everything still prints correctly on the `reverse-fix` branch please?

[2017-10-30 22:08] klabarge commented on #197
Mac and Windows seem to have opposite orientations.

I used PDFWriter for macOS, and Microsoft XPS for Windows.

Mac, reverse-landscape

![image](https://user-images.githubusercontent.com/12505463/32197841-2da6af66-bd9c-11e7-9ec0-3a3a68828ee4.png)

Windows reverse-landscape

![image](https://user-images.githubusercontent.com/12505463/32197947-8facd866-bd9c-11e7-8061-09d786890c0e.png)

[2017-10-31 09:18] klabarge commented on #197
I will test to a physical printer to confirm my above results.

[2017-10-31 19:18] lite1979 commented on #250
I cannot reproduce using Ubuntu 16.04 with Oracle Java.

Re-installing QZ-Tray does give an error if Firefox is left open, but after restarting Firefox, SSL connection to https://demo.qz.io works fine.

I will attempt to reproduce with Kubuntu 16.04 and Oracle Java.

[2017-10-31 20:29] klabarge commented on #197
I tested this to a physical printer (HP Laserjet M603) and cannot reproduce this issue.

landscape and reverse-landscape printing is identical on Windows, macOS, and Linux.

[2017-10-31 20:46] lite1979 commented on #250
After installing and updating Kubuntu 16.04.3, adding the Oracle Java ppa and installing QZ-Tray, I reinstalled QZ-Tray 2.0.4 and could not connect to wss until restarting Firefox.  After restarting Firefox, QZ-Tray works as expected when visiting https://demo.qz.io

I believe this is normal behavior, and a restart of Firefox is always recommended after installation of QZ-Tray.

[2017-11-01 01:54] tresf commented on #197
Ok, let's merge it back in, close this issue and get one step closer to 2.0.5. :)

[2017-11-01 16:04] tresf commented on #250
Will close as invalid then.  If this resurfaces, we can reopen, thanks for testing.

[2017-11-07 03:06] #158 closed

[2017-11-07 03:08] klabarge commented on #197
Merged via e602da6

[2017-11-07 03:08] #197 closed

[2017-11-08 06:59] #227 closed

[2017-11-08 07:13] tresf commented on #230
Closed via upgrade to PDFBOX 2.0.8 via 71c9e1f.  Upstream bug report is closed as well.  This will be fixed in QZ Tray 2.0.5.

[2017-11-08 07:13] #230 closed

[2017-11-08 07:18] tresf commented on #223
@lite1979 any progress with DPL? Just a basic example for sample.html would do the trick.

[2017-11-08 22:02] bberenz commented on #249
So I tried to setup some code that would set rendering hints on the graphics object for pdf printing, but there's two related issues that prevent it from doing anything.
The first is that for rasterized prints, pdfbox [creates and uses](https://github.com/apache/pdfbox/blob/2.0.8/pdfbox/src/main/java/org/apache/pdfbox/printing/PDFPrintable.java#L180) a new graphics object _during_ printing, so we

[2017-11-15 01:58] #209 closed

[2017-11-15 02:00] tresf commented on #209
This feature will be publicly available in 2.0.5.

[2017-11-16 03:34] klabarge opened #256 "macOS interpolation"
* `nearest-neighbor` does not appear to be honored when using `rasterize: false`

**OS:** macOS Sierra
**QZ Tray:** Tested using [2.0.5 RC1](https://github.com/tresf/tray/releases/tag/v2.0.5-RC1) and 2.0.4
**Code:** sample.html `printImage()` function

Looks similar to issue #38

**`nearest-neighbor` + `rasterize: true` (macOS)**

![screen shot 2017-11-15 at 10 16 18 pm](https://user-images.github

[2017-11-16 19:11] tresf commented on #256
This will have to be slated for 2.0.6.  Thanks for reporting.

[2017-11-20 00:53] klabarge opened #257 "Windows rasterize: false results in nearest-neighbor"
* When using `rasterize: false` for HTML and image printing, outcome appears to be `nearest-neighbor`

**OS:** Windows 10 (not reproducible in macOS)
**QZ Tray:** Tested using [2.0.5 RC1](https://github.com/tresf/tray/releases/tag/v2.0.5-RC1) and 2.0.4
**Code:** sample.html `printImage()` and` printHTML()` functions

![image](https://user-images.githubusercontent.com/12505463/32997840-1ed650d2-cd6

[2017-11-24 15:18] mrloop commented on #63
@tresf has there been any work done on the Plugin API? Having a look at the https://github.com/qzind/tray/commits/2.1 can't see any obvious commits.

[2017-11-24 15:29] tresf commented on #63
No, none, sorry.  This won't make 2.1.

[2017-11-27 10:06] lutek commented on #60
Hi,

just have compiled latest version from branch 2.1 on elementary os (loki) logs doesn't show error but icon tray is missing and prompt windows also. What should i check or change?
Logs form opening local demo page:

java -Xms512M -jar qz-tray.jar
[INFO] 2017-11-27 10:59:51,391 @ qz.ws.PrintSocketServer:?
	Starting QZ Tray 2.1.0-RC3
[INFO] 2017-11-27 10:59:51,438 @ qz.common.TrayManager:?
	Runn

[2017-11-27 14:48] tresf commented on #60
@lutek I recommend compiling the code from this PR: https://github.com/qzind/tray/pull/228.  Some bugs with 2.0.x have put the 2.1.x branch behind a bit, but that PR is the best living version of the modern system tray and you can report any bugs you find here.

[2017-11-27 14:48] tresf commented on #60
[code]

[2017-11-27 17:09] lutek commented on #60
ok go working from https://github.com/Vzor-/tray/tree/system-tray

[2017-11-27 17:17] Vzor- commented on #60
@lutek As of this version of dorkbox there is an issue with Gala/Pantheon again. I am going to be addressing it later today when I fast-forward the branch.

[2017-11-27 20:06] Devil-Boy commented on #32
Sorry. I know this is an old, closed ticket.

My team was having this issue with partial prints on the first job. I resolved it entirely by increasing the time before the HTML snapshot.

In "src/qz/printer/action/WebApp.java", I arbitrarily changed:
`snap = new PauseTransition(Duration.millis(100));`
to
`snap = new PauseTransition(Duration.millis(1000));`

I figured I'd mention this in case the is

[2017-11-28 00:16] Vzor- commented on #60
@lutek According to Dorkbox (the creator of the systemTray lib that my fork implements) there is a fix to the to the outstanding Elementary OS issue, but it will not me ready for release until Friday. As soon as that happens I will commit it in and mention it here.

[2017-11-28 05:02] #250 closed

[2017-11-28 06:50] klabarge opened #258 "HID + websocket errors in Windows 10 "Remote Endpoint unavailable""
**OS:** Windows 10
**QZ Tray:** Reproducible in 2.0.3 +

When an HID device is power cycled with an Open Stream, the websocket connection must be re-established (e.g. page refresh) for the software to read values from the HID device (scale).

Once the page is refreshed, `RemoteEndpoint unavailable` errors are spammed to the logs indefinitely until QZ Tray restarted. Other than log spamming, the so

[2017-11-28 07:43] lutek commented on #60
Thanks i wait for that commit to do check it.

[2017-11-28 17:16] bberenz commented on #258
I've changed the connection manager to explicitly turn off streaming when closing and I've changed the streaming methods to catch the websocket exception, so if this does still occur there will only be one stacktrace and the device will quit trying to stream.

At least, it _should_, unfortunately the scale I used to use to test this is broken, so I cannot confirm this fix first hand at the moment.

[2017-11-28 19:40] tresf commented on #60
Still awaiting the fix from upstream but please use the following branch instead:

[code]

This branch has been rebased against `qzind/2.1`.

[2017-11-28 20:42] lutek commented on #60
@tresf it works :)

![screenshotfrom2017-11-2821-29-23](https://user-images.githubusercontent.com/846598/33342966-188c94f2-d484-11e7-8148-51b1733e8f4e.jpg)

but got problem with permission. Usually first time i'm starting with 'sudo java -Xms512M -jar qz-tray.jar' but this time doesn't work.

log from normal start by desktop icon.
[code]

logs from start  'sudo java -Xms512M -jar qz-tray.jar'

[co

[2017-11-28 20:49] tresf commented on #60
@lutek why are you using `sudo` ?

[2017-11-28 20:54] lutek commented on #60
terminal got the same error with 2.0.4.

[2017-11-28 20:56] tresf commented on #60
QZ Tray should never be started as `sudo`.

[2017-11-28 23:17] klabarge commented on #258
Yes, this fixed work. The error was only thrown once.

So this is the behavior in macOS. Releasing and then re-claiming, and then opening a new stream allows you to resume reading values from the scale.

In Windows, I am unable to release the device after it has been power cycled. A "device not open" error is thrown:

[code]

[2017-11-29 00:19] klabarge commented on #257
More information on this bug:

* Printing using `rasterize: false` makes images look as if `nearest-neighbor` is applied. This is also reproducible using HTML printing, which is unexpected.

* This pixelation does not happen in macOS

* A further look at the logs indicate that a DPI of 0 is being set when prints aren't rasterized. This also happens in macOS, so I assume this is expected?

* It loo

[2017-11-29 00:23] klabarge commented on #256
This may be an invalid test as described in bug #257, `rasterize: false` results in a similar, pixelated image in Windows 10

[2017-11-29 08:52] lutek commented on #60
I used with sudo because noticed permission error in log. Then started ones with sudo than normal, that was workaround for me.

[2017-11-29 15:45] tresf commented on #60
@lutek your test results are invalid if you're running the software as `sudo`.  Please purge qz tray as well as all temporary files `sudo rm -rf /opt/qz-tray; sudo rm -rf ~/.qz`.  We do not recommend nor support running the software through `sudo`.  This is because `sudo` has a tendency to change ownership of your files.  Please avoid it.

[2017-11-29 16:22] lutek commented on #60
Done, but icon not showing after autostart after install:

[code]
logs after install and first startup:

[code]
[code]

killing process and run it from "desktop applications", tray icon appears. Logs:

[code]
[code]

[2017-11-29 17:00] bberenz commented on #258
Oh, I forgot we changed libraries for Windows. PJHA checks the device open state in all of its calls, but does not allow us to query the open value ourselves..

I've changed the close call to catch and log this exception as an "already closed" status. This should allow the close call to complete successfully and remove the dead device from the connection. So, 20186574a2f55f69a80a9668e117cf4f805a79

[2017-11-29 19:59] tresf commented on #60
@lutek thanks.  I'm getting similar issues on Ubuntu 17.10.  I've corrected the code so that it properly loads now even when it can't attach to the tray.

We'll await the latest fixes and post an update here.

[2017-11-29 20:39] klabarge commented on #258
Yes, this patch works. Closing.

[2017-11-29 20:39] #258 closed

[2017-12-03 07:46] Vzor- commented on #60
The dorkbox code just dropped. I will update the branch around 2pm.

[2017-12-03 16:39] tresf commented on #60
@Vzor- please push to #163 and remove all SystemTray code from #228.  @dorkbox has confirmed 17.10 is an API change in the way Gnome handles the systemtray and AFAIK release 3.12 does not address this, new DBUS code will need to be added.

We won't be able to support gnome 3.26 until these features have been added.

[2017-12-04 05:29] tresf commented on #158
PDF auto-orientation is now available in 2.0.5.  You can grab it at https://qz.io/download

[2017-12-05 01:45] tresf commented on #174
This is now slated for `8u172`, this time the fix is expected to stick.  Will revert 938c9cd and change the check to `8u172.

[2017-12-05 06:27] tresf commented on #174
Closed via d79b3ff.

[2017-12-07 21:40] tresf commented on #174
Oracle has notified us this will make the January release.  Lowered feature to be enabled in `Java8u162` instead of `Java8u172` via 2873666.

[2017-12-10 18:22] tresf commented on #52
So it turns out this can still happen inside IntelliJ, since it doesn't use the `build.xml` file and can't benefit from the workaround in 90565b7.

To force IntelliJ to use PDFBOX's BC library:
 * File, Project Structure, Modules
 * Click `+`
 * Locate `lib/printing` and add it.

Build should succeed.

As a followup, `tray.iml` should have the following added, which tells IntelliJ to prefer `print

[2017-12-13 10:13] ScutelnicuIonel opened #261 "TypeError: null is not an object (evaluating '_qz.websocket.connection.onerror')"
This is the line that is causing the problem: https://github.com/qzind/tray/blob/3afd7f29e0d735324aff3b4322e3d30ae6d54d11/js/qz-tray.js#L154

Reported JS error:
[code]

The problem seems to be from a Safari 11 on Mac OS X 10 (user agent decoder) i don`t have a mac so i cannot help you with tests.

[2017-12-13 14:30] tresf commented on #261
@ScutelnicuIonel is this separate from #260?

[2017-12-14 14:20] ScutelnicuIonel commented on #261
@tresf Yes.

[2017-12-14 14:30] tresf commented on #261
@ScutelnicuIonel we have various MacOS environments, so we would be happy to reproduce. Can you please provide the steps to reproduce?  We test each release on Safari, so we would need a bit more go to on.

![image](https://user-images.githubusercontent.com/6345473/33997128-68ae8ace-e0b1-11e7-8f3b-4271928413d7.png)

[2017-12-15 04:32] chunlinyao opened #262 "Specify size not work when print pdf"
I have an printer `KONICA MINOLTA 266`, when tested under win10 from sample.html page.
When specify the size, `Print Html` and `Print Image` can print correctly, The printer choose the correct paper, But `Print PDF` button print out nothing. The log show as following
[code]
I can see the print job created in printer's queue and finished, but nothing get out from printer, event the printer hasn't a

[2017-12-15 06:58] ScutelnicuIonel commented on #261
Sorry but the only information that we have is that JSON, the server receive it from a reporting tool, we don`t  know what action the user has done, or in what step the error occur.

[2017-12-15 07:10] tresf commented on #261
Something weird is definitely going on...

I just tried to use the `qz:launch` button in sample.html and it spammed the browser with connection attempts rendering QZ Tray unusable.

![screen shot 2017-12-15 at 2 09 07 am](https://user-images.githubusercontent.com/6345473/34030930-11b019b8-e13d-11e7-88e2-b60d58f777cb.png)

I believe the failure to call `onerror()` is preventing the websocket from c

[2018-01-04 06:02] tresf opened #263 "Performance issues with large raw files"
Large raw files (e.g. > 3MB) cause performance issues with QZ Tray.

1. QZ Tray currently turns all web requests into a Java `String`, which is taxing on memory for large chunks of data.  This affects large raw requests specifically since the data is often sent in raw or base64 format and must live internally as `String` storage.
2. This issue is made worse when QZ Tray makes a copy of the raw dat

[2018-01-04 14:27] jass-trix commented on #82
Is there any clear documentation for this thing?
I'm still confuse with this thing.
So can i just print HTML as raw data right away?

[2018-01-04 14:30] tresf commented on #82
@jass-trix HTML->Raw is a 2.1 feature, which is why it's not documented on the wiki.  If you're a premium subscriber, please contact us through official support channels and we will offer support.  If you're not, feel free to clone the 2.1 branch and build it and test this out.  We're still working hard on 2.1 and it has not been officially released yet.

[2018-01-04 15:23] jass-trix commented on #82
@tresf can you elaborate which function to convert HTML into RAW? So i can just print directly from html to raw with the function?

[2018-01-04 15:27] tresf commented on #82
Again, the 2.1 example has everything you need for this.  More information is available in #19.  Further prying will get this issue locked as it devalues the premium service we offer.

[2018-01-05 02:56] jass-trix commented on #210
@tresf So does it means that ESCP = ESCPOS?

[2018-01-05 03:11] tresf commented on #210
QZ Tray will treat them the same, but it's technically wrong.  ESC/P uses a different image syntax which we don't yet have coded but we'd welcome a PR for it.  ESC/POS is technically what we support in our codebase.  For 99% of users, `ESCPOS` is what should be provided and is backwards compatible with older QZ Tray versions.

[2018-01-05 16:59] CCooperBH opened #264 "2.0.5 Update causes pdfs to print rotated 90 degrees"
After updating to 2.0.5, pdfs are rotating 90 degrees where they were not with 2.0.4. This affects all printers on the host.

[2018-01-05 17:35] tresf commented on #264
2.0.5 specifically fixed rotation issues with PDFs.  Can you send the configuration and a sample PDF?  Disabling `orientation` on QZ Tray versions >= 2.0.5 should help as they're configured to print with `auto` rotation now.

[2018-01-05 17:35] tresf commented on #264
See also https://github.com/qzind/tray/issues/158

[2018-01-08 17:22] tresf opened #265 "Firefox Unregister qz:launch on Uninstall"
For Firefox, we register a URI handler for `qz:` protocol, but this gets left behind after uninstall.

https://github.com/qzind/tray/blob/2.0/ant/firefox/firefox-config.cfg.in#L60-L80

[2018-01-08 19:01] CCooperBH commented on #264
scaleContent: "false" is the only config option.

[samplePdf.pdf](https://github.com/qzind/tray/files/1612733/samplePdf.pdf)

[2018-01-08 19:27] tresf commented on #264
This document properly prints in portrait mode for me.

![image](https://user-images.githubusercontent.com/6345473/34688369-e00aa260-f47f-11e7-97f6-4d4e9149eceb.png)

I'm using `sample.html` without any changes printing to a virtual printer "PrimoPDF".

Are you printing to portrait or landscape oriented paper?  Can you offer some information to help reproduce?

1. OS
2.  Printer make/model
3. Pape

[2018-01-09 16:59] tresf opened #266 "Windows unregister qz:launch on Uninstall"
It appears we don't clean the registry properly using NSIS and the registry key for `qz:launch` is left lingering behind on Windows.

[2018-01-09 17:04] tresf commented on #262
It sounds like a bug with the driver. If images work, forcing`rasterize: true` should be a viable workaround.

I'm not sure we can help debug this as we not have  hardware nor have plans to obtain it.

This will likely be closed as wontfix however you may want to contact KONICA to report that a document that prints done to competiting hardware won't print on this printer.

[2018-01-09 23:39] lite1979 commented on #263
Testing the print-direct branch (type: 'raw' in this branch was already tested and yielded identical results to 2.0.5 stable)

https://github.com/qzind/tray/compare/print-direct

Memory numbers are RAM usage by QZ-Tray/Java  from OS monitoring tools

    Windows 10, raw to PDFCreator
    format: file (.ps file)
    startup:  231 MB
    first print:  370MB

    Windows 10, direct to PDFCreator

[2018-01-10 06:16] lite1979 commented on #263
Mac OS to PDFWrite:

type: 'raw'
format:  'file'
Before:  266MB
After:  332MB

type: 'direct'
format: 'file'
Before:  270MB
After:  280MB

type: 'raw'
format: 'base64'
Before:  270MB
After:  280MB

type: 'direct'
format: 'base64'
Before:  267MB
After:  343MB